<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Client</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4 col-md-4 col-4">
                            <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search...">
                        </div>
                        <div class="col-lg-4 col-md-4 col-4"></div>
                        <div class="col-lg-4">
                            <div class="float-right">
                                <!-- <button (click)="downloadPdf()" class="btn exp-excel me-2" title="Export Bulk Data Attachment File"><i class="mdi mdi-file-excel mdi-2"></i>&nbsp;
                                    Bulkload Template</button> -->
                                    <button class="btn btn-primary btn-fw btn-sm me-2" title="Download List of Data in Excel" *ngIf="isExcelDownloadData" (click)="download()">
                                          <span class="mdi mdi-upload"></span>&nbsp; Export
                                    </button>
                                    <button class="btn btn-primary btn-fw btn-sm me-2" data-bs-toggle="modal" data-bs-target="#createBulkModal" title="Upload bulk Data">
                                          <span class="mdi mdi-download"></span>&nbsp; Import 
                                    </button>
                                    <button type="button" data-bs-toggle="modal" (click)="createForm()" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm s">+ Create</button>
                         

                            </div>
                            </div>
                    </div>
                    <app-responsive-table id="export"> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Client Name</th>
                                <th>Client Type</th>
                                <th>GST No</th>
                                <th>PAN No</th>
                                <th>Country</th>
                                <th>State</th>
                                <th>District</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap" *ngIf="companyData.length">
                            <tr *ngFor="let a of companyData | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{ limit*(p-1)+i+1 }}</td>
                                <td>{{ a.company_name }}</td>
                                <td>{{ a.mstcompanytype }}</td>
                                <td>{{ a.gst }}</td>
                                <td>{{ a.pan }}</td>
                                <td>{{ a.name }}</td>
                                <td>{{ a.state_name }}</td>
                                <td>{{ a.district_name }}</td>
                                <td>
                                    <a data-bs-toggle="modal" data-bs-target="#createModal" title="Edit Details" (click)="getDetails(a)"><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a> &nbsp;
                                    <a class="" data-bs-toggle="modal" data-bs-target="#detailModal" title="View Details" (click)="getDetails(a)"><span class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a> &nbsp;
                                     <a data-bs-toggle="modal" data-bs-target="#allDataModal" title="Delete Details" ><span class="mdi mdi-delete-circle text-danger cursor-pointer mdi-18px"></span></a>

                                </td>

                              </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="companyData?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Client Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid scroll-container">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <h6 class="">Client Details:</h6>
                          
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Client Name<span class="required-asterisk">*</span></label>
                                    <input formControlName="company_name" type="text" class="form-control form-control-sm" placeholder="Enter company name" appWordCapitalize>
                                    <div *ngIf="f['company_name'].touched && f['company_name'].invalid">
                                        <small class="text-danger" *ngIf="f['company_name'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Client Type<span class="required-asterisk">*</span></label>
                                    <select formControlName="company_type" class="form-select form-select-sm" (change)="selfFun()">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Company Type</option>
                                        <option *ngFor="let s of compData">{{ s.mstcompanytype }}</option>
                                    </select>
                                    <div *ngIf="f['company_type'].touched && f['company_type'].invalid">
                                        <small class="text-danger" *ngIf="f['company_type'].errors?.['required']">*Required</small>
                                    </div>

                                </div>
                            </div>
                       
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">GST No</label>
                                    <input formControlName="gst" placeholder="Enter GST NO." minlength="15"
                                    maxlength="15" type="text" class="form-control form-control-sm" appUpperCase appNoSpace>
                                    <!-- <div *ngIf="f['gst'].touched && f['gst'].invalid">
                                        <small class="text-danger" *ngIf="f['gst'].errors?.['required']">*Required</small>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">PAN No</label>
                                    <input formControlName="pan" placeholder="Enter Pan No." minlength="10"
                                    maxlength="10" type="text" class="form-control form-control-sm" appUpperCase appNoSpace>
                                    <!-- <div *ngIf="f['pan'].touched && f['pan'].invalid">
                                        <small class="text-danger" *ngIf="f['pan'].errors?.['required']">*Required</small>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">DOI (Date of Incorporation)<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="doi" type="date" class="form-control form-control-sm">
                                    <div *ngIf="f['doi'].touched && f['doi'].invalid">
                                        <small class="text-danger" *ngIf="f['doi'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Country<span class="required-asterisk">*</span></label>
                                    <select formControlName="country_id" class="form-select form-select-sm" (ngModelChange)="getStateData()">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Country</option>
                                        <option *ngFor="let c of countryData" value="{{c.country_id}}">{{ c.name }}</option>
                                    </select>
                                    <div *ngIf="f['country_id'].touched && f['country_id'].invalid">
                                        <small class="text-danger" *ngIf="f['country_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">State<span class="required-asterisk">*</span></label>
                                    <select formControlName="state_id" class="form-select form-select-sm" (ngModelChange)="getDistrictData()">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select State</option>
                                        <option *ngFor="let s of stateData" value="{{s.state_id}}">{{ s.state_name }}</option>
                                    </select>
                                    <div *ngIf="f['state_id'].touched && f['state_id'].invalid">
                                        <small class="text-danger" *ngIf="f['state_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">District<span class="required-asterisk">*</span></label>
                                    <select formControlName="district_id" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select District</option>
                                        <option *ngFor="let d of districtData" value="{{d.district_id}}">{{ d.district_name }}</option>
                                    </select>
                                    <div *ngIf="f['district_id'].touched && f['district_id'].invalid">
                                        <small class="text-danger" *ngIf="f['district_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">City</label>
                                    <input type="text" formControlName="city" class="form-control form-control-sm" placeholder="Enter Your City">
                                  
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Web Url</label>
                                    <input type="text" formControlName="websiteurl" class="form-control form-control-sm" placeholder="Enter Url">
                                  
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Cin No</label>
                                    <input type="text" formControlName="cinno" class="form-control form-control-sm" placeholder="Enter Cin No" minlength="21" maxlength="21" appUpperCase appNoSpace>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Pincode<span class="required-asterisk">*</span></label>
                                    <input type="text" formControlName="pincode" maxlength="6" minlength="6" placeholder="Enter Pin Code" class="form-control form-control-sm" appNumberOnly>
                                    <div *ngIf="f['pincode'].touched && f['pincode'].invalid">
                                        <small class="text-danger" *ngIf="f['pincode'].errors?.['required']">*Required</small>
                                        <small class="text-danger" *ngIf="f['pincode'].errors?.['pattern']">*Please enter 6 digit only.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Lane/Area<span class="required-asterisk">*</span></label>
                                    <input type="text" formControlName="area" class="form-control form-control-sm" placeholder="Enter lane/area...">
                                    <div *ngIf="f['area'].touched && f['area'].invalid">
                                        <small class="text-danger" *ngIf="f['area'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Address line 1</label>
                                    <input type="text" formControlName="address_line1" class="form-control form-control-sm" placeholder="Enter Address Line 1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Address line 2</label>
                                    <input type="text" formControlName="address_line2" class="form-control form-control-sm" placeholder="Enter Address line 2">
                                       
                                    
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-md-6"> <h6 class="mt-2">Contact Details: </h6></div>
                                <div class="col-md-6">
                                    <!-- <a routerLink="/master/tender-company-contacts" class="float-right" data-bs-dismiss="modal" style="font-size: 14px;"><i class="mdi mdi-credit-card-plus mdi-2"></i>
                                       Add More Contacts</a> -->
                                </div>
                               
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Name</label>
                                    <input formControlName="name" type="text" class="form-control form-control-sm" placeholder="Enter contact person name" appWordCapitalize>
                                    <div *ngIf="f['name'].touched && f['name'].invalid">
                                        <small class="text-danger" *ngIf="f['name'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Designation</label>
                                    <select formControlName="usdg_id" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Designation</option>
                                        <option *ngFor="let d of design" value="{{d.usdg_id}}">{{d.designationname}}</option>
                                    </select>
                                    <div *ngIf="f['usdg_id'].touched && f['usdg_id'].invalid">
                                        <small class="text-danger" *ngIf="f['usdg_id'].errors?.['required']">*Required</small>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Department</label>
                                    <select formControlName="usdt_id" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Department</option>
                                        <option *ngFor="let d of departMent" value="{{d.usdt_id}}">{{d.deptname}}</option>
                                    </select>
                                    <div *ngIf="f['usdt_id'].touched && f['usdt_id'].invalid">
                                        <small class="text-danger" *ngIf="f['usdt_id'].errors?.['required']">*Required</small>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Primary Contact No</label>
                                    <input formControlName="contactno1" placeholder="Enter Primary number" minlength="10"
                                    maxlength="10" (keypress)="OnlyNumbersAllowed($event)" type="text" class="form-control form-control-sm" appNumberOnly>
                                    <div *ngIf="f['contactno1'].touched && f['contactno1'].invalid">
                                        <small class="text-danger" *ngIf="f['contactno1'].errors?.['required']">*Required</small>
                                        <small class="text-danger" *ngIf="f['contactno1'].errors?.['pattern']">*Please enter 10 digit Contact No</small>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Secondary Contact No</label>
                                    <input formControlName="contactno2" placeholder="Enter secondary contact no" minlength="10"
                                    maxlength="10" (keypress)="OnlyNumbersAllowed($event)" type="text" class="form-control form-control-sm" appNumberOnly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Email ID</label>
                                    <input formControlName="email" placeholder="Enter email ID" type="text" class="form-control form-control-sm" appNoSpace>
                                    <div *ngIf="f['email'].touched && f['email'].invalid">
                                        <small class="text-danger" *ngIf="f['email'].errors?.['required']">*Required</small>
                                        <small class="text-danger" *ngIf="f['email'].errors?.['pattern']">*Email must be a valid Email ID</small>
                                    </div>
                                </div>
                            </div>

                         
                            <div class="modal-btns">
                                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary btn-fw btn-sm mr-2">{{button}}</button>
                                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Adding...</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create modal end-->



<a style="display: none;" data-bs-toggle="modal" data-bs-target="#createModall" id="selfModel"></a>
<div class="modal fade" id="createModall" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Financial Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" data-bs-target="#createModal"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Net Worth<span class="required-asterisk">*</span></label>
                                    <input formControlName="net_worth" type="text" class="form-control form-control-sm" placeholder="Enter net worth">
                                    <div *ngIf="f['net_worth'].touched && f['net_worth'].invalid">
                                        <small class="text-danger" *ngIf="f['net_worth'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
       
                       
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">financial year<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="financialyear_id" type="date" class="form-control form-control-sm">
                                    <div *ngIf="f['financialyear_id'].touched && f['financialyear_id'].invalid">
                                        <small class="text-danger" *ngIf="f['financialyear_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Annual Turnover<span class="required-asterisk">*</span></label>
                                    <input formControlName="annual_turnover" type="text" class="form-control form-control-sm" placeholder="Enter net worth">
                                    <div *ngIf="f['annual_turnover'].touched && f['annual_turnover'].invalid">
                                        <small class="text-danger" *ngIf="f['annual_turnover'].errors?.['required']">*Required</small>
                                    </div>

                                </div>
                            </div>
                    
                            <div class="modal-btns">
                                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary btn-fw btn-sm mr-2">{{button}}</button>
                                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Adding...</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#createModal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>