<div class="container-fluid">
    <div class="row">
        <div class="herder-data-form p-2">
            <div class="card1">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="../../../../assets/../assets/images/bidIMG.png" style="width: 60px; height: 40px;">
                        &nbsp;&nbsp;
                        Bid | Tender: Data Capturing
                    </div>
                    <div class="col-lg-6 " *ngIf="this.userData.rolename === 'Administrator'">
                        <!-- <div class="float-right" *ngIf="update">
                                         <button type="button" class="btn btn-secondary btn-fw btn-sm me-2">
                                            <span class="mdi mdi-backburger"></span>&nbsp;
                                             Send Back</button>
                                         <button type="button" class="btn btn-info btn-fw btn-sm me-2">
                                            <span class="mdi mdi-check-circle-outline"></span>&nbsp;
                                             Approved</button>
                                         <button type="button" class="btn btn-danger btn-fw btn-sm me-2">
                                            <span class="mdi mdi-close-outline"></span>&nbsp;
                                             Rejected</button>
                                     </div> -->
                    </div>
                </div>
                <!-- <img src="../../../../assets/../assets/images/bidIMG.png" style="width: 60px; height: 40px;">
                              &nbsp;&nbsp;
                                Bid | Tender: Data Capturing -->
            </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="card p-3">
                <div class="row" (click)="showTenderDetails=!showTenderDetails" style="cursor:pointer;">
                    <div class="col-6">
                        <h5>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-square" viewBox="0 1 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg> &nbsp;
                            Tender Information
                        </h5>
                    </div>
                    <div class="col-6">
                        <div class="float-right" title="Show/Hide Details">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="showTenderDetails">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label fl-10">Client<span class="required-asterisk">*</span></label>
                            <select formControlName="company_id" class="form-select form-select-sm"
                                (ngModelChange)="getDetails($event)">
                                <option [selected]="true" [disabled]="true">Select Company</option>
                                <option *ngFor="let c of companyData" value="{{c.company_id}}">{{c.company_name}}
                                </option>
                            </select>
                            <div *ngIf="f['company_id'].touched && f['company_id'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['company_id'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Title<span class="required-asterisk">*</span></label>
                            <input formControlName="tender_title" type="text" class="form-control form-control-sm">
                            <div *ngIf="f['tender_title'].touched && f['tender_title'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['tender_title'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label fl-10">Ref No <span class="required-asterisk">*</span></label>
                            <input formControlName="tender_ref_no" type="text" class="form-control form-control-sm"
                                appUpperCase appNoSpace>
                            <div *ngIf="f['tender_ref_no'].touched && f['tender_ref_no'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['tender_ref_no'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Type<span class="required-asterisk">*</span></label>
                            <select formControlName="bidtype_id" class="form-select form-select-sm">
                                <option [selected]="true" [disabled]="true" [value]="null">Select Tender Type</option>
                                <option *ngFor="let c of tenderType" value="{{c.bidtype_id}}">{{ c.bidtype }}</option>
                            </select>
                            <div *ngIf="f['bidtype_id'].touched && f['bidtype_id'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['bidtype_id'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Execution Location<span
                                    class="required-asterisk">*</span></label>
                            <input formControlName="tender_location" type="text" class="form-control form-control-sm"
                                appWordCapitalize>
                            <div *ngIf="f['tender_location'].touched && f['tender_location'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['tender_location'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Publish Date<span
                                    class="required-asterisk">*</span></label>
                            <input formControlName="publish_date" type="date" class="form-control form-control-sm">
                            <div *ngIf="f['publish_date'].touched && f['publish_date'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['publish_date'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Description<span
                                    class="required-asterisk">*</span></label>
                            <input formControlName="tender_description" type="text"
                                class="form-control form-control-sm">
                            <div *ngIf="f['tender_description'].touched && f['tender_description'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['tender_description'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Detail Available Link</label>
                            <input formControlName="tender_detail_link" type="text" class="form-control form-control-sm" appNoSpace>

                        </div>
                    </div>

                    <!-- <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Opening Date<span
                                    class="required-asterisk">*</span></label>
                            <input formControlName="opening_date" type="date" class="form-control form-control-sm">
                            <div *ngIf="f['opening_date'].touched && f['opening_date'].invalid">
                                <small class="text-danger" *ngIf="f['opening_date'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Closing Date<span
                                    class="required-asterisk">*</span></label>
                            <input formControlName="closing_date" type="date" class="form-control form-control-sm">
                            <div *ngIf="f['closing_date'].touched && f['closing_date'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['closing_date'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Soft Copy Submission Date<span
                                    class="required-asterisk">*</span></label>
                            <input formControlName="tender_submission_date" type="date"
                                class="form-control form-control-sm">
                            <div *ngIf="f['tender_submission_date'].touched && f['tender_submission_date'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['tender_submission_date'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Hard Copy Submission Date</label>
                            <input formControlName="tenderhardcopysubmission_date" type="date"
                                class="form-control form-control-sm" min="{{today | date: 'yyyy-MM-dd HH:mm:ss'}}">

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Completion Period (Months)<span
                                    class="required-asterisk">*</span></label>
                            <input formControlName="completion_period" type="text" class="form-control form-control-sm"
                                placeholder="Enter Completion Period in months" minlength="1" maxlength="2"
                                appNumberOnly>
                            <div *ngIf="f['completion_period'].touched && f['completion_period'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['completion_period'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Bid Validity (Days)<span
                                    class="required-asterisk">*</span></label>
                            <input formControlName="bid_validity" type="text" class="form-control form-control-sm"
                                placeholder="Enter Bid Validity in Days" minlength="1" maxlength="3" appNumberOnly>
                            <div *ngIf="f['bid_validity'].touched && f['bid_validity'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['bid_validity'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Reverse Auction<span
                                    class="required-asterisk">*</span></label>
                            <select formControlName="reserve_auction" class="form-select form-select-sm">
                                <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Pre-bid Meeting<span
                                    class="required-asterisk">*</span></label>
                            <select formControlName="pre_meeting" #prebid_meeting class="form-select form-select-sm"
                                (change)="togglePrebidField(prebid_meeting.value)">
                                <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>

                        </div>
                    </div>


                    <div class="col-md-3" *ngIf="prebid_meeting.value == 'Yes'">
                        <div class="form-group">
                            <label class="form-label fl-10"> Tender Pre-bid Meeting Mode<span
                                    class="required-asterisk">*</span></label>
                            <select formControlName="prebidmeetingmode_id" class="form-select form-select-sm">
                                <option [selected]="true" [disabled]="true" [value]="null">Select Mode</option>
                                <option *ngFor="let c of meetingMode" value="{{c.prebidmeetingmode_id}}">{{
                                    c.prebidmeetingmode }}</option>
                            </select>
                            <div *ngIf="f['prebidmeetingmode_id'].touched && f['prebidmeetingmode_id'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['prebidmeetingmode_id'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3" *ngIf="prebid_meeting.value == 'Yes' && 'selectPrebidField'">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Pre-bid Meeting Date<span
                                    class="required-asterisk">*</span></label>
                            <input formControlName="prebid_date" type="date" class="form-control form-control-sm">
                            <div *ngIf="f['prebid_date'].touched && f['prebid_date'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['prebid_date'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Technical Bid Opening Date<span
                                    class="required-asterisk">*</span></label>
                            <input formControlName="tech_bid_date" type="date" class="form-control form-control-sm"
                                min="{{today | date: 'yyyy-MM-dd HH:mm:ss'}}">
                            <div *ngIf="f['tech_bid_date'].touched && f['tech_bid_date'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['tech_bid_date'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Financial Bid Opening Date</label>
                            <input formControlName="fin_bid_opening_date" type="date"
                                class="form-control form-control-sm">
                            <!-- <div *ngIf="f['fin_bid_opening_date'].touched && f['fin_bid_opening_date'].invalid">
                                                <small class="text-danger" *ngIf="f['fin_bid_opening_date'].errors?.['required']">*Required</small>
                                            </div> -->
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">ECV (INR)<span class="required-asterisk">*</span></label>
                            <input formControlName="ecv" type="text" class="form-control form-control-sm" appNumberOnly>
                            <div *ngIf="f['ecv'].touched && f['ecv'].invalid">
                                <small class="text-danger" *ngIf="f['ecv'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Fee<span class="required-asterisk">*</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="tender_fee"
                                placeholder="Enter Tender Fee '0' if not applicable " appNumberOnly>
                            <div *ngIf="f['tender_fee'].touched && f['tender_fee'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['tender_fee'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Document Cost<span
                                    class="required-asterisk">*</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="tender_doc_cost"
                                placeholder="Enter Doc Cost '0' if not applicable" appNumberOnly>
                            <div *ngIf="f['tender_doc_cost'].touched && f['tender_doc_cost'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['tender_doc_cost'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>



                    <!-- Security Deposit -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Security Deposit<span
                                    class="required-asterisk">*</span></label>
                            <select formControlName="securitydeposit_id" #sel class="form-select form-select-sm"
                                (change)="toggleSecurityField(sel.value)">
                                <option *ngFor="let c of securityDeposit" [value]="c.securitydeposit_id">{{
                                    c.securitydeposit }}</option>
                            </select>
                            <div *ngIf="f['securitydeposit_id'].touched && f['securitydeposit_id'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['securitydeposit_id'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="sel.value == '1001'">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label fl-10">Security Amount<span
                                        class="required-asterisk">*</span></label>
                                <input formControlName="security_amount" type="text"
                                    class="form-control form-control-sm" appNumberOnly>
                                <div *ngIf="f['security_amount'].touched && f['security_amount'].invalid">
                                    <small class="text-danger"
                                        *ngIf="f['security_amount'].errors?.['required']">*Required</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label fl-10"> Security Submission Date<span
                                        class="required-asterisk">*</span></label>
                                <input formControlName="securitysubmission_date" type="date"
                                    class="form-control form-control-sm">
                                <div
                                    *ngIf="f['securitysubmission_date'].touched && f['securitysubmission_date'].invalid">
                                </div>
                                <small class="text-danger"
                                    *ngIf="f['securitysubmission_date'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </ng-container>
                    <!-- Security Deposit end -->

                    <!-- Performance Guarantee -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Performance Guarantee<span
                                    class="required-asterisk">*</span></label>
                            <select formControlName="performanceguarantee_id" #pg class="form-select form-select-sm"
                                (change)="togglePGField(pg.value)">
                                <option *ngFor="let c of performanceGuarntee" [value]="c.performanceguarantee_id">{{
                                    c.performanceguarantee }}</option>
                            </select>
                            <div *ngIf="f['performanceguarantee_id'].touched && f['performanceguarantee_id'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['performanceguarantee_id'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="pg.value == '1001'">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label fl-10">PG Amount (%)<span
                                        class="required-asterisk">*</span></label>
                                <input formControlName="pg_amount" type="text" class="form-control form-control-sm"
                                    appNumberOnly maxlength="3">
                                <div *ngIf="f['pg_amount'].touched && f['pg_amount'].invalid">
                                    <small class="text-danger"
                                        *ngIf="f['pg_amount'].errors?.['required']">*Required</small>
                                </div>
                            </div>
                        </div>


                        <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label fl-10">PG Submission Date<span class="required-asterisk">*</span></label>
                                <input formControlName="pgsubmission_date" type="date" class="form-control form-control-sm">
                                <div *ngIf="f['pgsubmission_date'].touched && f['pgsubmission_date'].invalid">
                                    <small class="text-danger" *ngIf="f['pgsubmission_date'].errors?.['required']">*Required</small>
                                </div>
                            </div>
                        </div> -->
                    </ng-container>

                    <!-- Performance Guarantee End -->

                    <!-- tender EMD -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender EMD Exemption<span
                                    class="required-asterisk">*</span></label>
                            <select formControlName="exemption_id" #emd class="form-select form-select-sm"
                                (change)="toggleEmdField(emd.value)">
                                <option [value]="null" disabled selected>Select Mode</option>
                                <option *ngFor="let c of emdExp" [value]="c.exemption_id">{{ c.emdexemption }}</option>
                            </select>
                            <div *ngIf="f['exemption_id'].touched && f['exemption_id'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['exemption_id'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="emd.value == '401'">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label fl-10">EMD Amount<span
                                        class="required-asterisk">*</span></label>
                                <input formControlName="emd_ammount" type="text" class="form-control form-control-sm"
                                    appNumberOnly>
                                <div *ngIf="f['emd_ammount'].touched && f['emd_ammount'].invalid">
                                    <small class="text-danger"
                                        *ngIf="f['emd_ammount'].errors?.['required']">*Required</small>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label fl-10">EMD Payment Mode<span
                                        class="required-asterisk">*</span></label>

                                <select formControlName="paymentmethod_id" class="form-select form-select-sm">
                                    <option [selected]="true" [disabled]="true" [value]="null">Select Payment Mode
                                    </option>
                                    <option *ngFor="let p of payment" value="{{p.paymentmethod_id}}">{{ p.paymentmethod
                                        }}</option>
                                </select>
                                <div *ngIf="f['paymentmethod_id'].touched && f['paymentmethod_id'].invalid">
                                    <small class="text-danger"
                                        *ngIf="f['paymentmethod_id'].errors?.['required']">*Required</small>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label fl-10">EMD Submission Date<span
                                        class="required-asterisk">*</span></label>
                                <input formControlName="emd_submission_date" type="date"
                                    class="form-control form-control-sm">
                                <div *ngIf="f['emd_submission_date'].touched && f['emd_submission_date'].invalid">
                                    <small class="text-danger"
                                        *ngIf="f['emd_submission_date'].errors?.['required']">*Required</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label fl-10">EMD Forfeiture Condition </label>
                                <textarea formControlName="forfeiture_condition" type="date"
                                    class="form-control form-control-sm"></textarea>
                            </div>
                        </div>
                    </ng-container>
                    <!-- tender EMD end -->

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label fl-10">Tender Payment Terms<span
                                    class="required-asterisk">*</span></label>
                            <textarea type="text" class="form-control form-control-sm"
                                formControlName="tenderpayment_terms">
                                            </textarea>
                            <div *ngIf="f['tenderpayment_terms'].touched && f['tenderpayment_terms'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['tenderpayment_terms'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="row mt-2">
                            <div class="col-md-9">
                                <h6 class="mt-2">Contacts Information</h6>
                            </div>
                            <div class="col-md-3">
                                <div class="float-right">
                                    <button class="btn btn-fw btn-sm fl-10 text-primary" (click)="patchClient()"
                                        data-bs-toggle="modal" data-bs-target="#createContact"
                                        [disabled]="contactDetails?.length == 0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-telephone-forward" viewBox="0 0 16 16">
                                            <path
                                                d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zm10.762.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708" />
                                        </svg> &nbsp;<u>Add New Contacts</u>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="table-responsive" style="min-height: auto;">
                            <table class="table table-hover table-striped custom-table mt-1">
                                <thead class="table-primary text-nowrap">
                                    <tr>
                                        <th>S No</th>
                                        <th>Contact Person</th>
                                        <th>Designation</th>
                                        <th>Department</th>
                                        <th>Contact No</th>
                                        <th>Email ID</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-nowrap">
                                    <tr
                                        *ngFor="let a of contactDetails | paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                        <td>{{limit*(p-1)+i+1}}</td>
                                        <td>{{a.name}}</td>
                                        <td>{{a.designationname}}</td>
                                        <td>{{a.deptname}}</td>
                                        <td>{{a.contactno1}}</td>
                                        <td>{{a.email}}</td>
                                        <td>
                                            <input formControlName="contactperson_check" type="checkbox"
                                                (click)="handleCheckboxChange($event, a)">
                                        </td>
                                    </tr>
                                    <tr *ngIf="isContactFound == true">
                                        <td colspan="15" class="text-center">
                                            <div class="text-warning fw-semibold">Please select client first!</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                    <!-- <div class="col-md-3" *ngIf="update">
                                        <div class="form-group">
                                            <label class="form-label fl-10">Tender Status<span class="required-asterisk">*</span></label>
                                            <select formControlName="tenderstatus_id" class="form-select form-select-sm">
                                                <option [value]="null" disabled selected>Select Status</option>
                                                <option *ngFor="let c of tendStatus" [value]="c.tenderstatus_id">{{ c.tender_status }}</option>
                                            </select>
                                            <div *ngIf="f['tenderstatus_id'].touched && f['tenderstatus_id'].invalid">
                                                <small class="text-danger" *ngIf="f['tenderstatus_id'].errors?.['required']">*Required</small>
                                            </div>
                                        </div>
                                    </div> -->
                    <div class="col-md-12" *ngIf="update">
                        <div class="form-group">
                            <label class="form-label fl-10">Remarks<span class="required-asterisk">*</span></label>
                            <input formControlName="working_notes" type="text" class="form-control form-control-sm"
                                placeholder="Describe Your Changes">
                            <div *ngIf="f['working_notes'].touched && f['working_notes'].invalid">
                                <small class="text-danger"
                                    *ngIf="f['working_notes'].errors?.['required']">*Required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="update">
                        <div class="form-group">
                            <label class="form-label fl-10">Previous Notes</label>
                            <textarea formControlName="remarks" type="text" rows="4"
                                class="form-control form-control-sm" readonly>
                                           </textarea>
                        </div>
                    </div>

                    <div class="col-md-12" *ngIf="update">
                        <div class="text-primary cursor-pointer" (click)="showWorkingDetails=!showWorkingDetails">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-layer-backward" viewBox="0 0 16 16">
                                <path
                                    d="M8.354 15.854a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708l1-1a.5.5 0 0 1 .708 0l.646.647V4H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H9v7.793l.646-.647a.5.5 0 0 1 .708 0l1 1a.5.5 0 0 1 0 .708z" />
                                <path
                                    d="M1 9a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4.5a.5.5 0 0 1 0 1H1v2h4.5a.5.5 0 0 1 0 1zm9.5 0a.5.5 0 0 1 0-1H15V6h-4.5a.5.5 0 0 1 0-1H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1z" />
                            </svg> &nbsp;
                            Audit Trail
                        </div>
                        <div class="form-group mt-2" *ngIf="showWorkingDetails">
                            <textarea formControlName="audit_trail" type="text" rows="4"
                                class="form-control form-control-sm" readonly>
                                           </textarea>

                        </div>
                    </div>

                    <!-- <div class="col-md-4" *ngIf="update">
                                        <div class="form-group">
                                            <label class="form-label fl-10">Tender Sub Status<span class="required-asterisk">*</span></label>
                                            <select formControlName="exemption_id" class="form-select form-select-sm" (change)="toggleEmdField($event)">
                                                <option [value]="null" disabled selected>Select Mode</option>
                                                <option *ngFor="let c of emdExp" [value]="c.exemption_id">{{ c.emdexemption }}</option>
                                            </select>
                                            <div *ngIf="f['exemption_id'].touched && f['exemption_id'].invalid">
                                                <small class="text-danger" *ngIf="f['exemption_id'].errors?.['required']">*Required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" *ngIf="update">
                                            <label class="form-label fl-10">Tender Commercially<span class="required-asterisk">*</span></label>
                                            <select formControlName="exemption_id" class="form-select form-select-sm" (change)="toggleEmdField($event)">
                                                <option [value]="null" disabled selected>Select Mode</option>
                                                <option *ngFor="let c of emdExp" [value]="c.exemption_id">{{ c.emdexemption }}</option>
                                            </select>
                                            <div *ngIf="f['exemption_id'].touched && f['exemption_id'].invalid">
                                                <small class="text-danger" *ngIf="f['exemption_id'].errors?.['required']">*Required</small>
                                            </div>
                                        </div>
                                    </div> -->

                    <div class="col-md-12 mt-2">
                        <div class="form-group">
                            <input class="mt-1" type="checkbox" id="termscheckbox" formControlName="termscheckbox">
                            &nbsp;
                            <label for="termscheckbox"> I accept that the selected fields and input data given by me are
                                correct.</label>
                        </div>
                    </div>
                    <div class="modal-btns mt-3">
                        <button type="submit" *ngIf="!isSubmitted"
                            [disabled]="!form.valid || (form.value.termscheckbox == false)"
                            class="btn btn-primary btn-fw btn-sm mr-2">{{button}}</button>
                        <button type="button" *ngIf="isSubmitted" disabled
                            class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm"
                                aria-hidden="true"></span> Adding...</button>
                        <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm"
                            routerLink="/presales/presales-biding/data-capture-list">Close</button>
                    </div>
                </div>

            </div>

            <div class="card p-3 mt-2">
                <div class="row" (click)="showClientDetails=!showClientDetails" style="cursor: pointer;">
                    <div class="col-6">
                        <h5>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-people-fill" viewBox="0 1 16 16">
                                <path
                                    d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                            </svg> &nbsp;
                            Client Company Information
                        </h5>
                    </div>
                    <div class="col-6">
                        <div class="float-right" title="Show/Hide Details">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                            </svg>

                        </div>
                    </div>

                </div>
                <div class="row" *ngIf="showClientDetails">
                    <table class="table table-hover table-striped custom-table">
                        <thead class="hidden-thead"></thead>
                        <tbody class="text-nowrap" *ngFor="let a of custDetails">
                            <tr>
                                <th>Category</th>
                                <td>{{ a?.company_type }}</td>
                                <th>GST No</th>
                                <td>{{ a?.gst }}</td>
                            </tr>
                            <tr>
                                <th>PAN No</th>
                                <td>{{ a?.pan }}</td>
                                <th>DOI (Date of Incorporation)</th>
                                <td>{{ a?.doi }}</td>
                            </tr>
                            <tr>
                                <th>Web Url</th>
                                <td>{{ a?.websiteurl }}</td>
                                <th>Cin No</th>
                                <td>{{ a?.cinno }}</td>
                            </tr>
                        </tbody>
                        <h6 class="mt-2 ml-3">Address Information</h6>
                        <tbody class="text-nowrap" *ngFor="let a of addressDetails">
                            <tr>
                                <th>Country</th>
                                <td>{{ a?.name }}</td>
                                <th>State</th>
                                <td>{{ a?.state_name }}</td>
                            </tr>
                            <tr>
                                <th>District</th>
                                <td>{{ a?.district_name }}</td>
                                <th>City</th>
                                <td>{{ a?.city }}</td>
                            </tr>
                            <tr>
                                <th>Pin Code</th>
                                <td>{{ a?.pincode }}</td>
                                <th>Area</th>
                                <td>{{ a?.area }}</td>
                            </tr>
                            <tr>
                                <th>Address line 1</th>
                                <td>{{ a?.address_line1 }}</td>
                                <th>Address line 1</th>
                                <td>{{ a?.address_line2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>

<!-- create modal -->
<div class="modal fade" id="createContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Client Contacts Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid scroll-container">
                    <form [formGroup]="form1" (ngSubmit)="onSubmit1()">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Client<span class="required-asterisk">*</span></label>
                                    <input formControlName="company_id" type="text" class="form-control form-control-sm"
                                        readonly>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Name<span class="required-asterisk">*</span></label>
                                    <input formControlName="name" type="text" class="form-control form-control-sm"
                                        placeholder="Enter contact person name" appWordCapitalize>
                                    <div *ngIf="f1['name'].touched && f1['name'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f1['name'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Designation</label>
                                    <select formControlName="usdg_id" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Designation
                                        </option>
                                        <option *ngFor="let d of design" value="{{d.usdg_id}}">{{d.designationname}}
                                        </option>
                                    </select>


                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Department</label>
                                    <select formControlName="usdt_id" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Department
                                        </option>
                                        <option *ngFor="let d of departMent" value="{{d.usdt_id}}">{{d.deptname}}
                                        </option>
                                    </select>


                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Primary Contact No<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="contactno1" placeholder="Enter Primary number"
                                        minlength="10" maxlength="10" type="text" class="form-control form-control-sm"
                                        appNumberOnly>
                                    <div *ngIf="f1['contactno1'].touched && f1['contactno1'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f1['contactno1'].errors?.['required']">*Required</small>
                                        <small class="text-danger" *ngIf="f1['contactno1'].errors?.['pattern']">*Please
                                            enter 10 digit Contact No</small>
                                    </div>

                                </div>
                            </div>
                            <!-- <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Secondary Contact No</label>
                                                <input formControlName="contactno2" placeholder="Enter secondary contact no" minlength="10"
                                                maxlength="10" type="text" class="form-control form-control-sm" appNumberOnly>
                                            </div>
                                        </div> -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Email ID<span class="required-asterisk">*</span></label>
                                    <input formControlName="emailid" placeholder="Enter email ID" type="text"
                                        class="form-control form-control-sm" appNoSpace>
                                    <div *ngIf="f1['emailid'].touched && f1['emailid'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f1['emailid'].errors?.['required']">*Required</small>
                                        <small class="text-danger" *ngIf="f1['emailid'].errors?.['pattern']">*Email must
                                            be a valid Email ID</small>
                                    </div>
                                </div>
                            </div>



                            <div class="modal-btns">
                                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form1.valid"
                                    class="btn btn-primary btn-fw btn-sm mr-2">+ Add</button>
                                <button type="button" *ngIf="isSubmitted" disabled
                                    class="btn btn-primary btn-fw btn-sm mr-2"><span
                                        class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                    Adding...</button>
                                <button type="button" id="cancel1" class="btn btn-secondary btn-fw btn-sm"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create contact end-->