<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
          <div class="mr-md-3 mr-xl-5">
            <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Item Location</h4>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-end flex-wrap"> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex my-10">
            <div class="col-lg-4">
              <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search">
            </div>
            <div class="col-lg-8">
              <!-- <button type="button" class="btn btn-fw btn-sm text-white float-right ms-2" style="background-color: #175935;" *ngIf="isExcelDownload" (click)="download()" title="Download selected records"><span class="mdi mdi-file-excel-box"></span></button> -->
              <button type="button" data-bs-toggle="modal" (click)="selectWHL({})" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm float-right">+ Create</button>
            </div>
          </div>
          <app-responsive-table id="export">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Location Code</th>
                <th>Location Name</th>
                <th>Capacity</th>
                <th>WH Code</th>
                <th>WH Name</th>
                <th>Items</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr *ngFor="let a of itemLocationLabelData | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                <td>{{ limit*(p-1)+i+1 }}</td>
                <td><a data-bs-toggle="modal" (click)="selectWHL(a)" class="cursor-pointer text-primary" style="text-decoration: underline" data-bs-target="#viewLocation" title="Warehouse Location Details">{{ a.location_code }}</a></td>
                <td>{{ a.location_name }}</td>
                <td>{{ a?.capacity }}</td>
                <td>{{ a.warehouse_code }}</td>
                <td>{{ a.warehouse_name }}</td>
                <td><a data-bs-toggle="modal" (click)="selectWHL(a)" data-bs-target="#itemList" title="View Items"><span class="mdi mdi-eye cursor-pointer mdi-18px"></span></a></td>
                <td>
                  <!-- <a data-bs-toggle="modal" (click)="selectWHL(a)" data-bs-target="#createModal" title="edit Warehouse Profile"><span class="mdi mdi-pencil cursor-pointer mdi-18px"></span></a> -->
                  <a><span class="mdi mdi-pencil cursor-pointer mdi-18px"></span></a>
                </td>
              </tr>
              <tr *ngIf="isNotFound == true">
                <td colspan="15" class="text-center">
                  <div class="spinner-border"> </div>
                </td>
              </tr>
              <tr *ngIf="itemLocationLabelData?.length == 0">
                <td colspan="15" class="text-center">
                  <div class="text-warning fw-semibold">Looks like no data available!</div>
                </td>
              </tr>
            </tbody>
          </app-responsive-table>
          <div class="pagination-sec text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewLocation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Location Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 p-0">
              <div class="table-responsive" style="min-height: 300px">
                <h6 class="mb-2 text-secondary">Warehouse Details</h6>
                <table class="table table-hover table-striped custom-table">
                  <thead class="hidden-thead"></thead>
                  <tbody class="text-nowrap">
                    <tr>
                      <th>Warehouse Code</th>
                      <td>{{ selectedWHL?.warehouse_code }}</td>
                      <th>Warehouse Name</th>
                      <td>{{ selectedWHL?.warehouse_name }}</td>
                    </tr>
                    <tr>
                      <th>Created Date</th>
                      <td>{{ selectedWHL?.created }}</td>
                      <th>Created By</th>
                      <td>{{ selectedWHL?.createdby_name }}</td>
                    </tr>
                  </tbody>
                </table>
                <h6 class="mb-2 mt-4 text-secondary">Contact Details</h6>
                <table class="table table-hover table-striped custom-table">
                  <thead class="hidden-thead"></thead>
                  <tbody class="text-nowrap">
                    <tr>
                      <th>Person Name</th>
                      <td>{{ selectedWHL?.contact_name }}</td>
                      <th>Contact No.</th>
                      <td>{{ selectedWHL?.contactno1 }}</td>
                    </tr>
                    <tr>
                      <th>Contact No.</th>
                      <td>{{ selectedWHL?.contactno2 }}</td>
                      <th>E-Mail</th>
                      <td>{{ selectedWHL?.email }}</td>
                    </tr>
                  </tbody>
                </table>
                <h6 class="mb-2 mt-4 text-secondary">Address Details</h6>
                <table class="table table-hover table-striped custom-table">
                  <thead class="hidden-thead"></thead>
                  <tbody class="text-nowrap">
                    <tr>
                      <th>Address 1</th>
                      <td>{{ selectedWHL?.address1 }}</td>
                      <th>Address 2</th>
                      <td>{{ selectedWHL?.address2 }}</td>
                      <th>City</th>
                      <td>{{ selectedWHL?.city }}</td>
                    </tr>
                    <tr>
                      <th>District</th>
                      <td>{{ selectedWHL?.district }}</td>
                      <th>State</th>
                      <td>{{ selectedWHL?.state }}</td>
                      <th>Country</th>
                      <td>{{ selectedWHL?.country }}</td>
                    </tr>
                    <tr>
                      <th>Pin Code</th>
                      <td>{{ selectedWHL?.pincode }}</td>
                      <th></th>
                      <td></td>
                      <th></th>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="itemList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warehouse Location Item List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid scroll-container">
          <app-responsive-table id="export">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Location Code</th>
                <th>Item Code</th>
                <th>Item Description</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr *ngFor="let a of selectedWHL?.items; index as i">
                <td>{{ i+1 }}</td>
                <td>{{ selectedWHL?.labelCode }}</td>
                <td>{{ a.itemCode }}</td>
                <td>{{ a.description }}</td>
              </tr>
            </tbody>
          </app-responsive-table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{!update ? "Add" : "Update"}} Warehouse Location</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid scroll-container">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">WareHouse<span class="required-asterisk">*</span></label>
                  <select formControlName="warehouse_id" class="form-select form-select-sm">
                    <option [selected]="true" [disabled]="true" [value]="null">select</option>
                    <option *ngFor="let t of wareHouseData" [value]="t.warehouse_id">{{ t.warehouse_name | titlecase }}</option>
                  </select>
                  <div *ngIf="f['warehouse_id'].touched && f['warehouse_id'].invalid"><small class="text-danger" *ngIf="f['warehouse_id'].errors?.['required']">*Required</small></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Location Name<span class="required-asterisk">*</span></label>
                  <input formControlName="labelName" type="text" class="form-control form-control-sm" placeholder="Enter Label Name" appWordCapitalize />
                  <div *ngIf="f['labelName'].touched && f['labelName'].invalid"><small class="text-danger" *ngIf="f['labelName'].errors?.['required']">*Required</small></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Capacity<span class="required-asterisk">*</span></label>
                  <input formControlName="capacity" type="text" class="form-control form-control-sm" placeholder="Enter location capacity">
                  <div *ngIf="f['capacity'].touched && f['capacity'].invalid"><small class="text-danger" *ngIf="f['capacity'].errors?.['required']">*Required</small></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label">Item List (Select Multiple)<span class="required-asterisk">*</span></label>
                  <ng-select formControlName="item_id" [items]="itemData" [multiple]="true" bindLabel="item_id" [closeOnSelect]="false" bindValue="item_id">
                  </ng-select>
                  <div *ngIf="f['item_id'].touched && f['item_id'].invalid">
                      <small class="text-danger" *ngIf="f['item_id'].errors?.['required']">*Required</small>
                  </div>
                </div>
              </div>
              <div class="modal-btns">
                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary btn-fw btn-sm mr-2"> {{!update ? "Add" : "Update"}}</button>
                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Adding...</button>
                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

