<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-fhd-12 bg-img">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <img id="logo" class="my-4" src="../../assets/images/resettt.gif">
        <!-- <p id="at">Business Process Automation</p> -->
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-signin">
          <div class="card-body" style="text-align: center;">
            <div class="card-title" style="text-align: center;">
              <img class="" src="../../assets/images/reset_logo.png" style="height: 60px; width: 100px;"><br><br>
              Reset Password !
            </div>
            <br>
            <form class="form-signin" [formGroup]="form">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-label-group" style="text-align: left; font-family: sans-serif;">
                    <label for="inputEmail">Login Name <span class="required-asterisk">*</span></label>
                    <ng-select [(ngModel)]="username1" class="" placeholder="Please Select User Name"
                      formControlName="user_id">
                      <ng-option *ngFor="let user of userList" value="{{user.user_id}}">{{user.loginname}}</ng-option>
                    </ng-select>
                  </div>
                </div>

                <div class="col-lg-6 mt-2">
                  <div class="form-label-group" style="text-align: left; font-family: sans-serif;">
                    <label for="inputPassword">New Password <span class="required-asterisk">*</span></label>
                    <input autofocus="true" type="password" class="form-control" formControlName="password"
                      [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" (keydown)="keyPress($event)"
                      required>
                    <div *ngIf="!f['password'].valid" style="color: red; font-size: 12px; margin-top: 5px;">
                      <!-- <span *ngIf="f['password'].errors?.['required']"> Password must be at least 6 or more characters.
                      </span> -->
                      <!-- <span *ngIf="f['password'].errors?.['pattern']">
                        Must contain at least one number and one uppercase and lowercase letter
                      </span> -->
                    </div>


                  </div>
                </div>
                <div class="col-lg-6 mt-2">
                  <div class="form-label-group" style="text-align: left; font-family: sans-serif;">
                    <label for="inputPassword">Re type Password <span class="required-asterisk">*</span></label>
                    <input autofocus="true" #pwd type="password" class="form-control" formControlName="conpassword"
                      [ngClass]="{ 'is-invalid': submitted && f['conpassword'].errors }" (keydown)="keyPress($event)"
                      (input)="keyup(pwd)" required>
                    <div *ngIf="!f['conpassword'].valid" style="color: red; font-size: 12px;">
                      <!-- <span *ngIf="f['conpassword'].errors?.['required']"> confirm password do not matched.
                      </span> -->
                      <!-- <span *ngIf="f['conpassword'].errors?.['pattern']">
                        Confirm password do not matched
                      </span> -->

                    </div>
                    <span style="color:red" class="pt-2">
                      {{matchpwd}}
                    </span>

                  </div>
                </div>
              </div>



              <br>

              <div class="col-md-12 " style="text-align: right;">

                <button class="btn btn-primary"
                  [disabled]="(form.invalid)?true:(matchpwd=='Password is not matching')?true:false"
                  data-bs-toggle="modal" data-bs-target="#closetask">
                  Reset
                </button>&nbsp;&nbsp;
                <button class="btn btn-danger" onClick="history.back()">
                  Cancel
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>




    </div>
  </div>
</div>



<div class="modal fade" style="margin-top: 13% !important;" id="closetask" tabindex="-1" aria-labelledby="userCreate"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:80% !important;">
      <div class="modal-body">
        <div class="modal-header">
          <h3 style="font-weight: bold; align-items: center;">Are you sure you want to update your password?</h3>
        </div>
        <div class="content-close">
          <!-- <p>You are changing the password of {{user.first_name}} whose email id is <span class="text-primary">{{user.emailid}}</span>. </p> -->
        </div>
      </div>
      <div class="modal-footer" style="border-bottom: 0px !important;padding-bottom:10px !important; ">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <div class="btn btn-primary" (click)="onSubmit()" data-bs-dismiss="modal">Yes,Reset</div>
      </div>
    </div>
  </div>
</div>