<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Bid | Tender Data</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                  
                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <nav>
                                <div class="nav nav-tabs nav-fill" role="tablist" *ngFor="let ListCount of statusData">
                                  <button (click)="gettaball('all')" class="nav-link active" id="nav-all-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-home" aria-selected="true"
                                    style="font-size: 16px;">All Tender<span class="badge cases">{{ListCount.total_count}}</span></button>
                                  <button (click)="getnewcase('555005')" class="nav-link" id="nav-live-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-live" type="button" role="tab" aria-controls="nav-live" aria-selected="false"
                                    style="font-size: 16px;">Open<span class="badge cases">{{ListCount.open_count}}</span></button>
                                  <button (click)="getopencase('555001')" class="nav-link" id="nav-open-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-open" type="button" role="tab" aria-controls="nav-open" aria-selected="false"
                                    style="font-size: 16px;">Qualified<span class="badge cases">{{ListCount.qualified_count}}</span></button>
                                  <button (click)="underreviewdata('555002')" class="nav-link" id="nav-underreview-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-underreview" type="button" role="tab" aria-controls="nav-underreview"
                                    aria-selected="false" style="font-size: 16px;">Participated<span
                                      class="badge cases">{{ListCount.participated_count}}</span></button>
                                  <button (click)="getholdcase('555003')" class="nav-link" id="nav-onhold-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-onhold" type="button" role="tab" aria-controls="nav-onhold"
                                    aria-selected="false" style="font-size: 16px;">Won<span
                                      class="badge cases">{{ListCount.won_count}}</span></button>
                                  <button (click)="getclosecase('555004')" class="nav-link" id="nav-closed-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-closed" type="button" role="tab" aria-controls="nav-closed"
                                    aria-selected="false" style="font-size: 16px;">Lost<span
                                      class="badge cases">{{ListCount.lost_count}}</span></button>
                                  <button (click)="getclosecase('555004')" class="nav-link" id="nav-closed-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-closed" type="button" role="tab" aria-controls="nav-closed"
                                    aria-selected="false" style="font-size: 16px;">Under Evaluation<span
                                      class="badge cases">3</span></button>
                                </div>
                              </nav>
                          
                        </div>
                    </div> -->

                    <div class="d-flex my-10 mt-2">
                        <div class="col-lg-4">
                            <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search">
                        </div>

                        <div class="col-lg-4">
                          <div class="dropdown float-right" [class.active]="isOpen" (click)="toggleDropdown()">
                              <button class="btn filter-col btn-fw btn-sm float-right cursor-pointer">
                               
                                   Tender Published &nbsp;&nbsp;&nbsp;&nbsp;
                                   <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                                    </svg>
                                  </button>
                              <ul>
                                <li><button type="button" class="btn btn-fw btn-sm" > <span class="mdi mdi-book-open-page-variant" ></span>&nbsp;All</button>
                                </li>
                                <li> <button type="button" class="btn btn-fw btn-sm" ><span class="mdi mdi-checkbox-marked-outline"></span>&nbsp;Qualified</button>
                                </li>
                                <li> <button type="button" class="btn btn-fw btn-sm"><span class="mdi mdi-account-multiple"></span>&nbsp;Participated </button>
                                </li>
                                <li> <button type="button" class="btn btn-fw btn-sm"><span class="mdi mdi-drawing"></span>&nbsp;Won </button>
                                </li>
                                <li> <button type="button" class="btn btn-fw btn-sm"><span class="mdi mdi-steering"></span>&nbsp;Lost </button>
                                </li>
                              </ul>
                            </div>
                      </div>

                        <div class="col-lg-4">
                            <div class="float-right">
                                    <button class="btn btn-primary btn-fw btn-sm me-2" title="Download List of Data in Excel" *ngIf="isExcelDownloadData" (click)="download()">
                                          <span class="mdi mdi-upload"></span>&nbsp; Export
                                    </button>
                                    <button class="btn btn-primary btn-fw btn-sm me-2" data-bs-toggle="modal" data-bs-target="#createBulkModal" title="Upload bulk Data">
                                          <span class="mdi mdi-download"></span>&nbsp; Import 
                                    </button>
                                    <button type="button" routerLink="/presales/presales-biding/data-capture" class="btn btn-primary btn-fw btn-sm float-right" >+ Create</button>
                         

                            </div>
                            </div>
                      
               
                    </div>

                  

                    <app-responsive-table id="export"> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Company Name</th>
                                <th>Tender/Project Title</th>
                                <th>Tender (NIT/RFB) No</th>
                               
                                <th>Tender Type</th>
                                <th>Tender Document Cost</th>
                                <th>Tender Fee</th>
                                <th>Tender EMD Exemption</th>
                                <th>Tender ECV</th>
                                <th>Pre Bid Meeting Mode</th>
                                <th>Tender Execution Location</th>
                                <th>Tender Published Date</th>
                                <th>Pre Bid Meeting Date</th>
                                <th>Tender Submission Date</th>
                                <th>Tender Opening Date</th>
                                <th>Technical Bid Opening Date</th>
                                <th>Financial Bid Opening Date</th>
                                <th>Created By</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap" *ngIf="companyData.length">
                            <tr *ngFor="let a of companyData | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{ limit*(p-1)+i+1 }}</td>
                                <td data-toggle="tooltip" data-placement="bottom" title="{{ a.company_name }}">
                                    {{a.company_name| slice:0:10}} <span>...<i class="mdi mdi-information"></i></span>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="{{ a.tender_title }}">
                                    {{a.tender_title| slice:0:10}} <span>...<i class="mdi mdi-information"></i></span>
                                </td>
                                
                                <td>{{ a.tender_ref_no }}</td>
                                <td>{{ a.bidtype }}</td>
                                <td>{{ a.tender_doc_cost }}</td>
                                <td>{{ a.tender_fee }}</td>
                                <td>{{ a.emdexemption }}</td>
                                <td>{{ a.ecv }}</td>
                                <td>{{ a.prebidmeetingmode }}</td>
                                <td>{{ a.tender_location }}</td>
                                <td>{{ a.publish_date | date: 'dd/MM/yyyy'}}</td>
                                <td>{{ a.prebid_date | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ a.tender_submission_date | date: 'dd/MM/yyyy:HH:mm'  }}</td>
                                <td>{{ a.opening_date | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ a.tech_bid_date | date: 'dd/MM/yyyy:HH:mm'  }}</td>
                                <td>{{ a.fin_bid_opening_date | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ a.createdby_name}}</td>
                                <td>{{ a.created }}</td>
                                <td >
                                     <a data-bs-toggle="modal" data-bs-target="#techModal" title="Add Technical Details" ><span class="mdi mdi-lightbulb-on text-primary cursor-pointer mdi-18px"></span></a> &nbsp;
                                    <a data-bs-toggle="modal" data-bs-target="#finModal" title="Add Financial Details" ><span class="mdi mdi-currency-inr text-info cursor-pointer mdi-18px"></span></a> &nbsp;
                                    <a data-bs-toggle="modal" data-bs-target="#bankModal" title="Add Bank Details" ><span class="mdi mdi-bank text-warning cursor-pointer mdi-18px"></span></a> &nbsp;
                                    <a data-bs-toggle="modal" data-bs-target="#createModal" title="Edit Details" (click)="getDetails(a.tender_id)" ><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a> &nbsp;
                                    <a class="" data-bs-toggle="modal" data-bs-target="#detailModal" title="View Details" ><span class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a> &nbsp;
                                     <a data-bs-toggle="modal" data-bs-target="#allDataModal" title="Delete Details" ><span class="mdi mdi-delete-circle text-danger cursor-pointer mdi-18px"></span></a>
                                </td>
                                </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="companyData?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   <!-- Qualifying modal -->
   <app-technical-bid></app-technical-bid>
   <app-financial-bid></app-financial-bid>
   <app-banking-details></app-banking-details>

<!-- Qualifying modal end-->