<div class="container-fluid mt-2">
  <div class="row presales-head">
    <div class="col-md-8">
      <!-- <h3 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>
        Store | Logistics Dashboard </h3> -->
    </div>
    <div class="col-md-4">
      <div class=" row">
        <label class="col-sm-3 col-form-label" style="font-size: 12px; font-weight: 600;">Duration:</label>
        <div class="col-sm-9">
          <select class="form-select form-select-sm">
            <option>All</option>
            <option>April 22 - March 23</option>
            <option>April 23 - March 24</option>
            <option>April 24 - March 25</option>
            <option>April 25 - March 26</option>

          </select>
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-1">
    <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
      <div class="d-flex flex-wrap justify-content-xl-between">

        <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-1">
          <div class="d-flex flex-column justify-content-around"
            routerLink="/dashboard/presales-dashboard/published-tender">
            <small class="text-light text-center t-heading py-2">
              <img src="../../../assets/images/allTend.png" style="width: 35px; height: 20px;">
              &nbsp;&nbsp;&nbsp;&nbsp;
              TENDER PUBLISHED </small>
            <div class="d-flex text-center">

              <div class="col-lg-12 py-2" style="background: #6184c1;">
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-light"></small> <br>
                    <small class="text-light">NOs.</small> <br>
                    <small class="text-light">Values(Cr.)</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">MTD</small><br>
                    <small class="text-light">999</small><br>
                    <small class="text-light">999</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">YTD</small><br>
                    <small class="text-light">999</small> <br>
                    <small class="text-light">999</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-6">
          <div class="d-flex flex-column justify-content-around"
            routerLink="/dashboard/presales-dashboard/under-evaluation">
            <small class="text-light text-center t-heading py-2">
              <img src="../../../assets/images/tender_eval.png" style="width: 35px; height: 20px; ">
              &nbsp;
              UNDER EVALUATION</small>
            <div class="d-flex text-center">
              <div class="col-lg-12 py-2" style="background: #e5b274;">
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-light"></small> <br>
                    <small class="text-light">NOs.</small> <br>
                    <small class="text-light">Values(Cr.)</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">MTD</small><br>
                    <small class="text-light">999</small><br>
                    <small class="text-light">999</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">YTD</small><br>
                    <small class="text-light">999</small> <br>
                    <small class="text-light">999</small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-2">
          <div class="d-flex flex-column justify-content-around"
            routerLink="/dashboard/presales-dashboard/participation">
            <small class="text-light text-center t-heading py-2">
              <img src="../../../assets/images/partTend.png" style="width: 35px; height: 20px;   ">
              &nbsp;&nbsp;&nbsp;
              PARTICIPATION</small>
            <div class="d-flex text-center">

              <div class="col-lg-12 py-2" style="background: #44d590">
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-light"></small> <br>
                    <small class="text-light">NOs.</small> <br>
                    <small class="text-light">Values(Cr.)</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">MTD</small><br>
                    <small class="text-light">999</small><br>
                    <small class="text-light">999</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">YTD</small><br>
                    <small class="text-light">999</small> <br>
                    <small class="text-light">999</small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-5">
          <div class="d-flex flex-column justify-content-around" routerLink="/dashboard/presales-dashboard/abandoned">
            <small class="text-light text-center t-heading py-2">
              <img src="../../../assets/images/losBid.png" style="width: 35px; height: 20px;">
              &nbsp;&nbsp;&nbsp;&nbsp;
              ABANDONED</small>
            <div class="d-flex text-center">


              <div class="col-lg-12 py-2" style="background: rgb(239 173 173);">
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-light"></small> <br>
                    <small class="text-light">NOs.</small> <br>
                    <small class="text-light">Values(Cr.)</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">MTD</small><br>
                    <small class="text-light">999</small><br>
                    <small class="text-light">999</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">YTD</small><br>
                    <small class="text-light">999</small> <br>
                    <small class="text-light">999</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-3">
          <div class="d-flex flex-column justify-content-around" routerLink="/dashboard/presales-dashboard/win">
            <small class="text-light text-center t-heading py-2">
              <img src="../../assets/images/winBid.png" style="width: 35px; height: 20px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              WINS</small>
            <div class="d-flex text-center">

              <div class="col-lg-12 py-2" style="background: #60c1cd;">
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-light"></small> <br>
                    <small class="text-light">NOs.</small> <br>
                    <small class="text-light">Values(Cr.)</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">MTD</small><br>
                    <small class="text-light">999</small><br>
                    <small class="text-light">999</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">YTD</small><br>
                    <small class="text-light">999</small> <br>
                    <small class="text-light">999</small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-4">

          <div class="d-flex flex-column justify-content-around" routerLink="/dashboard/presales-dashboard/completed">
            <small class="text-light text-center t-heading py-2">
              <img src="../../../assets/images/comBid.png" style="width: 35px; height: 20px;">
              &nbsp;&nbsp;&nbsp;&nbsp;
              COMPLETED</small>
            <div class="d-flex text-center">


              <div class="col-lg-12 py-2" style="background: #b5d972;">
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-light"></small> <br>
                    <small class="text-light">NOs.</small> <br>
                    <small class="text-light">Values(Cr.)</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">MTD</small><br>
                    <small class="text-light">999</small><br>
                    <small class="text-light">999</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">YTD</small><br>
                    <small class="text-light">999</small> <br>
                    <small class="text-light">999</small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Store Logistics-data-chart -->
  <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-2">Store Logistics </p>
          <div class="chartBar" #containerRef4>
            <!-- <ngx-charts-bar-vertical-2d [view]="[containerRef4.offsetWidth, 190]" [scheme]="colorSchemeStore"
              [results]="Store" [xAxis]="showXAxis" [gradient]="true" [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabelBarLoad"
              [yAxisLabel]="yAxisLabelBarLoad" [barPadding]="5" [groupPadding]="7">
            </ngx-charts-bar-vertical-2d> -->
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank store_box1"></i> All</li>
            <li><i class="mdi mdi-checkbox-blank store_box2"></i> Pending</li>
            <li><i class="mdi mdi-checkbox-blank store_box3"></i> Issued</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Store Logistics: Value</p>
          <div class="chartBar" #containerRef3>

            <!-- <ngx-charts-pie-chart [view]="[containerRef3.offsetWidth - 30, 220]" [scheme]="colorSchemeStore"
              [labels]="showLabelsPie" [gradient]="false" [legend]="true" [results]="pieDataStore">
            </ngx-charts-pie-chart> -->
          </div>


        </div>
      </div>
    </div>

  </div>

  <div class="row mt-2">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-2">Quarterly Sales Comparison </p>

          <div class="chartBar" #containerRef4>
            <ngx-charts-bar-vertical-2d [view]="[containerRef4.offsetWidth, 190]" [scheme]="colorSchemeLoadQuarter"
              [results]="multi" [xAxis]="showXAxis" [gradient]="true" [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabelBarLoad"
              [yAxisLabel]="yAxisLabelBarLoad" [barPadding]="5" [groupPadding]="7">
            </ngx-charts-bar-vertical-2d>
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank load_box1"></i> Q1</li>
            <li><i class="mdi mdi-checkbox-blank load_box2"></i> Q2</li>
            <li><i class="mdi mdi-checkbox-blank load_box3"></i> Q3</li>
            <li><i class="mdi mdi-checkbox-blank load_box4"></i> Q4</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card ">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <p class="card-title mb-2 col-md-6">Average Revenue Per Unit</p>
            <p class=" col-md-6 p-1 bg-warning text-center rounded">$000</p>
          </div>
          <div class="chartBar" #containerRef5>
            <ngx-charts-line-chart [view]="[containerRef5.offsetWidth, 210]" [scheme]="lineColorScheme"
              [results]="lineChart" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showYAxisLabelLine"
              [gradient]="true" [showYAxisLabel]="showYAxisLabelLine" [xAxisLabel]="xAxisLabelLine"
              [yAxisLabel]="yAxisLabelLine">
            </ngx-charts-line-chart>
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank l_box1"></i> Last Year</li>
            <li><i class="mdi mdi-checkbox-blank l_box2"></i> This Year</li>
          </ul>

        </div>
      </div>
    </div>

  </div>
  <!-- <div class="row mt-1">
  <div class="col-md-6 grid-margin stretch-card pe-0">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Lead By Status</p>
    
        <div class="chartBar" #containerRef12>
          <ngx-charts-pie-chart
          [view]="[containerRef12.offsetWidth - 40, 180]"
          [scheme]="pieColorsAlarmType"
          [gradient]="true"
          [legend]="true"
          [doughnut]="true"
          [results]="pieDataAlarmType">
        </ngx-charts-pie-chart>
        </div>
    
        
      </div>
    </div>
  
  </div>
  <div class="col-md-6 grid-margin stretch-card ">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <p class="card-title mb-2 col-md-6">Customer Life Time Value</p>
          <p class=" col-md-6 p-1 bg-success text-center rounded">$000</p>
        </div>
        <div class="chartBar" #containerRef5>
          <ngx-charts-line-chart
          [view]="[containerRef5.offsetWidth, 210]"
          [scheme]="lineColorScheme"
          [results]="lineChart"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showYAxisLabelLine"
          [gradient]="true"
          [showYAxisLabel]="showYAxisLabelLine"
          [xAxisLabel]="xAxisLabelLine"
          [yAxisLabel]="yAxisLabelLine">
        </ngx-charts-line-chart>
        </div>
        <ul class="cust-legend">
          <li><i class="mdi mdi-checkbox-blank l_box1"></i> Last Year</li>
          <li><i class="mdi mdi-checkbox-blank l_box2"></i> This Year</li>
        </ul>
                         
      </div>
    </div>
  </div>
</div>



<!-- create modal L1 -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
data-bs-backdrop="static" data-bs-keyboard="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Project Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="table-responsive ht-auto">
            <table class="table table-hover table-striped" data-bs-toggle="modal" data-bs-target="#createModal1">
              <thead class="table-primary text-nowrap" style="cursor: pointer;">
                <tr>
                  <th>S No</th>
                  <th>Project Name</th>
                  <th>Category</th>
                  <th>Amount (Cr)</th>
                  <th>Amount with GST</th>
                  <th>Amount without GST</th>
                  <th>Profitability</th>
                </tr>
              </thead>
              <tbody class="text-nowrap">
                <tr>
                  <td>1</td>
                  <td>Taldihi</td>
                  <td>330 Kv</td>
                  <td>300</td>
                  <td>250</td>
                  <td>200</td>
                  <td>195</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jaunpur</td>
                  <td>220 Kv</td>
                  <td>400</td>
                  <td>300</td>
                  <td>250</td>
                  <td>200</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Noida Sec-45</td>
                  <td>220 Kv</td>
                  <td>400</td>
                  <td>300</td>
                  <td>250</td>
                  <td>200</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Delhi</td>
                  <td>320 Kv</td>
                  <td>200</td>
                  <td>150</td>
                  <td>100</td>
                  <td>80</td>
                </tr>
                <tr >
                  <td>5</td>
                  <td>Noida</td>
                  <td>240 Kv</td>
                  <td>200</td>
                  <td>150</td>
                  <td>100</td>
                  <td>80</td>
                </tr>
               
              </tbody>
            </table>
          </div>
         
    
    </div>
</div>
</div>
<!-- create modal end L1-->

  <!-- create modal L2 -->
<div class="modal fade" id="createModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">List Data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="card-body"  style="padding:2px;">
      <h4 class="text-center mt-2">Work in Progress...</h4>
      </div>
    </div>
  </div>
</div>
<!-- create modal end L2-->