.presales-head{
    font-weight: 600;
    font-size: 20px;
    color: #000;
    }
    .t-1 {
      background: rgb(54, 116, 221);
      background: linear-gradient(90deg, rgb(18, 105, 245) 0%, rgb(69, 137, 253) 50%, rgba(143, 164, 201, 0.96) 100%);  }
    .t-1:hover{
      width:200px;
      transition: transform 0.2s;
      transform: scale(1.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }
    
    .t-2 {
      background: rgb(160, 255, 209);
      background: linear-gradient(18deg, #0ceb7f 0%, rgb(84, 228, 161) 50%, rgb(54, 223, 141) 100%);
  }
    .t-2:hover{
      width:200px;
      transition: transform 0.2s;
      transform: scale(1.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }
    
    .t-3 {
      background: #29ccdf;
      background: linear-gradient(18deg, #1adff5 0%, #69d7e4 50%, #53e6f7 100%);
    }
    .t-3:hover{
      width:200px;
      transition: transform 0.2s;
      transform: scale(1.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }
  
    
    .t-4{
      background: #d5f39e;
      background: linear-gradient(18deg, #98f059f0 0%, #c8ec84 50%, #c0ec6d 100%);
    }
    .t-4:hover{
      width:200px;
      transition: transform 0.2s;
      transform: scale(1.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }
    
    .t-5{
      background: #ec818c;
      background: linear-gradient(18deg, #e95f6d 0%, #ee8181 50%, #eca7a7 100%);
  }
    .t-5:hover{
      width:200px;
      transition: transform 0.2s;
      transform: scale(1.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }
    .t-6 {
      background: rgb(245, 183, 108);
      background: linear-gradient(18deg, #f08e0d 0%, #fcce97 50%, #eca956 100%);
    }
    .t-6:hover{
      width:200px;
      transition: transform 0.2s;
      transform: scale(1.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }
    
    .t-heading {
      background: #0000002b;
      font-size: 0.85rem;
      font-weight: 500;
    }
    
    ul.legend-labels {
      width: auto !important;
    }
    
    .label-under-border {
      position: absolute;
        top: -8px;
        left: 7px;
        padding: 2px 5px;
        z-index: 1;
        /* background: #7dbaf4; */
    }
    /* First-row CSS */
  .business-card{
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: #f8f9fa;
    background: linear-gradient(90deg, #eceff7 0%, #ffffff 50%, rgb(251 247 247) 100%);
    color: #fd4747;
   
  }
  .business-card:hover{
    width:300px;
    transition: transform 0.2s;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, rgb(251 247 247) 0%, #ffffff 50%, #eceff7 100%);
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  .cust-card{
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    background: #94e4d6;
    background: linear-gradient(90deg, #f1db8b 0%, #f7efd3 50%, rgb(255 251 236) 100%);
    color: #ffc100;
   
    
  }
  .cust-card:hover{
    width:300px;
    transition: transform 0.2s;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, rgb(255 251 236) 0%, #f7efd3 50%, #f1db8b 100%);
  
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
  
  }
  .Profit-card{
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    background: #d3e3fd;
    background: linear-gradient(90deg, #94e4d6 0%, #a6eee2 50%, #e1fdf8 100%);
    color: #71c016;
    
  }
  .Profit-card:hover{
    width:300px;
    transition: transform 0.2s;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg,  #e1fdf8 0%, #a6eee2 50%, #94e4d6 100%);
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
  
  }
  .loss-card{
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    background: #64a2e5;
    background: linear-gradient(90deg, #64a2e5 0%, #97b3eb 50%, #c8d7f7 100%);
    color: #476fb0;
    
  }
  .loss-card:hover{
    width:300px;
    transition: transform 0.2s;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #c8d7f7 0%, #97b3eb 50%, #64a2e5 100%);
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
  
  }
  .cust-padding{
      padding-right: 3px !important;
      padding-left: 3px !important;
  }
  .cust-legend {
    padding-left: 0;
    text-align: center;
    margin-bottom: 0;
    font-size: 0.75rem;
  }
  
  .cust-legend li {
    display: inline-flex;
    align-items: center;
    list-style: none;
    padding-right: 1rem;
  }
  
  .cust-legend li:last-child {
    padding-right: 0rem;
  }
  
  .cust-legend li .box1,
  .cust-legend li .box2 {
    font-size: 16px;
    padding-right: 0.5rem;
  }
  
  .cust-legend li .box1 {
    color: #e8c860;
  }
  
  .cust-legend li .box2 {
    color: #315CA4;
  }
  
  .cust-legend li .l_box1 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #315CA4;
  }
  
  .cust-legend li .l_box2 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #FFA333;
  }
  
  .cust-legend li .o_box1 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #cee27d;
  }
  
  .cust-legend li .o_box2 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #63830c;
  }
  
  .cust-legend li .load_box1 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #e42030;
  }
  
  .cust-legend li .load_box2 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #eccb6d;
  }
  .cust-legend li .load_box3 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #18d648;
  }
  .cust-legend li .load_box4 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #4930d8;
  }
  
  .cust-legend li .piebox1 {
    font-size: 16px;
    color: #f8dc3d;
    padding-right: 0.5rem;
  }
  
  .cust-legend li .piebox2 {
    font-size: 16px;
    color: #8b00db;
    padding-right: 0.5rem;
  }
  
  .cust-legend li .piebox3 {
    font-size: 16px;
    color: #FFB761;
    padding-right: 0.5rem;
  }
  
  .ht-auto {
    min-height: auto;
  }
  
  .form-group label {
    font-size: 0.8rem;
    line-height: 0;
    vertical-align: top;
    margin-bottom: 0;
  }
  .chartBar:hover{
    transition: transform 0.2s;
    transform: scale(1.1);
    overflow: hidden;
    cursor: pointer;
  
  }
  .t-heading {
    background: #0000002b;
    font-size: 0.85rem;
    font-weight: 500;
  }