<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>District </h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="search" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder="Search...">
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="float-right">
                                    <button class="btn btn-primary btn-fw btn-sm me-2" title="Download List of Data in Excel" (click)="download()">
                                          <span class="mdi mdi-upload"></span> Export
                                    </button>
                                    <button class="btn btn-primary btn-fw btn-sm me-2" title="Upload bulk Data">
                                          <span class="mdi mdi-download"></span> Import 
                                    </button>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" (click)="createForm()" class="btn btn-primary btn-fw btn-sm s"><span class="mdi mdi-plus"></span> Create</button>
                         

                            </div>
                            </div>
                        
                    </div>
                    <app-responsive-table id="export"> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <!-- <th>District Code</th> -->
                                <th>District Name</th>
                                <th>State</th>
                                 <th>Country</th>
                              
                               
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap" *ngIf="districtData.length">
                            <tr *ngFor="let a of districtData | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{limit*(p-1)+i+1}}</td>
                                <!-- <td>{{a.district_id}}</td> -->
                                <td>{{a.district_name}}</td>
                                <td>{{a.state_name}}</td>
                              <td>{{a.name}}</td>
                              
                                <td>
                                    <a data-bs-toggle="modal" data-bs-target="#createModal" (click)="getdatapatch(a)" title="Edit Details"><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a> &nbsp;
                                    <a class="" data-bs-toggle="modal" data-bs-target="#detailModal" (click)="getDetails(a)" title="View Details"><span class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a> 
                                    <!-- &nbsp; -->
                                     <!-- <a data-bs-toggle="modal" data-bs-target="#allDataModal" title="Delete Details" ><span class="mdi mdi-delete-circle text-danger cursor-pointer mdi-18px"></span></a> -->

                                </td>
                            </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="districtData?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add District</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">State<span class="required-asterisk">*</span></label>
                                    <select formControlName="state_id" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select State</option>
                                        <option *ngFor="let s of stateData" value="{{s.state_id}}">{{ s.state_name }}</option>
                                    </select>
                                    <div *ngIf="f['state_id'].touched && f['state_id'].invalid">
                                        <small class="text-danger" *ngIf="f['state_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">District Name<span class="required-asterisk">*</span></label>
                                    <input type="text" placeholder="Enter new District name" class="form-control form-control-sm" formControlName="district_name" appWordCapitalize>
                                    <div *ngIf="f['district_name'].touched && f['district_name'].invalid">
                                        <small class="text-danger" *ngIf="f['district_name'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="modal-btns">
                                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary  btn-fw btn-sm mr-2">{{button}}</button>
                                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary  btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create modal end-->



<!-- details modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">District Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <table class="table table-hover table-striped custom-table">
                    <thead class="hidden-thead"></thead>
                    <tbody class="text-nowrap">
                        <tr>
                            <th>District Name</th>
                            <td>{{ rowData?.district_name }}</td>
                            <th>State Name</th>
                            <td>{{ rowData?.state_name }}</td>
                            <th>Country Name</th>
                            <td>{{ rowData?.name }}</td>
                          
                        </tr>
                        <tr>
                            <th>Created By</th>
                            <td>{{rowData?.createdby_name}}</td>
                            <th>Created At</th>
                            <td>{{rowData?.created | date: 'dd/MM/yyyy'}}</td>
                            <th></th>
                            <td></td>
                           
                            
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<!-- details modal end-->



<!-- create-bulk data form-model start -->
<div class="modal fade" id="createBulkModal" tabindex="-1" aria-labelledby="bulkModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Bulk Data file</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <!-- <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Project<span class="required-asterisk">*</span></label>
                                <select formControlName="project" class="form-select form-select-sm">
                                    <option [selected]="true" [disabled]="true" [value]="null">Select Project</option>
                                    <option *ngFor="let s of compData">{{ s.mstcompanytype }}</option>
                                </select>
                                <div *ngIf="f['project'].touched && f['project'].invalid">
                                    <small class="text-danger" *ngIf="f['project'].errors?.['required']">*Required</small>
                                </div>

                            </div>
                        </div> -->

                        <div class="col-md-12 mt-1">
                    <input id="cin" name="cin" type="file" placeholder="Upload a file..." multiple/>
                    <br>
                    <button type="button" [disabled]="!form.valid" class="btn btn-success btn-s mt-3">
                        <i class="mdi mdi-folder-upload menu-icon"></i>&nbsp;Upload
                    </button>
                    
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- create-bulk data form-model end -->