<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Create Supplier</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="card-header card-primary">
                        Supplier Detail
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Supplier Code<span class="required-asterisk">*</span></label>
                                        <input formControlName="supplierCode" type="text" class="form-control form-control-sm" appWordCapitalize>
                                        <div *ngIf="f['supplierCode'].touched && f['supplierCode'].invalid">
                                            <small class="text-danger" *ngIf="f['supplierCode'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Supplier Name<span class="required-asterisk">*</span></label>
                                        <input formControlName="supplierName" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['supplierName'].touched && f['supplierName'].invalid">
                                            <small class="text-danger" *ngIf="f['supplierName'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Company Name<span class="required-asterisk">*</span></label>
                                        <input formControlName="companyName" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['companyName'].touched && f['companyName'].invalid">
                                            <small class="text-danger" *ngIf="f['companyName'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Category<span class="required-asterisk">*</span></label>
                                        <select class="form-select form-select-sm" formControlName="category">
                                            <option [selected]="true" [disabled]="true">Select Category</option>
                                            <option>MSME</option>
                                            <option>SME</option>
                                            <option>LS</option>
                                        </select>
                                        <div *ngIf="f['category'].touched && f['category'].invalid">
                                            <small class="text-danger" *ngIf="f['category'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">GST No<span class="required-asterisk">*</span></label>
                                        <input formControlName="gstNo" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['gstNo'].touched && f['gstNo'].invalid">
                                            <small class="text-danger" *ngIf="f['gstNo'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">GST Date<span class="required-asterisk">*</span></label>
                                        <input formControlName="gstDate" type="date" class="form-control form-control-sm">
                                        <div *ngIf="f['gstDate'].touched && f['gstDate'].invalid">
                                            <small class="text-danger" *ngIf="f['gstDate'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">PAN No<span class="required-asterisk">*</span></label>
                                        <input formControlName="panNo" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['panNo'].touched && f['panNo'].invalid">
                                            <small class="text-danger" *ngIf="f['panNo'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">TAN No<span class="required-asterisk">*</span></label>
                                        <input formControlName="tanNo" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['tanNo'].touched && f['tanNo'].invalid">
                                            <small class="text-danger" *ngIf="f['tanNo'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">DOI (Date of Incorporation)<span class="required-asterisk">*</span></label>
                                        <input formControlName="doi" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['doi'].touched && f['doi'].invalid">
                                            <small class="text-danger" *ngIf="f['doi'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">DOI Document<span class="required-asterisk">*</span></label>
                                        <input formControlName="doiDoc" type="file" class="form-control form-control-sm">
                                        <div *ngIf="f['doiDoc'].touched && f['doiDoc'].invalid">
                                            <small class="text-danger" *ngIf="f['doiDoc'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Contact No<span class="required-asterisk">*</span></label>
                                        <input formControlName="contactNo" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['contactNo'].touched && f['contactNo'].invalid">
                                            <small class="text-danger" *ngIf="f['contactNo'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Email ID<span class="required-asterisk">*</span></label>
                                        <input formControlName="emailID" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['emailID'].touched && f['emailID'].invalid">
                                            <small class="text-danger" *ngIf="f['emailID'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Address<span class="required-asterisk">*</span></label>
                                        <input formControlName="address" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['address'].touched && f['address'].invalid">
                                            <small class="text-danger" *ngIf="f['address'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Country<span class="required-asterisk">*</span></label>
                                        <select class="form-select form-select-sm" formControlName="country">
                                            <option [selected]="true" [disabled]="true">Select Country</option>
                                            <option>India</option>
                                        </select>
                                        <div *ngIf="f['country'].touched && f['country'].invalid">
                                            <small class="text-danger" *ngIf="f['country'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">State<span class="required-asterisk">*</span></label>
                                        <select class="form-select form-select-sm" formControlName="state">
                                            <option [selected]="true" [disabled]="true">Select State</option>
                                            <option>Punjab</option>
                                        </select>
                                        <div *ngIf="f['state'].touched && f['state'].invalid">
                                            <small class="text-danger" *ngIf="f['state'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">District<span class="required-asterisk">*</span></label>
                                        <select class="form-select form-select-sm" formControlName="district">
                                            <option [selected]="true" [disabled]="true">Select District</option>
                                            <option>Ludhiana</option>
                                            <option>Punjab</option>
                                        </select>
                                        <div *ngIf="f['district'].touched && f['district'].invalid">
                                            <small class="text-danger" *ngIf="f['district'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Pincode<span class="required-asterisk">*</span></label>
                                        <input formControlName="pincode" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['pincode'].touched && f['pincode'].invalid">
                                            <small class="text-danger" *ngIf="f['pincode'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header card-primary">
                        Supplier Bank Detail
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Bank Name<span class="required-asterisk">*</span></label>
                                        <input formControlName="bankName" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['bankName'].touched && f['bankName'].invalid">
                                            <small class="text-danger" *ngIf="f['bankName'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Account Holder Name<span class="required-asterisk">*</span></label>
                                        <input formControlName="holderName" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['holderName'].touched && f['holderName'].invalid">
                                            <small class="text-danger" *ngIf="f['holderName'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Account No<span class="required-asterisk">*</span></label>
                                        <input formControlName="accountNo" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['accountNo'].touched && f['accountNo'].invalid">
                                            <small class="text-danger" *ngIf="f['accountNo'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Branch Name<span class="required-asterisk">*</span></label>
                                        <input formControlName="branchName" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['branchName'].touched && f['branchName'].invalid">
                                            <small class="text-danger" *ngIf="f['branchName'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">IFSC Code<span class="required-asterisk">*</span></label>
                                        <input formControlName="ifscCode" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['ifscCode'].touched && f['ifscCode'].invalid">
                                            <small class="text-danger" *ngIf="f['ifscCode'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Acount Type<span class="required-asterisk">*</span></label>
                                        <select class="form-select form-select-sm" formControlName="accountType">
                                            <option [selected]="true" [disabled]="true">Select Type</option>
                                            <option>Current</option>
                                            <option>Saving</option>
                                        </select>
                                        <div *ngIf="f['accountType'].touched && f['accountType'].invalid">
                                            <small class="text-danger" *ngIf="f['accountType'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Bank Address<span class="required-asterisk">*</span></label>
                                        <input formControlName="bankAddress" type="text" class="form-control form-control-sm">
                                        <div *ngIf="f['bankAddress'].touched && f['bankAddress'].invalid">
                                            <small class="text-danger" *ngIf="f['bankAddress'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-btns">
                                    <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary btn-fw btn-sm mr-2">Add</button>
                                    <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Adding...</button>
                                    <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal" onclick="goBack()">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>