<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Project Quality</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="text" class="form-control form-control-sm" placeholder="Search" [(ngModel)]="searchText">
                        </div>
                        <div class="col-lg-8">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm float-right">+ Create</button>
                        </div>
                    </div>
                    <app-responsive-table id="export"> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Company ID</th>
                                <th>Meter ID</th>
                                <th>Device ID</th>
                                <th>Model</th>
                                <th>Firmware</th>
                                <th>Type</th>
                                <th>IMEI No</th>
                                <th>IP Address</th>
                                <th>Category</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr *ngFor="let a of meterData | filter:searchText | paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{limit*(p-1)+i+1}}</td>
                                <td>{{a.companyID}}</td>
                                <td>{{a.meterID}}</td>
                                <td>{{a.deviceID}}</td>
                                <td>{{a.model}}</td>
                                <td>{{a.firmwareVer}}</td>
                                <td>{{a.type}}</td>
                                <td>{{a.IMEINo}}</td>
                                <td>
                                    <div *ngIf="!!a.IPAddress; else elseBlock1">
                                        {{a.IPAddress | slice:0:20}} <span *ngIf="a.IPAddress.length > 20">...<i class="mdi mdi-information" title="{{a.IPAddress}}"></i></span>
                                    </div>
                                    <ng-template #elseBlock1>
                                        {{a.IPAddress}}
                                    </ng-template>
                                </td>
                                <td>{{a.category}}</td>
                                <td>{{a.createdAt | date:'dd/MM/yyyy hh:mm a'}}</td>
                                <!-- <td>
                                    <a class="pr-2 mr-2" data-bs-toggle="modal" data-bs-target="#detailModal" title="Detail Data" (click)="meterDetail(a)"><span class="mdi mdi-format-list-bulleted text-warning cursor-pointer mdi-18px"></span></a>

                                    <a data-bs-toggle="modal" data-bs-target="#allDataModal" title="Instant Data Profile" (click)="filterWiseData(a, 1)"><span class="mdi mdi-database cursor-pointer mdi-18px"></span></a>
                                    <a data-bs-toggle="modal" data-bs-target="#allDataModal" title="Billing Data Profile" (click)="filterWiseData(a, 2)"><span class="mdi mdi-calculator text-secondary cursor-pointer mdi-18px"></span></a>
                                    <a data-bs-toggle="modal" data-bs-target="#allDataModal" title="Daily Data Profile" (click)="filterWiseData(a, 3)"><span class="mdi mdi-book-open text-info cursor-pointer mdi-18px"></span></a>
                                    <a data-bs-toggle="modal" data-bs-target="#allDataModal" title="Block Load Profile" (click)="filterWiseData(a, 4)"><span class="mdi mdi-battery-unknown text-muted cursor-pointer mdi-18px"></span></a>
                                </td> -->
                            </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="meterData?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Design</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Country<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm">
                                        <option>India</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">State Name<span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">State Code<span class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="modal-btns">
                                <button type="submit" [disabled]="!form.valid"
                                    class="btn btn-primary btn-rounded btn-fw btn-sm mr-2">Add</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-rounded btn-fw btn-sm"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create modal end-->

<!-- detail modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <!-- <div class="d-flex"> -->
                                <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                    <button type="button" [class]="filterType == 'PC' ? 'btn btn-light border border-gray btn-sm active' : 'btn btn-light btn-sm border border-gray'" (click)="meterDetailFilter('PC')">PC</button>
                                    <button type="button" [class]="filterType == 'MR' ? 'btn btn-light btn-sm border border-gray active' : 'btn btn-light btn-sm border border-gray'" (click)="meterDetailFilter('MR')">MR</button>
                                    <button type="button" [class]="filterType == 'US' ? 'btn btn-light btn-sm border border-gray active' : 'btn btn-light btn-sm border border-gray'" (click)="meterDetailFilter('US')">US</button>
                                    <button type="button" [class]="filterType == 'PUSH' ? 'btn btn-light btn-sm border border-gray active' : 'btn btn-light btn-sm border border-gray'" (click)="meterDetailFilter('PUSH')">PUSH</button>
                                    <button type="button" [class]="filterType == 'FW' ? 'btn btn-light btn-sm border border-gray active' : 'btn btn-light btn-sm border border-gray'" (click)="meterDetailFilter('FW')">FW</button>
                                </div>

                                <ng-template #read>
                                    <button class="btn btn-primary btn-fw btn-sm float-right" >Read Data</button>
                                </ng-template>
                                
                                <button *ngIf="isPulling; else read" class="btn btn-primary btn-fw btn-sm float-right" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Reading...</button>
                            <!-- </div> -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="table-primary text-nowrap">
                                        <tr>
                                            <th>S No</th>
                                            <th>Meter ID</th>
                                            <th>Company ID</th>
                                            <!-- <th>Customer Id</th> -->
                                            <th>Association</th>
                                            <th>Status</th>
                                            <th>Publish Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-nowrap">
                                        <tr *ngFor="let a of meterDetailData; index as i">
                                            <td>{{i+1}}</td>
                                            <td>{{a.meterID}}</td>
                                            <td>{{a.companyID}}</td>
                                            <!-- <td>{{a.customerID}}</td> -->
                                            <td>{{a.Association}}</td>
                                            <td>{{a.Status}}</td>
                                            <td>{{a.meterPublishTime | date:'dd/MM/yyyy hh:mm a'}}</td>
                                            <td>
                                                <a href="#" class="px-1" data-bs-toggle="modal" data-bs-target="#detailModalById" title="Detail Data"><span class="mdi mdi-format-list-bulleted text-warning cursor-pointer mdi-18px"></span></a>
                                            </td>
                                        </tr>
                                        <tr *ngIf="isData == true">
                                            <td colspan="15" class="text-center">
                                                <div class="spinner-border"> </div>
                                            </td>
                                        </tr>
                                        <tr *ngIf="meterDetailData?.length == 0">
                                            <td colspan="15" class="text-center">
                                                <div class="text-warning fw-semibold">Looks like no data available!</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- detail modal end-->

<!-- detail by Id modal -->
<div class="modal fade" id="detailModalById" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Data List <small>({{meterIndexData?.meterID}} - {{meterIndexData?.meterPublishTime | date:'dd/MM/yyyy hh:mm a'}})</small></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" data-bs-target="#detailModal"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="table-primary text-nowrap">
                                        <tr>
                                            <th>S No</th>
                                            <th>OBIS Code</th>
                                            <th>Description</th>
                                            <th>Param Value</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-nowrap">
                                        <tr *ngFor="let a of meterDataList; index as i">
                                            <td>{{i+1}}</td>
                                            <td>{{a.OBISCode}}</td>
                                            <td>{{a.description}}</td>
                                            <td>
                                                <span *ngFor="let d of a.paramValueList">
                                                   <i class="mdi mdi-arrow-right"></i> {{d}} <br>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr *ngIf="isDataList == true">
                                            <td colspan="15" class="text-center">
                                                <div class="spinner-border"> </div>
                                            </td>
                                        </tr>
                                        <tr *ngIf="meterDataList?.length == 0">
                                            <td colspan="15" class="text-center">
                                                <div class="text-warning fw-semibold">Looks like no data available!</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- detail by Id modal end-->

<!-- instant, billing, Daily Data, Block load modal -->
<div class="modal fade" id="allDataModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" [ngSwitch]= "filterNumber">
                    <span *ngSwitchCase= "1">Instant Data Profile</span>
                    <span *ngSwitchCase= "2">Billing Data Profile</span>
                    <span *ngSwitchCase= "3">Daily Data Profile</span>
                    <span *ngSwitchCase= "4">Block Load Profile</span>
                </h5> <span class="model-custom-title">(DeviceID - {{ titleData ? titleData[0]?.deviceID : '' }}, Publish Time - {{ titleData ? (titleData[0]?.meterPublishTime | date: 'dd/MM/yyyy hh:mm a' : 'GMT') : '' }})</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="table-primary text-nowrap">
                                        <tr>
                                            <th>S No</th>
                                            <th>Description</th>
                                            <th>OBIS</th>
                                            <th>Param Value</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-nowrap">
                                        <tr *ngFor="let a of filterData; index as i">
                                            <td>{{i+1}}</td>
                                            <td>{{a.name}}</td>
                                            <td>{{a.OBISCode}}</td>
                                            <td>
                                                <span *ngFor="let d of a.paramValueList">
                                                   <i class="mdi mdi-arrow-right"></i> {{d}} <br>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr *ngIf="isDataList == true">
                                            <td colspan="15" class="text-center">
                                                <div class="spinner-border"> </div>
                                            </td>
                                        </tr>
                                        <tr *ngIf="filterData?.length == 0">
                                            <td colspan="15" class="text-center">
                                                <div class="text-warning fw-semibold">Looks like no data available!</div>
                                            </td>
                                        </tr>   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- instant modal end-->