<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Item</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search">
                        </div>
                        <div class="col-lg-8">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm float-right">+ Create New</button>
                        </div>
                    </div>
                    <app-responsive-table id="export"> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Category</th>
                                <th>Sub-Category</th>
                                <th>Procurement UOM</th>
                                <th>UOM</th>
                                <th>Cost</th>
                                <th>Last Procured Date</th>
                                <!-- <th>Created By</th> -->
                                <!-- <th>Created On</th> -->
                                <!-- <th>Action</th> -->
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr *ngFor="let a of dataList | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{ limit*(p-1)+i+1 }}</td>
                                <td>{{ a.itemcode }}</td>
                                <td>{{ a.itemname }}</td>
                                <td>{{ a.itemtype }}</td>
                                <td>{{ a.itemcategory }}</td>
                                <td>{{ a.itemproperty }}</td>
                                <td>{{ a.precurementuom }}</td>
                                <td>{{ a.uom }}</td>
                                <td>--</td>
                                <td>--</td>
                                <!-- <td>{{ a.createdby_name }}</td> -->
                                <!-- <td>{{ a.created }}</td> -->
                                <!-- <td>
                                    <a data-bs-toggle="modal" data-bs-target="#createModal" title="Update Item"><span class="mdi mdi-pencil cursor-pointer mdi-18px"></span></a>
                                </td> -->
                            </tr>
                            <tr *ngIf="dataList?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Code<span class="required-asterisk">*</span></label>
                                    <input formControlName="itemCode" type="text" class="form-control form-control-sm" placeholder="Enter Item Code" appNoSpace appUpperCase>
                                    <div *ngIf="f['itemCode'].touched && f['itemCode'].invalid">
                                        <small class="text-danger" *ngIf="f['itemCode'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Description<span class="required-asterisk">*</span></label>
                                    <input formControlName="itemName" type="text" class="form-control form-control-sm" placeholder="Enter Item Name">
                                    <div *ngIf="f['itemName'].touched && f['itemName'].invalid">
                                        <small class="text-danger" *ngIf="f['itemName'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Specification<span class="required-asterisk">*</span></label>
                                    <input formControlName="specification" type="text" class="form-control form-control-sm" placeholder="Enter Item Specification">
                                    <div *ngIf="f['specification'].touched && f['specification'].invalid">
                                        <small class="text-danger" *ngIf="f['specification'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Parameter 1<span class="required-asterisk">*</span></label>
                                    <input formControlName="parameter" type="text" class="form-control form-control-sm" placeholder="Enter Parameter">
                                    <div *ngIf="f['parameter'].touched && f['parameter'].invalid">
                                        <small class="text-danger" *ngIf="f['parameter'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Type<span class="required-asterisk">*</span></label>
                                    <!-- <input formControlName="itemType" type="text" class="form-control form-control-sm" placeholder="Enter Item Type"> -->
                                    <select formControlName="itemType" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Item</option>
                                        <!-- <option *ngFor="let t of dataDropdownList.itemtype" [value]="t.itemtype_id">{{ t.itemtype }}</option> -->
                                        <option>Billable</option>
                                        <option>Non-Billable</option>
                                    </select>
                                    <div *ngIf="f['itemType'].touched && f['itemType'].invalid">
                                        <small class="text-danger" *ngIf="f['itemType'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Category<span class="required-asterisk">*</span></label>
                                    <!-- <input formControlName="itemCategory" type="text" class="form-control form-control-sm" placeholder="Enter Item Category"> -->
                                    <select formControlName="itemCategory" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Category</option>
                                        <!-- <option *ngFor="let t of dataDropdownList.itemcategory" [value]="t.itemcategory_id">{{ t.itemcategory }}</option> -->
                                        <option>Supply</option>
                                        <option>Service</option>
                                    </select>
                                    <div *ngIf="f['itemCategory'].touched && f['itemCategory'].invalid">
                                        <small class="text-danger" *ngIf="f['itemCategory'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Sub-Category<span class="required-asterisk">*</span></label>
                                    <!-- <input formControlName="itemProperty" type="text" class="form-control form-control-sm" placeholder="Enter Item Property"> -->
                                    <select formControlName="itemSubCategory" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Property</option>
                                        <!-- <option *ngFor="let t of dataDropdownList.itemproperty" [value]="t.itemproperty_id">{{ t.itemproperty }}</option> -->
                                        <option>Electrical</option>
                                        <option>Mechanical</option>
                                        <option>Civil</option>
                                        <option>Other</option>
                                    </select>
                                    <div *ngIf="f['itemSubCategory'].touched && f['itemSubCategory'].invalid">
                                        <small class="text-danger" *ngIf="f['itemSubCategory'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Procurement UOM<span class="required-asterisk">*</span></label>
                                    <!-- <input formControlName="procurementUOM" type="text" class="form-control form-control-sm" placeholder="Enter Procurement UOM"> -->
                                    <select formControlName="procurementUOM" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Procurement UOM</option>
                                        <option *ngFor="let t of dataDropdownList.precurementuom" [value]="t.precurementuom_id">{{ t.precurementuom }}</option>
                                    </select>
                                    <div *ngIf="f['procurementUOM'].touched && f['procurementUOM'].invalid">
                                        <small class="text-danger" *ngIf="f['procurementUOM'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">UOM<span class="required-asterisk">*</span></label>
                                    <!-- <input formControlName="itemUOM" type="text" class="form-control form-control-sm" placeholder="Enter Item UOM"> -->
                                    <select formControlName="itemUOM" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select UOM</option>
                                        <option *ngFor="let t of dataDropdownList.uom" [value]="t.unit_id">{{ t.uom }}</option>
                                    </select>
                                    <div *ngIf="f['itemUOM'].touched && f['itemUOM'].invalid">
                                        <small class="text-danger" *ngIf="f['itemUOM'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Class<span class="required-asterisk">*</span></label>
                                    <select formControlName="itemClass" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Class</option>
                                        <option>A</option>
                                        <option>B</option>
                                        <option>C</option>
                                        <!-- <option *ngFor="let t of dataDropdownList.itemproperty" [value]="t.itemproperty_id">{{ t.itemproperty }}</option> -->
                                    </select>
                                    <div *ngIf="f['itemClass'].touched && f['itemClass'].invalid">
                                        <small class="text-danger" *ngIf="f['itemClass'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Tolerance<span class="required-asterisk">*</span></label>
                                    <!-- <input formControlName="itemProperty" type="text" class="form-control form-control-sm" placeholder="Enter Item Property"> -->
                                    <select formControlName="itemTolerance" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Tolerance</option>
                                        <option>0%</option>
                                        <option>0.5%</option>
                                        <!-- <option *ngFor="let t of dataDropdownList.itemproperty" [value]="t.itemproperty_id">{{ t.itemproperty }}</option> -->
                                    </select>
                                    <div *ngIf="f['itemTolerance'].touched && f['itemTolerance'].invalid">
                                        <small class="text-danger" *ngIf="f['itemTolerance'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-btns">
                                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary btn-fw btn-sm mr-2">Submit</button>
                                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Submitting...</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm"
                                data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create modal end-->