<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>User Master</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="text" class="form-control form-control-sm" placeholder="Search">
                        </div>
                        <div class="col-lg-8">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm float-right">+ User</button>
                        </div>
                    </div>
                    <app-responsive-table> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Login Name</th>
                                <th>Full Name</th>
                                <th>Contact No</th>
                                <th>Email ID</th>
                                <th>Company</th>
                                <th>Location</th>
                                <th>Role</th>
                                <th>Department</th>
                                <th>Active</th>
                                <th>Created By</th>
                                <th>Created On</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr>
                                <td>1</td>
                                <td>Ashu0001</td>
                                <td>Ashu K</td>
                                <td>89900887766</td>
                                <td>demo@gmail.com</td>
                                <td>GEPDEC</td>
                                <td>Noida</td>
                                <td>Admin</td>
                                <td>Electricity</td>
                                <td>Y</td>
                                <td>Admin</td>
                                <td>12/09/2023 10:40 AM</td>
                            </tr>
                            <!-- <tr *ngIf="!companyData">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr> -->
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<!-- <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Company</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Company Name<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="companyName" type="text" class="form-control form-control-sm"
                                        placeholder="Company Name">
                                    <div *ngIf="f.companyName.touched && f.companyName.invalid">
                                        <small class="text-danger" *ngIf="f.companyName.errors?.required">*Company Name is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Company ID<span class="required-asterisk">*</span></label>
                                    <input formControlName="companyId" type="text" class="form-control form-control-sm"
                                        placeholder="Company ID" (keypress)="space($event)">
                                    <div *ngIf="f.companyId.touched && f.companyId.invalid">
                                        <small class="text-danger" *ngIf="f.companyId.errors?.required">*Company ID is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Contact No<span class="required-asterisk">*</span></label>
                                    <input formControlName="contactNo" type="text" class="form-control form-control-sm" (keypress)="onlyNumAllowed($event)"
                                        placeholder="Contact No">
                                    <div *ngIf="f.contactNo.touched && f.contactNo.invalid">
                                        <small class="text-danger" *ngIf="f.contactNo.errors?.required">*Contact No is required</small>
                                        <small class="text-danger" *ngIf="f.contactNo.errors?.pattern">*Please, Enter 10 digit Mobile Number</small>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Email ID<span class="required-asterisk">*</span></label>
                                    <input formControlName="email" type="text" class="form-control form-control-sm" placeholder="Email ID">
                                    <div *ngIf="f.email.touched && f.email.invalid">
                                        <small class="text-danger" *ngIf="f.email.errors?.required">*Email ID is required</small>
                                        <small class="text-danger" *ngIf="f.email.errors?.pattern">*Email must be a valid email address</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">GST No<span class="required-asterisk">*</span></label>
                                    <input formControlName="gstNo" type="text" class="form-control form-control-sm"
                                        placeholder="GST No">
                                    <div *ngIf="f.gstNo.touched && f.gstNo.invalid">
                                        <small class="text-danger" *ngIf="f.gstNo.errors?.required">*GST No is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">DOI(Date of Incorporation)<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="doi" type="date" class="form-control form-control-sm"
                                        placeholder="DOI(Date of Incorporation)">
                                    <div *ngIf="f.doi.touched && f.doi.invalid">
                                        <small class="text-danger" *ngIf="f.doi.errors?.required">*DOI is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Address<span class="required-asterisk">*</span></label>
                                    <textarea formControlName="address" class="form-control form-control-sm" placeholder="Address"></textarea>
                                    <div *ngIf="f.address.touched && f.address.invalid">
                                        <small class="text-danger" *ngIf="f.address.errors?.required">*Address is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-btns">
                                <button type="submit" [disabled]="!form.valid"
                                    class="btn btn-primary btn-rounded btn-fw btn-sm mr-2">Add</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-rounded btn-fw btn-sm"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- create modal end-->