<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="user text-center mt-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
      class=" bi bi-person-circle absolute right-0 bottom-0 h-32 w-32 -mr-8 -mb-8 text-green-600 opacity-20"
      style="color: #083799bd;" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
      <path fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
    </svg>
    <div class="mt-2" style="font-weight: 600; font-size: 12px; color: #083799bd;">{{ storedData.loginname }}</div>
    <small style="color: #e48b1e;">{{storedData.deptname}}</small>
  </div>
  <hr>
  <ul class="nav scroll-container">
    <li class="nav-item">
      <div routerLink="/dashboard">
        <a class="nav-link" data-toggle="collapse" href="#ui-dashboard" aria-expanded="false"
          aria-controls="ui-dashboard">
          <i class="mdi mdi-view-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
          <!-- <i class="menu-arrow"></i> -->
        </a>
      </div>
      <!-- <div class="collapse" id="ui-dashboard">
        <ul class="nav flex-column sub-menu">

          <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/report-dashboard">
              <i class="mdi mdi-folder-open menu-icon"></i>
              <span class="menu-title">Dashboard 1</span>
            </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/ticket-dashboard">
              <i class="mdi mdi-ticket-confirmation menu-icon"></i>
              <span class="menu-title">Dashboard 2</span>
            </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/alert-dashboard">
              <i class="mdi mdi-alert-outline menu-icon"></i>
              <span class="menu-title">Dashboard 3</span>
            </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/performance-dashboard">
              <i class="mdi mdi-chart-donut-variant menu-icon"></i>
              <span class="menu-title">Dashboard 4</span>
              </a></li>
        </ul>
      </div> -->
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-master" aria-expanded="false" aria-controls="ui-master">
        <i class="mdi mdi-briefcase menu-icon"></i>
        <span class="menu-title">Master</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-master">
        <ul class="nav flex-column sub-menu">
          <!-- <li class="nav-item"> <a class="nav-link" routerLink="/master/biders-company">
             <i class="mdi mdi-checkbox-multiple-marked-outline menu-icon"></i>
            <span class="menu-title">Bidders Company</span>
            </a></li> -->
          <li class="nav-item"> <a class="nav-link" routerLink="/master/country">
              <i class="mdi mdi-google-maps menu-icon"></i>
              <span class="menu-title">Country</span>
            </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/master/state">
              <i class="mdi mdi-format-align-bottom menu-icon"></i>
              <span class="menu-title">State</span>
            </a></li>



          <li class="nav-item"> <a class="nav-link" routerLink="/master/district">
              <i class="mdi mdi-checkbox-multiple-marked-outline menu-icon"></i>
              <span class="menu-title">District</span>
            </a></li>

          <li class="nav-item">
            <div routerLink="/master">
              <a class="nav-link" data-toggle="collapse" href="#Bid-Comp" aria-expanded="false" aria-controls="Biding">
                <i class="mdi mdi-content-save-settings menu-icon"></i>
                <span class="menu-title">Company</span>
                <i class="menu-arrow"></i>
              </a>

            </div>
            <div class="collapse" id="Bid-Comp">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/master/department">
                    <i class="mdi mdi-chemical-weapon menu-icon"></i>
                    <span class="menu-title">Department</span>
                  </a></li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/master/designation">
                    <i class="mdi mdi-camera-front-variant menu-icon"></i>
                    <span class="menu-title">Designation</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/master/role">
                    <i class="mdi mdi-clipboard-account menu-icon"></i>
                    <span class="menu-title">Role</span>
                  </a></li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/master/company-finance">
                    <i class="mdi mdi-currency-inr menu-icon"></i>
                    <span class="menu-title">Financial</span>
                  </a></li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/master/finData">
                    <i class="mdi mdi-clipboard-account menu-icon"></i>
                    <span class="menu-title">Document</span>
                  </a></li>

              </ul>
            </div>
          </li>
          <li class="nav-item"> <a class="nav-link" routerLink="/master/tendering-company">
              <i class="mdi mdi-format-list-bulleted-type menu-icon"></i>
              <span class="menu-title">Client</span>
            </a>
          </li>

          <li class="nav-item">
            <div routerLink="/master/procurement/bom">
              <a class="nav-link" data-toggle="collapse" href="#Bid-Procurement" aria-expanded="false"
                aria-controls="Biding">
                <i class="mdi mdi-book-open menu-icon"></i>
                <span class="menu-title">BOM</span>
                <i class="menu-arrow"></i>
              </a>
            </div>
            <div class="collapse" id="Bid-Procurement">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/master/procurement/item">
                    <i class="mdi mdi-format-list-bulleted-type menu-icon"></i>
                    <span class="menu-title">Item</span>
                  </a></li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/master/procurement/vendor">
                    <i class="mdi mdi-account-check menu-icon"></i>
                    <span class="menu-title">Vendor</span>
                  </a></li>
                <li class="nav-item sub-sub-menu">
                  <a class="nav-link" routerLink="/master/procurement/vendor-item-linking">
                    <i class="mdi mdi-link-variant menu-icon"></i>
                    <span class="menu-title">Vendor Item Link</span>
                  </a>
                </li>
                <!-- <li class="nav-item sub-sub-menu">
                  <a class="nav-link" routerLink="/master/procurement/price-structure">
                    <i class="mdi mdi-cube-unfolded menu-icon"></i>
                    <span class="menu-title">Price Structure</span>
                  </a>
                </li> -->
                <!-- <li class="nav-item sub-sub-menu">
                  <a class="nav-link" routerLink="/master/procurement/eco-terms-delivery">
                    <i class="mdi mdi-sitemap menu-icon"></i>
                    <span class="menu-title">Eco-Terms & Delivery</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu">
                  <a class="nav-link" routerLink="/master/procurement/billing-address">
                    <i class="mdi mdi-home-circle menu-icon"></i>
                    <span class="menu-title">Billing Address</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu">
                  <a class="nav-link" routerLink="/master/procurement/shipping-address">
                    <i class="mdi mdi-home-map-marker menu-icon"></i>
                    <span class="menu-title">Shipping Address</span>
                  </a>
                </li> -->
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <div class="ware" routerLink="/master/warehouse">
              <a class="nav-link" data-toggle="collapse" href="#WarehouseMaster" aria-expanded="false"
                aria-controls="Biding">
                <i class="mdi mdi-content-save-settings menu-icon"></i>
                <span class="menu-title">Warehouse</span>
                <i class="menu-arrow"></i>
              </a>
            </div>
            <div class="collapse" id="WarehouseMaster">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu">
                  <a class="nav-link" routerLink="/master/items-location">
                    <i class="mdi mdi-contacts menu-icon"></i>
                    <span class="menu-title">Item Location</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Bid-others" aria-expanded="false" aria-controls="Biding">
              <i class="mdi mdi-content-save-settings menu-icon"></i>
              <span class="menu-title">Others</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Bid-others">
              <ul class="nav flex-column sub-menu">
                <!-- <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/master/title">
                    <i class="mdi mdi-format-title menu-icon"></i>
                    <span class="menu-title">Title</span>
                  </a></li> -->
                <!-- <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/master/tender">
                    <i class="mdi mdi-tooltip-text menu-icon"></i>
                    <span class="menu-title">Tender</span>
                  </a></li> -->

                <!-- <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/master/tender-company-contacts">
                    <i class="mdi mdi-contacts menu-icon"></i>
                   <span class="menu-title">Company Contact</span>
                   </a></li> -->
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/master/fin-year">
                    <i class="mdi mdi-camera-front-variant menu-icon"></i>
                    <span class="menu-title">Financial Year</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <div>
        <a class="nav-link" data-toggle="collapse" href="#ui-doc" aria-expanded="false" aria-controls="alertAlarm">
          <i class="mdi mdi-file-document menu-icon"></i>
          <span class="menu-title">Documentation</span>
          <i class="menu-arrow"></i>
        </a>
      </div>
      <div class="collapse" id="ui-doc">
        <ul class="nav flex-column sub-menu">

          <li class="nav-item"> <a class="nav-link" routerLink="documentation/tend-doc">
              <i class="mdi mdi-format-line-style menu-icon"></i>
              <span class="menu-title">Tender Document</span>
            </a></li>

          <li class="nav-item">
            <div class="">
              <a class="nav-link" data-toggle="collapse" href="#Qualification-doc" aria-expanded="false"
                aria-controls="Biding">
                <i class="mdi mdi-creation menu-icon"></i>
                <span class="menu-title">Qualification Docs</span>
                <i class="menu-arrow"></i>
              </a>

            </div>
            <div class="collapse" id="Qualification-doc">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu"> <a class="nav-link"
                    routerLink="/documentation/qualification-doc/fin/balance-sheet">
                    <i class="mdi mdi-foursquare menu-icon"></i>
                    <span class="menu-title">Financial</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link"
                    routerLink="documentation/qualification-doc/tech">
                    <i class="mdi mdi-format-list-checks menu-icon"></i>
                    <span class="menu-title">Technical</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link"
                    routerLink="documentation/qualification-doc/others">
                    <i class="mdi mdi-nfc-tap menu-icon"></i>
                    <span class="menu-title">Others</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item"> <a class="nav-link" routerLink="documentation/bg-doc">
              <i class="mdi mdi-ferry menu-icon"></i>
              <span class="menu-title">Security Documents</span>
            </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="documentation/lc-doc">
              <i class="mdi mdi-file-document-box menu-icon"></i>
              <span class="menu-title">Letter of Credit</span>
            </a>
          </li>
          <li class="nav-item"> <a class="nav-link" routerLink="documentation/master-drawing-list">
              <i class="mdi mdi-chart-arc menu-icon"></i>
              <span class="menu-title">Design Documents</span>
            </a>
          </li>
          <li class="nav-item"> <a class="nav-link" routerLink="documentation/proc-doc">
              <i class="mdi mdi-camera-timer menu-icon"></i>
              <span class="menu-title">Procurement Documents</span>
            </a>
          </li>
          <li class="nav-item"> <a class="nav-link" routerLink="documentation/proj-doc">
              <i class="mdi mdi-file-multiple menu-icon"></i>
              <span class="menu-title">Project Documents</span>
            </a>
          </li>
          <li class="nav-item"> <a class="nav-link" routerLink="documentation/fin-doc">
              <i class="mdi mdi-lumx menu-icon"></i>
              <span class="menu-title">Financial Documents</span>
            </a>
          </li>

          <li class="nav-item"> <a class="nav-link" routerLink="documentation/comm-doc">
              <i class="mdi mdi-file-multiple menu-icon"></i>
              <span class="menu-title">Communication</span>
            </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="documentation/others-doc">
              <i class="mdi mdi-file-send menu-icon"></i>
              <span class="menu-title">Others</span>
            </a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#business_process" aria-expanded="false"
        aria-controls="business_process">
        <i class="mdi mdi-chart-bar-stacked menu-icon"></i>
        <span class="menu-title">Business Process</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="business_process">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <div class="" routerLink="dashboard/presales-dashboard">
              <a class="nav-link" data-toggle="collapse" href="#Biding" aria-expanded="false" aria-controls="Biding">
                <i class="mdi mdi-kodi menu-icon"></i>
                <span class="menu-title">Presales</span>
                <i class="menu-arrow"></i>
              </a>

            </div>
            <div class="collapse" id="Biding">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu"> <a class="nav-link"
                    routerLink="presales/presales-biding/data-capture-list">
                    <i class="mdi mdi-account-card-details menu-icon"></i>
                    <span class="menu-title">Data Capturing</span>
                  </a>
                </li>

                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="presales/presales-biding/financial">
                    <i class="mdi mdi-checkbox-multiple-marked-circle-outline menu-icon"></i>
                    <span class="menu-title">Qualification</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link"
                  routerLink="presales/presales-biding/synopsis">
                  <i class="mdi mdi-blender menu-icon"></i>
                  <span class="menu-title">Synopsis</span>
                </a>
              </li>
                <!-- <li class="nav-item sub-sub-menu"> <a class="nav-link"
                  routerLink="presales/presales-biding/synopsis-costing">
                  <i class="mdi mdi-dna menu-icon"></i>
                  <span class="menu-title">Synopsis with Costing</span>
                </a>
              </li> -->
                <li class="nav-item sub-sub-menu"> <a class="nav-link"
                    routerLink="presales/presales-biding/banking-details">
                    <i class="mdi mdi-ferry menu-icon"></i>
                    <span class="menu-title">Security Deposit</span>
                  </a></li>
                <!-- <li class="nav-item sub-sub-menu"> <a class="nav-link"
                  routerLink="presales/presales-biding/technical">
                  <i class="mdi mdi-format-list-checks menu-icon"></i>
                  <span class="menu-title">Technical</span>
                </a>
              </li> -->
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="presales/presales-biding/boq-item">
                    <i class="mdi mdi-format-list-checks menu-icon"></i>
                    <span class="menu-title">BOQ Items</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link"
                    routerLink="presales/presales-biding/direct-cost">
                    <i class="mdi mdi-chart-gantt menu-icon"></i>
                    <span class="menu-title">Direct Costing</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link"
                    routerLink="presales/presales-biding/indirect-cost">
                    <i class="mdi mdi-chart-gantt menu-icon"></i>
                    <span class="menu-title">In-direct Costing</span>
                  </a>
                </li>
                <!-- <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/presales/presales-biding">
                    <i class="mdi mdi-chart-gantt menu-icon"></i>
                    <span class="menu-title">Indirect Costing</span>
                  </a>
                </li> -->

                <!-- <li class="nav-item sub-sub-menu"> <a class="nav-link"
                    routerLink="presales/presales-biding/direct-biding">
                    <i class="mdi mdi-chart-donut-variant menu-icon"></i>
                    <span class="menu-title">Direct Bid</span>
                  </a></li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link"
                    routerLink="presales/presales-biding/indirect-biding">
                    <i class="mdi mdi-chart-donut menu-icon"></i>
                    <span class="menu-title">Indirect Bid</span>
                  </a>
                </li> -->

              </ul>
            </div>
          </li>
          <li class="nav-item">
            <div class="des" routerLink="dashboard/design-dashboard">
              <a class="nav-link" data-toggle="collapse" href="#design" aria-expanded="false" aria-controls="design">
                <i class="mdi mdi-cube-outline menu-icon"></i>
                <span class="menu-title">Design</span>
                <i class="menu-arrow"></i>
              </a>
            </div>
            <div class="collapse" id="design">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/documentation/master-drawing-list">
                    <i class="mdi mdi-drawing-box menu-icon"></i>
                    <span class="menu-title">Master Drawing List</span>
                  </a></li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/documentation/drawing-doc">
                    <i class="mdi mdi-chart-donut menu-icon"></i>
                    <span class="menu-title">Drawing</span>
                  </a></li>
                <li class="nav-item sub-sub-menu">
                  <a class="nav-link" routerLink="/l2-bulkdata">
                    <i class="mdi mdi-file-export menu-icon"></i>
                    <span class="menu-title">L2 Schedule</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu">
                  <a class="nav-link" routerLink="/l2-bulkdata">
                    <i class="mdi mdi-file-export menu-icon"></i>
                    <span class="menu-title">Approval</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <div class="procc" routerLink="dashboard/procurement-dashboard">
              <a class="nav-link" data-toggle="collapse" href="#Procurement" aria-expanded="false"
                aria-controls="Procurement">
                <i class="mdi mdi-google-circles-extended menu-icon"></i>
                <span class="menu-title">Procurement</span>
                <i class="menu-arrow"></i>
              </a>

            </div>
            <div class="collapse" id="Procurement">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/procurement/boq">
                    <i class="mdi mdi-timer-sand-empty menu-icon"></i>
                    <span class="menu-title">BOQ</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/procurement/proposal-1">
                    <i class="mdi mdi-comment-check-outline menu-icon"></i>
                    <span class="menu-title">Proposal-1</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/procurement/proposal-2">
                    <i class="mdi mdi-opacity menu-icon"></i>
                    <span class="menu-title">Proposal-2</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/procurement/final-proposal">
                    <i class="mdi mdi-playlist-check menu-icon"></i>
                    <span class="menu-title">Final Proposal</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/procurement/approval">
                    <i class="mdi mdi-checkbox-marked-outline menu-icon"></i>
                    <span class="menu-title">Approval</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/procurement/po">
                    <i class="mdi mdi-format-list-checks menu-icon"></i>
                    <span class="menu-title">PO List</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <div class="ware" routerLink="dashboard/warehouse-dashboard">
              <a class="nav-link" data-toggle="collapse" href="#warehouse" aria-expanded="false"
                aria-controls="warehouse">
                <i class="mdi mdi-home-assistant menu-icon"></i>
                <span class="menu-title">Store | Logistics</span>
                <i class="menu-arrow"></i>
              </a>

            </div>
            <div class="collapse" id="warehouse">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu">
                  <div class="ware" routerLink="/presales/inventory">
                    <a class="nav-link" data-toggle="collapse" href="#inventory" aria-expanded="false"
                      aria-controls="inventory">
                      <i class="mdi mdi-home-assistant menu-icon"></i>
                      <span class="menu-title">Inventory</span>
                      <i class="menu-arrow"></i>
                    </a>
                  </div>
                  <div class="collapse" id="inventory">
                    <ul class="nav flex-column sub-menu">
                      <li class="nav-item sub-sub-menu"> <a class="nav-link"
                          routerLink="/presales/inventory/audit-request">
                          <i class="mdi mdi-home-variant menu-icon"></i>
                          <span class="menu-title">Audit Request</span>
                        </a></li>
                      <li class="nav-item sub-sub-menu"> <a class="nav-link"
                          routerLink="/presales/inventory/audit-approval">
                          <i class="mdi mdi-home-variant menu-icon"></i>
                          <span class="menu-title">Audit Approval</span>
                        </a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/transactions/material-receipt-note">
                    <i class="mdi mdi-home-variant menu-icon"></i>
                    <span class="menu-title">Material Receipt</span>
                  </a></li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link"
                    routerLink="/transactions/material-issuance-note">
                    <i class="mdi mdi-home-variant menu-icon"></i>
                    <span class="menu-title">Material Issuance</span>
                  </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <div class="exec" routerLink="dashboard/execution-dashboard">
              <a class="nav-link" data-toggle="collapse" href="#execution" aria-expanded="false"
                aria-controls="execution">
                <i class="mdi mdi-settings menu-icon"></i>
                <span class="menu-title">Execution</span>
                <i class="menu-arrow"></i>
              </a>

            </div>
            <div class="collapse" id="execution">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/presales/execution">
                    <i class="mdi mdi-currency-eur menu-icon"></i>
                    <span class="menu-title">Execution</span>
                  </a></li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/presales/proj-handover">
                    <i class="mdi mdi-paw menu-icon"></i>
                    <span class="menu-title">Project Handover</span>
                  </a></li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/presales/proj-closure">
                    <i class="mdi mdi-close-network menu-icon"></i>
                    <span class="menu-title">Project Closure</span>
                  </a></li>

              </ul>
            </div>
          </li>
          <li class="nav-item">
            <div class="qulif" routerLink="dashboard/quality-dashboard">
              <a class="nav-link" data-toggle="collapse" href="#qs" aria-expanded="false" aria-controls="qs">
                <i class="mdi mdi-marker-check menu-icon"></i>
                <span class="menu-title">Quality | Safety</span>
                <i class="menu-arrow"></i>
              </a>

            </div>
            <div class="collapse" id="qs">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/presales/quality-safety">
                    <i class="mdi mdi-currency-eth menu-icon"></i>
                    <span class="menu-title">Quality</span>
                  </a></li>

              </ul>
            </div>
          </li>
          <!-- <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#projHandOver" aria-expanded="false" aria-controls="projHandOver">
            <i class="mdi mdi-houzz menu-icon"></i>
            <span class="menu-title">Project Handover</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="projHandOver">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/presales/proj-handover">
                <i class="mdi mdi-asterisk menu-icon"></i>
                <span class="menu-title">Project Handover</span>
                </a></li>

            </ul>
          </div>
        </li> -->
          <!-- <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#payment" aria-expanded="false" aria-controls="payment">
            <i class="mdi mdi-currency-inr menu-icon"></i>
            <span class="menu-title ">Payment</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="payment">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/presales/payment">
                <i class="mdi mdi-dropbox menu-icon"></i>
                <span class="menu-title">Payment</span>
                </a></li>

            </ul>
          </div>
        </li> -->
          <li class="nav-item">
            <div class="finn" routerLink="dashboard/fin-dashboard">
              <a class="nav-link" data-toggle="collapse" href="#finance" aria-expanded="false" aria-controls="finance">
                <i class="mdi mdi-currency-usd menu-icon"></i>
                <span class="menu-title">Finance</span>
                <i class="menu-arrow"></i>
              </a>

            </div>
            <div class="collapse" id="finance">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/presales/finance">
                    <i class="mdi mdi-format-strikethrough-variant menu-icon"></i>
                    <span class="menu-title">Finance</span>
                  </a></li>
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/presales/payment">
                    <i class="mdi mdi-dropbox menu-icon"></i>
                    <span class="menu-title">Payment</span>
                  </a></li>

              </ul>
            </div>
          </li>
          <!-- <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#projClosure" aria-expanded="false" aria-controls="projClosure">
            <i class="mdi mdi-playlist-check menu-icon"></i>
            <span class="menu-title">Project Closure</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="projClosure">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/presales/proj-closure">
                <i class="mdi mdi-close-network menu-icon"></i>
                <span class="menu-title">Project Closure</span>
                </a></li>

            </ul>
          </div>
        </li> -->
          <li class="nav-item">
            <div class="perff" routerLink="dashboard/performance-dashboard">
              <a class="nav-link" data-toggle="collapse" href="#projPerformance" aria-expanded="false"
                aria-controls="projPerformance">
                <i class="mdi mdi-trending-up menu-icon"></i>
                <span class="menu-title">Performance</span>
                <i class="menu-arrow"></i>
              </a>

            </div>
            <div class="collapse" id="projPerformance">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu"> <a class="nav-link" routerLink="/presales/performance">
                    <i class="mdi mdi-google-analytics menu-icon"></i>
                    <span class="menu-title">Performance</span>
                  </a></li>

              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>



    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#userManagement" aria-expanded="false"
        aria-controls="userManagement">
        <i class="mdi mdi-account-circle menu-icon"></i>
        <span class="menu-title">User Management</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="userManagement">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/user-management/user-master">
              <i class="mdi mdi-account-check menu-icon"></i>
              <span class="menu-title">User</span>
            </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/user-management/user-logs">
              <i class="mdi mdi-account-card-details menu-icon"></i>
              <span class="menu-title">User Logs</span>
            </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/user-management/user-roles">
              <i class="mdi mdi-account-multiple-plus menu-icon"></i>
              <span class="menu-title">User Roles</span>
            </a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" routerLink="/issue-tickets" aria-expanded="false"
        aria-controls="alertAlarm">
        <i class="mdi mdi-ticket-account menu-icon"></i>
        <span class="menu-title">Tickets</span> </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" routerLink="/project-report" aria-expanded="false"
        aria-controls="alertAlarm">
        <i class="mdi mdi-format-list-checks menu-icon"></i>
        <span class="menu-title">Reports</span> </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" routerLink="/presales/alert-alarm" aria-expanded="false"
        aria-controls="alertAlarm">
        <i class="mdi mdi-bell-ring-outline menu-icon"></i>
        <span class="menu-title">Alert & Alarm</span> </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" routerLink="/help-support" aria-expanded="false"
        aria-controls="alertAlarm">
        <i class="mdi mdi-headset menu-icon"></i>
        <span class="menu-title">Help & Support</span> </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" routerLink="/reset-password" aria-expanded="false" aria-controls="alertAlarm">
        <i class="mdi mdi-lock-reset menu-icon"></i>
        <span class="menu-title">Reset Password</span> </a>
    </li> -->
    <!-- <li class="nav-item" (click)="logout()">
      <a class="nav-link text-danger" data-toggle="collapse"  aria-expanded="false" aria-controls="alertAlarm">
        <i class="mdi mdi-logout menu-icon"></i>
        <span class="menu-title">Logout</span> </a>
    </li> -->

  </ul>
</nav>