.nav .collapse.show {
    background-color: #ECF1F9;
}
.nav-item .nav-link:active,
.nav-item .nav-link:focus {
    background-color: #D1DBEB !important;
}
.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-toggler:focus{
    color: transparent !important;
}