<div class="container-fluid mt-2">
  <div class="row presales-head">
    <div class="col-md-8">
      <h3 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>
        Presales</h3>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <!-- filter data country state project wise -->
  <div class="row mt-1">
    <div class="col-md-12">
      <div class="row module-wise ">
        <!-- <div class="col-md-1" style="font-size: 14px; margin-top: 6px; font-family:'Times New Roman', Times, serif"> 
        <i class="mdi mdi-filter-outline mdi-26px "></i> Filter 
          </div> -->
        <div class="col-md-12" style="font-family:'Times New Roman', Times, serif">
          <form [formGroup]="form">
            <div class=" d-flex">
              <div class="col-md-2">
                <!-- <i class="mdi mdi-filter-outline mdi-26px"></i> &nbsp; -->
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Country</label>
                  <div class="col-sm-8">
                    <select class="form-select form-select-sm" formControlName="country_id"
                      (ngModelChange)="StateData()">
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let c of countryData" value="{{c.country_id}}">{{ c.name }}</option>
                    </select>

                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">State</label>
                  <div class="col-sm-9">
                    <select formControlName="state_id" class="form-select form-select-sm">
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let s of stateData" value="{{s.state_id}}">{{ s.state_name }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label">Duration</label>
                  <div class="col-sm-7">
                    <!-- <select class="form-select form-select-sm">
                      <option>All</option>
                      <option>April 22 - March 23</option>
                      <option>April 23 - March 24</option>
                      <option>April 24 - March 25</option>
                      <option>April 25 - March 26</option>
                    </select> -->
                    <select formControlName="duration" class="form-select form-select-sm"
                    (change)="onDurationChange($event)">
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let f of financialData" value="{{f.financialyear_id}}">{{ f.financialyear }}</option>

                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label">Company</label>
                  <div class="col-sm-7">
                    <select class="form-select form-select-sm" formControlName="company" (change)="onCompanyChange($event)">
                      <!-- <option>All</option>
                      <option>GEPDEC Energy Project</option>
                      <option>GEPDEC Infra Project</option> -->
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let c of companyData" value="{{c.bidder_id}}">{{c.bidder_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label"> Category</label>
                  <div class="col-sm-7">
                    <!-- <select class="form-select form-select-sm">
                      <option>All</option>
                      <option>Meter</option>
                      <option>220/33kV, 80MVA Power Transformer</option>
                    </select> -->
                    <select formControlName="category" class="form-select form-select-sm"
                      (change)="onCategoryChange($event)">
                      <!-- <option>All</option>
                              <option>Meter</option>
                              <option>220/33kV, 80MVA Power Transformer</option> -->
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let c of categoryData" value="{{c.qacatagory_id}}">{{ c.qacatagory }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Project</label>
                  <div class="col-sm-8">
                    <!-- <select class="form-select form-select-sm">
                      <option>All</option>
                      <option>Jaunpur Project</option>
                      <option>Noida project</option>
                    </select> -->
                    <select formControlName="project" class="form-select form-select-sm" (change)="onProjectChange($event)">
                      <!-- <option>All</option>
                              <option>Jaunpur Project</option>
                              <option>Noida project</option> -->
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let c of projectData" value="{{c.tender_id}}">{{ c.tender_title }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-3 cust-padding">
      <!-- routerLink="/dashboard/presales-dashboard/published-tender" -->
      <div class="business-card p-3" data-bs-toggle="modal" data-bs-target="#tPublishedModal" role="button">
        <div class="row">
          <div class="col-md-3">
            <i class="mdi mdi-chart-timeline text-center" style="font-size: 40px;"></i>
          </div>


          <div class="col-md-9">
            <h3> {{ preSalesDashData?.cardData?.[0]?.count ?? '0' }} </h3>
            <hr>
            <h6> Tender Published </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 cust-padding">
      <!-- routerLink="/dashboard/presales-dashboard/under-evaluation" -->
      <div class="cust-card p-3" data-bs-toggle="modal" data-bs-target="#qualifiedModal" role="button">
        <div class="row">
          <div class="col-md-3">
            <i class="mdi mdi-checkbox-marked-circle-outline text-center" style=" font-size: 44px;"></i>
          </div>
          <div class="col-md-9">
            <h3> {{ preSalesDashData?.cardData?.[1]?.count ?? '0' }} </h3>
            <hr>
            <h6>Qualified </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 cust-padding">
      <!-- routerLink="/dashboard/presales-dashboard/participation" -->
      <div class="Profit-card p-3" data-bs-toggle="modal" data-bs-target="#participatedModal" role="button">
        <div class="row">
          <div class="col-md-3">
            <i class="mdi mdi-chart-scatterplot-hexbin text-center" style="font-size: 36px;"></i>
          </div>
          <div class="col-md-9">
            <h3> {{ preSalesDashData?.cardData?.[2]?.count ?? '0' }} </h3>
            <hr>
            <h6>Participated</h6>
          </div>

        </div>

      </div>
    </div>
    <div class="col-md-3 cust-padding">
      <!-- routerLink="/dashboard/presales-dashboard/win" -->
      <div class="loss-card p-3" data-bs-toggle="modal" data-bs-target="#wonModal" role="button">
        <div class="row">
          <div class="col-md-3">
            <i class="mdi mdi-thumb-up-outline text-center" style=" font-size: 38px;"></i>
          </div>
          <div class="col-md-5">
            <h3> {{ preSalesDashData?.cardData?.[3]?.count ?? '0' }} </h3>
            <hr>
            <h6>Won</h6>
          </div>
          <div class="col-md-4">
            <!-- <h3> {{ preSalesDashData?.cardData?.[3]?.percentage ?? '0' }} </h3> -->
            <h3> {{ getIntegerValue(preSalesDashData?.cardData?.[3]?.percentage ?? '0') }} </h3>
            <hr>
            <h6>(%)</h6>
          </div>

        </div>

      </div>
    </div>
  </div>


  <!-- <div class="row mt-1">
    <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        <div class="d-flex flex-wrap justify-content-xl-between">
        
          <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-1">
            <div class="d-flex flex-column justify-content-around" routerLink="/dashboard/presales-dashboard/published-tender">
              <small class="text-light text-center t-heading py-2">
              
              
                TENDER PUBLISHED </small>
              <div class="d-flex text-center">
            
                <div class="col-lg-12 py-3" style="background: linear-gradient(90deg, #e8dcff 0%, #cbb1ff 50%, #b28cff 100%); color: #ffffff;">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="../../../assets/images/allTend.png" style="width: 50px; height: 40px;">
                    </div>
                    <div class="col-md-8">
                     <h1>50</h1>
                    </div>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-6">
            <div class="d-flex flex-column justify-content-around"  routerLink="/dashboard/presales-dashboard/under-evaluation">
              <small class="text-light text-center t-heading py-2">
                <img src="../../../assets/images/tender_eval.png" style="width: 35px; height: 20px; ">
                &nbsp;
                UNDER EVALUATION</small>
              <div class="d-flex text-center">
                <div class="col-lg-12 py-2" style="background: #e5b274;">
                  <div class="row">
                    <div class="col-md-6">
                      <small class="text-light"></small> <br>
                      <small class="text-light">NOs.</small> <br>
                      <small class="text-light">Values(Cr.)</small>
                    </div>
                    <div class="col-md-3">
                      <small class=" text-light">MTD</small><br>
                      <small class="text-light">999</small><br>
                      <small class="text-light">999</small>
                    </div>
                    <div class="col-md-3">
                      <small class=" text-light">YTD</small><br>
                      <small class="text-light">999</small> <br>
                      <small class="text-light">999</small>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-2">
            <div class="d-flex flex-column justify-content-around"  routerLink="/dashboard/presales-dashboard/participation">
              <small class="text-light text-center t-heading py-2">
             

                PARTICIPATION</small>
              <div class="d-flex text-center">
             
                <div class="col-lg-12 py-3" style=" background: linear-gradient(90deg, #ebf3f9 0%, #b0dffd 50%, #7ccbfd 100%); color: #ffffff;">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="../../../assets/images/partTend.png" style="width: 50px; height: 40px;">
                    </div>
                    <div class="col-md-8">
                      <h1>20</h1>
                    </div>
                   
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-5">
            <div class="d-flex flex-column justify-content-around"  routerLink="/dashboard/presales-dashboard/abandoned">
              <small class="text-light text-center t-heading py-2">
                <img src="../../../assets/images/losBid.png" style="width: 35px; height: 20px;"> 
                &nbsp;&nbsp;&nbsp;&nbsp;
                ABANDONED</small>
              <div class="d-flex text-center">
               

                <div class="col-lg-12 py-2" style="background: rgb(239 173 173);">
                  <div class="row">
                    <div class="col-md-6">
                      <small class="text-light"></small> <br>
                      <small class="text-light">NOs.</small> <br>
                      <small class="text-light">Values(Cr.)</small>
                    </div>
                    <div class="col-md-3">
                      <small class=" text-light">MTD</small><br>
                      <small class="text-light">999</small><br>
                      <small class="text-light">999</small>
                    </div>
                    <div class="col-md-3">
                      <small class=" text-light">YTD</small><br>
                      <small class="text-light">999</small> <br>
                      <small class="text-light">999</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-3">
            <div class="d-flex flex-column justify-content-around"  routerLink="/dashboard/presales-dashboard/win">
              <small class="text-light text-center t-heading py-2">

               TENDER WINS</small>
              <div class="d-flex text-center">
              
                <div class="col-lg-12 py-3" style="background: linear-gradient(18deg, #cadeff 0%, #a6c2f3 50%, #5783d0 100%); color: #ffffff;">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="../../assets/images/winBid.png" style="width: 50px; height: 40px;">

                    </div>
                    <div class="col-md-8">
                 <h1>12</h1>
                    </div>
                   
                  </div>
                </div>

              </div>
            </div>
          </div>
        
         
          <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-4">
           
            <div class="d-flex flex-column justify-content-around"  routerLink="/dashboard/presales-dashboard/completed">
              <small class="text-light text-center t-heading py-2">
             
                COMPLETED</small>
              <div class="d-flex text-center">
              

                <div class="col-lg-12 py-3" style="background: linear-gradient(18deg, #dcfdc5f0 0%, #46eb62 50%, #039651 100%); color:#ffffff; ">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="../../../assets/images/comBid.png" style="width: 50px; height: 40px;">

                    </div>
                    <div class="col-md-8">
                   <h1>8</h1>
                    </div>
                 
                  </div>
                </div>
             
              </div>
            </div>
          </div>
       
        </div>
      </div>
</div> -->

  <!-- PreSales-data-chart -->
  <div class="row mt-2">

    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <p class="card-title mb-2 col-md-10">Performance </p>
            <!-- <a class="float-right col-md-2" routerLink="">Next <i class="mdi mdi-arrow-right-drop-circle-outline text-center"></i></a> -->
          </div>

            <div class="chartBar" #containerRef4>
              <!-- <ngx-charts-bar-vertical-2d [view]="[containerRef4.offsetWidth,190]" [scheme]="colorSchemeLoadQuarter1"
                [results]="barChartData" [xAxis]="showXAxis" [gradient]="true" [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabelBarLoad"
                [yAxisLabel]="yAxisLabelBarLoad" [barPadding]="5" [groupPadding]="7">
              </ngx-charts-bar-vertical-2d> -->
              <ngx-charts-bar-vertical-2d 
                [view]="[containerRef4.offsetWidth, 190]" 
                [scheme]="colorSchemeLoadQuarter1"
                [results]="barChartData" 
                [xAxis]="showXAxis" 
                [gradient]="true" 
                [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel" 
                [showYAxisLabel]="showYAxisLabel" 
                [xAxisLabel]="xAxisLabelBarLoad"
                [yAxisLabel]="yAxisLabelBarLoad" 
                [barPadding]="5" 
                [groupPadding]="7"
              >
                <ng-template #tooltipTemplate let-model="model">
                  <p class="p-0 m-0">{{model.series}}</p>
                  <p *ngIf="model.name === 'Won'">{{model.name}}: {{model.value}}%</p>
                  <p *ngIf="model.name !== 'Won'">{{model.name}}: {{model.value}}</p>
                </ng-template>
              </ngx-charts-bar-vertical-2d>
            </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank load_box1"></i> Total</li>
            <li><i class="mdi mdi-checkbox-blank load_box2"></i> Qualified</li>
            <li><i class="mdi mdi-checkbox-blank load_box3"></i> Participated</li>
            <li><i class="mdi mdi-checkbox-blank load_box4"></i> Won</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="donutChart" [chart]="chart" #containerRef6>
           
          </div>
          </div>
      </div>
    </div> -->

    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title">PreSales: Values</p>

          <div class="chartBar" #containerRef6>
            <!-- <ngx-charts-pie-chart [view]="[containerRef6.offsetWidth - 35, 220]" [scheme]="lineColorScheme"
              [labels]="showLabelsPie" [gradient]="false" [doughnut]="true" [legend]="true" [results]="pieChartData">
            </ngx-charts-pie-chart> -->
            <ngx-charts-pie-chart 
              [view]="[containerRef6.offsetWidth - 35, 220]" 
              [scheme]="lineColorScheme"
              [labels]="showLabelsPie" 
              [gradient]="false" 
              [doughnut]="true" 
              [legend]="true" 
              [results]="pieChartData">
              <ng-template #tooltipTemplate let-model="model">
                <span style="padding: 8px; line-height: 1.8;">
                  {{ model.name.split(' (')[0] }}
                  <ng-container *ngIf="model.name.includes('Won')"> : {{ model.value }}% </ng-container>
                  <ng-container *ngIf="!model.name.includes('Won')"> : {{ model.value }} </ng-container>
                </span>
              </ng-template>
            </ngx-charts-pie-chart>
          </div>


        </div>
      </div>
    </div>

  </div>

  <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-2">PreSales Target | Achievement</p>
          <div class="chartBar" #containerRef5>
            <ngx-charts-line-chart [view]="[containerRef5.offsetWidth, 210]" [scheme]="colorSchemeLoadQuarter"
              [results]="lineChart" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showYAxisLabelLine"
              [gradient]="true" [showYAxisLabel]="showYAxisLabelLine" [xAxisLabel]="xAxisLabelLine"
              [yAxisLabel]="yAxisLabelLine">
            </ngx-charts-line-chart>
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank l_box1"></i> Target</li>
            <!-- <li><i class="mdi mdi-checkbox-blank l_box2"></i> Participation</li> -->
            <li><i class="mdi mdi-checkbox-blank l_box3"></i> Achievement</li>
            <li><i class="mdi mdi-checkbox-blank l_box2"></i> EBITDA</li>
            <li><i class="mdi mdi-checkbox-blank l_box4"></i> Revenue</li>
          </ul>

        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 grid-margin stretch-card pe-0">
      <div class="card" data-bs-toggle="modal" data-bs-target="#createModal" role="button">
        <div class="card-body">
          <div class="row">
            <p class="card-title mb-2 col-md-9">Top 5 Tenders</p>
            <div class="float-right col-md-3">
                 <!-- <a  href="" data-bs-toggle="modal" data-bs-target="#createModal" style="font-size: 12px;"> <span class="mdi mdi-eye-outline"></span> View More</a> -->
            </div>
          </div>
          <div class="cardHead" style="cursor: pointer;">
            <div class="row">
              <div class="col-md-2 col-2">S No</div>
              <div class="col-md-4 col-4" style="text-align: left;">Project Name</div>
              <div class="col-md-3 col-3" style="text-align: left;">Category</div>
              <div class="col-md-3 col-3" style="text-align: left;">Submission Date</div>
            </div>
          </div>
          <div class="table-wrap">
            <div *ngIf="loading" class="text-center mt-3">
              <div class="spinner-border"> </div>
            </div>
            <div class="card1 mt-1" *ngFor="let tender of topFiveOrder; let i = index">
              <div class="row d-flex">
                <div class="col-md-2 col-2">{{i + 1}}</div>
                <div class="col-md-4 col-4" style="text-align: left;">
                  <div *ngIf="!!tender?.tender_title; else elseBlock3" data-toggle="tooltip" data-placement="bottom"
                    title="{{ tender?.tender_title }}">
                    {{tender?.tender_title | slice:0:15}} <span *ngIf="tender?.tender_title.length > 15">...<i
                        class="mdi mdi-information"></i></span>
                  </div>
                  <ng-template #elseBlock3>
                    {{tender?.tender_title}}
                  </ng-template>
                </div>
                <div class="col-md-3 col-3" style="text-align: left;">
                  {{tender?.qacatagory}}
                  <!-- <div *ngIf="!!tender?.qacatagory; else elseBlock3" data-toggle="tooltip" data-placement="bottom" title="{{ tender?.qacatagory }}">
                    {{tender?.qacatagory | slice:0:10}} <span *ngIf="tender?.qacatagory.length > 10">...<i class="mdi mdi-information"></i></span>
                </div>
                <ng-template #elseBlock3>
                    {{tender?.qacatagory}}
                </ng-template> -->
                </div>
                <div class="col-md-3 col-3 text-start" style="text-align: left;">{{tender.tender_submission_date | date: 'dd/MM/yyyy' : 'GMT'}}</div>
              </div>
            </div>
          </div>
          <!-- 
          <div class="table-responsive ht-auto" style="border-top-right-radius: 10px;
          border-top-left-radius: 10px;">
            <table class="table custTable table-striped table-hover">
              <thead class="tender-thead text-white">
                <tr>
                  <th scope="col" class="text-white py-3">S No</th>
                  <th scope="col" class="text-white py-3">Project Name</th>
                  <th scope="col" class="text-white py-3">Category</th>
                  <th scope="col" class="text-white py-3">ECV (INR)</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let tender of topFiveOrder; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{tender.tender_title}}</td>
                  <td>{{tender.bidtype}}</td>
                  <td>{{tender.ecv}}</td>
                </tr>
                
              </tbody>
            </table>
          </div> -->


        </div>
      </div>
    </div>

    <!-- <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Lead By Status</p>
    
        <div class="chartBar" #containerRef12>
          <ngx-charts-pie-chart
          [view]="[containerRef12.offsetWidth - 40, 180]"
          [scheme]="pieColorsAlarmType"
          [gradient]="true"
          [legend]="true"
          [doughnut]="true"
          [results]="pieDataAlarmType">
        </ngx-charts-pie-chart>
        </div>
    
        
      </div>
    </div>
  
  </div> -->

  </div>



</div>

<!-- tendor published modal-->
<div class="modal fade" id="tPublishedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tendor Published</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="p-2">
        <div class="table-responsive ht-auto" style="cursor: pointer;">
          <table class="table table-hover table-striped">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Client</th>
                <th>Tender Title</th>
                <th>NIT No</th>
                <th>Publish Date</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Capacity</th>
                <th>Execution Location</th>
                <th>Amount (INR)</th>
                <th>Tender fee</th>
                <th>Tendor Status</th>
                <th>Submission Date</th>
                <th>Payment Terms</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr *ngFor="let t of tPublishedData | paginate: { itemsPerPage: limit, currentPage: p1, id: 'pagination1' }; let i = index">
                <td>{{limit*(p1-1)+i+1}}</td>
                <td>{{t.company_name}}</td>
                <td>
                  <!-- {{t.tender_title}} -->
                  <div data-toggle="tooltip" data-placement="bottom" title="{{ t?.tender_title }}">
                    {{t?.tender_title | slice:0:30}} <span *ngIf="t?.tender_title.length > 30">...<i
                        class="mdi mdi-information"></i></span>
                  </div>
                </td>
                <td>{{t.tender_ref_no}}</td>
                <td>{{t.publish_date | date:'dd/MM/yyyy' : 'GMT'}}</td>
                <!-- <td>{{t.bidtype}}</td> -->
                <td>{{t.qacatagory}}</td>
                <td>{{t.subqacatagory}}</td>
                <td>{{t.capacity}}</td>
                <td>{{t.tender_location}}</td>
                <td>{{t.ecv | currency :'INR':'':'1.0-2'}}</td>
                <td>{{t.tender_fee | currency :'INR':'':'1.0-2'}}</td>
                <td>{{t.tender_status}}</td>
                <td>{{t.tender_submission_date | date: 'dd/MM/yyyy hh:mm a' : 'GMT' }}</td>
                <td>
                  <div data-toggle="tooltip" data-placement="bottom" title="{{ t?.tenderpayment_terms }}">
                    {{t?.tenderpayment_terms | slice:0:30}} <span *ngIf="t?.tenderpayment_terms && t.tenderpayment_terms.length > 30">...<i
                        class="mdi mdi-information"></i></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination-sec text-center">
            <pagination-controls id="pagination1" (pageChange)="p1 = $event"></pagination-controls>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
<!-- tendor published modal end -->
<!-- tendor qualified modal-->
<div class="modal fade" id="qualifiedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tendor Qualified</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="p-2">
        <div class="table-responsive ht-auto" style="cursor: pointer;">
          <table class="table table-hover table-striped">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Client</th>
                <th>Tender Title</th>
                <th>NIT No</th>
                <th>Publish Date</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Capacity</th>
                <th>Execution Location</th>
                <th>Amount (INR)</th>
                <th>Tender fee</th>
                <th>Tendor Status</th>
                <th>Submission Date</th>
                <th>Payment Terms</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr *ngFor="let t of qualifiedData | paginate: { itemsPerPage: limit, currentPage: p2, id: 'pagination2' }; let i = index">
                <td>{{limit*(p2-1)+i+1}}</td>
                <td>{{t.company_name}}</td>
                <td>
                  <!-- {{t.tender_title}} -->
                  <div data-toggle="tooltip" data-placement="bottom" title="{{ t?.tender_title }}">
                    {{t?.tender_title | slice:0:30}} <span *ngIf="t?.tender_title.length > 30">...<i
                        class="mdi mdi-information"></i></span>
                  </div>
                </td>
                <td>{{t.tender_ref_no}}</td>
                <td>{{t.publish_date | date:'dd/MM/yyyy' : 'GMT'}}</td>
                <!-- <td>{{t.bidtype}}</td> -->
                <td>{{t.qacatagory}}</td>
                <td>{{t.subqacatagory}}</td>
                <td>{{t.capacity}}</td>
                <td>{{t.tender_location}}</td>
                <td>{{t.ecv | currency :'INR':'':'1.0-2'}}</td>
                <td>{{t.tender_fee | currency :'INR':'':'1.0-2'}}</td>
                <td>{{t.tender_status}}</td>
                <td>{{t.tender_submission_date | date: 'dd/MM/yyyy hh:mm a' : 'GMT' }}</td>
                <td>
                  <div data-toggle="tooltip" data-placement="bottom" title="{{ t?.tenderpayment_terms }}">
                    {{t?.tenderpayment_terms | slice:0:30}} <span *ngIf="t?.tenderpayment_terms && t.tenderpayment_terms.length > 30">...<i
                        class="mdi mdi-information"></i></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination-sec text-center">
            <pagination-controls id="pagination2" (pageChange)="p2 = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tendor qualified modal end -->
<!-- tendor participated modal-->
<div class="modal fade" id="participatedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tendor Participated</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="p-2">
        <div class="table-responsive ht-auto" style="cursor: pointer;">
          <table class="table table-hover table-striped">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Client</th>
                <th>Tender Title</th>
                <th>NIT No</th>
                <th>Publish Date</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Capacity</th>
                <th>Execution Location</th>
                <th>Amount (INR)</th>
                <th>Tender fee</th>
                <th>Tendor Status</th>
                <th>Submission Date</th>
                <th>Payment Terms</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr
                *ngFor="let t of participatedData | paginate: { itemsPerPage: limit, currentPage: p3, id: 'pagination3' }; let i = index">
                <td>{{limit*(p3-1)+i+1}}</td>
                <td>{{t.company_name}}</td>
                <td>
                  <!-- {{t.tender_title}} -->
                  <div data-toggle="tooltip" data-placement="bottom" title="{{ t?.tender_title }}">
                    {{t?.tender_title | slice:0:30}} <span *ngIf="t?.tender_title.length > 30">...<i
                        class="mdi mdi-information"></i></span>
                  </div>
                </td>
                <td>{{t.tender_ref_no}}</td>
                <td>{{t.publish_date | date: 'dd/MM/yyyy' : 'GMT'}}</td>
                <!-- <td>{{t.bidtype}}</td> -->
                <td>{{t.qacatagory}}</td>
                <td>{{t.subqacatagory}}</td>
                <td>{{t.capacity}}</td>
                <td>{{t.tender_location}}</td>
                <td>{{t.ecv | currency :'INR':'':'1.0-2'}}</td>
                <td>{{t.tender_fee | currency :'INR':'':'1.0-2'}}</td>
                <td>{{t.tender_status}}</td>
                <td>{{t.tender_submission_date | date: 'dd/MM/yyyy hh:mm a' : 'GMT' }}</td>
                <td>
                  <div data-toggle="tooltip" data-placement="bottom" title="{{ t?.tenderpayment_terms }}">
                    {{t?.tenderpayment_terms | slice:0:30}} <span *ngIf="t?.tenderpayment_terms && t.tenderpayment_terms.length > 30">...<i
                        class="mdi mdi-information"></i></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination-sec text-center">
            <pagination-controls id="pagination3" (pageChange)="p3 = $event"></pagination-controls>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
<!-- tendor participated modal end -->
<!-- tendor won modal-->
<div class="modal fade" id="wonModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tendor Won</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="p-2">
        <div class="table-responsive ht-auto" style="cursor: pointer;">
          <table class="table table-hover table-striped">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Client</th>
                <th>Tender Title</th>
                <th>NIT No</th>
                <th>Publish Date</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Capacity</th>
                <th>Execution Location</th>
                <th>Amount (INR)</th>
                <th>Tender fee</th>
                <th>Tendor Status</th>
                <th>Submission Date</th>
                <th>Payment Terms</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr *ngFor="let t of wonData | paginate: { itemsPerPage: limit, currentPage: p4, id: 'pagination4' }; let i = index">
                <td>{{limit*(p4-1)+i+1}}</td>
                <td>{{t.company_name}}</td>
                <td>
                  <!-- {{t.tender_title}} -->
                  <div data-toggle="tooltip" data-placement="bottom" title="{{ t?.tender_title }}">
                    {{t?.tender_title | slice:0:30}} <span *ngIf="t?.tender_title.length > 30">...<i
                        class="mdi mdi-information"></i></span>
                  </div>
                </td>
                <td>{{t.tender_ref_no}}</td>
                <td>{{t.publish_date | date: 'dd/MM/yyyy' : 'GMT'}}</td>
                <!-- <td>{{t.bidtype}}</td> -->
                <td>{{t.qacatagory}}</td>
                <td>{{t.subqacatagory}}</td>
                <td>{{t.capacity}}</td>
                <td>{{t.tender_location}}</td>
                <td>{{t.ecv | currency :'INR':'':'1.0-2'}}</td>
                <td>{{t.tender_fee | currency :'INR':'':'1.0-2'}}</td>
                <td>{{t.tender_status}}</td>
                <td>{{t.tender_submission_date | date: 'dd/MM/yyyy hh:mm a' : 'GMT' }}</td>
                <td>
                  <div data-toggle="tooltip" data-placement="bottom" title="{{ t?.tenderpayment_terms }}">
                    {{t?.tenderpayment_terms | slice:0:30}} <span *ngIf="t?.tenderpayment_terms && t.tenderpayment_terms.length > 30">...<i
                        class="mdi mdi-information"></i></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination-sec text-center">
            <pagination-controls id="pagination4" (pageChange)="p4 = $event"></pagination-controls>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
<!-- tendor won modal end -->

<!-- create modal L1 -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Project Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="p-2">
        <div class="table-responsive ht-auto" style="cursor: pointer;">
          <table class="table table-hover table-striped" data-bs-toggle="modal" data-bs-target="#createModal1">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Project Name</th>
                <th>Category</th>
                <th>Amount (INR)</th>
                <th>Amount with GST</th>
                <th>Amount without GST</th>
                <th>Profitability</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr *ngFor="let t of topFiveOrder | paginate: { itemsPerPage: limit, currentPage: p, id: 'pagination' }; let i = index">
                <td>{{limit*(p-1)+i+1}}</td>
                <td>{{t.tender_title}}</td>
                <td>{{t.bidtype}}</td>
                <td>{{t.ecv}}</td>
                <td>250</td>
                <td>200</td>
                <td>195</td>
              </tr>
            </tbody>
          </table>
          <div class="pagination-sec text-center">
            <pagination-controls id="pagination" (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
<!-- create modal end L1-->

<!-- create modal L2 -->
<div class="modal fade" id="createModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">List Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="card-body" style="padding:2px;">
        <h4 class="text-center mt-2">Work in Progress...</h4>
      </div>
    </div>
  </div>
</div>
<!-- create modal end L2-->