<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Customer</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="text" class="form-control form-control-sm" placeholder="Search">
                        </div>
                        <div class="col-lg-8">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm float-right">+ Customer</button>
                        </div>
                    </div>
                    <app-responsive-table> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Customer Name</th>
                                <th>Customer Code</th>
                                <th>Circle</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Contact No</th>
                                <th>WhatsApp No</th>
                                <th>Address</th>
                                <th>Email ID</th>
                                <th>Active</th>
                                <th>Created By</th>
                                <th>Created On</th>
                                <th>Updated By</th>
                                <th>Updated On</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr *ngFor="let a of customerData | paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{limit*(p-1)+i+1}}</td>
                                <td>{{a.customerName}}</td>
                                <td>{{a.customerCode}}</td>
                                <td>{{a.circle}}</td>
                                <td>{{a.category}}</td>
                                <td>{{a.status}}</td>
                                <td>{{a.contact}}</td>
                                <td>{{a.contact}}</td>
                                <td>{{a.address}}</td>
                                <td>{{a.email}}</td>
                                <td>{{a.active}}</td>
                                <td>{{a.createdBy}}</td>
                                <td>{{a.createdOn}}</td>
                                <td>{{a.updatedBy}}</td>
                                <td>{{a.updatedOn}}</td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<!-- <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Country<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" formControlName="country">
                                        <option>India</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">State Name<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" formControlName="stateName">
                                        <option>Punjab</option>
                                        <option>Himachal Pradesh</option>
                                        <option>Uttar Pradesh</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Company ID<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" formControlName="companyID">
                                        <option>Company A</option>
                                        <option>Company B</option>
                                        <option>Company C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">ECB Name<span class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control form-control-sm" formControlName="customerName">
                                </div>
                            </div>
                            <div class="modal-btns">
                                <button type="submit" [disabled]="!form.valid"
                                    class="btn btn-primary btn-rounded btn-fw btn-sm mr-2">Add</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-rounded btn-fw btn-sm"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- create modal end-->
