.banner-sec .banner {
  width: 100vw;
  object-fit: cover;
  height: 90px;
}

.banner-text {
  position: absolute;
}

.cust-legend {
  padding-left: 0;
  text-align: center;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.cust-legend li {
  display: inline-flex;
  align-items: center;
  list-style: none;
  padding-right: 1rem;
}

.cust-legend li:last-child {
  padding-right: 0rem;
}

.cust-legend li .box1,
.cust-legend li .box2,
.cust-legend li .box3
 {
  font-size: 16px;
  padding-right: 0.5rem;
}

.cust-legend li .box1 {
  color: #58a540;
}

.cust-legend li .box2 {
  color: #e9ec16;
}
.cust-legend li .box3 {
  color: #ec1616;
}

.cust-legend li .l_box1 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #315CA4;
}

.cust-legend li .l_box2 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #FFA333;
}

.cust-legend li .o_box1 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #cee27d;
}

.cust-legend li .o_box2 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #63830c;
}

.cust-legend li .load_box1 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #cf97ef;
}

.cust-legend li .load_box2 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #7F5398;
}

.cust-legend li .piebox1 {
  font-size: 16px;
  color: #6093E8;
  padding-right: 0.5rem;
}

.cust-legend li .piebox2 {
  font-size: 16px;
  color: #cf97ef;
  padding-right: 0.5rem;
}

.cust-legend li .piebox3 {
  font-size: 16px;
  color: #FFB761;
  padding-right: 0.5rem;
}

/* tender-color */
.tend-legend {
  padding-left: 0;
  text-align: center;
  margin-bottom: 0;
  font-size: 0.75rem;
  
}
.tend-legend li .piebox1 {
  font-size: 16px;
  color: #9370DB;
  padding-right: 0.5rem;
  
}

.tend-legend li .piebox2 {
  font-size: 16px;
  color: #a7ebca;
  padding-right: 0.5rem;
}

.tend-legend li .piebox3 {
  font-size: 16px;
  color: #f5c78e;
  padding-right: 0.5rem;
}
.tend-legend li .piebox4 {
  font-size: 16px;
  color: #af8047;
  padding-right: 0.5rem;
}

.tend-legend li .piebox5 {
  font-size: 16px;
  color: #7d9c43;
  padding-right: 0.5rem;
}

.tend-legend li .piebox6 {
  font-size: 16px;
  color: #dc3545;
  padding-right: 0.5rem;
}
.ht-auto {
  min-height: auto;
}

.form-group label {
  font-size: 0.8rem;
  line-height: 0;
  vertical-align: top;
  margin-bottom: 0;
}
.chartBar:hover{
  transition: transform 0.2s;
  transform: scale(1.1);
  overflow: hidden;
  cursor: pointer;

}

.t-1 {
  background: rgb(49,92,164);
  background: linear-gradient(90deg, rgba(49,92,164,1) 0%, rgba(120,170,255,1) 50%, rgba(180,208,255,0.9640231092436975) 100%);
}
.t-1:hover{
  width:200px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.t-2 {
  background: rgb(119 181 151);
  background: linear-gradient(18deg, rgb(75 184 135) 0%, rgb(32 141 89) 50%, rgb(167 235 202) 100%);}
.t-2:hover{
  width:200px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.t-3 {
  background: rgb(255 163 51);
  background: linear-gradient(18deg, #ffa333 0%, #ffb761 50%, #ffcc8f 100%);
}
.t-3:hover{
  width:200px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.t-6 {
  background: rgb(238, 173, 95);
  background: linear-gradient(18deg, #f1b05f 0%, #d18b34 50%, #af8047 100%);
}
.t-6:hover{
  width:200px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.t-4{
  background: #d6fc8f;
    background: linear-gradient(18deg, #bdeb68 0%, #7d9c43 50%, #d3fd85 100%);
}
.t-4:hover{
  width:200px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.t-5{
  background: #dc3545;
  background: linear-gradient(18deg, #dc3545 0%, #706565 50%, #ed6464 100%);}
.t-5:hover{
  width:200px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}


.t-heading {
  background: #0000002b;
  font-size: 0.85rem;
  font-weight: 500;
}

ul.legend-labels {
  width: auto !important;
}

.label-under-border {
  position: absolute;
    top: -8px;
    left: 7px;
    padding: 2px 5px;
    z-index: 1;
    /* background: #7dbaf4; */
}
.module-wise{
  
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  color: #000000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.dropdown-data{
  font-size: 12px;
  border-color:#FFB761;
  border-radius: 4px;
  padding: 4px;
}
/* First-row CSS */
/* .business-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: #49b7ec;
  background: linear-gradient(90deg,   #49b7ec 0%, #7ccdf5 50%, #ade0fa 100%);
  color: #ffffff;
 
}
.business-card:hover{
  width:300px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg,  #ade0fa 0%, #7ccdf5 50%, #49b7ec 100%);
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  cursor: pointer;
} */
.business-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: #9db6fd;
  background: linear-gradient(90deg, #9db6fd 0%, #d3e4f7 50%, #ddf2ff 100%);
  color: #000;
 
}
.business-card:hover{
  width:300px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg,  #ddf2ff 0%, #d3e4f7 50%, #9db6fd 100%);
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.revenue-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: #4debcf;
  background: linear-gradient(90deg, #4debcf 0%, #b9fff6 50%, #bef7ee 100%);
  color: #000;
  
}
.revenue-card:hover{
  width:300px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(90deg,  #46a192 0%, #6cebd5 50%, #21d3b5 100%); */
  background: linear-gradient(90deg,  #bef7ee 0%, #b9fff6 50%, #4debcf 100%);
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  cursor: pointer;

}
.Profit-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: #eba965;
  background: linear-gradient(90deg, #eba965 0%, #f3dfc0 50%, #ffdaa5d1 100%);
  color: #000;
  
}
.Profit-card:hover{
  width:300px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #ffdaa5d1 0%, #f3dfc0 50%, #eba965 100%);
  /* background: linear-gradient(90deg,  #c1fad9 0%, #8ff1b8 50%, #7be9a8 100%); */
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  cursor: pointer;

}
.loss-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: #ff925f;
  background: linear-gradient(90deg, #ff925f 0%, #ffabab 50%, #ffcac5d1 100%);
  color: #000;
  
}
.loss-card:hover{
  width:300px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #ffcac5d1 0%, #ffabab 50%, #ff925f 100%);
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  cursor: pointer;

}

/* Second-row CSS */
.qualify-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: #ab71e3;
  background: linear-gradient(90deg, #ab71e3 0%, #f6e1ff 50%, #e5e1e5c9 100%);
  color: #000;
 
}
.qualify-card:hover{
  width:300px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #e5e1e5c9 0%, #f6e1ff 50%, #ab71e3 100%);
  /* background: linear-gradient(90deg,  #ed9df6 0%, #dd91f9 50%, #c07efe 100%); */
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.reject-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: #ed5d5d;
  background: linear-gradient(90deg, #ed5d5d 0%, #ffcfdb 50%, #efdbdbd6 100%);
  color: #000;
  
}
.reject-card:hover{
  width:300px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #efdbdbd6 0%, #ffcfdb 50%, #ed5d5d 100%);
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  cursor: pointer;

}
.PaymentBG-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: #6685c7;
  background: linear-gradient(90deg, #6685c7 0%, #cecafd 50%, #eae0f9d4 100%);
  color: #000;
  
}
.PaymentBG-card:hover{
  width:300px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg,  #eae0f9d4 0%, #cecafd 50%, #6685c7 100%);
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  cursor: pointer;

}


.paymentEMI-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: #648695;
  background: linear-gradient(90deg, #648695 0%, #dfeef7 50%, #dedef5de 100%);
  color: #000;
  
}
.paymentEMI-card:hover{
  width:300px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #dedef5de 0%, #dfeef7 50%, #648695 100%);
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  cursor: pointer;

}
.cust-padding{
  padding-right: 3px !important;
    padding-left: 3px !important;
}
.top-head{
  padding: 6px 0px 0px 6px ;
  font-weight: 600;
  background: linear-gradient(90deg, rgb(122 160 225) 10%, #4ab985 25%, rgb(241 201 152) 50%, #99b95d 70%, rgb(155 84 84) 100%) !important;
  border-radius: 4px;
  text-align: center;
}
.b-progress{
  color: #ffffff;
  font-weight: 600;
  font-family: sans-serif;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-color: #1a1a6fe0;
}