

<div class="content-wrapper">
  <div class="row presales-head">
    <div class="col-md-8">
      <h3 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>
        Main Dashboard </h3>
    </div>
    <div class="col-md-4"> </div>
</div>

  <!-- filter data country state project wise -->

    <div class="row module-wise ">
    <!-- <div class="col-md-1" style="font-size: 14px; margin-top: 6px; font-family:'Times New Roman', Times, serif"> 
      <i class="mdi mdi-filter-outline mdi-26px "></i> Filter 
        </div> -->
    <div class="col-md-12" style="font-family:'Times New Roman', Times, serif">
        <form  [formGroup]="form">
          <div class=" d-flex">
              <div class="col-md-2">
                <!-- <i class="mdi mdi-filter-outline mdi-26px"></i> &nbsp; -->
                  <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Country</label>
                  <div class="col-sm-8">
                    <select  class="form-select form-select-sm" formControlName="country_id" (ngModelChange)="StateData()">
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let c of countryData" value="{{c.country_id}}">{{ c.name }}</option>
                  </select>
                    
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-3 col-form-label">State</label>
                  <div class="col-sm-9">
                    <select formControlName="state_id" class="form-select form-select-sm">
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let s of stateData" value="{{s.state_id}}">{{ s.state_name }}</option>
                  </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-5 col-form-label">Duration</label>
                  <div class="col-sm-7">
                      <select class="form-select form-select-sm">
                        <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                          <option *ngFor="let f of financialData" value="{{f.financialyear_id}}">{{ f.financialyear }}</option>

                      </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-5 col-form-label">Company</label>
                  <div class="col-sm-7">
                    <select class="form-select form-select-sm">
                      <option>All</option>
                      <option value="taldihi">Taldihi</option>
                      <option value="jaunpur">Jaunpur</option>
                      <option value="noida45">Noida Sec-45</option>
                      <option value="delhi">Delhi</option>
                      <option value="noida">Noida</option>
                  </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-5 col-form-label"> Category</label>
                  <div class="col-sm-7">
                      <select class="form-select form-select-sm">
                          <option>All</option>
                          <option>Meter</option>
                          <option>220/33kV, 80MVA Power Transformer</option>
                      </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Project</label>
                  <div class="col-sm-8">
                      <select class="form-select form-select-sm">
                          <option>All</option>
                          <option>Jaunpur Project</option>
                          <option>Noida project</option>
                      </select>
                  </div>
                  </div>
              </div>
          </div>
        </form>
      </div>
  
  </div>
 
  
  <div class="row">
  <div class="col-md-3 cust-padding" routerLink="/dashboard/comp-dashboard">
    <div class="business-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-currency-inr text-center" style="font-size: 40px;"></i>
        </div>

      
        <div class="col-md-9">
          <h3> 300 Cr </h3>
          <hr>
         <h6> Revenue </h6>
        </div>
      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/fin-dashboard">
    <div class="cust-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-trophy-award text-center" style=" font-size: 44px;"></i>
        </div>
        <div class="col-md-9">
        <h3> 12  </h3>
          <hr>
         <h6>Projects Win  </h6>
        </div>
      </div> 
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/performance-dashboard">
    <div class="Profit-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-chart-line text-center" style="font-size: 36px;"></i>
        </div>
        <div class="col-md-9">
          <h3>12 </h3>
          <hr>
         <h6> EBITDA (%) </h6>
        </div>
  
      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/procurement-dashboard">
    <div class="loss-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-content-duplicate text-center" style=" font-size: 38px;"></i>
        </div>
        <div class="col-md-9">
         <h3> 10 </h3>
          <hr>
        <h6>Projects Completed </h6>
        </div>
  
      </div>
     
    </div>
  </div>    
  </div>
  
  <div class="row mt-1">
  <div class="col-md-3 cust-padding" routerLink="" >
    <div class="business-card p-2">
      <div class="row">
        <div class="col-md-5 ">
          <h6> 120 Cr </h6>
          <hr>
          <small>Previous yr</small>
        </div>
        <div class="col-md-5">
          <h6> 150% </h6>
          <hr>
          <small>Change</small>
        </div>
        <div class="col-md-2">
          <i class="mdi mdi-arrow-up mdi-36px text-center"></i>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/fin-dashboard">
    <div class="cust-card p-2">
      <div class="row">
        <div class="col-md-5">
          <h6> 6 </h6>
          <hr>
          <small>Previous Yr</small>
        </div>
        <div class="col-md-5">
          <h6> 100% </h6>
          <hr>
          <small>Change</small>
        </div>
        <div class="col-md-2">
          <i class="mdi mdi-arrow-up mdi-36px text-center"></i>
        </div>
      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/performance-dashboard">
    <div class="Profit-card p-2">
      <div class="row">
        <div class="col-md-5">
          <h6> 14 </h6>
          <hr>
          <small>Previous Yr</small>
        </div>
        <div class="col-md-5">
          <h6> -2% </h6>
          <hr>
          <small>Change</small>
        </div>
        <div class="col-md-2">
          <i class="mdi mdi-arrow-down mdi-36px text-center"></i>
        </div>
      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/procurement-dashboard">
    <div class="loss-card p-2">
      <div class="row">
        <div class="col-md-5">
          <h6> 5 </h6>
          <hr>
          <small>Previous Yr</small>
        </div>
        <div class="col-md-5">
          <h6> 100% </h6>
          <hr>
          <small>Change</small>
        </div>
        <div class="col-md-2">
          <i class="mdi mdi-arrow-up mdi-36px text-center"></i>
        </div>
      </div>
     
    </div>
  </div>    
  </div>
  
  <div class="row mt-2">

    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6" routerLink="/dashboard/performance-dashboard">
              <p class="card-title mb-2">Budget | Expense</p>
  
            </div>
            <div class="col-md-6">
              <div class="form-group row">
              <label class="col-sm-4 col-form-label" style="font-size: 12px; font-weight: 600;"> Yearly:</label>
              <div class="col-sm-8">
                <select class="form-select form-select-sm">
                  <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                    <option *ngFor="let f of financialData" value="{{f.financialyear_id}}">{{ f.financialyear }}</option>
                </select>
              </div>
              </div>
          </div>
         
          </div>
          <div class="" #containerPerformance>
            <div class="Highcharts " [chart]="LineChartGraph"></div>
           
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
       
            <p class="card-title mb-2 ">Revenue | Expense</p>
            <!-- <p class=" col-md-6 p-1 bg-warning text-center rounded">$000</p> -->
         
          <div class="chartBar" #containerRef5>
            <ngx-charts-area-chart
              [view]="[containerRef5.offsetWidth, 0]"
              [scheme]="lineColorSchemeFinance"
              [legend]="false"
              [gradient]="true"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxisf"
              [yAxis]="yAxisf"
              [xAxisLabel]="xAxisLabelf"
              [yAxisLabel]="yAxisLabelf"
              [results]="lineChartFinance"
              (select)="onSelect($event)">
            </ngx-charts-area-chart>
           
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank per_box1"></i> Rev</li>
            <li><i class="mdi mdi-checkbox-blank per_box2"></i> Exp</li>
            <li><i class="mdi mdi-checkbox-blank per_box3"></i> Profit</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Department wise performance -->
  <!-- <div class="row mt-1">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9" routerLink="/dashboard/performance-dashboard">
              <p class="card-title mb-2">Performance: Department Wise</p>
  
            </div>
            <div class="col-md-3">
              <div class="form-group row">
              <label class="col-sm-4 col-form-label"  style="font-size: 12px; font-weight: 600;"> Projects:</label>
              <div class="col-sm-8">
                  <select class="form-select form-select-sm">
                      <option>All</option>
                      <option>GEPDEC Energy</option>
                      <option>GEPDEC Infra</option>
                  </select>
              </div>
              </div>
          </div>
          </div>
          <div class="chartBar" #containerPerformance>
            <ngx-charts-bar-vertical
            [view]="[containerPerformance.offsetWidth, 200]"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis1"
            [yAxis]="showYAxis1"
            [legend]="false"
            [showXAxisLabel]="showXAxisLabel1"
            [showYAxisLabel]="showYAxisLabel1"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
          </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>

  </div> -->


  <div class="row mt-1">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card"  >
        <div class="card-body">
          <div class="row">
            <div class="col-md-9" routerLink="/dashboard/performance-dashboard">
              <p class="card-title mb-2">Performance: Department Wise</p>
            </div>
            <div class="col-md-3">
              <div class="form-group row">
              <label class="col-sm-4 col-form-label"  style="font-size: 12px; font-weight: 600;"> Projects:</label>
              <div class="col-sm-8">
                  <select class="form-select form-select-sm">
                      <option>All</option>
                      <option>GEPDEC Energy</option>
                      <option>GEPDEC Infra</option>
                  </select>
              </div>
              </div>
          </div>
          </div>
          <div class="chartBar" #businessPerformance>
            <ngx-charts-bar-vertical-2d
            [view]="[businessPerformance.offsetWidth, 190]"
            [scheme]="bpColorScheme"
            [results]="bpDepartment"
            [gradient]="true"
            [xAxis]="bpshowXAxis"
            [yAxis]="bpshowYAxis"
            [showXAxisLabel]="bpshowXAxisLabel"
            [showYAxisLabel]="bpshowYAxisLabel"
            [xAxisLabel]="bpxAxisLabelBar"
            [yAxisLabel]="bpyAxisLabelBar"
            [barPadding]="5"
            [groupPadding]="7">
          </ngx-charts-bar-vertical-2d>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6" routerLink="/dashboard/performance-dashboard">
              <p class="card-title mb-2">Project Wise Status</p>
  
            </div>
            <div class="col-md-3">
              <div class="form-group row">
              <label class="col-sm-4 col-form-label"  style="font-size: 12px; font-weight: 600;"> Yearly:</label>
              <div class="col-sm-8">
                  <select class="form-select form-select-sm">
                      <option value="2024">2024</option>
                      <option value="2025">2025</option>
                      <option value="2026">2026</option>
                      <option value="2027">2027</option>
                      <option value="2028">2028</option>
                      <option value="2029">2029</option>
                      <option value="2030">2030</option>
                      <option value="2031">2031</option>
                      <option value="2032">2031</option>
                  </select>
              </div>
              </div>
          </div>
            <div class="col-md-3">
              <div class="form-group row">
              <label class="col-sm-4 col-form-label"  style="font-size: 12px; font-weight: 600;"> Department:</label>
              <div class="col-sm-8">
                  <select class="form-select form-select-sm">
                      <option>All</option>
                      <option value="presales">Presales</option>
                      <option value="design">Design</option>
                      <option value="procurement">Procurement</option>
                      <option value="logistic">Logistic</option>
                      <option value="execution">Execution</option>
                      <option value="quality">Quality</option>
                      <option value="finance">Finance</option>
                      <option value="performance">Performance</option>
                  </select>
              </div>
              </div>
          </div>
          </div>
          <div class="" #containerPerformance>
            <div class="Highcharts " [chart]="scateredGraphPrject"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

 
  <!-- Top Deals project data -->
  <div class="row mt-1">
    <div class="col-md-6 col-sm-7 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-2">Top 5 Deals</p>
          <div class="cardHead">
            <div class="row">
              <div class="col-md-2">S No</div>
              <div class="col-md-4">Project Name</div>
              <div class="col-md-3">Category</div>
              <div class="col-md-3">Values(Cr)</div>
            </div>
          </div>
          <div class="card1 mt-1">
            <div class="row">
              <div class="col-md-2">1</div>
              <div class="col-md-4">Taldihi</div>
              <div class="col-md-3">330 Kv</div>
              <div class="col-md-3">300</div>
            </div>
          </div>
          <div class="card2 mt-1">
            <div class="row">
              <div class="col-md-2">2</div>
              <div class="col-md-4">Jaunpur</div>
              <div class="col-md-3">220 Kv</div>
              <div class="col-md-3">400</div>
            </div>
          </div>
          <div class="card3 mt-1">
            <div class="row">
              <div class="col-md-2">3</div>
              <div class="col-md-4">Noida Sec-45</div>
              <div class="col-md-3">220 Kv</div>
              <div class="col-md-3">300</div>
            </div>
          </div>
          <div class="card4 mt-1">
            <div class="row">
              <div class="col-md-2">4</div>
              <div class="col-md-4">Delhi</div>
              <div class="col-md-3">320 Kv</div>
              <div class="col-md-3">100</div>
            </div>
          </div>
          <div class="card5 mt-1">
            <div class="row">
              <div class="col-md-2">5</div>
              <div class="col-md-4">Noida</div>
              <div class="col-md-3">240 Kv</div>
              <div class="col-md-3">200</div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
              <p class="card-title mb-2">Top 5: State Wise Performance</p>
            <div class="chartBar" #containerRef>
              <div class="Highcharts " [chart]="statePie"></div>
           
            </div>
          </div>
        </div>
      </div>
  </div>
  
  </div>