<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
          <div class="mr-md-3 mr-xl-5">
            <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Warehouse Master Info</h4>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-end flex-wrap"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex my-10">
            <div class="col-lg-4">
              <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search">
            </div>
            <div class="col-lg-8">
              <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" (click)="selectWH({})" class="btn btn-primary btn-fw btn-sm float-right">+ Create New</button>
            </div>
          </div>
          <app-responsive-table>
            <thead class="table-primary text-nowrap">
              <tr>
                <th>Sr No</th>
                <th>Warehouse Code</th>
                <th>Warehouse Name</th>
                <th>Contact Person</th>
                <th>Contact No</th>
                <th>Email ID</th>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>District</th>
                <th>State</th>
                <th>Country</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr *ngFor="let a of wareHouseData | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                <td>{{ limit*(p-1)+i+1 }}</td>
                <td><a data-bs-toggle="modal" (click)="selectWH(a)" class="cursor-pointer text-primary" style="text-decoration: underline;" data-bs-target="#viewWH" title="Warehouse Profile">{{ a.wh_Code }}</a></td>
                <td>{{ a.wh_Name }}</td>
                <td>{{ a.WH_Head.name }}</td>
                <td>{{ a.WH_Head.mobileNo }}</td>
                <td>{{ a.WH_Head.eMail }}</td>
                <td>{{ a.address.address1 }}</td>
                <td>{{ a.address.address1 }}</td>
                <td>{{ a.address.district }}</td>
                <td>{{ a.address.state }}</td>
                <td>{{ a.address.country }}</td>
                <td><a data-bs-toggle="modal" data-bs-target="#editWH" (click)="selectWH(a)" title="edit Warehouse Profile"><span class="mdi mdi-pencil cursor-pointer mdi-18px"></span></a></td>
              </tr>
              <tr *ngIf="isNotFound == true">
                <td colspan="15" class="text-center"><div class="spinner-border"> </div></td>
              </tr>
              <tr *ngIf="wareHouseData?.length == 0">
                <td colspan="15" class="text-center"><div class="text-warning fw-semibold">Looks like no data available!</div></td>
              </tr>
            </tbody>
          </app-responsive-table>
          <div class="pagination-sec text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewWH" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ware house details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h1>Model</h1>
          {{selectedWH | json}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editWH" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ware house details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h1>Model</h1>
          {{selectedWH | json}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ware house details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h1>Model</h1>
          {{selectedWH | json}}
        </div>
      </div>
    </div>
  </div>
</div>
