<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
          <div class="mr-md-3 mr-xl-5">
            <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Warehouse</h4>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-end flex-wrap"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex my-10">
            <div class="col-lg-4">
              <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search">
            </div>
            <div class="col-lg-8">
              <button type="button" class="btn btn-primary btn-fw btn-sm float-right ms-2" title="Download List of Data in Excel" (click)="download()"><span class="mdi mdi-upload"></span>&nbsp; Export</button>
              <button type="button" class="btn btn-primary btn-fw btn-sm float-right" data-bs-toggle="modal" data-bs-target="#createModal" (click)="selectWH({})">+ Create</button>
            </div>
          </div>
          <app-responsive-table id="export">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Tender Ref No.</th>
                <th>Tender Title</th>
                <th>Warehouse Code</th>
                <th>Warehouse Name</th>
                <th>City</th>
                <th>District</th>
                <th>State</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr *ngFor="let a of wareHouseData | filter : searchText | paginate : { itemsPerPage: limit, currentPage: p }; index as i">
                <td>{{ limit * (p - 1) + i + 1 }}</td>
                <td>{{ a.tender_ref_no }}</td>
                <td>
                  <div *ngIf="!!a.tender_title; else elseBlock14" data-toggle="tooltip" data-placement="bottom" title="{{ a.tender_title }}">
                    {{a.tender_title | slice:0:30}} <span *ngIf="a.tender_title.length > 30">...<i class="mdi mdi-information"></i></span>
                  </div>
                  <ng-template #elseBlock14>
                      {{a.tender_title}}
                  </ng-template>
                </td>
                <td>{{ a.warehouse_code}}</td>
                <td>{{ a.warehouse_name }}</td>
                <td>{{ a.city }}</td>
                <td>{{ a.district }}</td>
                <td>{{ a.state }}</td>
                <td>
                  <a data-bs-toggle="modal" data-bs-target="#createModal" (click)="selectWH(a)" title="edit Warehouse Profile"><span class="mdi mdi-pencil cursor-pointer mdi-18px"></span></a>
                  <a class="" data-bs-toggle="modal" data-bs-target="#viewWH" title="Warehouse Profile" (click)="selectWH(a)"><span class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a> 
                </td>
              </tr>
              <tr *ngIf="isNotFound == true">
                <td colspan="15" class="text-center">
                  <div class="spinner-border"></div>
                </td>
              </tr>
              <tr *ngIf="wareHouseData?.length == 0">
                <td colspan="15" class="text-center">
                  <div class="text-warning fw-semibold"> Looks like no data available! </div>
                </td>
              </tr>
            </tbody>
          </app-responsive-table>
          <div class="pagination-sec text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewWH" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content" *ngIf="selectedWH?.warehouse_code">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ware house ({{ selectedWH.warehouse_code }}) details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 p-0">
              <div class="table-responsive" style="min-height: 300px">
                <h6 class="mb-2 text-secondary">Warehouse Details</h6>
                <table class="table table-hover table-striped custom-table">
                  <thead class="hidden-thead"></thead>
                  <tbody class="text-nowrap">
                    <tr>
                      <th>Warehouse Code</th>
                      <td>{{ selectedWH.warehouse_code }}</td>
                      <th>Warehouse Name</th>
                      <td>{{ selectedWH.warehouse_name }}</td>
                    </tr>
                    <tr>
                      <th>Created Date</th>
                      <td>{{ selectedWH.created }}</td>
                      <th>Created By</th>
                      <td>{{ selectedWH.createdby_name }}</td>
                    </tr>
                  </tbody>
                </table>
                <h6 class="mb-2 mt-4 text-secondary">Address Details</h6>
                <table class="table table-hover table-striped custom-table">
                  <thead class="hidden-thead"></thead>
                  <tbody class="text-nowrap">
                    <tr>
                      <th>Address 1</th>
                      <td>{{ selectedWH.address1 }}</td>
                      <th>Address 2</th>
                      <td>{{ selectedWH.address2 }}</td>
                      <th>City</th>
                      <td>{{ selectedWH.city }}</td>
                    </tr>
                    <tr>
                      <th>District</th>
                      <td>{{ selectedWH.district }}</td>
                      <th>State</th>
                      <td>{{ selectedWH.state }}</td>
                      <th>Country</th>
                      <td>{{ selectedWH.country }}</td>
                    </tr>
                    <tr>
                      <th>Pin Code</th>
                      <td>{{ selectedWH.pincode }}</td>
                      <th></th>
                      <td></td>
                      <th></th>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
                <h6 class="mb-2 mt-4 text-secondary">Contact Details</h6>
                <table class="table table-hover table-striped custom-table">
                  <thead class="table-primary text-nowrap">
                    <tr>
                      <th>S No</th>
                      <th>Person Name</th>
                      <th>Contact No. 1</th>
                      <th>Contact No. 2</th>
                      <th>E-Mail</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody class="text-nowrap">
                    <tr *ngFor="let a of selectedWH?.contacts; index as i">
                      <td>{{ i+1 }}</td>
                      <td>{{ a?.contact_name | titlecase }}</td>
                      <td>{{ a?.contactno1 }}</td>
                      <td>{{ a?.contactno2 }}</td>
                      <td>{{ a?.email }}</td>
                      <td>{{ a?.status }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{!update ? "Add" : "Update"}} Warehouse</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid scroll-container">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h6 class="mb-2 text-secondary">Warehouse Details</h6>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Tender Title<span class="required-asterisk">*</span></label>
                  <select formControlName="tender_id" class="form-select form-select-sm">
                    <option [selected]="true" [disabled]="true" [value]="null">select</option>
                    <option *ngFor="let t of tenderList" [value]="t.tender_id">{{ t.tender_title }}</option>
                  </select>
                  <div *ngIf="f['tender_id'].touched && f['tender_id'].invalid"><small class="text-danger" *ngIf="f['tender_id'].errors?.['required']">*Required</small></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Warehouse Name<span class="required-asterisk">*</span></label>
                  <input formControlName="warehouse_name" type="text" class="form-control form-control-sm" placeholder="Enter Warehouse Name" appWordCapitalize />
                  <div *ngIf="f['warehouse_name'].touched && f['warehouse_name'].invalid"><small class="text-danger" *ngIf="f['warehouse_name'].errors?.['required']">*Required</small></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Address<span class="required-asterisk">*</span></label>
                  <input formControlName="address1" type="text" class="form-control form-control-sm" placeholder="Enter Address">
                  <div *ngIf="f['address1'].touched && f['address1'].invalid"><small class="text-danger" *ngIf="f['address1'].errors?.['required']">*Required</small></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Address</label>
                  <input formControlName="address2" type="text" class="form-control form-control-sm" placeholder="Enter Address">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Country<span class="required-asterisk">*</span></label>
                  <select formControlName="country_id" class="form-select form-select-sm" (ngModelChange)="getStateData()">
                    <option [selected]="true" [disabled]="true" [value]="null">select</option>
                    <option *ngFor="let t of countryData" [value]="t.country_id">{{ t.name }}</option>
                  </select>
                  <div *ngIf="f['country_id'].touched && f['country_id'].invalid"><small class="text-danger" *ngIf="f['country_id'].errors?.['required']">*Required</small></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">State<span class="required-asterisk">*</span></label>
                  <select formControlName="state_id" class="form-select form-select-sm" (ngModelChange)="getDistrictData()">
                    <option [selected]="true" [disabled]="true" [value]="null">select</option>
                    <option *ngFor="let t of stateData" [value]="t.state_id">{{ t.state_name }}</option>
                  </select>
                  <div *ngIf="f['state_id'].touched && f['state_id'].invalid"><small class="text-danger" *ngIf="f['state_id'].errors?.['required']">*Required</small></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">District<span class="required-asterisk">*</span></label>
                  <select formControlName="district_id" class="form-select form-select-sm">
                    <option [selected]="true" [disabled]="true" [value]="null">select</option>
                    <option *ngFor="let t of districtData" [value]="t.district_id">{{ t.district_name }}</option>
                  </select>
                  <div *ngIf="f['district_id'].touched && f['district_id'].invalid"><small class="text-danger" *ngIf="f['district_id'].errors?.['required']">*Required</small></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">City</label>
                  <input formControlName="city" type="text" class="form-control form-control-sm" placeholder="Enter City">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Pin Code<span class="required-asterisk">*</span></label>
                  <input formControlName="pincode" type="text" class="form-control form-control-sm" placeholder="Enter Pin Code">
                  <div *ngIf="f['pincode'].touched && f['pincode'].invalid"><small class="text-danger" *ngIf="f['pincode'].errors?.['required']">*Required</small></div>
                </div>
              </div>
              <h6 class="my-2 text-secondary">Contact Details</h6>
              <div class="row">
                <div formArrayName="contacts">
                  <div *ngFor="let contact of contact().controls; let i = index" [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Contact Person Name<span class="required-asterisk">*</span></label>
                          <input formControlName="contact_name" type="text" class="form-control form-control-sm" placeholder="Enter person name">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="form-label">Designation<span class="required-asterisk">*</span></label>
                          <select formControlName="usdg_id" class="form-select form-select-sm">
                            <option [selected]="true" [disabled]="true" [value]="null">Select Designation</option>
                            <option *ngFor="let t of dataDropdownList.designation" [value]="t.usdg_id">{{t.designationname }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Primary Contact No.<span class="required-asterisk">*</span></label>
                        <input formControlName="contactno1" type="text" class="form-control form-control-sm" placeholder="Enter contact no.">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Secondary Contact No.</label>
                        <input formControlName="contactno2" type="text" class="form-control form-control-sm" placeholder="Enter contact no.">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Person E-Mail<span class="required-asterisk">*</span></label>
                        <input formControlName="email" type="email" class="form-control form-control-sm" placeholder="Enter person e-mail">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <button type="button" class="btn btn-primary btn-fw btn-sm" style="margin-top: 25px;" *ngIf="i > 0" (click)="removeContact(i)">Remove</button>
                    </div>
                  </div>
                </div>
                  <button type="button" class="btn btn-primary btn-fw btn-sm" (click)="addContact()">Add More Contact</button>
                </div>
              </div>
              <div class="modal-btns">
                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary btn-fw btn-sm mr-2"> {{!update ? "Add" : "Update"}}</button>
                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Adding...</button>
                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
