<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}"
    [ngStyle]="{'display': showModal ? 'block' : 'none'}" aria-labelledby="confirmModalLabel" aria-hidden="true"
    appDraggableModal>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">{{title}}</h5>
                <button type="button" class="close" aria-label="Close" (click)="onCancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{message}}
            </div>
            <div class="modal-btns p-3">
                <button type="button" class="btn btn-primary btn-fw btn-sm mr-2"
                    (click)="onConfirm()">{{buttonText}}</button>
                <button type="button" class="btn btn-secondary btn-fw btn-sm" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop" [ngClass]="{'show': showModal}" *ngIf="showModal"></div>