<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
          <div class="mr-md-3 mr-xl-5">
            <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Direct
              Costing</h4>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-end flex-wrap"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex my-10">
            <div class="col-lg-4">
              <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search">
            </div>
            <div class="col-lg-8">
              <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm float-right">+ Create</button> -->
            </div>
          </div>
          <app-responsive-table id="export">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Client</th>
                <th>Tender Title</th>
                <th>NIT No</th>
                <th>Publish Date</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Capacity</th>
                <th>Execution Location</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr
                *ngFor="let a of dataList | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                <td>{{ limit*(p-1)+i+1 }}</td>
                <td>{{ a.company_name}}</td>
                <td>
                  <app-slice-with-tooltip [text]="a?.tender_title"></app-slice-with-tooltip>
                </td>
                <td>
                  <app-slice-with-tooltip [text]="a?.tender_ref_no"></app-slice-with-tooltip>
                </td>
                <td>{{ a.publish_date | date:'dd/MM/yyyy' : 'GMT' }}</td>
                <td>{{ a.qacatagory }}</td>
                <td>{{ a.subqacatagory }}</td>
                <td>{{ a.capacity }}</td>
                <td>
                  <app-location-section-shared [tenderLocation]="a?.tender_location" [rowData]="a" (locationClick)="rowLocation($event)">
                                  </app-location-section-shared>
                </td>
                <td><a class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#detailModal"
                    (click)="getBOQList(a)"><span class="mdi mdi-eye text-success mdi-18px"></span></a></td>
              </tr>
              <tr *ngIf="isNotFound == true">
                <td colspan="15" class="text-center">
                  <div class="text-warning fw-semibold">Looks like no data available!</div>
                </td>
              </tr>
              <tr *ngIf="dataList?.length == 0">
                <td colspan="15" class="text-center">
                  <div class="spinner-border"></div>
                </td>
              </tr>
            </tbody>
          </app-responsive-table>
          <div class="pagination-sec text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Direct Costing</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 p-0">
              <div class="table-responsive">
                <!-- <table class="table table-hover table-striped custom-table mb-3 table-bordered">
                  <thead class="table-primary text-nowrap">
                    <tr>
                      <th colspan="6" class="text-center">Tender Detail</th>
                    </tr>
                  </thead>
                  <tbody class="text-nowrap">
                    <tr>
                      <th>Client</th>
                      <td>{{ selectedBOQRow?.company_name }}</td>
                      <th> NIT No</th>
                      <td>
                        <div *ngIf="!!selectedBOQRow?.tender_ref_no; else elseBlock3" data-toggle="tooltip"
                          data-placement="bottom" title="{{ selectedBOQRow?.tender_ref_no }}">
                          {{selectedBOQRow?.tender_ref_no | slice:0:30}} <span
                            *ngIf="selectedBOQRow?.tender_ref_no.length > 30">...<i
                              class="mdi mdi-information"></i></span></div>
                        <ng-template #elseBlock3>{{selectedBOQRow?.tender_ref_no}}</ng-template>
                      </td>
                      <th>Tender Title</th>
                      <td>
                        <div *ngIf="!!selectedBOQRow?.tender_title; else elseBlock9" data-toggle="tooltip"
                          data-placement="bottom" title="{{ selectedBOQRow?.tender_title }}">
                          {{selectedBOQRow?.tender_title | slice:0:30}} <span
                            *ngIf="selectedBOQRow?.tender_title.length > 30">...<i
                              class="mdi mdi-information"></i></span></div>
                        <ng-template #elseBlock9>{{selectedBOQRow?.tender_title}}</ng-template>
                      </td>
                    </tr>
                    <tr>
                      <th>Publish Date</th>
                      <td>{{ selectedBOQRow?.publish_date | date:'dd/MM/yyyy' : 'GMT' }}</td>
                      <th>Category </th>
                      <td>{{ selectedBOQRow?.qacatagory }}</td>
                      <th>Sub Category </th>
                      <td>{{ selectedBOQRow?.subqacatagory }}</td>
                    </tr>
                    <tr>
                      <th>Capacity </th>
                      <td>{{ selectedBOQRow?.capacity }}</td>
                      <th>Execution Location</th>
                      <td colspan="3">{{ selectedBOQRow?.tender_location }}</td>
                    </tr>
                  </tbody>
                </table> -->
                <app-tender-detail [itemList]="selectedBOQRow"></app-tender-detail>
                <ng-container class="mt-1">
                  <div class="table-responsive pt-2 mb-2" style="min-height: auto;">
                    <table class="table table-hover table-striped">
                      <thead class="table-primary text-nowrap">
                        <tr>
                          <th>S No</th>
                          <th>BOQ Code</th>
                          <th>BOQ Category</th>
                          <th>BOQ Sub Category</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody class="text-nowrap">
                        <tr *ngFor="let boq of selectedBOQRow?.boq; index as i">
                          <td>{{ limit*(p-1)+i+1 }}</td>
                          <td>{{ boq?.boq_code }}</td>
                          <td>{{ boq?.itemcategory }}</td>
                          <td>{{ boq?.subcategory }}</td>
                          <td>
                            <a (click)="getItemList(boq)" class="me-1" data-bs-toggle="modal"
                              data-bs-target="#updateItemModel"><span
                                class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a>
                            <a (click)="getItemList(boq)" class="me-1" data-bs-toggle="modal"
                              data-bs-target="#itemListModel"><span
                                class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a>
                            <a href="{{apiLink}}/{{ itemList?.path }}" class="cursor-pointer" download
                              target="_blank"><span
                                class="mdi mdi-download text-success cursor-pointer mdi-18px"></span></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateItemModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Direct Costing</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal"
          data-bs-target="#detailModal"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row px-2">
            <table class="table table-hover table-striped custom-table table-bordered">
              <thead class="table-primary text-nowrap">
                <tr>
                  <th colspan="6" class="text-center">Tender Detail</th>
                </tr>
              </thead>
              <tbody class="text-nowrap">
                <tr>
                  <th>Client</th>
                  <td>{{ selectedBOQRow?.company_name }}</td>
                  <th> NIT No</th>
                  <td>
                    <div *ngIf="!!selectedBOQRow?.tender_ref_no; else elseBlock6" data-toggle="tooltip"
                      data-placement="bottom" title="{{ selectedBOQRow?.tender_ref_no }}">
                      {{selectedBOQRow?.tender_ref_no | slice:0:30}} <span
                        *ngIf="selectedBOQRow?.tender_ref_no.length > 30">...<i class="mdi mdi-information"></i></span>
                    </div>
                    <ng-template #elseBlock6>{{selectedBOQRow?.tender_ref_no}}</ng-template>
                  </td>
                  <th>Tender Title</th>
                  <td>
                    <div *ngIf="!!selectedBOQRow?.tender_title; else elseBlock4" data-toggle="tooltip"
                      data-placement="bottom" title="{{ selectedBOQRow?.tender_title }}">{{selectedBOQRow?.tender_title
                      | slice:0:30}} <span *ngIf="selectedBOQRow?.tender_title.length > 30">...<i
                          class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock4>{{selectedBOQRow?.tender_title}}</ng-template>
                  </td>
                </tr>
                <tr>
                  <th>Publish Date</th>
                  <td>{{ selectedBOQRow?.publish_date | date: 'dd/MM/yyyy' : 'GMT' }}</td>
                  <th>Category</th>
                  <td>{{ selectedBOQRow?.qacatagory }}</td>
                  <th>Sub-Category</th>
                  <td>{{ selectedBOQRow?.subqacatagory }}</td>
                </tr>
                <tr>
                  <th>Capacity</th>
                  <td>{{ selectedBOQRow?.capacity }}</td>
                  <th>Execution Location</th>
                  <td colspan="3">{{ selectedBOQRow?.tender_location }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row px-2">
            <h6 class="mt-2 text-secondary">BOQ Detail</h6>
            <table class="table table-hover table-striped custom-table table-bordered">
              <thead></thead>
              <tbody class="text-nowrap">
                <tr>
                  <th>BOQ Code</th>
                  <td>{{ itemList?.boq_code }}</td>
                  <th>BOQ Category</th>
                  <td>{{ itemList?.itemcategory}}</td>
                  <th>BOQ Sub-Category</th>
                  <td>{{ itemList?.subcategory}}</td>
                </tr>
                <tr>
                  <th>Created Date</th>
                  <td>{{ itemList?.created | date: 'dd/MM/yyyy' : 'GMT' }}</td>
                  <th>Status</th>
                  <td>{{ itemList?.status }}</td>
                  <th>Purchase Cost</th>
                  <td>{{ itemList?.purchaseCost | currency: 'INR': '' : '1.0-2' }}</td>
                </tr>
                <tr>
                  <th>Purchase Cost with GST</th>
                  <td>{{ itemList?.purchaseCostWithGST | currency: 'INR': '' : '1.0-2' }}</td>
                  <th>Purchase Cost with Freight</th>
                  <td>{{ itemList?.purchaseCostWithFreight | currency: 'INR': '' : '1.0-2' }}</td>
                  <th>Total Purchase Amount</th>
                  <td>{{ itemList?.totalPurchaseAmount | currency: 'INR': '' : '1.0-2' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-md-12 p-0">
              <div class="table-responsive pt-2 mb-2" style="min-height: auto;">
                <h6 class="text-secondary mt-2">Item Detail</h6>
                <table class="table table-hover table-striped">
                  <thead class="table-primary text-nowrap">
                    <tr>
                      <th>S No</th>
                      <th>Item Code</th>
                      <th>Description</th>
                      <th>UOM</th>
                      <th>Category</th>
                      <th>Sub-Category</th>
                      <th>HSN Code</th>
                      <th>Unit Price</th>
                      <th>Quantity</th>
                      <th class="text-end">Total Price</th>
                      <th>GST (%)</th>
                      <th>Freight</th>
                      <th><label for="selectall"><input type="checkbox" id="selectall"
                            (click)="selectAllItems($event);">&nbsp;Select All</label></th>
                    </tr>
                  </thead>
                  <tbody class="text-nowrap">
                    <ng-container *ngFor="let item of itemList?.items; index as i">
                      <tr>
                        <td>{{ i+1 }}</td>
                        <td>{{ item?.itemcode }}</td>
                        <td>
                          <div *ngIf="!!item?.description; else elseBlock10" data-toggle="tooltip"
                            data-placement="bottom" title="{{ item?.description }}"> {{item?.description | slice:0:30}}
                            <span *ngIf="item?.description.length > 30">...<i class="mdi mdi-information"></i></span>
                          </div>
                          <ng-template #elseBlock10> {{item?.description}} </ng-template>
                        </td>
                        <td>{{ item?.uom }}</td>
                        <td>{{ item?.itemcategory }}</td>
                        <td>{{ item?.subcategory }}</td>
                        <td>{{ item?.hsn_code }}</td>
                        <td> <input type="number" class="form-control form-control-sm" style="width: 75px;"
                            [disabled]="item?.isDisabled" [value]="item?.unit_price" [(ngModel)]="item.unit_price">
                        </td>
                        <td>{{ item?.qty }}</td>
                        <td class="text-end">{{ item?.unit_price * item?.qty | currency: 'INR': '' : '1.0-2' }}</td>
                        <td class="text-end">{{ item?.gst }}</td>
                        <td><input type="number" class="form-control form-control-sm" style="width: 75px;"
                            [disabled]="item?.isDisabled" [value]="item?.freight_charges"></td>
                        <td class="text-center"><input type="checkbox" [checked]="item?.isDisabled"
                            (click)="onItemSelect(item);disableRow(item)"></td>
                      </tr>
                      <ng-container *ngIf="item?.childItemList?.length > 0">
                        <tr *ngFor="let childItem of item?.childItemList; index as ci">
                          <td class="ms-2">&nbsp; &nbsp; &nbsp;{{i+1}}.{{ci+1}}</td>
                          <td>{{ childItem?.itemcode }}</td>
                          <td>
                            <div *ngIf="!!childItem?.description; else elseBlock11" data-toggle="tooltip"
                              data-placement="bottom" title="{{ childItem?.description }}"> {{childItem?.description |
                              slice:0:30}} <span *ngIf="childItem?.description.length > 30">...<i
                                  class="mdi mdi-information"></i></span></div>
                            <ng-template #elseBlock11> {{childItem?.description}} </ng-template>
                          </td>
                          <td>{{ childItem?.uom }}</td>
                          <td>{{ childItem?.itemcategory }}</td>
                          <td>{{ childItem?.subcategory }}</td>
                          <td>{{ childItem?.hsn_code }}</td>
                          <td><input type="number" class="form-control form-control-sm" style="width: 75px;"
                              [disabled]="childItem?.isDisabled" [(ngModel)]="childItem.unit_price"></td>
                          <td>{{ childItem?.qty }}</td>
                          <td class="text-end">{{ childItem?.unit_price * childItem?.qty | currency: 'INR': '' : '1.0-2'
                            }}</td>
                          <td class="text-end">{{ childItem?.gst }}</td>
                          <td><input type="number" class="form-control form-control-sm" style="width: 75px;"
                              [disabled]="childItem?.isDisabled" [value]="childItem?.freight_charges"></td>
                          <td class="text-center"><input type="checkbox" [checked]="childItem?.isDisabled"
                              (click)="onItemSelect(childItem);disableChildRow(item, childItem)"></td>
                        </tr>
                      </ng-container>
                    </ng-container>
                    <tr class="table-footer fw-bold">
                      <td colspan="9">Total Cost</td>
                      <td class="text-end">{{ itemList?.purchaseCost | currency: 'INR': '' : '1.0-2' }}</td>
                      <td colspan="4"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer py-0">
        <div class="row float-right mt-2">
          <div class="my-1">
            <button type="submit" class="btn btn-primary btn-fw btn-sm mr-2" (click)="onSubmit()">Update</button>
            <button type="button" id="editItemCostingData" class="btn btn-secondary btn-fw btn-sm"
              data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#detailModal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="itemListModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Direct Costing</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal"
          data-bs-target="#detailModal"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row px-2">
            <table class="table table-hover table-striped custom-table table-bordered">
              <thead class="table-primary text-nowrap">
                <tr>
                  <th colspan="6" class="text-center">Tender Detail</th>
                </tr>
              </thead>
              <tbody class="text-nowrap">
                <tr>
                  <th>Client</th>
                  <td>{{ selectedBOQRow?.company_name }}</td>
                  <th> NIT No</th>
                  <td>
                    <div *ngIf="!!selectedBOQRow?.tender_ref_no; else elseBlock7" data-toggle="tooltip"
                      data-placement="bottom" title="{{ selectedBOQRow?.tender_ref_no }}">
                      {{selectedBOQRow?.tender_ref_no | slice:0:30}} <span
                        *ngIf="selectedBOQRow?.tender_ref_no.length > 30">...<i class="mdi mdi-information"></i></span>
                    </div>
                    <ng-template #elseBlock7>{{selectedBOQRow?.tender_ref_no}}</ng-template>
                  </td>
                  <th>Tender Title</th>
                  <td>
                    <div *ngIf="!!selectedBOQRow?.tender_title; else elseBlock8" data-toggle="tooltip"
                      data-placement="bottom" title="{{ selectedBOQRow?.tender_title }}">{{selectedBOQRow?.tender_title
                      | slice:0:30}} <span *ngIf="selectedBOQRow?.tender_title.length > 30">...<i
                          class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock8>{{selectedBOQRow?.tender_title}}</ng-template>
                  </td>
                </tr>
                <tr>
                  <th>Publish Date</th>
                  <td>{{ selectedBOQRow?.publish_date | date: 'dd/MM/yyyy' : 'GMT' }}</td>
                  <th>Category</th>
                  <td>{{ selectedBOQRow?.qacatagory }}</td>
                  <th>Sub-Category</th>
                  <td>{{ selectedBOQRow?.subqacatagory }}</td>
                </tr>
                <tr>
                  <th>Capacity</th>
                  <td>{{ selectedBOQRow?.capacity }}</td>
                  <th>Execution Location</th>
                  <td colspan="3">{{ selectedBOQRow?.tender_location }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row px-2">
            <h6 class="mt-2 text-secondary">BOQ Detail</h6>
            <table class="table table-hover table-striped custom-table table-bordered">
              <thead></thead>
              <tbody class="text-nowrap">
                <tr>
                  <th>BOQ Code</th>
                  <td>{{ itemList?.boq_code }}</td>
                  <th>BOQ Category</th>
                  <td>{{ itemList?.itemcategory}}</td>
                  <th>BOQ Sub-Category</th>
                  <td>{{ itemList?.subcategory}}</td>
                </tr>
                <tr>
                  <th>Created Date</th>
                  <td>{{ itemList?.created | date: 'dd/MM/yyyy' : 'GMT' }}</td>
                  <th>Status</th>
                  <td>{{ itemList?.status }}</td>
                  <th>Purchase Cost</th>
                  <td>{{ itemList?.purchaseCost | currency: 'INR': '' : '1.0-2' }}</td>
                </tr>
                <tr>
                  <th>Purchase Cost with GST</th>
                  <td>{{ itemList?.purchaseCostWithGST | currency: 'INR': '' : '1.0-2' }}</td>
                  <th>Purchase Cost with Freight</th>
                  <td>{{ itemList?.purchaseCostWithFreight | currency: 'INR': '' : '1.0-2' }}</td>
                  <th>Total Purchase Amount</th>
                  <td>{{ itemList?.totalPurchaseAmount | currency: 'INR': '' : '1.0-2' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h6 class="mt-2 text-secondary">Item Detail</h6>
          <app-responsive-table>
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Item Code</th>
                <th>Description</th>
                <th>UOM</th>
                <th>Category</th>
                <th>Sub-Category</th>
                <th>Quantity</th>
                <th>Unit Purchase Cost</th>
                <th>Purchase Cost</th>
                <th>HSN Code</th>
                <th>GST (%)</th>
                <th>Purchase Cost with GST</th>
                <th>Freight</th>
                <th>Purchase Cost with Freight</th>
                <th>Total Purchase Amount</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <ng-container *ngFor="let item of itemList?.items; index as i">
                <tr class="fw-bold">
                  <td>{{ i+1 }}</td>
                  <td>{{ item?.itemcode }}</td>
                  <td>
                    <div *ngIf="!!item?.description; else elseBlock12" data-toggle="tooltip" data-placement="bottom"
                      title="{{ item?.description }}"> {{item?.description | slice:0:30}} <span
                        *ngIf="item?.description.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock12> {{item?.description}} </ng-template>
                  </td>
                  <td>{{ item?.uom }}</td>
                  <td>{{ item?.itemcategory }}</td>
                  <td>{{ item?.subcategory }}</td>
                  <td>{{ item?.qty }}</td>
                  <td>{{ item?.unit_price | currency: 'INR': '' : '1.0-2' }}</td>
                  <td class="text-end">{{ item?.total_value | currency: 'INR': '' : '1.0-2' }}</td>
                  <td>{{ item?.hsn_code }}</td>
                  <td>{{ item?.gst }}</td>
                  <td class="text-end">{{ item?.totalPriceWithGST | currency: 'INR': '' : '1.0-2' }}</td>
                  <td>{{ item?.freight_charges | currency: 'INR': '' : '1.0-2' }}</td>
                  <td class="text-end">{{ item?.totalWithFreight | currency: 'INR': '' : '1.0-2' }}</td>
                  <td class="text-end">{{ item?.totalWithFreightWithGST | currency: 'INR': '' : '1.0-2' }}
                  </td>
                </tr>
                <ng-container *ngIf="item?.childItemList?.length > 0">
                  <tr *ngFor="let childItem of item?.childItemList; index as ci">
                    <td class="ms-2">&nbsp; &nbsp; &nbsp;{{i+1}}.{{ci+1}}</td>
                    <td>{{ childItem?.itemcode }}</td>
                    <td>
                      <div *ngIf="!!childItem?.description; else elseBlock5" data-toggle="tooltip"
                        data-placement="bottom" title="{{ childItem?.description }}"> {{childItem?.description |
                        slice:0:30}} <span *ngIf="childItem?.description.length > 30">...<i
                            class="mdi mdi-information"></i></span></div>
                      <ng-template #elseBlock5> {{childItem?.description}} </ng-template>
                    </td>
                    <td>{{ childItem?.uom }}</td>
                    <td>{{ childItem?.itemcategory }}</td>
                    <td>{{ childItem?.subcategory }}</td>
                    <td>{{ childItem?.qty }}</td>
                    <td>{{ childItem?.unit_price | currency: 'INR': '' : '1.0-2' }}</td>
                    <td class="text-end">{{ childItem?.total_value | currency: 'INR': '' : '1.0-2' }}</td>
                    <td>{{ childItem?.hsn_code }}</td>
                    <td>{{ childItem?.gst }}</td>
                    <td class="text-end">{{ childItem?.totalPriceWithGST | currency: 'INR': '' : '1.0-2' }}
                    </td>
                    <td>{{ childItem?.freight_charges | currency: 'INR': '' : '1.0-2' }}</td>
                    <td class="text-end">{{ childItem?.totalWithFreight | currency: 'INR': '' : '1.0-2' }}
                    </td>
                    <td class="text-end">{{ childItem?.totalWithFreightWithGST | currency: 'INR': '' : '1.0-2'
                      }}</td>
                  </tr>
                </ng-container>
              </ng-container>
              <tr class="table-footer fw-bold">
                <td colspan="8">Total Cost</td>
                <td class="text-end">{{ itemList?.purchaseCost | currency: 'INR': '' : '1.0-2' }}</td>
                <td colspan="2"></td>
                <td class="text-end">{{ itemList?.purchaseCostWithGST | currency: 'INR': '' : '1.0-2' }}</td>
                <td></td>
                <td class="text-end">{{ itemList?.purchaseCostWithFreight | currency: 'INR': '' : '1.0-2' }}</td>
                <td class="text-end">{{ itemList?.totalPurchaseAmount | currency: 'INR': '' : '1.0-2' }}
                </td>
              </tr>
            </tbody>
          </app-responsive-table>
        </div>
      </div>
      <div class="modal-footer py-0">
        <div class="row float-right mt-2">
          <div class="my-1">
            <button type="button" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal" data-bs-toggle="modal"
              data-bs-target="#detailModal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>