<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
          <div class="mr-md-3 mr-xl-5">
            <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>BOQ Items</h4>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-end flex-wrap"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex my-10">
            <div class="col-lg-4">
              <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search">
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-6">
              <div class="float-right">
                <button class="btn btn-primary btn-fw btn-sm me-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><span class="mdi mdi-upload"></span>&nbsp;Export</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li (click)="download()">
                    <a class="dropdown-item text-small cursor-pointer"><span class="mdi mdi-arrow-down-bold-box-outline"></span>Export Data</a>
                  </li>
                  <li>
                    <a class="dropdown-item text-small cursor-pointer" href="../../../../assets/tamplate/BOQ_upload_template.xlsx" download="BOQ_upload_template.xlsx"><span class="mdi mdi-download"></span>Download&nbsp;Template</a>
                  </li>
                </ul>
                <button class="btn btn-primary btn-fw btn-sm me-2" data-bs-toggle="modal" data-bs-target="#createBulkModal" title="Upload bulk Data"><span class="mdi mdi-download"></span>&nbsp; Import</button>
              </div>
            </div>
          </div>
          <app-responsive-table id="export">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Client</th>
                <th>Tender Title</th>
                <th>NIT No</th>
                <th>Publish Date</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Capacity </th>
                <th>Execution Location</th>

                <th>BOQ Category</th>
                <th>BOQ Sub Category</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr *ngFor="let a of boqData | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                <td>{{ limit*(p-1)+i+1 }}</td>
                <td>{{ a.company_name}}</td>
                <td>
                  <div *ngIf="!!a.tender_title; else elseBlock1" data-toggle="tooltip" data-placement="bottom" title="{{ a.tender_title }}">{{a.tender_title | slice:0:30}} <span *ngIf="a.tender_title.length > 30">...<i class="mdi mdi-information"></i></span></div>
                  <ng-template #elseBlock1>{{a.tender_title}}</ng-template>
                </td>
                <td>
                  <div *ngIf="!!a?.tender_ref_no; else elseBlock2" data-toggle="tooltip" data-placement="bottom" title="{{ a?.tender_ref_no }}">{{a?.tender_ref_no | slice:0:30}} <span *ngIf="a?.tender_ref_no.length > 30">...<i class="mdi mdi-information"></i></span></div>
                  <ng-template #elseBlock2>{{a?.tender_ref_no}}</ng-template>
                </td>
                <td>{{ a.publish_date | date:'dd/MM/yyyy' : 'GMT' }}</td>
                <td>{{ a.category }}</td>
                <td>{{ a.sub_category }}</td>
                <td>{{ a.capacity }}</td>
                <td>{{ a.exe_date }}</td>
                <td>{{ a.itemcategory }}</td>
                <td>{{ a.subcategory }}</td>
                <td>{{ a.status }}</td>
                <td>
                  <a data-bs-toggle="modal" data-bs-target="#boqListModel" (click)="getEditBOQList(a)" title="Edit BOQ Items Details" ><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a>&nbsp;
                  <a data-bs-toggle="modal" data-bs-target="#boqListModel" title="View Details" (click)="getBOQList(a)"><span class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a>
                </td>
              </tr>
              <tr *ngIf="isNotFound == true">
                <td colspan="15" class="text-center">
                  <div class="text-warning fw-semibold">Looks like no data available!</div>
                </td>
              </tr>
              <tr *ngIf="boqData?.length == 0">
                <td colspan="15" class="text-center">
                  <div class="spinner-border"></div>
                </td>
              </tr>
            </tbody>
          </app-responsive-table>
          <div class="pagination-sec text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createBulkModal" tabindex="-1" aria-labelledby="bulkModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">BOQ Items Bulk Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form [formGroup]="form1" (ngSubmit)="onBOQSubmit()">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="form-label fl-10">Client<span class="required-asterisk">*</span></label>
                  <select formControlName="utility_id" class="form-select form-select-sm" (ngModelChange)="getDetails($event)">
                    <option [selected]="true" [disabled]="true" [value]="null">Select Client Company</option>
                    <option *ngFor="let c of companyList" value="{{c.company_id}}">{{ c.company_name }}</option>
                  </select>
                  <div *ngIf="fb['utility_id'].touched && fb['utility_id'].invalid">
                    <small class="text-danger" *ngIf="fb['utility_id'].errors?.['required']">*Required</small>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="form-label fl-10">Tender Title<span class="required-asterisk">*</span></label>
                  <select formControlName="tender_id" class="form-select form-select-sm" (ngModelChange)="getrefData($event)">
                    <option [selected]="true" [disabled]="true">Select Project</option>
                    <option *ngFor="let c of tenderDetailsData" value="{{c.tender_id}}">{{c.tender_title}}</option>
                  </select>
                  <div *ngIf="fb['tender_id'].touched && fb['tender_id'].invalid">
                    <small class="text-danger" *ngIf="fb['tender_id'].errors?.['required']">*Required</small>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="form-label fl-10">NIT No</label>
                  <input class="form-control form-control-sm" readonly value="{{ filterTenderDetailsData[0]?.tender_ref_no }}">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="form-label fl-10">Publish Date</label>
                  <input class="form-control form-control-sm" readonly value="{{filterTenderDetailsData[0]?.publish_date | date: 'dd/MM/yyyy' : 'GMT' }}">
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label fl-10">Category</label>
                    <input class="form-control form-control-sm" readonly >  <!--value="{{filterTenderDetailsData[0]?.qacatagory}}"-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label fl-10">Sub-Category</label>
                    <input class="form-control form-control-sm" readonly ><!--value="{{filterTenderDetailsData[0]?.qacatagory}}"-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label fl-10">Capacity</label>
                    <input class="form-control form-control-sm" readonly><!--value="{{filterTenderDetailsData[0]?.qacatagory}}"-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label fl-10">Execution Location</label>
                    <input class="form-control form-control-sm" readonly ><!--value="{{filterTenderDetailsData[0]?.qacatagory}}"-->
                </div>
            </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">BOQ Category<span class="required-asterisk">*</span></label>
                  <select formControlName="itemCategory" class="form-select form-select-sm">
                    <option [selected]="true" [disabled]="true" [value]="null">Select Category</option>
                    <option *ngFor="let t of dataCatList" [value]="t.itemcategory_id">{{ t.itemcategory }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">BOQ Sub-Category<span class="required-asterisk">*</span></label>
                  <select formControlName="itemSubCategory" class="form-select form-select-sm">
                    <option [selected]="true" [disabled]="true" [value]="null">Select Sub-category</option>
                    <option *ngFor="let t of dataSubList" [value]="t.subcategory_id">{{ t.subcategory }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12 mt-1">
                <label class="form-label fl-10">Please ensure your file is named 'BOQ_sample_template' <span class="required-asterisk">*</span>
                </label><br>
                <input class="mt-2" type="file" class="form-control form-control-sm" formControlName="attachment" (change)="onFileChanged($event)" accept=".xlsx, .xls" />
              </div>
            </div>
            <div class="row px-2 my-2" *ngIf="errorItemList.length > 0">
              <label class="form-label">Error Items List (Given Items are not in the list)</label>
              <div class="alert alert-danger d-flex align-items-center" role="alert" *ngFor="let error of errorItemList">
                <div><span class="mdi mdi-alert-circle mdi-18px"></span>&nbsp;&nbsp;{{error['Item Code']}} - {{error['Description of Item']}}</div>
              </div>
            </div>
            <div class="float-right my-2">
              <button type="submit" *ngIf="!isSubmitted" class="btn btn-primary btn-fw btn-sm me-2" [disabled]="form1.invalid"> Upload</button>
              <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" aria-hidden="true"></span>Uploading...</button>
              <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="boqListModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ update ? 'Edit' : 'View' }} BOQ Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <table class="table table-hover table-striped custom-table">
              <thead class="table-primary text-nowrap">
                <tr>
                  <th colspan="6" class="text-center">Tender Information</th>
                </tr>
              </thead>
              <tbody class="text-nowrap">
                <tr>
                  <th>Client</th>
                  <td>{{ boqList?.company_name }}</td>
                  <th> NIT No</th>
                  <td>
                    <div *ngIf="!!boqList?.tender_ref_no; else elseBlock3" data-toggle="tooltip" data-placement="bottom" title="{{ boqList?.tender_ref_no }}"> {{boqList?.tender_ref_no | slice:0:30}} <span *ngIf="boqList?.tender_ref_no.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock3>{{boqList?.tender_ref_no}}</ng-template>
                  </td>
                  <th>Tender Title</th>
                  <td>
                    <div *ngIf="!!boqList?.tender_title; else elseBlock4" data-toggle="tooltip" data-placement="bottom" title="{{ boqList?.tender_title }}">{{boqList?.tender_title | slice:0:30}} <span *ngIf="boqList?.tender_title.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock4>{{boqList?.tender_title}}</ng-template>
                  </td>
                </tr>
                <tr>
                  <th>Publish Date</th>
                  <td>{{ boqList?.publish_date | date: 'dd/MM/yyyy hh:mm a' : 'GMT' }}</td>
                  <th>Execution Location</th>
                  <td>{{ boqList?.tender_location }}</td>
                  <th></th>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <app-responsive-table class="mt-2">
              <thead class="table-primary text-nowrap">
                <tr>
                  <th>S No</th>
                  <th>BOQ Code</th>
                  <th>Category</th>
                  <th>Sub Category</th>
                  <th>Created By</th>
                  <th>Created Date</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="text-nowrap">
                <tr *ngFor="let boq of boqList?.boqs; index as i">
                  <td>{{ limit*(p-1)+i+1 }}</td>
                  <td>{{ boq?.boq_code }}</td>
                  <td>{{ boq?.category }}</td>
                  <td>{{ boq?.subcategory }}</td>
                  <td>{{ boq?.createdby_name }}</td>
                  <td>{{ boq?.created | date: 'dd/MM/yyyy hh:mm a' : 'GMT' }}</td>
                  <td>{{ boq?.status }}</td>
                  <td>
                    <a *ngIf="update" (click)="getBOQItemList(boq)" data-bs-toggle="modal" data-bs-target="#itemListModel"><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a>&nbsp;
                    <a (click)="getBOQItemList(boq)"  data-bs-toggle="modal" data-bs-target="#itemListModel"><span class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a>
                  </td>
                </tr>
              </tbody>
            </app-responsive-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="itemListModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ update ? 'Edit' : 'View' }} BOQ Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row px-2">
            <table class="table table-hover table-striped custom-table">
              <thead class="table-primary text-nowrap">
                <tr>
                  <th colspan="6" class="text-center">Tender Information</th>
                </tr>
              </thead>
              <tbody class="text-nowrap">
                <tr>
                  <th>Client</th>
                  <td>{{ boqList?.company_name }}</td>
                  <th> NIT No</th>
                  <td>
                    <div *ngIf="!!boqList?.tender_ref_no; else elseBlock3" data-toggle="tooltip" data-placement="bottom" title="{{ boqList?.tender_ref_no }}"> {{boqList?.tender_ref_no | slice:0:30}} <span *ngIf="boqList?.tender_ref_no.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock3>{{boqList?.tender_ref_no}}</ng-template>
                  </td>
                  <th>Tender Title</th>
                  <td>
                    <div *ngIf="!!boqList?.tender_title; else elseBlock4" data-toggle="tooltip" data-placement="bottom" title="{{ boqList?.tender_title }}">{{boqList?.tender_title | slice:0:30}} <span *ngIf="boqList?.tender_title.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock4>{{boqList?.tender_title}}</ng-template>
                  </td>
                </tr>
                <tr>
                  <th>Publish Date</th>
                  <td>{{ boqList?.publish_date | date: 'dd/MM/yyyy' : 'GMT' }}</td>
                  <th>Execution Location</th>
                  <td>{{ boqList?.tender_location }}</td>
                  <th></th>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <app-responsive-table class="mt-2">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Item Code</th>
                <th>Description</th>
                <th>UOM</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Basic Value</th>
                <th>Freight Charges</th>
                <th *ngIf="update">Action</th>
                <th *ngIf="update">Select</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <ng-container *ngFor="let item of itemList?.items; index as i">
                <tr class="fw-bold">
                  <td>{{ i+1 }}</td>
                  <td>{{ item?.itemcode }}</td>
                  <td>
                    <div *ngIf="!!item?.description; else elseBlock5" data-toggle="tooltip" data-placement="bottom" title="{{ item?.description }}">{{item?.description | slice:0:30}} <span *ngIf="item?.description.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock5>{{item?.description}}</ng-template>
                  </td>
                  <td>{{ item?.uom }}</td>
                  <td>{{ item?.qty }}</td>
                  <td>{{ item?.unit_price }}</td>
                  <td>{{ item?.qty * item?.unit_price }}</td>
                  <td>{{ item?.freight_charges }}</td>
                  <td *ngIf="update">
                    <a (click)="editBOQParentItemList(item)" data-bs-toggle="modal" data-bs-target="#boqParentItemFormModel"><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a>&nbsp;
                    <a (click)="deleteBOQParentItemList(item)"><span class="mdi mdi-playlist-remove text-danger cursor-pointer mdi-18px"></span></a>
                  </td>
                  <td *ngIf="update">
                    <input type="checkbox" (change)="selectItemForUpdate(item)">
                  </td>
                </tr>
                <ng-container *ngIf="item?.childItemList?.length > 0">
                  <tr *ngFor="let childItem of item?.childItemList; index as ci">
                    <td>&nbsp; &nbsp; &nbsp;{{i+1}}.{{ci+1}}</td>
                    <td> {{childItem?.itemcode}}</td>
                    <td>
                      <div *ngIf="!!childItem?.description; else elseBlock5" data-toggle="tooltip" data-placement="bottom" title="{{ childItem?.description }}">{{childItem?.description | slice:0:30}} <span *ngIf="childItem?.description.length > 30">...<i class="mdi mdi-information"></i></span></div>
                      <ng-template #elseBlock5>{{childItem?.description}}</ng-template>
                    </td>
                    <td>{{ childItem?.uom }}</td>
                    <td>{{ childItem?.qty }}</td>
                    <td>{{ childItem?.unit_price }}</td>
                    <td>{{ childItem?.qty * childItem?.unit_price }}</td>
                    <td>{{ childItem?.freight_charges }}</td>
                    <td *ngIf="update">
                      <a (click)="editBOQChildItemList(item, childItem)" data-bs-target="#boqChildItemFormModel" data-bs-toggle="modal"><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a>&nbsp;
                      <a (click)="deleteBOQChildItemList(item, childItem)"><span class="mdi mdi-playlist-remove text-danger cursor-pointer mdi-18px"></span></a>
                    </td>
                    <td *ngIf="update">
                      <input type="checkbox" (click)="selectItemForUpdate(childItem)">
                    </td>
                  </tr>
                </ng-container>
                <tr *ngIf="update == true">
                  <td colspan="9" class="text-right"><a (click)="selectParentForAddChildItem(item)" class="me-3" data-bs-target="#boqAddChildItemFormModel" data-bs-toggle="modal"><span class="mdi mdi-playlist-plus text-success cursor-pointer mdi-18px"></span></a></td>
                  <td></td>
                </tr>
              </ng-container>
              <tr *ngIf="update">
                <td colspan="9" class="text-right"><a class="me-4" data-bs-target="#boqAddParentItemFormModel" data-bs-toggle="modal"><span class="mdi mdi-playlist-plus text-success cursor-pointer mdi-18px"></span></a></td>
                <td></td>
              </tr>
            </tbody>
          </app-responsive-table>
          <div class="row float-right mt-2" *ngIf="update">
            <div class="my-1">
              <button type="submit" class="btn btn-primary btn-fw btn-sm mr-2">Update</button>
              <button type="button" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#boqListModel">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="boqAddParentItemFormModel" tabindex="-1" aria-labelledby="boqParentItemFormModelLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="boqAddParentItemFormModelLabel">Add Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h6 class="mb-1 text-secondary">Tender Information</h6>
          <div class="row px-2 mb-2">
            <table class="table table-hover table-striped custom-table">
              <thead></thead>
              <tbody class="text-nowrap">
                <tr>
                  <th>Client</th>
                  <td>{{ boqList?.company_name }}</td>
                  <th> NIT No</th>
                  <td>
                    <div *ngIf="!!boqList?.tender_ref_no; else elseBlock3" data-toggle="tooltip" data-placement="bottom" title="{{ boqList?.tender_ref_no }}"> {{boqList?.tender_ref_no | slice:0:30}} <span *ngIf="boqList?.tender_ref_no.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock3>{{boqList?.tender_ref_no}}</ng-template>
                  </td>
                  <th>Tender Title</th>
                  <td>
                    <div *ngIf="!!boqList?.tender_title; else elseBlock4" data-toggle="tooltip" data-placement="bottom" title="{{ boqList?.tender_title }}">{{boqList?.tender_title | slice:0:30}} <span *ngIf="boqList?.tender_title.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock4>{{boqList?.tender_title}}</ng-template>
                  </td>
                </tr>
                <tr>
                  <th>Publish Date</th>
                  <td>{{ boqList?.publish_date | date: 'dd/MM/yyyy' : 'GMT' }}</td>
                  <th>Execution Location</th>
                  <td>{{ boqList?.tender_location }}</td>
                  <th></th>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h6 class="mb-1 text-secondary">Add Item</h6>
          <div class="row">
            <form [formGroup]="addParentItemForm" (ngSubmit)="addParentItem()">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label" for="itemcode">Item Code<span class="required-asterisk">*</span></label>
                    <input formControlName="itemcode" type="text" id="itemcode" list="itemListData" class="form-control form-control-sm">
                    <datalist id="itemListData">
                      <option *ngFor="let item of itemListData" [value]="item.itemcode">{{item.description}}</option>
                    </datalist>
                    <div *ngIf="pic['itemcode'].touched && pic['itemcode'].invalid">
                      <small class="text-danger" *ngIf="pic['itemcode'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Quantity<span class="required-asterisk">*</span></label>
                    <input formControlName="qty" type="text" class="form-control form-control-sm">
                    <div *ngIf="pic['qty'].touched && pic['qty'].invalid">
                      <small class="text-danger" *ngIf="pic['qty'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Unit Price<span class="required-asterisk">*</span></label>
                    <input formControlName="unit_price" type="text" class="form-control form-control-sm">
                    <div *ngIf="pic['unit_price'].touched && pic['unit_price'].invalid">
                      <small class="text-danger" *ngIf="pic['unit_price'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Freight Charges<span class="required-asterisk">*</span></label>
                    <input formControlName="freight_charges" type="text" class="form-control form-control-sm">
                    <div *ngIf="pic['freight_charges'].touched && pic['freight_charges'].invalid">
                      <small class="text-danger" *ngIf="pic['freight_charges'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="modal-btns mt-3">
                  <button type="submit" *ngIf="update; else create" class="btn btn-primary btn-fw btn-sm mr-2" data-bs-toggle="modal" data-bs-target="#itemListModel">Update</button>
                  <ng-template #create> <button type="submit" class="btn btn-primary btn-fw btn-sm mr-2" data-bs-toggle="modal" data-bs-target="#itemListModel">Update</button></ng-template>
                  <button type="button" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#itemListModel">Close</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="boqAddChildItemFormModel" tabindex="-1" aria-labelledby="boqAddChildItemFormModelLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="boqAddChildItemFormModelLabel">Add Child Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h6 class="mb-1 text-secondary">Tender Information</h6>
          <div class="row px-2 mb-2">
            <table class="table table-hover table-striped custom-table">
              <thead></thead>
              <tbody class="text-nowrap">
                <tr>
                  <th>Client</th>
                  <td>{{ boqList?.company_name }}</td>
                  <th> NIT No</th>
                  <td>
                    <div *ngIf="!!boqList?.tender_ref_no; else elseBlock3" data-toggle="tooltip" data-placement="bottom" title="{{ boqList?.tender_ref_no }}"> {{boqList?.tender_ref_no | slice:0:30}} <span *ngIf="boqList?.tender_ref_no.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock3>{{boqList?.tender_ref_no}}</ng-template>
                  </td>
                  <th>Tender Title</th>
                  <td>
                    <div *ngIf="!!boqList?.tender_title; else elseBlock4" data-toggle="tooltip" data-placement="bottom" title="{{ boqList?.tender_title }}">{{boqList?.tender_title | slice:0:30}} <span *ngIf="boqList?.tender_title.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock4>{{boqList?.tender_title}}</ng-template>
                  </td>
                </tr>
                <tr>
                  <th>Publish Date</th>
                  <td>{{ boqList?.publish_date | date: 'dd/MM/yyyy' : 'GMT' }}</td>
                  <th>Execution Location</th>
                  <td>{{ boqList?.tender_location }}</td>
                  <th></th>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h6 class="mb-1 text-secondary">Parent Item Detail</h6>
          <div class="row px-2 mb-2">
            <table class="table table-hover table-striped custom-table">
              <thead></thead>
              <tbody class="text-nowrap">
                <tr>
                  <th>Description</th>
                  <td colspan="5">{{selectParentItemForUpdateChild?.description}}</td>
                </tr>
                <tr>
                  <th>Item Code</th>
                  <td>{{ selectParentItemForUpdateChild?.itemcode }}</td>
                  <th>UOM</th>
                  <td>{{ selectParentItemForUpdateChild?.uom }}</td>
                  <th>Quantity</th>
                  <td>{{ selectParentItemForUpdateChild?.qty }}</td>
                </tr>
                <tr>
                  <th>Item Category</th>
                  <td>{{ selectParentItemForUpdateChild?.itemcategory }}</td>
                  <th>Item Sub Category</th>
                  <td>{{ selectParentItemForUpdateChild?.subcategory }}</td>
                  <th>Unit Price</th>
                  <td>{{ selectParentItemForUpdateChild?.unit_price }}</td>
                </tr>
                <tr>
                  <th>GST</th>
                  <td>{{ selectParentItemForUpdateChild?.gst }}</td>
                  <th>Freight Charges</th>
                  <td>{{ selectParentItemForUpdateChild?.freight_charges }}</td>
                  <th></th>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h6 class="mb-1 text-secondary">Add Item</h6>
          <div class="row">
            <form [formGroup]="addChildItemForm" (ngSubmit)="addBOQChildItem()">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label" for="itemcode">Item Code<span class="required-asterisk">*</span></label>
                    <input formControlName="itemcode" type="text" id="itemcode" list="itemListData" class="form-control form-control-sm">
                    <datalist id="itemListData">
                      <option *ngFor="let item of itemListData" [value]="item.itemcode">{{item.description}}</option>
                    </datalist>
                    <div *ngIf="pic['itemcode'].touched && pic['itemcode'].invalid">
                      <small class="text-danger" *ngIf="pic['itemcode'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Quantity<span class="required-asterisk">*</span></label>
                    <input formControlName="qty" type="text" class="form-control form-control-sm">
                    <div *ngIf="pic['qty'].touched && pic['qty'].invalid">
                      <small class="text-danger" *ngIf="pic['qty'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Unit Price<span class="required-asterisk">*</span></label>
                    <input formControlName="unit_price" type="text" class="form-control form-control-sm">
                    <div *ngIf="pic['unit_price'].touched && pic['unit_price'].invalid">
                      <small class="text-danger" *ngIf="pic['unit_price'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Freight Charges<span class="required-asterisk">*</span></label>
                    <input formControlName="freight_charges" type="text" class="form-control form-control-sm">
                    <div *ngIf="pic['freight_charges'].touched && pic['freight_charges'].invalid">
                      <small class="text-danger" *ngIf="pic['freight_charges'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="modal-btns mt-3">
                  <button type="submit" *ngIf="update; else create" class="btn btn-primary btn-fw btn-sm mr-2" data-bs-toggle="modal" data-bs-target="#itemListModel">Update</button>
                  <ng-template #create> <button type="submit" class="btn btn-primary btn-fw btn-sm mr-2" data-bs-toggle="modal" data-bs-target="#itemListModel">Update</button></ng-template>
                  <button type="button" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#itemListModel">Close</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="boqParentItemFormModel" tabindex="-1" aria-labelledby="boqParentItemFormModelLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="boqParentItemFormModelLabel">BOQ Parent Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row px-2 mb-2">
            <table class="table table-hover table-striped custom-table">
              <thead class="table-primary text-nowrap">
                <tr>
                  <th colspan="6" class="text-center">Tender Information</th>
                </tr>
              </thead>
              <tbody class="text-nowrap">
                <tr>
                  <th>Client</th>
                  <td>{{ boqList?.company_name }}</td>
                  <th> NIT No</th>
                  <td>
                    <div *ngIf="!!boqList?.tender_ref_no; else elseBlock3" data-toggle="tooltip" data-placement="bottom" title="{{ boqList?.tender_ref_no }}"> {{boqList?.tender_ref_no | slice:0:30}} <span *ngIf="boqList?.tender_ref_no.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock3>{{boqList?.tender_ref_no}}</ng-template>
                  </td>
                  <th>Tender Title</th>
                  <td>
                    <div *ngIf="!!boqList?.tender_title; else elseBlock4" data-toggle="tooltip" data-placement="bottom" title="{{ boqList?.tender_title }}">{{boqList?.tender_title | slice:0:30}} <span *ngIf="boqList?.tender_title.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock4>{{boqList?.tender_title}}</ng-template>
                  </td>
                </tr>
                <tr>
                  <th>Publish Date</th>
                  <td>{{ boqList?.publish_date | date: 'dd/MM/yyyy' : 'GMT' }}</td>
                  <th>Execution Location</th>
                  <td>{{ boqList?.tender_location }}</td>
                  <th></th>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h6 class="mb-1 text-secondary">Edit Item</h6>
          <div class="row">
            <form [formGroup]="editParentItemForm" (ngSubmit)="updateParentItem()">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Item Code<span class="required-asterisk">*</span></label>
                    <input formControlName="itemcode" type="text" readonly class="form-control form-control-sm">
                    <div *ngIf="pic['itemcode'].touched && pic['itemcode'].invalid">
                      <small class="text-danger" *ngIf="pic['itemcode'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Quantity<span class="required-asterisk">*</span></label>
                    <input formControlName="qty" type="text" class="form-control form-control-sm">
                    <div *ngIf="pic['qty'].touched && pic['qty'].invalid">
                      <small class="text-danger" *ngIf="pic['qty'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Unit Price<span class="required-asterisk">*</span></label>
                    <input formControlName="unit_price" type="text" class="form-control form-control-sm">
                    <div *ngIf="pic['unit_price'].touched && pic['unit_price'].invalid">
                      <small class="text-danger" *ngIf="pic['unit_price'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Freight Charges<span class="required-asterisk">*</span></label>
                    <input formControlName="freight_charges" type="text" class="form-control form-control-sm">
                    <div *ngIf="pic['freight_charges'].touched && pic['freight_charges'].invalid">
                      <small class="text-danger" *ngIf="pic['freight_charges'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="modal-btns mt-3">
                  <button type="submit" *ngIf="update; else create" class="btn btn-primary btn-fw btn-sm mr-2" data-bs-toggle="modal" data-bs-target="#itemListModel">Update</button>
                  <ng-template #create> <button type="submit" class="btn btn-primary btn-fw btn-sm mr-2" data-bs-toggle="modal" data-bs-target="#itemListModel">Update</button></ng-template>
                  <button type="button" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#itemListModel">Close</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="boqChildItemFormModel" tabindex="-1" aria-labelledby="boqChildItemFormModelLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="boqParentItemFormModelLabel">BOQ Child Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h6 class="mb-1 text-secondary">Tender Information</h6>
          <div class="row px-2 mb-2">
            <table class="table table-hover table-striped custom-table">
              <thead></thead>
              <tbody class="text-nowrap">
                <tr>
                  <th>Client</th>
                  <td>{{ boqList?.company_name }}</td>
                  <th> NIT No</th>
                  <td>
                    <div *ngIf="!!boqList?.tender_ref_no; else elseBlock3" data-toggle="tooltip" data-placement="bottom" title="{{ boqList?.tender_ref_no }}"> {{boqList?.tender_ref_no | slice:0:30}} <span *ngIf="boqList?.tender_ref_no.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock3>{{boqList?.tender_ref_no}}</ng-template>
                  </td>
                  <th>Tender Title</th>
                  <td>
                    <div *ngIf="!!boqList?.tender_title; else elseBlock4" data-toggle="tooltip" data-placement="bottom" title="{{ boqList?.tender_title }}">{{boqList?.tender_title | slice:0:30}} <span *ngIf="boqList?.tender_title.length > 30">...<i class="mdi mdi-information"></i></span></div>
                    <ng-template #elseBlock4>{{boqList?.tender_title}}</ng-template>
                  </td>
                </tr>
                <tr>
                  <th>Publish Date</th>
                  <td>{{ boqList?.publish_date | date: 'dd/MM/yyyy' : 'GMT' }}</td>
                  <th>Execution Location</th>
                  <td>{{ boqList?.tender_location }}</td>
                  <th></th>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h6 class="mb-1 text-secondary">Parent Item Detail</h6>
          <div class="row px-2 mb-2">
            <table class="table table-hover table-striped custom-table">
              <thead></thead>
              <tbody class="text-nowrap">
                <tr>
                  <th>Description</th>
                  <td colspan="5">{{selectParentItemForUpdateChild?.description}}</td>
                </tr>
                <tr>
                  <th>Item Code</th>
                  <td>{{ selectParentItemForUpdateChild?.itemcode }}</td>
                  <th>UOM</th>
                  <td>{{ selectParentItemForUpdateChild?.uom }}</td>
                  <th>Quantity</th>
                  <td>{{ selectParentItemForUpdateChild?.qty }}</td>
                </tr>
                <tr>
                  <th>Item Category</th>
                  <td>{{ selectParentItemForUpdateChild?.itemcategory }}</td>
                  <th>Item Sub Category</th>
                  <td>{{ selectParentItemForUpdateChild?.subcategory }}</td>
                  <th>Unit Price</th>
                  <td>{{ selectParentItemForUpdateChild?.unit_price }}</td>
                </tr>
                <tr>
                  <th>GST</th>
                  <td>{{ selectParentItemForUpdateChild?.gst }}</td>
                  <th>Freight Charges</th>
                  <td>{{ selectParentItemForUpdateChild?.freight_charges }}</td>
                  <th></th>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h6 class="mb-1 text-secondary">Edit Item</h6>
          <div class="row">
            <form [formGroup]="editChildItemForm" (ngSubmit)="updateBOQChildItemList()">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Item Code<span class="required-asterisk">*</span></label>
                    <input formControlName="itemcode" type="text" readonly class="form-control form-control-sm">
                    <div *ngIf="pic['itemcode'].touched && pic['itemcode'].invalid">
                      <small class="text-danger" *ngIf="pic['itemcode'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Quantity<span class="required-asterisk">*</span></label>
                    <input formControlName="qty" type="text" class="form-control form-control-sm">
                    <div *ngIf="pic['qty'].touched && pic['qty'].invalid">
                      <small class="text-danger" *ngIf="pic['qty'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Unit Price<span class="required-asterisk">*</span></label>
                    <input formControlName="unit_price" type="text" class="form-control form-control-sm">
                    <div *ngIf="pic['unit_price'].touched && pic['unit_price'].invalid">
                      <small class="text-danger" *ngIf="pic['unit_price'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">Freight Charges<span class="required-asterisk">*</span></label>
                    <input formControlName="freight_charges" type="text" class="form-control form-control-sm">
                    <div *ngIf="pic['freight_charges'].touched && pic['freight_charges'].invalid">
                      <small class="text-danger" *ngIf="pic['freight_charges'].errors?.['required']">*Required</small>
                    </div>
                  </div>
                </div>
                <div class="modal-btns mt-3">
                  <button type="submit" *ngIf="update; else create" class="btn btn-primary btn-fw btn-sm mr-2" data-bs-toggle="modal" data-bs-target="#itemListModel">Update</button>
                  <ng-template #create> <button type="submit" class="btn btn-primary btn-fw btn-sm mr-2" data-bs-toggle="modal" data-bs-target="#itemListModel">Update</button></ng-template>
                  <button type="button" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#itemListModel">Close</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
