<div class="content-wrapper">
   <!-- filter data country state project wise -->
   <div class="col-md-12">
    <div class="row module-wise ">
    <div class="col-md-1" style="font-size: 14px; margin-top: 6px; font-family:'Times New Roman', Times, serif"> 
      <i class="mdi mdi-filter-outline mdi-26px "></i> Filter 
        </div>
    <div class="col-md-11" style="font-family:'Times New Roman', Times, serif">
        <form  [formGroup]="form">
          <div class=" d-flex">
              <div class="col-md-2">
                <!-- <i class="mdi mdi-filter-outline mdi-26px"></i> &nbsp; -->
                  <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Country</label>
                  <div class="col-sm-8">
                    <select  class="form-select form-select-sm" formControlName="country_id" (ngModelChange)="StateData()">
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let c of countryData" value="{{c.country_id}}">{{ c.name }}</option>
                  </select>
                    
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-3 col-form-label">State</label>
                  <div class="col-sm-9">
                    <select formControlName="state_id" class="form-select form-select-sm">
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let s of stateData" value="{{s.state_id}}">{{ s.state_name }}</option>
                  </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-5 col-form-label">Duration</label>
                  <div class="col-sm-7">
                      <select class="form-select form-select-sm">
                        <option>All</option>
                          <option>April 22 - March 23</option>
                          <option>April 23 - March 24</option>
                          <option>April 24 - March 25</option>
                          <option>April 25 - March 26</option>
                        
                      </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-5 col-form-label">Company</label>
                  <div class="col-sm-7">
                      <select class="form-select form-select-sm">
                          <option>All</option>
                          <option>GEPDEC Energy Project</option>
                          <option>GEPDEC Infra Project</option>
                      </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-5 col-form-label"> Category</label>
                  <div class="col-sm-7">
                      <select class="form-select form-select-sm">
                          <option>All</option>
                          <option>Meter</option>
                          <option>220/33kV, 80MVA Power Transformer</option>
                      </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Project</label>
                  <div class="col-sm-8">
                      <select class="form-select form-select-sm">
                          <option>All</option>
                          <option>Jaunpur Project</option>
                          <option>Noida project</option>
                      </select>
                  </div>
                  </div>
              </div>
          </div>
        </form>
      </div>
  
  </div>
  </div>
  
  

    <div class="row ">
    <div class="col-md-3 cust-padding" routerLink="/dashboard/comp-dashboard" >
      <div class="business-card p-1">
        <div class="row">
          <div class="col-md-3">
            <svg fill="none" viewBox="0 0 24 24" fill="currentColor" class="absolute right-0 bottom-0 h-32 w-32 -mr-8 -mb-8 text-green-600 opacity-50 bi bi-currency-rupee" viewBox="0 0 16 16">
              <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
            </svg>
          
          </div>
          <div class="col-md-9">
            <h2> 300 Cr </h2>
            <h6> Revenue </h6>
          </div>
    
        </div>

        <div class=" " routerLink="" >
            <div class="row p-1">
              <div class="col-md-5 ">
                <div> 120 Cr </div>
               
                <small>Previous</small>
              </div>
              <div class="col-md-5">
                <div> 150% </div>
              
                <small>change</small>
              </div>
              <div class="col-md-2">
                <i class="mdi mdi-arrow-up text-center" style="color: #ffffff;font-size:22px"></i>
              </div>
            </div>
        </div> 
    
      </div>
    </div> 
    <div class="col-md-3 cust-padding" routerLink="/dashboard/fin-dashboard">
      <div class="cust-card p-1">
        <div class="row">
          <div class="col-md-3">
            <svg fill="none" viewBox="0 0 24 24" fill="currentColor" fill="currentColor" class="bi bi-award-fill absolute right-0 bottom-0 h-32 w-32 -mr-8 -mb-8 text-green-600 opacity-50" viewBox="0 0 16 16">
              <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864z"/>
              <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
            </svg>
           
            <!-- <i class="mdi mdi-trophy-award text-center" style="color: #ffffff; font-size: 44px;"></i> -->
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4">
                <h2> 12 </h2>
                <h6> Win </h6>
              </div>
              <div class="col-md-2">
                <span class="vr mt-3 text-light"></span>
              </div>
              <div class="col-md-4">
                <h2> 20 </h2>
                <h6> Bid </h6>
              </div>

            </div>
         
          </div>
    
        </div>
        <div class="row p-1">
          <div class="col-md-5">
            <div> 6 </div>
          
            <small>Previous</small>
          </div>
          <div class="col-md-5">
            <div> 100% </div>
          
            <small>change</small>
          </div>
          <div class="col-md-2">
            <i class="mdi mdi-arrow-up text-center" style="color: #ffffff; font-size:22px"></i>
          </div>
        </div>

      </div>
    </div> 
    <div class="col-md-3 cust-padding" routerLink="/dashboard/performance-dashboard">
      <div class="Profit-card p-1">
        <div class="row">
          <div class="col-md-3">
           
            <svg fill="none" viewBox="0 0 20 20" fill="currentColor" class="bi bi-graph-up-arrow absolute right-0 bottom-0 h-32 w-32 -mr-8 -mb-8 text-green-600 opacity-50" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
            </svg>
            <!-- <i class="mdi mdi-chart-line text-center" style="color: #ffffff;font-size: 36px;"></i> -->
          </div>
          <div class="col-md-9">
            <h2>12 </h2>
           <h6> Gross Profit (%) </h6>
          </div>
    
        </div>
        <div class="row p-1">
          <div class="col-md-5">
            <div> 14 </div>
          
            <small>Previous</small>
          </div>
          <div class="col-md-5">
            <div> -2% </div>
        
            <small>change</small>
          </div>
          <div class="col-md-2">
            <i class="mdi mdi-arrow-down text-center" style="color: #ffffff;font-size:22px"></i>
          </div>
        </div>
       
      </div>
    </div> 
    <div class="col-md-3 cust-padding" routerLink="/dashboard/procurement-dashboard">
      <div class="loss-card p-1">
        <div class="row">
          <div class="col-md-3">
            <svg fill="none" viewBox="0 0 24 24" fill="currentColor" class="bi bi-list-check absolute right-0 bottom-0 h-32 w-32 -mr-8 -mb-8 text-green-600 opacity-50" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
            </svg>
            <!-- <i class="mdi mdi-content-duplicate text-center" style="color: #ffffff; font-size: 38px;"></i> -->
          </div>
          <div class="col-md-9">
           <h2> 10 </h2>
          <h6>Project Completed </h6>
          </div>
    
        </div>
        <div class="row p-1">
          <div class="col-md-5">
            <div> 5 </div>
          
            <small>Previous</small>
          </div>
          <div class="col-md-5">
            <div> 100% </div>
          
            <small>change</small>
          </div>
          <div class="col-md-2">
            <i class="mdi mdi-arrow-up text-center" style="color: #ffffff; font-size:22px"></i>
          </div>
        </div>


      </div>
    </div>    
    </div>
  
    <div class="row mt-2">
      <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Performance</p>
       
            <div class="chartBar" #containerRef4>
              <ngx-charts-bar-vertical-2d
              [view]="[containerRef4.offsetWidth, 190]"
              [scheme]="colorSchemeLoadQuarter"
              [results]="performancePDPEQ"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [gradient]="true"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBarLoad"
              [yAxisLabel]="yAxisLabelBarLoad"
              [barPadding]="5"
              [groupPadding]="7">
  
              <!-- <ng-template #tooltipTemplate let-model="model">
                <div class="custom-tooltip">
                  <p>{{ model.name }}</p>
                  <p>{{ model.data.toLocaleString() }} ({{ model.data / total * 100 | number: '1.2-2' }}%)</p>
                </div>
              </ng-template> -->
  
            </ngx-charts-bar-vertical-2d>
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank load_box1"></i> Total</li>
              <li><i class="mdi mdi-checkbox-blank load_box4"></i> Completed</li>
              <!-- <li><i class="mdi mdi-checkbox-blank load_box3"></i> Profit</li> -->
              <!-- <li><i class="mdi mdi-checkbox-blank load_box4"></i> Q4</li> -->
              <!-- <li><i class="mdi mdi-checkbox-blank load_box5"></i> Q5</li>
              <li><i class="mdi mdi-checkbox-blank load_box6"></i> Q6</li> -->
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
         
              <p class="card-title mb-2 ">Performance: Achievement | Target</p>
              <!-- <p class=" col-md-6 p-1 bg-warning text-center rounded">$000</p> -->
           
            <div class="chartBar" #containerRef5>
              <ngx-charts-area-chart
                [view]="[containerRef5.offsetWidth, 210]"
                [scheme]="lineColorSchemeFinance"
                [legend]="legendf"
                [gradient]="false"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxisf"
                [yAxis]="yAxisf"
                [xAxisLabel]="xAxisLabelf"
                [yAxisLabel]="yAxisLabelf"
                [results]="lineChartFinance"
                (select)="onSelect($event)">
              </ngx-charts-area-chart>
             
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank per_box1"></i> Rev</li>
              <li><i class="mdi mdi-checkbox-blank per_box2"></i> Exp</li>
              <li><i class="mdi mdi-checkbox-blank per_box3"></i> Profit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Department wise performance -->
    <div class="row mt-1">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card"  >
          <div class="card-body">
            <div class="row">
              <div class="col-md-9" routerLink="/dashboard/performance-dashboard">
                <p class="card-title mb-2">Performance: Department Wise</p>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                <label class="col-sm-4 col-form-label"  style="font-size: 12px; font-weight: 600;"> Projects:</label>
                <div class="col-sm-8">
                    <select class="form-select form-select-sm">
                        <option>All</option>
                        <option>GEPDEC Energy</option>
                        <option>GEPDEC Infra</option>
                    </select>
                </div>
                </div>
            </div>
            </div>
            <div class="chartBar" #businessPerformance>
              <ngx-charts-bar-vertical-2d
              [view]="[businessPerformance.offsetWidth, 190]"
              [scheme]="bpColorScheme"
              [results]="bpDepartment"
              [gradient]="true"
              [xAxis]="bpshowXAxis"
              [yAxis]="bpshowYAxis"
              [showXAxisLabel]="bpshowXAxisLabel"
              [showYAxisLabel]="bpshowYAxisLabel"
              [xAxisLabel]="bpxAxisLabelBar"
              [yAxisLabel]="bpyAxisLabelBar"
              [barPadding]="5"
              [groupPadding]="7">
            </ngx-charts-bar-vertical-2d>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank box1"></i> Last Year</li>
              <li><i class="mdi mdi-checkbox-blank box2"></i> This Year</li>
            </ul> -->
            
          </div>
        </div>
      </div>
    </div>
   
    <!-- Top Deals project data -->
    <div class="row mt-1">
      <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Top 5 Deals</p>
            <div class="table-responsive ht-auto">
              <table class="table table-hover table-striped">
                <thead class="table-primary text-nowrap">
                  <tr>
                      <th>Project Name</th>
                      <th>Category</th>
                      <th>Value</th>
                    
                  </tr>
                </thead>
                <tbody class="text-nowrap">
                  <tr>
                      <td>Information</td>
                      <td>410</td>
                      <td>300</td>
                  </tr>
                  <tr>
                      <td>Data</td>
                      <td>520</td>
                      <td>1490</td>
                  </tr>
                  <tr>
                      <td>Info</td>
                      <td>300</td>
                      <td>522</td>
                  </tr>
                  <tr>
                      <td>Pending data</td>
                      <td>300</td>
                      <td>522</td>
                  </tr>
                  <tr>
                      <td>Information</td>
                      <td>300</td>
                      <td>522</td>
                  </tr>
               
                </tbody>
              </table>
            </div>
                             
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
                <p class="card-title mb-2">Top 10: State Wise Performance</p>
              <div class="chartBar" #containerRef>
                <ngx-charts-pie-chart
                [view]="[containerRef.offsetWidth, 220]"
                [results]="data"
                [legend]="false"
                [gradient]="false"
                [scheme]="colorSchemeState">
                <ng-template #tooltipTemplate let-model="model">
                  <h5 class="p-1">
                    {{model.name}}
                  </h5>
                  <h5 class="p-1">{{model.value}}</h5>
                </ng-template>
              </ngx-charts-pie-chart>
              </div>
             
              <!-- <ul class="cust-legend">
                <li><i class="mdi mdi-checkbox-blank box1"></i> Last Year</li>
                <li><i class="mdi mdi-checkbox-blank box2"></i> This Year</li>
              </ul> -->
              
            </div>
          </div>
        </div>
    
    </div>
    
    <!-- filter- progress-data -->
    <div class="col-md-12 mt-1 b-progress">
      <div class="row">
        <div class="col-md-9 mt-1" routerLink="">
          <h5 class="card-title mb-2 mt-2">Progress Report:</h5>
    
        </div>
        <div class="col-md-3 mt-1">
          <div class="form-group row">
          <label class="col-sm-4 col-form-label"  style="font-size: 12px; font-weight: 600;"> Duration:</label>
          <div class="col-sm-8">
              <select class="form-select form-select-sm">
                  <option>All</option>
                  <option>GEPDEC Energy</option>
                  <option>GEPDEC Infra</option>
              </select>
          </div>
          </div>
      </div>
      </div>
    </div>
        <!-- PreSales-data-chart -->
      <div class="row mt-1">
        <div class="col-md-6 grid-margin stretch-card pe-0">
          <div class="card">
            <div class="card-body">
              <p class="card-title mb-2">PreSales</p>
              <div class="chartBar" #containerRef5>
                <ngx-charts-line-chart
                [view]="[containerRef5.offsetWidth, 210]"
                [scheme]="colorSchemeLoadQuarter"
                [results]="lineChart"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [showXAxisLabel]="showYAxisLabelLine"
                [gradient]="true"
                [showYAxisLabel]="showYAxisLabelLine"
                [xAxisLabel]="xAxisLabelLine"
                [yAxisLabel]="yAxisLabelLine">
              </ngx-charts-line-chart>
              </div>
              <ul class="cust-legend">
                <li><i class="mdi mdi-checkbox-blank l_box1"></i> Bid</li>
                <li><i class="mdi mdi-checkbox-blank l_box2"></i> Win</li>
                <li><i class="mdi mdi-checkbox-blank l_box3"></i> Loss</li>
              </ul>
                               
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6 grid-margin stretch-card pe-0">
          <div class="card">
            <div class="card-body">
              <p class="card-title mb-2">PreSales </p>
         
              <div class="chartBar" #containerRef4>
                <ngx-charts-bar-vertical-2d
                [view]="[containerRef4.offsetWidth, 190]"
                [scheme]="colorSchemeLoadQuarter"
                [results]="presales"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [gradient]="true"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabelBarLoad"
                [yAxisLabel]="yAxisLabelBarLoad"
                [barPadding]="5"
                [groupPadding]="7">
              </ngx-charts-bar-vertical-2d>
              </div>
              <ul class="cust-legend">
                <li><i class="mdi mdi-checkbox-blank load_box1"></i> Rev</li>
                <li><i class="mdi mdi-checkbox-blank load_box4"></i> Exp</li>
                <li><i class="mdi mdi-checkbox-blank load_box3"></i> Profit</li>
               
              </ul>
            </div>
          </div>
        </div> -->
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">PreSales: Values</p>
           
              <div class="chartBar" #containerRef6>
                <ngx-charts-pie-chart
                [view]="[containerRef6.offsetWidth - 35, 220]"
                [scheme]="lineColorScheme"
                [labels]="showLabelsPie"
                [gradient]="false"
                [doughnut]="true"
                [legend]="true"
                [results]="pieDataCust">
              </ngx-charts-pie-chart>
              </div>
              <!-- <ul class="cust-legend">
                <li><i class="mdi mdi-checkbox-blank l_box1"></i> Bid</li>
                <li><i class="mdi mdi-checkbox-blank l_box2"></i> Win</li>
                <li><i class="mdi mdi-checkbox-blank l_box3"></i> Loss</li>
             
              </ul> -->
              
            </div>
          </div>
        </div>
      
      </div>
       <!-- design-data-chart -->
    
       <div class="row mt-1">
        <div class="col-md-6 grid-margin stretch-card pe-0">
          <div class="card">
            <div class="card-body">
              <p class="card-title mb-2">Design</p>
            
              <div class="chartBar" #containerRef>
                <ngx-charts-bar-vertical-stacked
                  [view]="[containerRef.offsetWidth, 190]"
                  [scheme]="mainColorScheme"
                  [results]="Design"
                  [gradient]="true"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [animations]="animations"
                  (select)="onSelect($event)">
                </ngx-charts-bar-vertical-stacked>
                <!-- <ngx-charts-bar-vertical-2d
                [view]="[containerRef.offsetWidth, 190]"
                [scheme]="mainColorScheme"
                [results]="Design"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [gradient]="true"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabelBar"
                [yAxisLabel]="yAxisLabelBar"
                [barPadding]="5"
                [groupPadding]="7">
              </ngx-charts-bar-vertical-2d> -->
              </div>
              <ul class="cust-legend">
                <li><i class="mdi mdi-checkbox-blank des-box1"></i>Total</li>
                <li><i class="mdi mdi-checkbox-blank des-box3"></i> 3rd Party</li>
                <li><i class="mdi mdi-checkbox-blank des-box2"></i>  In-House</li>
              </ul>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Design: Values </p>
             
              <div class="chartBar" #containerRef2>
                <ngx-charts-pie-chart
                  [view]="[containerRef2.offsetWidth - 30, 220]"
                  [scheme]="mainColorScheme"
                  [labels]="showLabelsPie"
                  [gradient]="false"
                  [legend]="true"
                  [results]="pieDataDesign">
                </ngx-charts-pie-chart>
              </div>
              <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank des-box1"></i>Pending</li>
              <li><i class="mdi mdi-checkbox-blank des-box3"></i> 3rd Party</li>
                <li><i class="mdi mdi-checkbox-blank des-box2"></i>  In-House</li>
              </ul> -->
              
            </div>
          </div>
        </div>
      </div>
    
    <!-- Procurement-data-chart -->
      <div class="row mt-1">
       
        <div class="col-md-6 grid-margin stretch-card pe-0">
          <div class="card">
            <div class="card-body">
              <p class="card-title mb-2">Procurement </p>
              <div class="chartBar" #containerRefProc>
                <ngx-charts-bar-horizontal-stacked
                [view]="[containerRefProc.offsetWidth, 250]"
                  [scheme]="colorSchemeProcure"
                  [results]="ProcurementGraph"
                  [gradient]="true"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabelProc"
                  [yAxisLabel]="yAxisLabelProc"
                  [animations]="animations"
                  [barPadding]="5"
                  (select)="onSelect($event)">
                </ngx-charts-bar-horizontal-stacked>
                <!-- <ngx-charts-bar-vertical-2d
                [view]="[containerRefProc.offsetWidth, 190]"
                [scheme]="colorSchemeProcure"
                [results]="ProcurementGraph"
                [xAxis]="showXAxis"
                [gradient]="true"
                [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabelBarLoad"
                [yAxisLabel]="yAxisLabelBarLoad"
                [barPadding]="5"
                [groupPadding]="7">
              </ngx-charts-bar-vertical-2d> -->
              </div>
              <ul class="cust-legend">
                <li><i class="mdi mdi-checkbox-blank proc_box1"></i> Total</li>
                <li><i class="mdi mdi-checkbox-blank proc_box2"></i> PO</li>
                <li><i class="mdi mdi-checkbox-blank proc_box3"></i> Pending</li>
               
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card ">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Procurement: Values </p>
              <div class="chartBar" #containerRef3>
                <ngx-charts-pie-chart
                [view]="[containerRef3.offsetWidth - 35, 220]"
                [scheme]="colorSchemeProcure"
                [labels]="showLabelsPie"
                [doughnut]="true"
                [gradient]="false"
                [legend]="true"
                [results]="pieDataProc">
              </ngx-charts-pie-chart>
              </div>
              <!-- <ul class="cust-legend">
                <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
                <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
                <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
              </ul> -->
              
            </div>
          </div>
        </div>
      </div>
    <!-- Store Logistics-data-chart -->
    <div class="row mt-1">
      <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Store Logistics </p>
            <div class="chartBar" #containerRef4>
              <ngx-charts-bar-vertical-2d
              [view]="[containerRef4.offsetWidth, 190]"
              [scheme]="colorSchemeStore"
              [results]="Store"
              [xAxis]="showXAxis"
              [gradient]="true"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBarLoad"
              [yAxisLabel]="yAxisLabelBarLoad"
              [barPadding]="5"
              [groupPadding]="7">
            </ngx-charts-bar-vertical-2d>
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank store_box1"></i> All</li>
              <li><i class="mdi mdi-checkbox-blank store_box2"></i> Pending</li>
              <li><i class="mdi mdi-checkbox-blank store_box3"></i> Issued</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Store Logistics: Value</p>
            <div class="chartBar" #containerRef3>
              
            <ngx-charts-pie-chart
            [view]="[containerRef3.offsetWidth - 30, 220]"
            [scheme]="colorSchemeStore"
            [labels]="showLabelsPie"
            [gradient]="false"
            [legend]="true"
            [results]="pieDataStore">
          </ngx-charts-pie-chart>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
              <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
              <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
            </ul> -->
            
          </div>
        </div>
      </div>
     
    </div>
      
    
      <!-- execution-data-chart -->
      <div class="row mt-1">
        <div class="col-md-6 grid-margin stretch-card pe-0">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Execution</p>
              <div class="chartBar" #containerExecution>
                <ngx-charts-pie-chart
                [view]="[containerExecution.offsetWidth - 30, 220]"
                [scheme]="colorSchemeExecution"
                [labels]="showLabelsPie"
                [gradient]="false"
                [legend]="true"
                [results]="execution">
              </ngx-charts-pie-chart>
              </div>
              <!-- <ul class="cust-legend">
                <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
                <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
                <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
              </ul> -->
              
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Execution: Values </p>
         
                  <div class="chartBar" #containerRef2>
                    <ngx-charts-pie-chart
                  [view]="[containerRef2.offsetWidth - 35, 220]"
                  [scheme]="colorSchemeExecution"
                  [labels]="showLabelsPie"
                  [doughnut]="true"
                  [gradient]="false"
                  [legend]="true"
                  [results]="pieDataExe">
                </ngx-charts-pie-chart>
                    <!-- <ngx-charts-pie-chart
                      [view]="[containerRef2.offsetWidth - 30, 220]"
                      [scheme]="colorSchemeExecution"
                      [labels]="showLabelsPie"
                      [gradient]="false"
                      [legend]="true"
                      [results]="pieDataExe">
                    </ngx-charts-pie-chart> -->
                  </div>
               
              <!-- <ul class="cust-legend">
                <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
                <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
                <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
              </ul> -->
              
            </div>
          </div>
        </div>
       
      </div>
    
     <!-- Quality-data-chart -->
     <div class="row mt-1">
      <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Quality | Safety </p>
            <div class="chartBar" #containerRefQS>
              <ngx-charts-bar-vertical-2d
              [view]="[containerRefQS.offsetWidth, 190]"
              [scheme]="colorSchemeQS"
              [results]="QualitySafety"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [gradient]="true"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBarLoad"
              [yAxisLabel]="yAxisLabelBarLoad"
              [barPadding]="5"
              [groupPadding]="7">
            </ngx-charts-bar-vertical-2d>
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank qs_box2"></i> Success</li>
              <li><i class="mdi mdi-checkbox-blank qs_box1"></i> Failure</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Quality: Values</p>
         
            <div class="chartBar" #containerRef6>
              <ngx-charts-pie-chart
              [view]="[containerRef6.offsetWidth - 35, 220]"
              [scheme]="colorSchemeQS"
              [labels]="showLabelsPie"
              [gradient]="false"
              [doughnut]="true"
              [legend]="true"
              [results]="pieDataQS">
            </ngx-charts-pie-chart>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
              <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
              <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
            </ul> -->
            
          </div>
        </div>
      </div>
    </div>
    
    
    
       <!-- Performance-data-chart -->
       <div class="row mt-1">
        <div class="col-md-6 grid-margin stretch-card pe-0">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Performance</p>
              <div class="chartBar" #containerPerformance>
                <ngx-charts-bar-vertical-2d
              [view]="[containerPerformance.offsetWidth, 190]"
              [scheme]="colorSchemePerformance"
              [results]="PerformanceData"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [gradient]="true"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBarLoad"
              [yAxisLabel]="yAxisLabelBarLoad"
              [barPadding]="5"
              [groupPadding]="7">
            </ngx-charts-bar-vertical-2d>
              </div>
              <!-- <ul class="cust-legend">
                <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
                <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
                <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
              </ul> -->
              
            </div>
          </div>
        </div>
       
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Performance: Values </p>
             
              <div class="chartBar" #containerRef2>
                <ngx-charts-pie-chart
                  [view]="[containerRef2.offsetWidth - 30, 220]"
                  [scheme]="colorSchemePerformance"
                  [labels]="showLabelsPie"
                  [gradient]="false"
                  [legend]="true"
                  [results]="pieDataPerformance">
                </ngx-charts-pie-chart>
              </div>
              <!-- <ul class="cust-legend">
                <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
                <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
                <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
              </ul> -->
              
            </div>
          </div>
        </div>
       
      </div>
  
      <!-- Finance-data-chart -->
      <!-- <div class="row mt-1">
        <div class="col-md-6 grid-margin stretch-card pe-0">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Finance</p>
            
              <div class="chartBar" #containerRef10>
                <ngx-charts-bar-vertical
                  [view]="view2" 
                  [scheme] ="colorSchemeFin" 
                  [results]="financial" 
                  [gradient]="gradient2"
                  [xAxis]="showXAxis2"
                  [yAxis]="showYAxis2"
                  [legend]="showLegend2" 
                  [showXAxisLabel]="showXAxisLabel2" 
                  [showYAxisLabel]="showYAxisLabel2"
                  [xAxisLabel]="xAxisLabel2"
                  [yAxisLabel]="yAxisLabel2"
                  (select)="onSelect($event)">
               </ngx-charts-bar-vertical>
          
              </div>
            </div>
          </div>
        </div>
       
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Finance: Values </p>
             
              <div class="chartBar" #containerRef2>
                <ngx-charts-pie-chart
                  [view]="[containerRef2.offsetWidth - 30, 220]"
                  [scheme]="pieColorsCust"
                  [labels]="showLabelsPie"
                  [gradient]="true"
                  [legend]="true"
                  [results]="pieDataCust">
                </ngx-charts-pie-chart>
              </div>
            
              
            </div>
          </div>
        </div>
       
      </div> -->
    
    </div>