body{
    background-color: #c4c4c6 !important;
}
.pSpace{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    overflow: hidden;
    background-color: #f2f2f2;
}
.vert-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.titleTxt{
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #6B6A6A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-input {
    border: 0px !important;
    height: 2.4rem !important;
    border-radius: 0 6px 6px 0;
}

.login-input-border {
    border: 1px solid #8f8f8f !important;
    border-radius: 5px;
    box-shadow: 0px 0px 8px -5px #343434;
}

.login-input-icon {
    padding: 0.46rem 0.75rem !important;
    color: #c9c8c8;
}
.brand-logo{
    margin-bottom: 1rem;
}
.brand-logo img{
    width: 190px;
}
.right-content{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.mx-30 {
    margin-left: 30%;
    margin-right: 30%;
}
.right-content .input-group-prepend .input-group-text{
    border-color: transparent !important;
}
.right-content .form-control:focus{
    border-color: transparent !important;
}

.carousel-fade .carousel-inner .item{
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item, .active.left, .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active, .next.left, .prev.right{
    opacity: 1;
}
.carousel-fade .carousel-inner .next, .prev, .active.left, .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}
.carousel-inner .carousel-item img{
    height: 100vh;
}
.formLogo img{
    /* width: 150px; */
    width: 215px;
}
.btn-custom{
    background: #4467c2;
    border: 1px solid #A8A6A6;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 0.375rem  1.5rem;
}
.btn-custom:hover{
    background: #6386e3;
    border-color: #4467c2;
}
@media (max-width: 991.98px) {
    .formMain form{
        width: 60%;
    }
    .formMain{
        display: grid;
        place-items: center;
    }
    .carousel-inner .carousel-item img{
        /* height: auto; */
    }
}
@media (max-width: 767.98px) {
    .right-content{
        padding: 1rem;
    }
    .slider .carousel-item img{
        height: auto;
    }
}

.spinner-border {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
    --bs-spinner-border-width: 0.15em;
  }
