<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
          <div class="mr-md-3 mr-xl-5">
            <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Tender L2 Schedule</h4>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-end flex-wrap"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex my-10">
            <div class="col-lg-4 col-4">
              <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search">
            </div>
            <div class="col-lg-8 col-8"></div>
          </div>
          <app-responsive-table>
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Client</th>
                <th>Tender Ref No</th>
                <th>Tender Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr *ngFor="let a of l1ScheduleData | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                <td>{{ limit*(p-1)+i+1 }}</td>
                <td>{{ a.company_name }}</td>
                <td>{{ a.tender_ref_no }}</td>
                <td>{{ a.tender_title }}</td>
                <td>{{ a.start_date | date }}</td>
                <td>{{ a.end_date | date }}</td>
                <td>
                  <a class="" data-bs-toggle="modal" data-bs-target="#viewModel" title="Detail Data"><span class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a> &nbsp;
                  <a data-bs-toggle="modal" data-bs-target="#createL2Modal" title="Edit Details" (click)="selectedRow(a)"><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a> &nbsp;
                  <!-- <a data-bs-toggle="modal" data-bs-target="#deleteModel" title="Delete Data"><span class="mdi mdi-delete-circle text-danger cursor-pointer mdi-18px"></span></a> -->
                </td>
              </tr>
              <tr *ngIf="isNotFound == true">
                <td colspan="15" class="text-center"><div class="spinner-border"> </div></td>
              </tr>
              <tr *ngIf="l1ScheduleData?.length == 0">
                <td colspan="15" class="text-center"><div class="text-warning fw-semibold">Looks like no data available!</div></td>
              </tr>
            </tbody>
          </app-responsive-table>
          <div class="pagination-sec text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createL2Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">L2 Schedule Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h6 class="text-secondary">Tender Data</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fl-10">Client</label>
                  <input type="text" formControlName="company_name" class="form-control form-control-sm login-input" style="border-radius: 6px;" placeholder="Enter Client Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fl-10">Tender Ref No</label>
                  <input type="text" formControlName="tender_ref_no" class="form-control form-control-sm login-input" style="border-radius: 6px;" placeholder="Enter Tender Ref No">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewModel" tabindex="-1" aria-labelledby="bulkModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <h1>L2 Schedule Information</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
