<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>L2 Schedule Info</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search">
                        </div>
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-5">
                            <button (click)="downloadPdf()" class="btn exp-excel me-2"><i class="mdi mdi-file-excel mdi-2"></i>&nbsp; Export
                                to excel</button>
                                <button class="upload-bulk me-2" data-bs-toggle="modal" data-bs-target="#createBulkModal">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                  </svg>&nbsp; Upload file </button>
                                  <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" (click)="createForm()" class="btn btn-primary btn-fw btn-sm">+ Create New</button>
                        </div>
                      
                    </div>
                    <app-responsive-table> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Project</th>
                                <th>Milestone</th>
                                <th>Task</th>
                                <th>Department</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th>Progress</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap" *ngIf="companyData.length">
                            <tr *ngFor="let a of companyData | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{ limit*(p-1)+i+1 }}</td>
                                <td>{{ a.company_name }}</td>
                                <td>{{ a.company_name }}</td>
                                <td>{{ a.company_name }}</td>
                                <td>{{ a.company_name }}</td>
                                <td>{{ a.mstcompanytype }}</td>
                                <td>{{ a.name }}</td>
                                <td>{{ a.contactno1 }}</td>
                                <td>{{ a.email }}</td>
                                <td>{{ a.doi | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ a.created }}</td>
                                <td>
                                    <a data-bs-toggle="modal" data-bs-target="#createModal" title="Instant Data Profile" (click)="getDetails(a)"><span class="mdi mdi-account-edit cursor-pointer mdi-18px"></span></a>
                                </td>
                              </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="companyData?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal start -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">L2 Schedule Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Project<span class="required-asterisk">*</span></label>
                                    <select formControlName="project" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Project</option>
                                        <option *ngFor="let d of districtData" value="{{d.district_id}}">{{ d.district_name }}</option>
                                    </select>
                                    <div *ngIf="f['project'].touched && f['project'].invalid">
                                        <small class="text-danger" *ngIf="f['project'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">MileStone Name<span class="required-asterisk">*</span></label>
                                    <input formControlName="milestone" type="text" class="form-control form-control-sm" placeholder="Enter Minlestone Name" appWordCapitalize>
                                    <div *ngIf="f['milestone'].touched && f['milestone'].invalid">
                                        <small class="text-danger" *ngIf="f['milestone'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Task<span class="required-asterisk">*</span></label>
                                    <select formControlName="task" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Task</option>
                                        <option *ngFor="let d of districtData" value="{{d.district_id}}">{{ d.district_name }}</option>
                                    </select>
                                    <div *ngIf="f['task'].touched && f['task'].invalid">
                                        <small class="text-danger" *ngIf="f['task'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                      
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Unit</label>
                                    <select formControlName="unit" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Unit</option>
                                        <option *ngFor="let d of districtData" value="{{d.district_id}}">{{ d.district_name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Quantity</label>
                                    <input formControlName="quantity" placeholder="Enter Quantity" type="text" class="form-control form-control-sm" appNumberOnly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Progress</label>
                                    <select formControlName="progress" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Progress Status</option>
                                        <option *ngFor="let d of districtData" value="{{d.district_id}}">{{ d.district_name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Department</label>
                                    <select formControlName="department" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Department</option>
                                        <option *ngFor="let d of districtData" value="{{d.district_id}}">{{ d.district_name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Start Date<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="start_date" type="date" class="form-control form-control-sm">
                                    <div *ngIf="f['start_date'].touched && f['start_date'].invalid">
                                        <small class="text-danger" *ngIf="f['start_date'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">End Date<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="end_date" type="date" class="form-control form-control-sm">
                                    <div *ngIf="f['end_date'].touched && f['end_date'].invalid">
                                        <small class="text-danger" *ngIf="f['end_date'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-btns">
                                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary btn-fw btn-sm mr-2">{{button}}</button>
                                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Adding...</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create modal end-->


<!-- create-bulk data form-model start -->
<div class="modal fade" id="createBulkModal" tabindex="-1" aria-labelledby="bulkModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Bulk Data file</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Project<span class="required-asterisk">*</span></label>
                                <select formControlName="project" class="form-select form-select-sm">
                                    <option [selected]="true" [disabled]="true" [value]="null">Select Project</option>
                                    <option *ngFor="let s of compData">{{ s.mstcompanytype }}</option>
                                </select>
                                <div *ngIf="f['project'].touched && f['project'].invalid">
                                    <small class="text-danger" *ngIf="f['project'].errors?.['required']">*Required</small>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12 mt-1">
                    <input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>
                    <br>
                    <button type="button" [disabled]="!form.valid" class="btn btn-success btn-s mt-3" (click)="bulUpload()">
                        <i class="mdi mdi-folder-upload menu-icon"></i>&nbsp;Upload
                    </button>
                    
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- create-bulk data form-model end -->