.upload-bulk{
    color: #1a1a6f;
    background-color: #f6f8fc;
    border: none;
    font-size: 12px;
    border-radius: 6px;
    outline: none;
    text-align: center;
    padding: 9px 18px 7px 18px;
    font-weight: 600;
}
.upload-bulk:hover{
  text-decoration: none;
  transition: 0.5s;
  bottom: 2px;
  cursor: pointer;
  top: none;
  box-shadow: 0 3px 8px 2px #565353d4;
 
}
.exp-excel{
  background-color: #f6f8fc;
  border: none;
  font-size: 12px;
  border-radius: 6px;
  color: rgb(13, 128, 13);
  outline: none;
  text-align: center;
  padding: 5px 12px 9px 12px;
  font-weight: 600;
}

.exp-excel:hover{
  text-decoration: none;
  transition: 0.5s;
  bottom: 2px;
  top: none;
   cursor: pointer;
  /* z-index: -1; */
  box-shadow: 0 3px 8px 2px #565353d4;
 
}

button:focus {
  outline: 1px dotted;
  outline: none;
}
.fa-file-excel-o{
  color: green;
}
