<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
          <div class="mr-md-3 mr-xl-5">
            <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Financial Year</h4>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-end flex-wrap"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex my-10">
            <div class="col-lg-4">
              <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search...">
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <div class="float-right">
                <button class="btn btn-primary btn-fw btn-sm me-2" title="Download List of Data in Excel" (click)="download()"> <span class="mdi mdi-upload"></span> Export </button>
                <button class="btn btn-primary btn-fw btn-sm me-2" data-bs-toggle="modal" data-bs-target="#createBulkModal" title="Upload bulk Data"> <span class="mdi mdi-download"></span> Import </button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm s"><span class="mdi mdi-plus"></span> Create</button>
              </div>
            </div>
          </div>
          <app-responsive-table id="export">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Financial Year</th>
                <th>Start Date</th>
                <th>End Date</th>
                <!-- <th>Created By</th>
                <th>Created On</th>
                <th>Action</th> -->
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr *ngFor="let a of financialData | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                <td>{{limit*(p-1)+i+1}}</td>
                <td>{{a.financialyear}}</td>
                <td>{{a.start_date | date: 'dd/MM/yyyy' : 'GMT' }}</td>
                <td>{{a.end_date | date: 'dd/MM/yyyy' : 'GMT' }}</td>
                <!-- <td>{{a.createdby_name}}</td>
                <td>{{a.created | date: 'dd/MM/yyyy hh:mm a' : 'GMT' }}</td> -->
                <!-- <td>
                  <a data-bs-toggle="modal" data-bs-target="#createModal" title="Edit Details"><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a> &nbsp;
                  <a  data-bs-toggle="modal" data-bs-target="#detailModal" title="View Details"><span class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a>
                  <a data-bs-toggle="modal" data-bs-target="#allDataModal" title="Delete Details"><span class="mdi mdi-delete-circle text-danger cursor-pointer mdi-18px"></span></a>
                </td> -->
              </tr>
              <tr *ngIf="financialData?.length == 0">
                <td colspan="15" class="text-center">
                  <div class="spinner-border"> </div>
                </td>
              </tr>
              <tr *ngIf="isNotFound == true">
                <td colspan="15" class="text-center">
                  <div class="text-warning fw-semibold">Looks like no data available!</div>
                </td>
              </tr>
            </tbody>
          </app-responsive-table>
          <div class="pagination-sec text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- create modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Financial Year</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fl-10">Start Date<span class="required-asterisk">*</span></label>
                  <input formControlName="start_date" type="date" class="form-control form-control-sm">
                  <div *ngIf="f['start_date'].touched && f['start_date'].invalid">
                    <small class="text-danger" *ngIf="f['start_date'].errors?.['required']">*Required</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label fl-10">End Date<span class="required-asterisk">*</span></label>
                  <input formControlName="end_date" type="date" class="form-control form-control-sm">
                  <div *ngIf="f['end_date'].touched && f['end_date'].invalid">
                    <small class="text-danger" *ngIf="f['end_date'].errors?.['required']">*Required</small>
                  </div>
                </div>
              </div>
              <div class="modal-btns">
                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary  btn-fw btn-sm mr-2">Add</button>
                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding...</button>
                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- create modal end-->
