<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Meter Pricing</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="text" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder="Search">
                        </div>
                        <div class="col-lg-8">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm float-right">+ Meter Pricing</button>
                        </div>
                    </div>
                    <app-responsive-table> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Category</th>
                                <th>Type</th>
                                <th>Sanction Load (KW)</th>
                                <th>Area</th>
                                <th>Security Amount</th>
                                <th>Meter Amount</th>
                                <th>Installation Price</th>
                                <th>Created By</th>
                                <th>Created On</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr *ngFor="let a of priceData | filter: searchText | paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{ limit*(p-1)+i+1 }}</td>
                                <td>{{ a.category }}</td>
                                <td>{{ a.type }}</td>
                                <td>{{ a.load }}</td>
                                <td>{{ a.area }}</td>
                                <td>{{ a.securityAmt }}</td>
                                <td>{{ a.meterAmt }}</td>
                                <td>{{ a.installationAmt }}</td>
                                <td>{{a.createdBy}}</td>
                                <td>{{a.createdAt | date:'dd/MM/yyyy hh:mm a' : 'GMT'}}</td>
                            </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="priceData?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Meter Pricing</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Category<span class="required-asterisk">*</span></label>
                                    <select formControlName="category" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true">Select Category</option>
                                        <option>Electricity</option>
                                        <option>Gas</option>
                                        <option>Water</option>
                                        <option>EV</option>
                                    </select>
                                    <div *ngIf="f['category'].touched && f['category'].invalid">
                                        <small class="text-danger" *ngIf="f['category'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Area<span class="required-asterisk">*</span></label>
                                    <select formControlName="area" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true">Select Area</option>
                                        <option>Rural</option>
                                        <option>Urban</option>
                                    </select>
                                    <div *ngIf="f['area'].touched && f['area'].invalid">
                                        <small class="text-danger" *ngIf="f['area'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Type<span class="required-asterisk">*</span></label>
                                    <select formControlName="type" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true">Select Type</option>
                                        <option>1 Phase</option>
                                        <option>3 Phase</option>
                                    </select>
                                    <div *ngIf="f['type'].touched && f['type'].invalid">
                                        <small class="text-danger" *ngIf="f['type'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Sanction Load<span class="required-asterisk">*</span></label>
                                    <input type="text" formControlName="load" class="form-control form-control-sm">
                                    <div *ngIf="f['load'].touched && f['load'].invalid">
                                        <small class="text-danger" *ngIf="f['load'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Security Amount<span class="required-asterisk">*</span></label>
                                    <input type="text" formControlName="sAmount" class="form-control form-control-sm" appNumWithDot>
                                    <div *ngIf="f['sAmount'].touched && f['sAmount'].invalid">
                                        <small class="text-danger" *ngIf="f['sAmount'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Meter Amount<span class="required-asterisk">*</span></label>
                                    <input type="text" formControlName="mAmount" class="form-control form-control-sm" appNumWithDot>
                                    <div *ngIf="f['mAmount'].touched && f['mAmount'].invalid">
                                        <small class="text-danger" *ngIf="f['mAmount'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Installation Price<span class="required-asterisk">*</span></label>
                                    <input type="text" formControlName="iPrice" class="form-control form-control-sm" appNumWithDot>
                                    <div *ngIf="f['iPrice'].touched && f['iPrice'].invalid">
                                        <small class="text-danger" *ngIf="f['iPrice'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-btns">
                                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary btn-rounded btn-fw btn-sm mr-2">Add</button>
                                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-rounded btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding...</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-rounded btn-fw btn-sm"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create modal end-->