<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Milestone</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search">
                        </div>
                        <div class="col-lg-8">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" (click)="createForm()" class="btn btn-primary btn-fw btn-sm float-right">+ Create</button>
                        </div>
                    </div>
                    <app-responsive-table id="export"> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Project Name</th>
                                <th>Milestone Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap" *ngIf="companyData.length">
                            <tr *ngFor="let a of companyData | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{ limit*(p-1)+i+1 }}</td>
                                <td>{{ a.company_name }}</td>
                                <td>{{ a.mstcompanytype }}</td>
                                <td>{{ a.doi | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ a.doi | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ a.name }}</td>
                                <td>{{ a.created }}</td>
                                <td>
                                    <a data-bs-toggle="modal" data-bs-target="#createModal" title="Instant Data Profile" (click)="getDetails(a)"><span class="mdi mdi-account-edit cursor-pointer mdi-18px"></span></a>
                                </td>
                              </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="companyData?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Milestone Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Project<span class="required-asterisk">*</span></label>
                                    <select formControlName="project" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Project</option>
                                        <option *ngFor="let s of compData">{{ s.mstcompanytype }}</option>
                                    </select>
                                    <div *ngIf="f['project'].touched && f['project'].invalid">
                                        <small class="text-danger" *ngIf="f['project'].errors?.['required']">*Required</small>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Milestone Name<span class="required-asterisk">*</span></label>
                                    <input formControlName="milestone_name" type="text" class="form-control form-control-sm" appWordCapitalize>
                                    <div *ngIf="f['milestone_name'].touched && f['milestone_name'].invalid">
                                        <small class="text-danger" *ngIf="f['milestone_name'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Milestone Start Date<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="msd" type="date" class="form-control form-control-sm">
                                    <div *ngIf="f['msd'].touched && f['msd'].invalid">
                                        <small class="text-danger" *ngIf="f['msd'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Milestone End Date<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="med" type="date" class="form-control form-control-sm">
                                    <div *ngIf="f['med'].touched && f['med'].invalid">
                                        <small class="text-danger" *ngIf="f['med'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Status<span class="required-asterisk">*</span></label>
                                    <select formControlName="status" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Status</option>
                                        <option *ngFor="let s of stateData" value="{{s.state_id}}">{{ s.state_name }}</option>
                                    </select>
                                    <div *ngIf="f['status'].touched && f['status'].invalid">
                                        <small class="text-danger" *ngIf="f['status'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Short Description</label>
                                    <textarea formControlName="description" type="text" class="form-control form-control-sm" appWordCapitalize>
                                    </textarea>
                                        <!-- <div *ngIf="f['description'].touched && f['description'].invalid">
                                        <small class="text-danger" *ngIf="f['milestone_name'].errors?.['required']">*Required</small>
                                    </div> -->
                                </div>
                            </div>
                          
                            <div class="modal-btns">
                                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary btn-fw btn-sm mr-2">{{button}}</button>
                                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Adding...</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create modal end-->