<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Approval</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="text" class="form-control form-control-sm" placeholder="Search">
                        </div>
                        <!-- <div class="col-lg-8">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm float-right">+ Customer Register</button>
                        </div> -->
                    </div>
                    <app-responsive-table id="export"> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr class="text-nowrap">
                                <th>S No</th>
                                <th>Customer ID</th>
                                <th>Salution</th>
                                <th>Name</th>
                                <th>Contact No</th>
                                <th>Address</th>
                                <th>Document</th>
                                <th>Status</th>
                                <th>Created By</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr *ngFor="let a of customerData | paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{limit*(p-1)+i+1}}</td>
                                <td>{{ a.customerID }}</td>
                                <td>{{ a.salution }}</td>
                                <td>{{ a.fName }} {{ a.lName }}</td>
                                <td>{{ a.contactNo }}</td>
                                <td>
                                    <div *ngIf="!!a.address.address1">
                                        {{a.address.address1 | slice:0:20}}...<i class="mdi mdi-information" title="{{ a.address.address1 }}, {{ a.address.address2 }}, {{ a.address.district }}, {{ a.address.state }}, {{ a.address.country    }}-{{ a.address.pincode }}"></i>
                                    </div>
                                </td>
                                <td></td>
                                <td>{{ a.status }}</td>
                                <td>{{ a.createdBy }}</td>
                                <td>{{ a.createdAt | date: 'dd/MM/yyyy hh:mm a' }}</td>
                                <td><i class="mdi mdi-format-list-bulleted text-warning" data-bs-toggle="modal" data-bs-target="#detailModal" (click)="rowDetail(a)"></i></td>
                            </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="30" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="customerData?.length == 0">
                                <td colspan="30" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- detail modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Customer Details and Approval</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <h6 class="text-decoration-underline mb-2">Connection Details:</h6>
                        <table class="table table-hover table-striped custom-table">
                            <thead class="hidden-thead"></thead>
                            <tbody class="text-nowrap">
                                <tr>
                                    <th scope="row">Country</th>
                                    <td>{{ rowData?.countryName }}</td>
                                    <th scope="row">State</th>
                                    <td>{{ rowData?.stateName }}</td>
                                    <th scope="row">District</th>
                                    <td>{{ rowData?.districtName }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">ECB</th>
                                    <td>{{ rowData?.ecbName }}</td>
                                    <th scope="row">Circle</th>
                                    <td>{{ rowData?.circleName }}</td>
                                    <th scope="row">Connection Type</th>
                                    <td>{{ rowData?.connectionType }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Load</th>
                                    <td>{{ rowData?.loadSantion }}</td>
                                    <th scope="row">Phase</th>
                                    <td>{{ rowData?.phase }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <h6 class="text-decoration-underline mb-2 mt-3">Customer Details:</h6>
                        <table class="table table-hover table-striped custom-table">
                            <thead class="hidden-thead"></thead>
                            <tbody class="text-nowrap">
                                <tr>
                                    <th scope="row">Customer ID</th>
                                    <td>{{ rowData?.customerID }}</td>
                                    <th scope="row">Name</th>
                                    <td>{{ rowData?.fName }} {{ rowData?.lName }}</td>
                                    <th scope="row">Father Name</th>
                                    <td>{{ rowData?.fatherName }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Contact No</th>
                                    <td>{{ rowData?.contactNo }}</td>
                                    <th scope="row">DOB</th>
                                    <td>{{ rowData?.DOB }}</td>
                                    <th scope="row">Email</th>
                                    <td>{{ rowData?.emailID }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Address 1</th>
                                    <td>{{ rowData?.address?.address1 }}</td>
                                    <th scope="row">Address 2</th>
                                    <td>{{ rowData?.address?.address2 }}</td>
                                    <th scope="row">District</th>
                                    <td>{{ rowData?.address?.district }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">State</th>
                                    <td>{{ rowData?.address?.state }}</td>
                                    <th scope="row">Country</th>
                                    <td>{{ rowData?.address?.country }}</td>
                                    <th scope="row">Pin Code</th>
                                    <td>{{ rowData?.address?.pincode }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <h6 class="text-decoration-underline mb-2 mt-3">Bank Details:</h6>
                        <table class="table table-hover table-striped custom-table">
                            <thead class="hidden-thead"></thead>
                            <tbody class="text-nowrap">
                                <tr>
                                    <th scope="row">Bank Name</th>
                                    <td>{{ rowData?.bankDetails?.bankName }}</td>
                                    <th scope="row">Account type</th>
                                    <td>{{ rowData?.bankDetails?.accountType }}</td>
                                    <th scope="row">Account No</th>
                                    <td>{{ rowData?.bankDetails?.accountNo }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Branch</th>
                                    <td>{{ rowData?.bankDetails?.branch }}</td>
                                    <th scope="row">IFSC</th>
                                    <td>{{ rowData?.bankDetails?.IFSC }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-grp mt-3 text-center">
                        <button data-bs-toggle="modal" data-bs-target="#customerDataModal" type="button" class="btn btn-default btn-primary btn-sm me-2" (click)="validateModel(1)">Validate Customer Data</button>
                        <button data-bs-toggle="modal" data-bs-target="#customerDataModal" type="button" class="btn btn-default btn-primary btn-sm me-2" (click)="validateModel(2)">Validate Customer KYC Docs</button>
                        <button data-bs-toggle="modal" data-bs-target="#customerMeterModal" type="button" class="btn btn-default btn-primary btn-sm" (click)="resetForm()">Validate Customer Meter/ Payment Requirements</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- detail modal end-->
<!-- customer data modal -->
<div class="modal fade" id="customerDataModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" [ngSwitch]="modelType">
                    <span *ngSwitchCase="1">Validate Customer Data</span>
                    <span *ngSwitchCase="2">Validate Customer KYC Documents</span>
                </h5>
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#detailModal"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Validated By<span class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control form-control-sm" formControlName="validatedBy" readonly/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Validated On<span class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control form-control-sm" formControlName="validatedOn" [ngModel]="currentdate | date: 'dd-MM-yyyy hh:mm a'" readonly/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Remarks<span class="required-asterisk">*</span></label>
                                    <textarea class="form-control form-control-sm" formControlName="remarks"></textarea>
                                    <div *ngIf="f['remarks'].touched && f['remarks'].invalid">
                                        <small class="text-danger" *ngIf="f['remarks'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-grp mt-3 float-end">
                            <button type="submit" class="btn btn-primary btn-rounded btn-fw btn-sm mr-2">Approve</button>
                            <button type="button" class="btn btn-secondary btn-rounded btn-fw btn-sm">Send Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- customer data modal end-->

<!-- customer meter modal -->
<div class="modal fade" id="customerMeterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Validate Customer Meter/Payment Requirements</h5>
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#detailModal"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Validated By</label>
                                    <input type="text" class="form-control form-control-sm" formControlName="validatedBy" readonly/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Validated On</label>
                                    <input type="text" class="form-control form-control-sm" formControlName="validatedOn" readonly/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Energy Load</label>
                                    <input type="text" class="form-control form-control-sm" readonly/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Meter Type</label>
                                    <input type="text" class="form-control form-control-sm" readonly/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Remarks<span class="required-asterisk">*</span></label>
                                    <textarea class="form-control form-control-sm" formControlName="remarks"></textarea>
                                    <div *ngIf="f['remarks'].touched && f['remarks'].invalid">
                                        <small class="text-danger" *ngIf="f['remarks'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-light table-bordered custom-table">
                                <thead class="hidden-thead"></thead>
                                <tbody class="text-nowrap">
                                    <tr>
                                        <th scope="row">Security Amount</th>
                                        <td>6000</td>
                                        <th scope="row">Meter Charges</th>
                                        <td>4000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Others</th>
                                        <td>1000</td>
                                        <th scope="row">Total</th>
                                        <td>11000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn-grp float-end">
                            <button type="submit" class="btn btn-primary btn-rounded btn-fw btn-sm mr-2">Approve</button>
                            <button type="button" class="btn btn-secondary btn-rounded btn-fw btn-sm">Send Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- customer meter modal end-->