<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Tender Company Contacts</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search...">
                        </div>
                        <div class="col-lg-4">
                            <select formControlName="module_id" class="form-select form-select-sm">
                                <option [selected]="true" [disabled]="true">Select module</option>
                                <option *ngFor="let module of compData">{{ module.contactmodule }}</option>
                            </select>
                          
                        </div>
                        <div class="col-lg-4">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" (click)="createForm()" class="btn btn-primary btn-fw btn-sm float-right">+ Create</button>
                        </div>
                    </div>
                    <app-responsive-table id="export"> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Company Name</th>
                                <th>Contact Person</th>
                                <th>Department</th>
                                <th>Designation</th>
                                <th>Contact No 1</th>
                                <th>Contact No 2</th>
                                <th>Email ID</th>
                                <!-- <th>Created By</th> -->
                                <!-- <th>Action</th> -->
                            </tr>
                        </thead>
                        <tbody class="text-nowrap" *ngIf="companyData.length">
                            <tr *ngFor="let a of companyData | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{ limit*(p-1)+i+1 }}</td>
                                <td>{{ a.company_name }}</td>
                                <td>{{ a.name }}</td>
                                <td>{{ a.deptname }}</td>
                                <td>{{ a.designationname }}</td>
                                <td>{{ a.contactno1 }}</td>
                                <td>{{ a.contactno2 }}</td>
                                <td>{{ a.email }}</td>
                                <!-- <td>{{ a.created }}</td> -->
                                <!-- <td>
                                    <a data-bs-toggle="modal" data-bs-target="#createModal" title="Instant Data Profile" (click)="getDetails(a)"><span class="mdi mdi-account-edit cursor-pointer mdi-18px"></span></a>
                                </td> -->
                              </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="companyData?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tender Company Contacts Person Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid scroll-container">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <!-- <h6 class="">Company Details:</h6> -->
  
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Module<span class="required-asterisk">*</span></label>
                                    <select formControlName="module_id" class="form-select form-select-sm" (ngModelChange)="tendComp($event)">
                                        <option [selected]="true" [disabled]="true">Select module</option>
                                        <option *ngFor="let module of compData" value="{{module.module_id}}">{{ module.contactmodule }}</option>
                                    </select>
                                    <div *ngIf="f['module_id'].touched && f['module_id'].invalid">
                                        <small class="text-danger" *ngIf="f['module_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Tendering Company<span class="required-asterisk">*</span></label>
                                    <select formControlName="company_id" class="form-select form-select-sm"  >
                                    
                                        <option [selected]="true" [disabled]="true">Select Company</option>
                                        <option *ngFor="let comp of modList" value="{{comp.company_id}}">{{ comp.company_name }}</option>

                                        <!-- <option *ngFor="let company of compData" [value]="company.company_id">{{ company.company_name }}</option> -->
                                    </select>
                                    <div *ngIf="f['company_id'].touched && f['company_id'].invalid">
                                        <small class="text-danger" *ngIf="f['company_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- <div class="col-lg-12">
                                <div class="form-label-group" style="text-align: left; font-family: sans-serif;">
                                  <label for="inputEmail">Login Name <span class="required-asterisk">*</span></label>
                                    <ng-select [(ngModel)]="username1" class="" placeholder="Please Select User Name"
                                    formControlName="user_id">
                                    <ng-option *ngFor="let s of compData" value="{{s.mstcompanytype_id}}">{{ s.mstcompanytype }}</ng-option>
                                  </ng-select>
                                </div>
                              </div> -->
                       
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Name<span class="required-asterisk">*</span></label>
                                    <input formControlName="name" type="text" class="form-control form-control-sm" placeholder="Enter contact person name" appWordCapitalize>
                                    <div *ngIf="f['name'].touched && f['name'].invalid">
                                        <small class="text-danger" *ngIf="f['name'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Designation</label>
                                    <select formControlName="usdg_id" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Designation</option>
                                        <option *ngFor="let d of design" value="{{d.usdg_id}}">{{d.designationname}}</option>
                                    </select>
                                    <!-- <div *ngIf="f['usdg_id'].touched && f['usdg_id'].invalid">
                                        <small class="text-danger" *ngIf="f['usdg_id'].errors?.['required']">*Required</small>
                                    </div> -->

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Department</label>
                                    <select formControlName="usdt_id" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Department</option>
                                        <option *ngFor="let d of departMent" value="{{d.usdt_id}}">{{d.deptname}}</option>
                                    </select>
                                    <!-- <div *ngIf="f['usdt_id'].touched && f['usdt_id'].invalid">
                                        <small class="text-danger" *ngIf="f['usdt_id'].errors?.['required']">*Required</small>
                                    </div> -->

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Primary No<span class="required-asterisk">*</span></label>
                                    <input formControlName="contactno1" placeholder="Enter Primary number" minlength="10"
                                    maxlength="10" (keypress)="OnlyNumbersAllowed($event)" type="text" class="form-control form-control-sm" appNumberOnly>
                                    <div *ngIf="f['contactno1'].touched && f['contactno1'].invalid">
                                        <small class="text-danger" *ngIf="f['contactno1'].errors?.['required']">*Required</small>
                                        <small class="text-danger" *ngIf="f['contactno1'].errors?.['pattern']">*Please enter 10 digit Contact No</small>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Secondary Contact No</label>
                                    <input formControlName="contactno2" placeholder="Enter secondary contact no" minlength="10"
                                    maxlength="10" (keypress)="OnlyNumbersAllowed($event)" type="text" class="form-control form-control-sm" appNumberOnly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Email ID<span class="required-asterisk">*</span></label>
                                    <input formControlName="emailid" placeholder="Enter email ID" type="text" class="form-control form-control-sm" appNoSpace>
                                    <div *ngIf="f['emailid'].touched && f['emailid'].invalid">
                                        <small class="text-danger" *ngIf="f['emailid'].errors?.['required']">*Required</small>
                                        <small class="text-danger" *ngIf="f['emailid'].errors?.['pattern']">*Email must be a valid Email ID</small>
                                    </div>
                                </div>
                            </div>

                       
                         
                            <div class="modal-btns">
                                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary btn-fw btn-sm mr-2">{{button}}</button>
                                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Adding...</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create modal end-->
