<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="mr-md-3 mr-xl-5">
                        <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Technical
                        </h4>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-end flex-wrap">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="search" class="form-control form-control-sm" placeholder="Search..."
                                [(ngModel)]="searchText">
                        </div>

                        <div class="col-lg-4">
                            <div class="float-right">
                                <select class="form-select form-select-sm border-secondary pt-04 w-auto"
                                    (change)="redirect($event)">
                                    <option [disabled]="true" [value]="null">Select</option>
                                    <option [selected]="true" value="/presales/presales-biding/technical"> Technical
                                    </option>
                                    <option value="/presales/presales-biding/financial"> Financial</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="float-right">
                                <button class="btn btn-primary btn-fw btn-sm me-2"
                                    title="Download List of Data in Excel" (click)="download()">
                                    <span class="mdi mdi-upload"></span> Export
                                </button>
                                <button class="btn btn-primary btn-fw btn-sm me-2" data-bs-toggle="modal"
                                    data-bs-target="#createBulkModal" title="Upload bulk Data">
                                    <span class="mdi mdi-download"></span> Import
                                </button>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#techModal"
                                    class="btn btn-primary btn-fw btn-sm">
                                    <span class="mdi mdi-plus"></span> Create</button>
                            </div>
                        </div>


                    </div>
                    <app-responsive-table> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Client</th>
                                <th>Tender Title</th>
                                <th>NIT No</th>
                                <th>Publish Date</th>
                                <th>Category</th>
                                <th>Sub-Category</th>
                                <th>Capacity</th>
                                <th>Execution Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr
                                *ngFor="let a of docListData | filter:searchText | paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{limit*(p-1)+i+1}}</td>
                                <td>{{a.company_name}}</td>
                                <td>
                                    <app-slice-with-tooltip [text]="a?.tender_title"></app-slice-with-tooltip>
                                </td>
                                <td>
                                    <app-slice-with-tooltip [text]="a?.tender_ref_no"></app-slice-with-tooltip>
                                </td>
                                <td>{{a.publish_date | date: 'dd/MM/yyyy' : 'GMT'}}</td>
                                <td>{{a.qacatagory}}</td>
                                <td>{{a.subqacatagory}}</td>
                                <td>{{a.capacity}}</td>
                                <td><app-location-section-shared [tenderLocation]="a?.tender_location?.[0] || ''"
                                        [rowData]="a" (locationClick)="rowLocation($event)">
                                    </app-location-section-shared></td>
                                <td>
                                    <a data-bs-toggle="modal" data-bs-target="#detailModal"
                                        (click)="rowListData(a)"><span
                                            class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a>
                                </td>
                            </tr>
                            <tr *ngIf="docListData?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Technical modal -->
<div class="modal fade" id="techModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Required Technical Qualification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    data-bs-toggle="modal" data-bs-target="#createModal"></button>
            </div>
            <div class="modal-body cardd">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <h6 class="mb-2 text-secondary">Tender Detail</h6>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Client<span
                                            class="required-asterisk">*</span></label>
                                    <select formControlName="client_id" class="form-select form-select-sm"
                                        (ngModelChange)="getDetails($event)">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Client
                                        </option>
                                        <option *ngFor="let c of companyData" value="{{c.company_id}}">{{ c.company_name
                                            }}</option>
                                    </select>
                                    <!-- <span *ngIf="addTech.length > 0" class="form-control form-control-sm" readonly>{{form.value.}}</span> -->
                                    <div *ngIf="f['client_id'].touched && f['client_id'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['client_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Tender Title<span
                                            class="required-asterisk">*</span></label>
                                    <select formControlName="tender_id" class="form-select form-select-sm"
                                        (ngModelChange)="getrefData($event)" [disabled]="addTech.length != 0">
                                        <option [selected]="true" [disabled]="true">Select Title</option>
                                        <option *ngFor="let c of tenderDetailsData" value="{{c.tender_id}}">
                                            {{c.tender_title}}</option>
                                    </select>
                                    <div *ngIf="f['tender_id'].touched && f['tender_id'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['tender_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">NIT No</label>
                                    <input class="form-control form-control-sm" readonly
                                        [value]="filterTenderDetailsData[0]?.tender_ref_no">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Publish Date</label>
                                    <input class="form-control form-control-sm" readonly
                                        [value]="filterTenderDetailsData[0]?.publish_date | date: 'dd/MM/yyyy' : 'GMT'">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="form-label fl-10">Category</label>
                                    <input class="form-control form-control-sm" readonly
                                        value="{{filterTenderDetailsData[0]?.qacatagory}}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="form-label fl-10">Sub-Category</label>
                                    <input class="form-control form-control-sm" readonly
                                        value="{{filterTenderDetailsData[0]?.subqacatagory}}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="form-label fl-10">Capacity</label>
                                    <input class="form-control form-control-sm" readonly
                                        value="{{filterTenderDetailsData[0]?.capacity}}">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label fl-10">Execution Location</label>
                                    <input class="form-control form-control-sm" readonly
                                        value="{{filterTenderDetailsData[0]?.tender_location}}">
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="filterTenderDetailsData.length > 0">
                            <h6 class="mb-2 mt-3 text-secondary">Tender Requirements</h6>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label fl-10">Category<span
                                                class="required-asterisk">*</span></label>
                                        <select formControlName="qacatagory_id" class="form-select form-select-sm" #cat
                                            (change)="getSubData(cat.value)">
                                            <option [selected]="true" [disabled]="true">Select Category</option>
                                            <option *ngFor="let c of categoryData" value="{{c.qacatagory_id}}">
                                                {{c.qacatagory}}</option>
                                        </select>
                                        <div *ngIf="f['qacatagory_id'].touched && f['qacatagory_id'].invalid">
                                            <small class="text-danger"
                                                *ngIf="f['qacatagory_id'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" *ngIf="cat.value == '1002' || cat.value == '1003'">
                                    <div class="form-group">
                                        <label class="form-label fl-10">Sub-Category<span
                                                class="required-asterisk">*</span></label>
                                        <select formControlName="subqacatagory_id" class="form-select form-select-sm"
                                            #sub (change)="getCapacityData(sub.value)">
                                            <option [selected]="true" [disabled]="true">Select Sub-Category</option>
                                            <option *ngFor="let c of subCategoryData" value="{{c.subqacatagory_id}}">
                                                {{c.subqacatagory}}</option>
                                        </select>
                                        <div *ngIf="f['subqacatagory_id'].touched && f['subqacatagory_id'].invalid">
                                            <small class="text-danger"
                                                *ngIf="f['subqacatagory_id'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2" *ngIf="cat.value == '1001' || cat.value == '1002'">
                                    <div class="form-group">
                                        <label class="form-label fl-10">Capacity<span
                                                class="required-asterisk">*</span></label>
                                        <select formControlName="capacity_id" class="form-select form-select-sm">
                                            <option [selected]="true" [disabled]="true">Select Capacity</option>
                                            <option *ngFor="let c of capacityData" value="{{c.capacity_id}}">
                                                {{c.capacity}}</option>
                                        </select>
                                        <div *ngIf="f['capacity_id'].touched && f['capacity_id'].invalid">
                                            <small class="text-danger"
                                                *ngIf="f['capacity_id'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label fl-10">Req Experience (Years)</label>
                                        <input formControlName="total_experience" type="text"
                                            class="form-control form-control-sm" appNumWithDot
                                            placeholder="Required Experience">
                                        <!-- <div *ngIf="f['total_experience'].touched && f['total_experience'].invalid">
                                            <small class="text-danger" *ngIf="f['total_experience'].errors?.['required']">*Required</small>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label fl-10">Req Compt Period(Months)</label>
                                        <input formControlName="completion_period" type="text"
                                            class="form-control form-control-sm" appNumWithDot
                                            placeholder="Required Completion Period">
                                        <div *ngIf="f['completion_period'].touched && f['completion_period'].invalid">
                                            <small class="text-danger"
                                                *ngIf="f['completion_period'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label fl-10">Required Resource</label>
                                        <input formControlName="resource_used" type="text"
                                            class="form-control form-control-sm" appNumberOnly>
                                        <!-- <div *ngIf="f['resource_used'].touched && f['resource_used'].invalid">
                                            <small class="text-danger" *ngIf="f['resource_used'].errors?.['required']">*Required</small>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label fl-10">Condition Year</label>
                                        <input formControlName="completion_year" type="text"
                                            class="form-control form-control-sm" appNumberOnly>
                                        <!-- <div *ngIf="f['completion_year'].touched && f['completion_year'].invalid">
                                            <small class="text-danger" *ngIf="f['completion_year'].errors?.['required']">*Required</small>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label class="form-label fl-10">Technical Remarks<span
                                                class="required-asterisk">*</span></label>
                                        <input formControlName="technical_points" type="text"
                                            class="form-control form-control-sm"
                                            placeholder="eg: Put your bid points one by one">
                                        <div *ngIf="f['technical_points'].touched && f['technical_points'].invalid">
                                            <small class="text-danger"
                                                *ngIf="f['technical_points'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label fl-10">Status<span
                                                class="required-asterisk">*</span></label>
                                        <select formControlName="qualified" class="form-select form-select-sm">
                                            <option [selected]="true" [disabled]="true">Select Status</option>
                                            <option value="true">Qualified</option>
                                            <option value="false">Not-Qualified</option>
                                        </select>
                                        <div *ngIf="f['qualified'].touched && f['qualified'].invalid">
                                            <small class="text-danger"
                                                *ngIf="f['qualified'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="modal-btns">
                                        <button type="button" class="btn btn-primary btn-fw btn-sm mt-4"
                                            (click)="addMultiTechPoints()" title="Add technical points"
                                            [disabled]="!form.valid">+ Add</button>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive" *ngIf="addTech?.length > 0">
                                <h6 class="mb-2 mt-3 text-secondary">Added Technical Requirements</h6>
                                <table class="table mt-2">
                                    <thead class="table-primary text-nowrap">
                                        <tr>
                                            <th>S No</th>
                                            <th>Client</th>
                                            <th>Tender Title</th>
                                            <th>Category</th>
                                            <th>Sub-Category</th>
                                            <th>Capacity</th>
                                            <th>Experience</th>
                                            <th>Completion Period</th>
                                            <th>Resource Used</th>
                                            <th>Completion Year</th>
                                            <th>Technical Point</th>
                                            <th>Result</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-nowrap">
                                        <tr *ngFor="let a of addTech; index as i">
                                            <td>{{limit*(p-1)+i+1}}</td>
                                            <td>{{a?.client_id}}</td>
                                            <td>{{a.tender_id}}</td>
                                            <td>{{a.qacatagory_id}}</td>
                                            <td>{{a.subqacatagory_id}}</td>
                                            <td>{{a.capacity_id}}</td>
                                            <td>{{a.total_experience}}</td>
                                            <td>{{a.completion_period}}</td>
                                            <td>{{a.resource_used}}</td>
                                            <td>{{a.completion_year}}</td>
                                            <td>{{a.technical_points}}</td>
                                            <td>
                                                <div *ngIf="a.qualified == 'true'; else ifNot">
                                                    <i class="mdi mdi-checkbox-marked-circle mdi-18px text-success"
                                                        title="Qualified"></i>
                                                </div>
                                                <ng-template #ifNot>
                                                    <i class="mdi mdi-close-circle mdi-18px text-danger"
                                                        title="Not-Qualified"></i>
                                                </ng-template>
                                            </td>
                                            <td>
                                                <a (click)="deletecsdp(i)" title="Delete"><span
                                                        class="mdi mdi-delete-circle text-danger cursor-pointer mdi-18px"></span></a>
                                            </td>
                                        </tr>
                                        <tr *ngIf="addTech.length <= 0">
                                            <td colspan="15" class="text-center">
                                                <div class="text-warning fw-semibold">Please add the technical
                                                    qualification
                                                    data using the form above.</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>


                        <div class="row mt-2">
                            <div class="modal-btns">
                                <button type="submit" data-bs-toggle="modal" data-bs-target="#createModal"
                                    class="btn btn-primary btn-fw btn-sm mr-2"
                                    [disabled]="addTech.length <= 0">Submit</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Technical modal end-->

<!-- detail modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Technical Points List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3">
                <div class="container-fluid">
                    <div class="row">
                        <app-tender-detail [itemList]="rowData"></app-tender-detail>
                        <div class="col-md-12 p-0 mt-2">
                            <div class="table-responsive tableStyle">
                                <table class="table table-hover table-striped mb-3">
                                    <thead class="table-primary text-nowrap">
                                        <tr>
                                            <th>S No</th>
                                            <th>Category</th>
                                            <th>Sub-Category</th>
                                            <th>Capacity</th>
                                            <th>Experience</th>
                                            <th>Completion Period</th>
                                            <th>Resource Used</th>
                                            <th>Completion Year</th>
                                            <th>Technical Point</th>
                                            <th>Result</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-nowrap">
                                        <tr *ngFor="let a of rowData?.qualification; index as i">
                                            <td>{{ limit*(p-1)+i+1 }}</td>
                                            <td>{{ a?.qacatagory }}</td>
                                            <td>{{ a?.subqacatagory }}</td>
                                            <td>{{ a?.capacity }}</td>
                                            <td>{{ a?.total_experience}}</td>
                                            <td>{{ a?.completion_period}}</td>
                                            <td>{{ a?.resource_used}}</td>
                                            <td>{{ a?.completion_year}}</td>
                                            <td>{{ a?.technical_points}}</td>
                                            <td>
                                                <div *ngIf=" a?.qualified == true; else ifNot2">
                                                    <i class="mdi mdi-checkbox-marked-circle mdi-18px text-success"
                                                        title="Qualified"></i>
                                                </div>
                                                <ng-template #ifNot2>
                                                    <i class="mdi mdi-close-circle text-danger mdi-18px"
                                                        title="Not-Qualified"></i>
                                                </ng-template>
                                            </td>
                                        </tr>
                                        <!-- <tr *ngIf="rowData?.length == 0">
                                            <td colspan="15" class="text-center">
                                                <div class="spinner-border"> </div>
                                            </td>
                                        </tr> -->
                                        <tr *ngIf="rowData?.qualification?.length == 0">
                                            <td colspan="15" class="text-center">
                                                <div class="text-warning fw-semibold">Looks like no data available!
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- detail modal end-->