<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Technical</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="search" class="form-control form-control-sm" placeholder="Search..." [(ngModel)]="searchText">
                        </div>
                     
                        <div class="col-lg-4">
                            <div class="dropdown float-right" [class.active]="isOpen" (click)="toggleDropdown()">
                                <button class="btn filter-col btn-fw btn-sm float-right cursor-pointer">
                                 
                                     Technical &nbsp;&nbsp;&nbsp;&nbsp;
                                     <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                                      </svg>
                                    </button>
                                <ul>
                                    <li> <button type="button" class="btn btn-fw btn-sm"  routerLink="/presales/presales-biding/technical"><span class="mdi mdi-format-list-checks"></span>&nbsp;Technical</button>
                                    </li>
                                  <li><button type="button" class="btn btn-fw btn-sm" routerLink="/presales/presales-biding/financial"> <span class="mdi mdi-foursquare" ></span>&nbsp;Financial</button>
                                  </li>
                                 
                                </ul>
                              </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="float-right">
                                <!-- <button (click)="downloadPdf()" class="btn exp-excel me-2" title="Export Bulk Data Attachment File"><i class="mdi mdi-file-excel mdi-2"></i>&nbsp;
                                    Bulkload Template</button> -->
                                    <button class="btn btn-primary btn-fw btn-sm me-2" title="Download List of Data in Excel" *ngIf="isExcelDownloadData" (click)="download()">
                                          <span class="mdi mdi-upload"></span>&nbsp; Export
                                    </button>
                                    <button class="btn btn-primary btn-fw btn-sm me-2" data-bs-toggle="modal" data-bs-target="#createBulkModal" title="Upload bulk Data">
                                          <span class="mdi mdi-download"></span>&nbsp; Import 
                                    </button>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#techModal" class="btn btn-primary btn-fw btn-sm s">+ Create</button>
                         

                            </div>
                            </div>

                    
                    </div>
                    <app-responsive-table> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Client</th>
                                <th>Tender Title</th>
                                <th>Ref No</th>
                                <th>Published Date</th>
                                <th>Category</th>
                                <th>Location</th>
                                <th>Completion Period</th>
                                <th>Attachments</th>
                                <th>Created By</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr *ngFor="let a of docListData | filter:searchText | paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{limit*(p-1)+i+1}}</td>
                                <td>{{a.documentname}}</td>
                                <td>{{a.documentname}}</td>
                                <td>{{a.documentname}}</td>
                                <td>{{a.documentdate}}</td>
                                <td>{{a.documentdate}}</td>
                                <td>{{a.documentdate}}</td>
                                <td>{{a.documentdate}}</td>
                                <td data-toggle="tooltip" data-placement="bottom" title="{{ a.filename }}">
                                    {{a.filename| slice:0:10}} <span>...<i class="mdi mdi-information"></i></span>
                                </td>
                                <td>{{a.createdby_name}}</td>
                                <td>{{a.created}}</td>
                                <td>
                                    <a data-bs-toggle="modal" data-bs-target="#createModal" title="Edit Details"><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a> &nbsp;
                                    <a class="" data-bs-toggle="modal" data-bs-target="#detailModal" title="View Details"><span class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a> &nbsp;
                                     <a data-bs-toggle="modal" data-bs-target="#allDataModal" title="Delete Details" ><span class="mdi mdi-delete-circle text-danger cursor-pointer mdi-18px"></span></a>

                                </td>
                               
                            </tr>
                           
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
  <!-- Technical modal -->
   <div class="modal fade" id="techModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
   data-bs-backdrop="static" data-bs-keyboard="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Technical: Pre-Qualification</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" data-bs-target="#createModal"></button>
           </div>
           <div class="modal-body cardd">
               <div class="container-fluid">
                   <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    
                           <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Client<span class="required-asterisk">*</span></label>
                                    <select formControlName="utility_id" class="form-select form-select-sm" (ngModelChange)="getDetails($event)">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Tender Company</option>
                                        <option *ngFor="let c of companyData" value="{{c.company_id}}">{{ c.company_name }}</option>
                                    </select>
                                    <div *ngIf="f['utility_id'].touched && f['utility_id'].invalid">
                                        <small class="text-danger" *ngIf="f['utility_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Tender Title<span class="required-asterisk">*</span></label>
                                    <select formControlName="tender_id" class="form-select form-select-sm" (ngModelChange)="getrefData($event)">
                                        <option [selected]="true" [disabled]="true">Select Project</option>
                                        <option *ngFor="let c of tenderDetailsData" value="{{c.tender_id}}">{{c.tender_title}}</option>
                                    </select>
                                        <div *ngIf="f['tender_id'].touched && f['tender_id'].invalid">
                                        <small class="text-danger" *ngIf="f['tender_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Ref No</label>
                                    <span class="form-control form-control-sm" readonly >{{filterTenderDetailsData[0]?.tender_ref_no}}</span>
                                
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Publish Date</label>
                                    <span class="form-control form-control-sm" readonly >{{filterTenderDetailsData[0]?.publish_date | date: 'dd/MM/yyyy'}}</span>
        
                                </div>
                            </div>

                               <div class="col-md-12">
                                   <div class="form-group">
                                       <label class="form-label fl-10">Technical Points<span class="required-asterisk">*</span></label>
                                       <textarea formControlName="technical_qualification" type="text" class="form-control form-control-sm" placeholder="Put your bid points one by one..." appWordCapitalize>
                                      </textarea>
                                           <div *ngIf="f['technical_qualification'].touched && f['technical_qualification'].invalid">
                                           <small class="text-danger" *ngIf="f['technical_qualification'].errors?.['required']">*Required</small>
                                       </div>
                                   </div>
                               </div>
       
                               <div class="col-md-12">
                                   <div class="form-group">
                                   <label class="form-label fl-10">Bid Eligibility Criteria<span class="required-asterisk">*</span> </label>
                                   <div class="row">
                                     <label class="col-md-6 fl-10">
                                       <input type="radio" formControlName="eligibility" value="true" > &nbsp;&nbsp; Yes
                                     </label> 
                                     <label class="col-md-6 fl-10">
                                       <input type="radio" formControlName="eligibility" value="false"> &nbsp;&nbsp; No
                                     </label>
                                   </div>
                                   <div *ngIf="f['eligibility'].touched && f['eligibility'].invalid">
                                       <small class="text-danger" *ngIf="f['eligibility'].errors?.['required']">Please select Yes or No.</small>
                                   </div>
                                   </div>
                                 </div>
       
                               <div class="col-md-12">
                                   <div class="form-group">
                                       <label class="form-label fl-10">Technical Remarks<span class="required-asterisk">*</span></label>
                                       <textarea formControlName="tech_remarks" type="text" class="form-control form-control-sm" placeholder="Describe Your Technical Bid points..." appWordCapitalize>
                                      </textarea>
                                           <div *ngIf="f['tech_remarks'].touched && f['tech_remarks'].invalid">
                                           <small class="text-danger" *ngIf="f['tech_remarks'].errors?.['required']">*Required</small>
                                       </div>
                                   </div>
                               </div>
       
                               <div class="col-md-12">
                                   <div class="form-group">
                                       <div class="row ">
                                           <div class="col-lg-12 col-sm-6">
                                             <label id="label1" class="fl-10"> Upload Evidence </label><br>
                                             <input id="cin" name="cin" type="file" formControlName="attachment" (change)="onFileChanged($event)"
                                               placeholder="Upload a file..." multiple="true" />
                                           </div>
                                        
                                         </div>
                                   </div>
                               </div>
                              
       
                           </div>
   
                 
                      
   
                       <div class="row mt-2">
                        <div class="modal-btns">
                           <button type="button" class="btn btn-primary btn-fw btn-sm mr-2" (click)="addMultiTechPoints()" title="Add your all technical points">+ ADD</button>
                        </div>
                       </div>


                          
                                <app-responsive-table class="table mt-2"> 
                                <thead class="table-primary text-nowrap">
                                    <tr>
                                        <th>S No</th>
                                        <th>Client</th>
                                        <th>Title/Project</th>
                                        <th>Eligibility</th>
                                        <th>Technical Qualification</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-nowrap">
                                    <tr *ngFor="let a of addTech | paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                        <td>{{limit*(p-1)+i+1}}</td>
                                        <td data-toggle="tooltip" data-placement="bottom" title="{{ a.utility_id }}">
                                            {{a.utility_id| slice:0:15}} <span>...<i class="mdi mdi-information"></i></span>
                                        </td>
                                        <td data-toggle="tooltip" data-placement="bottom" title="{{ a.tender_id }}">
                                            {{a.tender_id| slice:0:15}} <span>...<i class="mdi mdi-information"></i></span>
                                        </td>
                                        <td data-toggle="tooltip" data-placement="bottom" title="{{ a.eligibility }}">
                                            {{a.eligibility | slice:0:15}} <span>...<i class="mdi mdi-information"></i></span>
                                        </td>
                                       
                                        <td data-toggle="tooltip" data-placement="bottom" title="{{ a.technical_qualification }}">
                                            {{a.technical_qualification| slice:0:15}} <span>...<i class="mdi mdi-information"></i></span>
                                        </td>
                                        <td data-toggle="tooltip" data-placement="bottom" title="{{ a.tech_remarks }}">
                                            {{a.tech_remarks| slice:0:15}} <span>...<i class="mdi mdi-information"></i></span>
                                        </td>
                    
                                        <td>
                                            
                                            <a (click)="deletecsdp(i)" title="Delete Details" ><span class="mdi mdi-delete-circle text-danger cursor-pointer mdi-18px"></span></a>

                                        </td>
                                        
                                    </tr>
                                    
                                </tbody>
                            </app-responsive-table>
                            <div class="pagination-sec text-center">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>

                          
                          <div class="row mt-2">
                            <div class="modal-btns">
                                <button type="submit" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm mr-2"  [disabled]="addTech.length==0" (click)="onCreateTech()">+ Submit</button> 
                                 <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
 
                             </div>
                          </div>
   
                   </form>
               </div>
           </div>
       </div>
   </div>
   </div>
   <!-- Technical modal end-->