<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Technical</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="search" class="form-control form-control-sm" placeholder="Search..." [(ngModel)]="searchText">
                        </div>
                     

                        <div class="col-lg-8">
                            <div class="float-right">
                                <!-- <button (click)="downloadPdf()" class="btn exp-excel me-2" title="Export Bulk Data Attachment File"><i class="mdi mdi-file-excel mdi-2"></i>&nbsp;
                                    Bulkload Template</button> -->
                                    <button class="btn btn-primary btn-fw btn-sm me-2" title="Download List of Data in Excel" *ngIf="isExcelDownloadData" (click)="download()">
                                          <span class="mdi mdi-upload"></span>&nbsp; Export
                                    </button>
                                    <button class="btn btn-primary btn-fw btn-sm me-2" data-bs-toggle="modal" data-bs-target="#createBulkModal" title="Upload bulk Data">
                                          <span class="mdi mdi-download"></span>&nbsp; Import 
                                    </button>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#techModal" class="btn btn-primary btn-fw btn-sm s">+ Create</button>
                         

                            </div>
                            </div>

                    
                    </div>
                    <app-responsive-table> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Tendering Company</th>
                                <th>Tender Title</th>
                                <th>Tender Ref No</th>
                                <th>Category</th>
                                <th>Location</th>
                                <th>Completion Period</th>
                                <th>Published Date</th>
                                <th>Attachments</th>
                                <th>Created By</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr *ngFor="let a of docListData | filter:searchText | paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{limit*(p-1)+i+1}}</td>
                                <td>{{a.documentname}}</td>
                                <td>{{a.documentname}}</td>
                                <td>{{a.documentname}}</td>
                                <td>{{a.documentdate}}</td>
                                <td>{{a.documentdate}}</td>
                                <td>{{a.documentdate}}</td>
                                <td>{{a.documentdate}}</td>
                                <td data-toggle="tooltip" data-placement="bottom" title="{{ a.filename }}">
                                    {{a.filename| slice:0:10}} <span>...<i class="mdi mdi-information"></i></span>
                                </td>
                                <td>{{a.createdby_name}}</td>
                                <td>{{a.created}}</td>
                                <td>
                                    <a data-bs-toggle="modal" data-bs-target="#createModal" title="Edit Details"><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a> &nbsp;
                                    <a class="" data-bs-toggle="modal" data-bs-target="#detailModal" title="View Details"><span class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a> &nbsp;
                                     <a data-bs-toggle="modal" data-bs-target="#allDataModal" title="Delete Details" ><span class="mdi mdi-delete-circle text-danger cursor-pointer mdi-18px"></span></a>

                                </td>
                               
                            </tr>
                           
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
  <!-- Technical modal -->
   <div class="modal fade" id="techModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
   data-bs-backdrop="static" data-bs-keyboard="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Technical: Pre-Qualification</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" data-bs-target="#createModal"></button>
           </div>
           <div class="modal-body cardd">
               <div class="container-fluid">
                   <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    
                           <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Client Company<span class="required-asterisk">*</span></label>
                                    <select formControlName="utility_id" class="form-select form-select-sm" (ngModelChange)="getDetails($event)">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Tender Company</option>
                                        <option *ngFor="let c of companyData" value="{{c.company_id}}">{{ c.company_name }}</option>
                                    </select>
                                    <div *ngIf="f['utility_id'].touched && f['utility_id'].invalid">
                                        <small class="text-danger" *ngIf="f['utility_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Tender Title/Projects<span class="required-asterisk">*</span></label>
                                    <select formControlName="tender_id" class="form-select form-select-sm" >
                                        <option [selected]="true" [disabled]="true">Select Project</option>
                                        <option *ngFor="let c of tenderData" value="{{c.tender_id}}">{{c.tender_title}}</option>
                                    </select>
                                        <div *ngIf="f['tender_id'].touched && f['tender_id'].invalid">
                                        <small class="text-danger" *ngIf="f['tender_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Tender Ref. No</label>
                                    <span class="form-control form-control-sm" readonly >{{tendDetails?.tender_ref_no}}</span>
                                    <!-- <div *ngIf="f['tender_ref_no'].touched && f['tender_ref_no'].invalid">
                                        <small class="text-danger" *ngIf="f['tender_ref_no'].errors?.['required']">*Required</small>
                                    </div> -->
                                </div>
                            </div>

                         

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Tender Publish Date</label>
                                    <span class="form-control form-control-sm" readonly >{{tendDetails?.publish_date}}</span>

                                    <!-- <input formControlName="publish_date" type="date" class="form-control form-control-sm" readonly> -->
                                    <!-- <div *ngIf="f['publish_date'].touched && f['publish_date'].invalid">
                                        <small class="text-danger" *ngIf="f['publish_date'].errors?.['required']">*Required</small>
                                    </div> -->
                                </div>
                            </div>


                               <div class="col-md-12">
                                   <div class="form-group">
                                       <label class="form-label fl-10">Technical Points<span class="required-asterisk">*</span></label>
                                       <textarea formControlName="technical_qualification" type="text" class="form-control form-control-sm" placeholder="Put your bid points one by one..." appWordCapitalize>
                                      </textarea>
                                           <div *ngIf="f['technical_qualification'].touched && f['technical_qualification'].invalid">
                                           <small class="text-danger" *ngIf="f['technical_qualification'].errors?.['required']">*Required</small>
                                       </div>
                                   </div>
                               </div>
       
                               <div class="col-md-12">
                                   <div class="form-group">
                                   <label class="form-label fl-10">Bid Eligibility Criteria<span class="required-asterisk">*</span> </label>
                                   <div class="row">
                                     <label class="col-md-6 fl-10">
                                       <input type="radio" formControlName="eligibility" value="true" > &nbsp;&nbsp; Yes
                                     </label> 
                                     <label class="col-md-6 fl-10">
                                       <input type="radio" formControlName="eligibility" value="false"> &nbsp;&nbsp; No
                                     </label>
                                   </div>
                                   <div *ngIf="f['eligibility'].touched && f['eligibility'].invalid">
                                       <small class="text-danger" *ngIf="f['eligibility'].errors?.['required']">Please select Yes or No.</small>
                                   </div>
                                   </div>
                                 </div>
       
                               <div class="col-md-12">
                                   <div class="form-group">
                                       <label class="form-label fl-10">Technical Remarks<span class="required-asterisk">*</span></label>
                                       <textarea formControlName="tech_remarks" type="text" class="form-control form-control-sm" placeholder="Describe Your Technical Bid points..." appWordCapitalize>
                                      </textarea>
                                           <div *ngIf="f['tech_remarks'].touched && f['tech_remarks'].invalid">
                                           <small class="text-danger" *ngIf="f['tech_remarks'].errors?.['required']">*Required</small>
                                       </div>
                                   </div>
                               </div>
       
                               <div class="col-md-12">
                                   <div class="form-group">
                                       <div class="row ">
                                           <div class="col-lg-12 col-sm-6">
                                             <label id="label1" class="fl-10"> Upload Evidence </label><br>
                                             <input id="cin" name="cin" type="file" formControlName="attachment" (change)="onFileChanged($event)"
                                               placeholder="Upload a file..." multiple="true" />
                                           </div>
                                        
                                         </div>
                                   </div>
                               </div>
                              
       
                           </div>
   
                 
                      
   
                       <div class="row mt-2">
                           <div class="modal-btns">
                               <button type="submit" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm mr-2">+ ADD</button>
                               <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm" data-bs-dismiss="modal">Close</button>

                            </div>
                       </div>
   
                   </form>
               </div>
           </div>
       </div>
   </div>
   </div>
   <!-- Technical modal end-->