<div class="container-fluid mt-2">
  <div class="row presales-head">
          <div class="col-md-8">
            <h3 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>
              Procurement Dashboard </h3>

          </div>
          <div class="col-md-4">  
          </div>
 
  </div>


<!-- filter data country state project wise -->
<div class="row mt-1">
  <div class="col-md-12">
    <div class="row module-wise ">
    <!-- <div class="col-md-1" style="font-size: 14px; margin-top: 6px; font-family:'Times New Roman', Times, serif"> 
      <i class="mdi mdi-filter-outline mdi-26px "></i> Filter 
        </div> -->
    <div class="col-md-12" style="font-family:'Times New Roman', Times, serif">
        <form  [formGroup]="form">
          <div class=" d-flex">
              <div class="col-md-2">
                <!-- <i class="mdi mdi-filter-outline mdi-26px"></i> &nbsp; -->
                  <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Country</label>
                  <div class="col-sm-8">
                    <select  class="form-select form-select-sm" formControlName="country_id" (ngModelChange)="StateData()">
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let c of countryData" value="{{c.country_id}}">{{ c.name }}</option>
                  </select>
                    
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-3 col-form-label">State</label>
                  <div class="col-sm-9">
                    <select formControlName="state_id" class="form-select form-select-sm">
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let s of stateData" value="{{s.state_id}}">{{ s.state_name }}</option>
                  </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-5 col-form-label">Duration</label>
                  <div class="col-sm-7">
                      <select class="form-select form-select-sm">
                        <option>All</option>
                          <option>April 22 - March 23</option>
                          <option>April 23 - March 24</option>
                          <option>April 24 - March 25</option>
                          <option>April 25 - March 26</option>
                      </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-5 col-form-label">Company</label>
                  <div class="col-sm-7">
                      <select class="form-select form-select-sm">
                          <option>All</option>
                          <option>GEPDEC Energy Project</option>
                          <option>GEPDEC Infra Project</option>
                      </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-5 col-form-label"> Category</label>
                  <div class="col-sm-7">
                      <select class="form-select form-select-sm">
                          <option>All</option>
                          <option>Meter</option>
                          <option>220/33kV, 80MVA Power Transformer</option>
                      </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Project</label>
                  <div class="col-sm-8">
                      <select class="form-select form-select-sm">
                          <option>All</option>
                          <option>Jaunpur Project</option>
                          <option>Noida project</option>
                      </select>
                  </div>
                  </div>
              </div>
          </div>
        </form>
      </div>
  
  </div>
  </div>
</div>

  

<div class="row">
  <div class="col-md-3 cust-padding" routerLink="/dashboard/presales-dashboard/published-tender">
    <div class="business-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-chart-bar-stacked text-center" style="color: #0070b5;font-size: 40px;"></i>
        </div>

      
        <div class="col-md-9">
          <h3> 12 </h3>
          <hr>
         <h6>Total Projects </h6>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/presales-dashboard/under-evaluation">
    <div class="cust-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-chart-gantt text-center" style="color: #ff4905; font-size: 44px;"></i>
        </div>
        <div class="col-md-9">
        <h3> 10 </h3>
          <hr>
         <h6>Final BOQ</h6>
        </div>
      </div> 
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/presales-dashboard/participation">
    <div class="Profit-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-speedometer text-center" style="color: #004cd1;font-size: 40px;"></i>
        </div>
        <div class="col-md-9">
          <h3>6 </h3>
          <hr>
         <h6>Total Items</h6>
        </div>
  
      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/presales-dashboard/win">
    <div class="loss-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-file-check text-center" style="color: #6b0167; font-size: 42px;"></i>
        </div>
        <div class="col-md-9">
         <h3> 4 </h3>
          <hr>
        <h6>Released PO</h6>
        </div>
  
      </div>
     
    </div>
  </div>    
  </div>

 <!-- Procurement-data-chart -->
 <div class="row mt-2">
     
  <div class="col-md-6 grid-margin stretch-card pe-0">
    <div class="card">
      <div class="card-body">
        <p class="card-title mb-2">Procurement: Quarterly Performance </p>
        <div class="chartBar" #containerRefProc>
          <ngx-charts-bar-vertical-stacked
          [view]="[containerRefProc.offsetWidth, 250]"
            [scheme]="colorSchemeProcure"
            [results]="ProcurementGraph"
            [gradient]="true"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="true"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabelProc"
            [yAxisLabel]="yAxisLabelProc"
            [animations]="animations"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical-stacked>
       
        </div>
        <ul class="cust-legend">
          <li><i class="mdi mdi-checkbox-blank proc_box1"></i> Released Design</li>
          <li><i class="mdi mdi-checkbox-blank proc_box3"></i> Released Item</li>
          <li><i class="mdi mdi-checkbox-blank proc_box2"></i> Released PO</li>
         
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card ">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Procurement: Values </p>
        <div class="chartBar" #containerRef3>
          <ngx-charts-pie-chart
          [view]="[containerRef3.offsetWidth - 35, 220]"
          [scheme]="colorSchemeProcurePie"
          [labels]="showLabelsPie"
          [doughnut]="true"
          [gradient]="false"
          [legend]="true"
          [results]="pieDataProc">
        </ngx-charts-pie-chart>
        </div>
        <!-- <ul class="cust-legend">
          <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
          <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
          <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
        </ul> -->
        
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
<div class="col-md-6 grid-margin stretch-card pe-0">
    <div class="card">
      <div class="card-body">
        <p class="card-title mb-2">Quarterly Performance </p>
   
        <div class="chartBar" #containerRef4>
          <ngx-charts-bar-vertical-2d
          [view]="[containerRef4.offsetWidth, 190]"
          [scheme]="colorSchemeLoadQuarter"
          [results]="multi"
          [xAxis]="showXAxis"
          [gradient]="true"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabelBarLoad"
          [yAxisLabel]="yAxisLabelBarLoad"
          [barPadding]="5"
          [groupPadding]="7">
        </ngx-charts-bar-vertical-2d>
        </div>
        <ul class="cust-legend">
          <li><i class="mdi mdi-checkbox-blank load_box1"></i> Total Projects</li>
          <li><i class="mdi mdi-checkbox-blank load_box2"></i> Total Items</li>
          <li><i class="mdi mdi-checkbox-blank load_box3"></i> Released PO</li>
          <li><i class="mdi mdi-checkbox-blank load_box4"></i> PO</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title mb-2">Project Status</p>
        <div class="cardHead">
          <div class="row">
            <div class="col-md-2">S No</div>
            <div class="col-md-4">Project Name</div>
            <div class="col-md-3">Delivery Date</div>
            <div class="col-md-3 text-center">Status</div>
          </div>
        </div>
        <div class="card1 mt-1">
          <div class="row">
            <div class="col-md-2">1</div>
            <div class="col-md-4">Taldihi</div>
            <div class="col-md-3">10-01-2024</div>
            <div class="col-md-3 badge badge-pill badge-danger text-black">Delayed</div>
          </div>
        </div>
        <div class="card2 mt-1">
          <div class="row">
            <div class="col-md-2">2</div>
            <div class="col-md-4">Jaunpur</div>
            <div class="col-md-3">10-02-2024</div>
            <div class="col-md-3 badge badge-pill badge-success text-black">Ontime</div>
          </div>
        </div>
        <div class="card3 mt-1">
          <div class="row">
            <div class="col-md-2">3</div>
            <div class="col-md-4">Noida Sec-45</div>
            <div class="col-md-3">15-03-2024</div>
            <div class="col-md-3 badge badge-pill badge-success text-black">Ontime</div>
          </div>
        </div>
        <div class="card4 mt-1">
          <div class="row">
            <div class="col-md-2">4</div>
            <div class="col-md-4">Delhi</div>
            <div class="col-md-3">25-01-2024</div>
            <div class="col-md-3 badge badge-pill badge-warning">Delayed</div>
          </div>
        </div>
        <div class="card5 mt-1">
          <div class="row">
            <div class="col-md-2">5</div>
            <div class="col-md-4">Noida</div>
            <div class="col-md-3">13-04-2024</div>
            <div class="col-md-3 badge badge-pill badge-success text-black">Ontime</div>
          </div>
        </div>
       
      </div>
    </div>
  </div>

</div>

</div>