
<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="mr-md-3 mr-xl-5">
          <h3 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>BUSINESS PROCUREMENT DASHBOARD </h3>
        </div>
      
    </div>
</div>

<div class="row mt-1">
  <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
      <div class="d-flex flex-wrap justify-content-xl-between">
      
        <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-1">
          <div class="d-flex flex-column justify-content-around" routerLink="/dashboard/presales-dashboard/published-tender">
            <small class="text-light text-center t-heading py-2">
              <img src="../../../assets/images/allTend.png" style="width: 35px; height: 20px;">
              &nbsp;&nbsp;&nbsp;&nbsp;
              TENDER PUBLISHED </small>
            <div class="d-flex text-center">
            
              <div class="col-lg-12 py-2" style="background: #4670b7;">
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-light"></small> <br>
                    <small class="text-light">NOs.</small> <br>
                    <small class="text-light">Values(Cr.)</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">MTD</small><br>
                    <small class="text-light">999</small><br>
                    <small class="text-light">999</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">YTD</small><br>
                    <small class="text-light">999</small> <br>
                    <small class="text-light">999</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-6">
          <div class="d-flex flex-column justify-content-around"  routerLink="/dashboard/presales-dashboard/under-evaluation">
            <small class="text-light text-center t-heading py-2">
              <img src="../../../assets/images/tender_eval.png" style="width: 35px; height: 20px; ">
              &nbsp;
              UNDER EVALUATION</small>
            <div class="d-flex text-center">
              <div class="col-lg-12 py-2" style="background: #c37e29;">
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-light"></small> <br>
                    <small class="text-light">NOs.</small> <br>
                    <small class="text-light">Values(Cr.)</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">MTD</small><br>
                    <small class="text-light">999</small><br>
                    <small class="text-light">999</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">YTD</small><br>
                    <small class="text-light">999</small> <br>
                    <small class="text-light">999</small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-2">
          <div class="d-flex flex-column justify-content-around"  routerLink="/dashboard/presales-dashboard/participation">
            <small class="text-light text-center t-heading py-2">
              <img src="../../../assets/images/partTend.png" style="width: 35px; height: 20px;   ">
&nbsp;&nbsp;&nbsp;
              PARTICIPATION</small>
            <div class="d-flex text-center">
          
              <div class="col-lg-12 py-2" style="background: #1b764b">
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-light"></small> <br>
                    <small class="text-light">NOs.</small> <br>
                    <small class="text-light">Values(Cr.)</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">MTD</small><br>
                    <small class="text-light">999</small><br>
                    <small class="text-light">999</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">YTD</small><br>
                    <small class="text-light">999</small> <br>
                    <small class="text-light">999</small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-5">
          <div class="d-flex flex-column justify-content-around"  routerLink="/dashboard/presales-dashboard/abandoned">
            <small class="text-light text-center t-heading py-2">
              <img src="../../../assets/images/losBid.png" style="width: 35px; height: 20px;"> 
              &nbsp;&nbsp;&nbsp;&nbsp;
              ABANDONED</small>
            <div class="d-flex text-center">
          

              <div class="col-lg-12 py-2" style="background: rgb(159 77 77);">
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-light"></small> <br>
                    <small class="text-light">NOs.</small> <br>
                    <small class="text-light">Values(Cr.)</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">MTD</small><br>
                    <small class="text-light">999</small><br>
                    <small class="text-light">999</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">YTD</small><br>
                    <small class="text-light">999</small> <br>
                    <small class="text-light">999</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-3">
          <div class="d-flex flex-column justify-content-around"  routerLink="/dashboard/presales-dashboard/win">
            <small class="text-light text-center t-heading py-2">
              <img src="../../assets/images/winBid.png" style="width: 35px; height: 20px;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              WINS</small>
            <div class="d-flex text-center">
           
              <div class="col-lg-12 py-2" style="background: #085f69;">
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-light"></small> <br>
                    <small class="text-light">NOs.</small> <br>
                    <small class="text-light">Values(Cr.)</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">MTD</small><br>
                    <small class="text-light">999</small><br>
                    <small class="text-light">999</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">YTD</small><br>
                    <small class="text-light">999</small> <br>
                    <small class="text-light">999</small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      
       
        <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-4">
         
          <div class="d-flex flex-column justify-content-around"  routerLink="/dashboard/presales-dashboard/completed">
            <small class="text-light text-center t-heading py-2">
              <img src="../../../assets/images/comBid.png" style="width: 35px; height: 20px;">
              &nbsp;&nbsp;&nbsp;&nbsp;
              COMPLETED</small>
            <div class="d-flex text-center">
              <div class="col-lg-12 py-2" style="background: #819d4b;">
                <div class="row">
                  <div class="col-md-6">
                    <small class="text-light"></small> <br>
                    <small class="text-light">NOs.</small> <br>
                    <small class="text-light">Values(Cr.)</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">MTD</small><br>
                    <small class="text-light">999</small><br>
                    <small class="text-light">999</small>
                  </div>
                  <div class="col-md-3">
                    <small class=" text-light">YTD</small><br>
                    <small class="text-light">999</small> <br>
                    <small class="text-light">999</small>
                  </div>
                </div>
              </div>
           
            </div>
          </div>
        </div>
     
      </div>
    </div>
</div>

  <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Warehouse | Store Module </p>
          
            <div class="chartBar" #containerRef4>
              <ngx-charts-bar-vertical-2d
              [view]="[containerRef4.offsetWidth, 190]"
              [scheme]="colorSchemeLoad"
              [results]="multi"
              [xAxis]="showXAxis"
              [gradient]="true"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBarLoad"
              [yAxisLabel]="yAxisLabelBarLoad"
              [barPadding]="5"
              [groupPadding]="7">
            </ngx-charts-bar-vertical-2d>
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank load_box1"></i> Last Year</li>
              <li><i class="mdi mdi-checkbox-blank load_box2"></i> This Year</li>
            </ul>
          </div>
        </div>
      </div>
    <div class="col-md-6 grid-margin stretch-card ">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Procurement Module </p>
   
          <div class="chartBar" #containerRef3>
            <ngx-charts-pie-chart
            [view]="[containerRef3.offsetWidth - 35, 220]"
            [scheme]="colorSchemeLoad"
            [labels]="showLabelsPie"
            [doughnut]="true"
            [gradient]="true"
            [legend]="true"
            [results]="pieDataCust">
          </ngx-charts-pie-chart>
          </div>
 
          
        </div>
      </div>
    </div>
  
  </div>
  <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-2">Execution Module</p>
          <div class="chartBar" #containerRef5>
            <ngx-charts-line-chart
            [view]="[containerRef5.offsetWidth, 210]"
            [scheme]="lineColorScheme"
            [results]="lineChart"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showYAxisLabelLine"
            [gradient]="true"
            [showYAxisLabel]="showYAxisLabelLine"
            [xAxisLabel]="xAxisLabelLine"
            [yAxisLabel]="yAxisLabelLine">
          </ngx-charts-line-chart>
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank l_box1"></i> Last Year</li>
            <li><i class="mdi mdi-checkbox-blank l_box2"></i> This Year</li>
          </ul>
                           
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Quality & Safety Module</p>
  
          <div class="chartBar" #containerRef6>
            <ngx-charts-pie-chart
            [view]="[containerRef6.offsetWidth - 35, 220]"
            [scheme]="lineColorScheme"
            [labels]="showLabelsPie"
            [gradient]="true"
            [doughnut]="true"
            [legend]="true"
            [results]="pieDataCust">
          </ngx-charts-pie-chart>
          </div>
    
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Design Segment </p>
       
          <div class="chartBar" #containerRef2>
            <ngx-charts-pie-chart
              [view]="[containerRef2.offsetWidth - 30, 220]"
              [scheme]="pieColorsCust"
              [labels]="showLabelsPie"
              [gradient]="true"
              [legend]="true"
              [results]="pieDataCust">
            </ngx-charts-pie-chart>
          </div>
    
          
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Pre Sales | Biding Process</p>
           
            <div class="chartBar" #containerRef>
              <ngx-charts-bar-vertical-2d
              [view]="[containerRef.offsetWidth, 190]"
              [scheme]="mainColorScheme"
              [results]="multi"
              [xAxis]="showXAxis"
              [gradient]="true"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBar"
              [yAxisLabel]="yAxisLabelBar"
              [barPadding]="5"
              [groupPadding]="7">
            </ngx-charts-bar-vertical-2d>
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank box1"></i> Last Year</li>
              <li><i class="mdi mdi-checkbox-blank box2"></i> This Year</li>
            </ul>
            
          </div>
        </div>
      </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Project Handover Module</p>
        
          <div class="chartBar" #containerRef7>
            <ngx-charts-pie-chart
            [view]="[containerRef7.offsetWidth, 240]"
            [scheme]="pieColorsOL"
            [labels]="true"
            [legend]="true"
            [gradient]="true"
            [results]="pieData">
          </ngx-charts-pie-chart>
          </div>
        
          
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-2">Payment Module</p>
       
          <div class="chartBar" #containerRef8>
            <ngx-charts-bar-vertical-2d
            [view]="[containerRef8.offsetWidth, 195]"
            [scheme]="colorSchemeOS"
            [results]="multi"
            [xAxis]="showXAxis"
            [gradient]="true"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [legend]="false"
            [xAxisLabel]="xAxisLabelBarOS"
            [yAxisLabel]="yAxisLabelBarOS"
            [barPadding]="5"
            [groupPadding]="7">
          </ngx-charts-bar-vertical-2d>
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank o_box1"></i> Last Year</li>
            <li><i class="mdi mdi-checkbox-blank o_box2"></i> This Year</li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Financial Module</p>
        
          <div class="chartBar" #containerRef10>
            <ngx-charts-bar-vertical
              [view]="view2" 
              [scheme] ="colorSchemeFin" 
              [results]="financial" 
              [gradient]="gradient2"
              [xAxis]="showXAxis2"
              [yAxis]="showYAxis2"
              [legend]="showLegend2" 
              [showXAxisLabel]="showXAxisLabel2" 
              [showYAxisLabel]="showYAxisLabel2"
              [xAxisLabel]="xAxisLabel2"
              [yAxisLabel]="yAxisLabel2"
              (select)="onSelect($event)">
           </ngx-charts-bar-vertical>
         
          </div>
   
          
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Project Closure</p>
       
          <div class="chartBar" #containerRef9>
            <ngx-charts-pie-chart
            [view]="[containerRef9.offsetWidth - 35, 180]"
            [scheme]="pieColorsSegment"
            [gradient]="true"
            [legend]="true"
            [results]="pieDataSegment">
          </ngx-charts-pie-chart>
          </div>
   
          
        </div>
      </div>
    </div>
   
   
   
  </div>
  <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Performance</p>
     
          <div class="chartBar">
            <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis1"
            [yAxis]="showYAxis1"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel1"
            [showYAxisLabel]="showYAxisLabel1"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
          </ngx-charts-bar-vertical>
          </div>

          
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Alert & Alarms</p>
       
          <div class="chartBar" #containerRef12>
            <ngx-charts-pie-chart
            [view]="[containerRef12.offsetWidth - 40, 180]"
            [scheme]="pieColorsAlarmType"
            [gradient]="true"
            [legend]="true"
            [doughnut]="true"
            [results]="pieDataAlarmType">
          </ngx-charts-pie-chart>
          </div>
    
          
        </div>
      </div>
    </div>
    
    <!-- <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-2">Alert & Alarms</p>
          <div class="table-responsive ht-auto">
            <table class="table table-hover table-striped">
              <thead class="table-primary text-nowrap">
                <tr>
                    <th>Status</th>
                    <th>Critical</th>
                    <th>Major</th>
                    <th>Minor</th>
                </tr>
              </thead>
              <tbody class="text-nowrap">
                <tr>
                    <td>Open</td>
                    <td>410</td>
                    <td>110</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Close</td>
                    <td>520</td>
                    <td>30</td>
                    <td>490</td>
                </tr>
                <tr>
                    <td>Pending</td>
                    <td>522</td>
                    <td>222</td>
                    <td>300</td>
                </tr>
                <tr class="table-footer fw-bold">
                    <td>Total</td>
                    <td>5,020</td>
                    <td>2,020</td>
                    <td>3,000</td>
                </tr>
              </tbody>
            </table>
          </div>
                           
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Closure Data</p>
            <div class="table-responsive ht-auto">
              <table class="table table-hover table-striped">
                <thead class="table-primary text-nowrap">
                  <tr>
                      <th>Status</th>
                      <th>Critical</th>
                      <th>Major</th>
                      <th>Minor</th>
                  </tr>
                </thead>
                <tbody class="text-nowrap">
                  <tr>
                      <td>Open</td>
                      <td>410</td>
                      <td>110</td>
                      <td>300</td>
                  </tr>
                  <tr>
                      <td>Close</td>
                      <td>520</td>
                      <td>30</td>
                      <td>490</td>
                  </tr>
                  <tr>
                      <td>Pending</td>
                      <td>522</td>
                      <td>222</td>
                      <td>300</td>
                  </tr>
                  <tr class="table-footer fw-bold">
                      <td>Total</td>
                      <td>5,020</td>
                      <td>2,020</td>
                      <td>3,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
                             
          </div>
        </div>
      </div> -->
  </div>