.presales-head{
    padding: 6px 0px 0px 4px ;
    font-weight: 500;
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
    background-color: #1a1a6f;
    border-radius: 4px;
  }
  .t-1 {
    background: rgb(49,92,164);
    background: linear-gradient(90deg, rgb(0 53 141) 0%, rgb(11 90 225) 50%, rgb(72 81 97 / 96%) 100%);  }
  .t-1:hover{
    width:200px;
    transition: transform 0.2s;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }
  
  .t-2 {
    background: rgb(119 181 151);
    background: linear-gradient(18deg, #037f44 0%, rgb(17 55 37) 50%, rgb(4 201 105) 100%);
}
  .t-2:hover{
    width:200px;
    transition: transform 0.2s;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }
  
  .t-3 {
    background: #0092a3;
    background: linear-gradient(18deg, #017987 0%, #0e4a51 50%, #02c5db 100%);
  }
  .t-3:hover{
    width:200px;
    transition: transform 0.2s;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }

  
  .t-4{
    background: #d6fc8f;
    background: linear-gradient(18deg, #3f8d06f0 0%, #3d4f1b 50%, #8ad303 100%);
  }
  .t-4:hover{
    width:200px;
    transition: transform 0.2s;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }
  
  .t-5{
    background: #dc3545;
    background: linear-gradient(18deg, #b70617 0%, #512121 50%, #e70101 100%);
}
  .t-5:hover{
    width:200px;
    transition: transform 0.2s;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }
  .t-6 {
    background: rgb(238, 173, 95);
    background: linear-gradient(18deg, #874c00 0%, #4f3f2c 50%, #ff8f08 100%);
  }
  .t-6:hover{
    width:200px;
    transition: transform 0.2s;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }
  
  .t-heading {
    background: #0000002b;
    font-size: 0.85rem;
    font-weight: 500;
  }
  
  ul.legend-labels {
    width: auto !important;
  }
  
  .label-under-border {
    position: absolute;
      top: -8px;
      left: 7px;
      padding: 2px 5px;
      z-index: 1;
      /* background: #7dbaf4; */
  }