<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>User Roles</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="text" class="form-control form-control-sm" placeholder="Search">
                        </div>
                        <div class="col-lg-8">
                            <ul class="head-ul d-flex">
                                <li><input type="checkbox" class="form-control-sm mt-1"></li>
                                <li class="me-5"><label class="col-form-label">Show Inactive</label></li>
                            </ul>
                            <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm float-right">+ Company</button> -->
                        </div>
                    </div>
                    <app-responsive-table id="export"> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Name</th>
                                <th>Usetype</th>
                                <th>Description</th>
                                <th>Created By</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr *ngFor="let a of rolesList | paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{limit*(p-1)+i+1}}</td>
                                <td>{{a.name}}</td>
                                <td>{{a.type}}</td>
                                <td>{{a.desc}}</td>
                                <td>{{a.createdBy}}</td>
                                <td>{{a.createdAt | date: 'dd/MM/yyyy hh:mm a' : 'GMT'}}</td>
                                <td>
                                    <a href="#" class="px-1" data-bs-toggle="modal" data-bs-target="#roleEdit" title="Update Roles"><span class="mdi mdi-pencil text-primary cursor-pointer mdi-18px"></span></a>
                                </td>
                            </tr>
                            <tr *ngIf="!rolesList">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
