<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Proposal 1</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search">
                        </div>
                        <div class="col-lg-8">
                            <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm float-right">+ Create</button> -->
                        </div>
                    </div>
                    <app-responsive-table> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>BOQ Code</th>
                                <th>Description</th>
                                <th>Client Name</th>
                                <th>Site Address</th>
                                <th>No of Items</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <!-- <tr *ngFor="let a of dataList | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i"> -->
                            <tr>
                                <!-- <td>{{ limit*(p-1)+i+1 }}</td> -->
                                <td>1</td>
                                <td data-bs-toggle="modal" data-bs-target="#detailModal" title="BOQ Items List" (click)="rowListData()" class="cursor-pointer text-primary text-decoration-underline">TD00101</td>
                                <td>Demo</td>
                                <td>Power</td>
                                <td>Noida</td>
                                <td>10</td>
                                <td>Pending</td>
                                <td>
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        <span class="mdi mdi-format-align-bottom"></span>
                                      </button>
                                </td>
                                <!-- <td>
                                    <a data-bs-toggle="modal" data-bs-target="#createModal" title="Update Item"><span class="mdi mdi-pencil cursor-pointer mdi-18px"></span></a>
                                </td> -->
                            </tr>
                            <td colspan="15" id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <tr>
                                    <td class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</td>
                                </tr>
                                <tr>
                                    <td class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</td>
                                </tr>
                                <tr>
                                    <td class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</td>
                                </tr>
                            </td>
                            <tr>
                                <!-- <td>{{ limit*(p-1)+i+1 }}</td> -->
                                <td>2</td>
                                <td data-bs-toggle="modal" data-bs-target="#detailModal" title="BOQ Items List" (click)="rowListData()" class="cursor-pointer text-primary text-decoration-underline">TD00101</td>
                                <td>Demo</td>
                                <td>Power</td>
                                <td>Noida</td>
                                <td>10</td>
                                <td>Pending</td>
                                <td>
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                                        <span class="mdi mdi-format-align-bottom"></span>
                                      </button>
                                </td>
                                <!-- <td>
                                    <a data-bs-toggle="modal" data-bs-target="#createModal" title="Update Item"><span class="mdi mdi-pencil cursor-pointer mdi-18px"></span></a>
                                </td> -->
                            </tr>
                            <td colspan="15" id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-collapseTwo" data-bs-parent="#accordionFlushExample">
                                <tr>
                                    <td class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</td>
                                </tr>
                                <tr>
                                    <td class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</td>
                                </tr>
                                <tr>
                                    <td class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</td>
                                </tr>
                            </td>
                            <tr *ngIf="dataList?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <!-- <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr> -->
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<!-- <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Shipping Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Address For<span class="required-asterisk">*</span></label>
                                    <select formControlName="addressFor" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Type</option>
                                        <option>Purchaser</option>
                                        <option>Vendor</option>
                                    </select>
                                    <div *ngIf="f['addressFor'].touched && f['addressFor'].invalid">
                                        <small class="text-danger" *ngIf="f['addressFor'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Billing Address Code<span class="required-asterisk">*</span></label>
                                    <select formControlName="billingAddress" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Code</option>
                                        <option>Demo Address</option>
                                    </select>
                                    <div *ngIf="f['billingAddress'].touched && f['billingAddress'].invalid">
                                        <small class="text-danger" *ngIf="f['billingAddress'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Billing Address Details<span class="required-asterisk">*</span></label>
                                    <input formControlName="billingDetails" type="text" class="form-control form-control-sm" readonly>
                                    <div *ngIf="f['billingDetails'].touched && f['billingDetails'].invalid">
                                        <small class="text-danger" *ngIf="f['billingDetails'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="form-label">Address Code<span class="required-asterisk">*</span></label>
                                    <input formControlName="code" type="text" class="form-control form-control-sm">
                                    <div *ngIf="f['code'].touched && f['code'].invalid">
                                        <small class="text-danger" *ngIf="f['code'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="form-label">Type<span class="required-asterisk">*</span></label>
                                    <select formControlName="type" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Type</option>
                                        <option>Warehouse</option>
                                        <option>On-site</option>
                                    </select>
                                    <div *ngIf="f['type'].touched && f['type'].invalid">
                                        <small class="text-danger" *ngIf="f['type'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Address (House/Flat No, Street No & Area)<span class="required-asterisk">*</span></label>
                                    <input formControlName="address" type="text" class="form-control form-control-sm">
                                    <div *ngIf="f['address'].touched && f['address'].invalid">
                                        <small class="text-danger" *ngIf="f['address'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="form-label">Country<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" formControlName="country" (change)="getStateData()">
                                        <option [selected]="true" [disabled]="true">Select Country</option>
                                        <option *ngFor="let t of countryData" [value]="t.country_id">{{ t.name }}</option>
                                    </select>
                                    <div *ngIf="f['country'].touched && f['country'].invalid">
                                        <small class="text-danger" *ngIf="f['country'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">State<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" formControlName="state" (change)="getDistrictData()">
                                        <option [selected]="true" [disabled]="true">Select State</option>
                                        <option *ngFor="let t of stateData" [value]="t.state_id">{{ t.state_name }}</option>
                                    </select>
                                    <div *ngIf="f['state'].touched && f['state'].invalid">
                                        <small class="text-danger" *ngIf="f['state'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">District<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" formControlName="district" (change)="getCityData()">
                                        <option [selected]="true" [disabled]="true">Select District</option>
                                        <option *ngFor="let t of districtData" [value]="t.district_id">{{ t.district_name }}</option>
                                    </select>
                                    <div *ngIf="f['district'].touched && f['district'].invalid">
                                        <small class="text-danger" *ngIf="f['district'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">City<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" formControlName="city">
                                    <option [selected]="true" [disabled]="true">Select City</option>
                                        <option *ngFor="let t of cityData" [value]="t.city_id">{{ t.city }}</option>
                                    </select>
                                    <div *ngIf="f['city'].touched && f['city'].invalid">
                                        <small class="text-danger" *ngIf="f['city'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Pincode<span class="required-asterisk">*</span></label>
                                    <input formControlName="pincode" type="text" class="form-control form-control-sm" appNoSpace appNumberOnly>
                                    <div *ngIf="f['pincode'].touched && f['pincode'].invalid">
                                        <small class="text-danger" *ngIf="f['pincode'].errors?.['required']">*Required</small>
                                        <small class="text-danger" *ngIf="f['pincode'].errors?.['pattern']">*Please enter 6 digit code.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-btns">
                                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary btn-fw btn-sm mr-2">Submit</button>
                                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Submitting...</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm"
                                data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- create modal end-->

<!-- detail modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">BOQ Items List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <div class="table-responsive tableStyle">
                                <table class="table table-hover table-striped mb-3">
                                    <thead class="table-primary text-nowrap">
                                        <tr>
                                            <th>S No</th>
                                            <th>Item Code</th>
                                            <th>Item Description</th>
                                            <th>Quantity</th>
                                            <th>Procurement UOM</th>
                                            <th>Item UOM</th>
                                            <!-- <th>Item Cost</th> -->
                                            <!-- <th>Last Purchased Date</th>
                                            <th>Last Purchased Quantity</th> -->
                                        </tr>
                                    </thead>
                                    <tbody class="text-nowrap">
                                        <!-- <tr *ngFor="let a of rowData?.item; index as i"> -->
                                        <tr>
                                            <!-- <td>{{ limit*(p-1)+i+1 }}</td> -->
                                            <td>1</td>
                                            <td>ITM0001</td>
                                            <td>Demo Item</td>
                                            <td>50</td>
                                            <td>Ton</td>
                                            <td>KG</td>
                                        </tr>
                                        <!-- <tr *ngIf="rowData?.length == 0">
                                            <td colspan="15" class="text-center">
                                                <div class="spinner-border"> </div>
                                            </td>
                                        </tr> -->
                                        <!-- <tr *ngIf="verificationData?.length == 0">
                                            <td colspan="15" class="text-center">
                                                <div class="text-warning fw-semibold">Looks like no data available!</div>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-btns">
                                <button type="button" class="btn btn-primary btn-fw btn-sm mr-2">Send Proposal</button>
                                <!-- <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Submitting...</button> -->
                                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm"
                                data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- detail modal end-->