<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
          <div class="mr-md-3 mr-xl-5">
            <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Warehouse Inventory Item</h4>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-end flex-wrap"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex my-10">
            <div class="col-lg-4">
              <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Search">
            </div>
            <div class="col-lg-8">
              <!-- <button type="button" (click)="onCreate()" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm float-right">+ Create</button> -->
            </div>
          </div>
          <app-responsive-table id="export">
            <thead class="table-primary text-nowrap">
              <tr>
                <th>S No</th>
                <th>Warehouse Code</th>
                <th>Location Label Code</th>
                <th>Item Code</th>
                <th>Description</th>
                <th>Category</th>
                <th>Sub-Category</th>
                <th>Qty</th>
                <th>UOM</th>
              </tr>
            </thead>
            <tbody class="text-nowrap">
              <tr *ngFor="let a of itemData | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                <td>{{ limit*(p-1)+i+1 }}</td>
                <td>WH001</td>
                <td>WH001-L001</td>
                <td>{{ a.itemcode }}</td>
                <td>{{ a.description }}</td>
                <td>{{ a.itemcategory }}</td>
                <td>{{ a.subcategory }}</td>
                <td>100</td>
                <td>{{ a.uom }}</td>
              </tr>
              <tr *ngIf="itemData?.length == 0">
                <td colspan="15" class="text-center"><div class="spinner-border"> </div></td>
              </tr>
              <tr *ngIf="isNotFound == true">
                <td colspan="15" class="text-center"><div class="text-warning fw-semibold">Looks like no data available!</div></td>
              </tr>
            </tbody>
          </app-responsive-table>
          <div class="pagination-sec text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Design</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">warehouse_id<span class="required-asterisk">*</span></label>
                  <select formControlName="warehouse_id" class="form-select form-select-sm">
                    <option [selected]="true" [disabled]="true" [value]="null">select</option>
                    <option *ngFor="let t of wareHouseData" [value]="t.warehouse_id">{{ t.warehouse_name | titlecase }}
                    </option>
                  </select>
                  <div *ngIf="f['warehouse_id'].touched && f['warehouse_id'].invalid"><small class="text-danger" *ngIf="f['warehouse_id'].errors?.['required']">*Required</small></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">State Name<span class="required-asterisk">*</span></label>
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">State Code<span class="required-asterisk">*</span></label>
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
              <div class="modal-btns">
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-rounded btn-fw btn-sm mr-2">Add</button>
                <button type="button" id="cancel" class="btn btn-secondary btn-rounded btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
