
<div class="row">
    <div class="col-md-8 col-sm-8 col-lg-8">
        <div class="mr-md-3 mr-xl-5">
            <h3 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>BUSINESS PERFORMANCE DASHBOARD </h3>
          </div>
      
    </div>
    <div class="col-md-4">
      <div class=" row mt-2">
          <label class="col-sm-3 col-form-label"  style="font-size: 12px; font-weight: 600;">Duration:</label>
          <div class="col-sm-9">
              <select class="form-select form-select-sm">
                <option>All</option>
                  <option>April 22 - March 23</option>
                  <option>April 23 - March 24</option>
                  <option>April 24 - March 25</option>
                  <option>April 25 - March 26</option>
                
              </select>
          </div>
          </div>    
  </div>
</div>

<div class="row ">
  <div class="col-md-3 cust-padding" routerLink="/dashboard/comp-dashboard" >
    <div class="business-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-coin mdi-36px text-danger text-center"></i>
        </div>
        <div class="col-md-9">
          <h3> 000M </h3>
          <hr>
         <h6> Revenue </h6>
        </div>

      </div>
     

    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/fin-dashboard">
    <div class="cust-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-account-multiple mdi-36px text-warning text-center"></i>
        </div>
        <div class="col-md-9">
        <h3> 30,0000 </h3>
          <hr>
         <h6> New Customers </h6>
        </div>

      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/performance-dashboard">
    <div class="Profit-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-chart-line mdi-36px text-success text-center"></i>
        </div>
        <div class="col-md-9">
          <h3>0000M </h3>
          <hr>
         <h6> Gross Profit </h6>
        </div>

      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/procurement-dashboard">
    <div class="loss-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-account-star mdi-36px text-primary text-center"></i>
        </div>
        <div class="col-md-9">
         <h3> 00.0 % </h3>
          <hr>
        <h6>Customer Satisfaction </h6>
        </div>

      </div>
     
    </div>
  </div>    
</div>

<div class="row mt-1">
  <div class="col-md-3 cust-padding" routerLink="" >
    <div class="business-card p-2">
      <div class="row">
        <div class="col-md-5 ">
          <h6> 000M </h6>
          <hr>
          <small>Previous</small>
        </div>
        <div class="col-md-5">
          <h6> +00.0% </h6>
          <hr>
          <small>change</small>
        </div>
        <div class="col-md-2">
          <i class="mdi mdi-arrow-down mdi-36px text-danger text-center"></i>
        </div>
      </div>
     

    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/fin-dashboard">
    <div class="cust-card p-2">
      <div class="row">
        <div class="col-md-5">
          <h6> 000M </h6>
          <hr>
          <small>Previous</small>
        </div>
        <div class="col-md-5">
          <h6> +00.0% </h6>
          <hr>
          <small>change</small>
        </div>
        <div class="col-md-2">
          <i class="mdi mdi-arrow-up mdi-36px text-warning text-center"></i>
        </div>
      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/performance-dashboard">
    <div class="Profit-card p-2">
      <div class="row">
        <div class="col-md-5">
          <h6> 000M </h6>
          <hr>
          <small>Previous</small>
        </div>
        <div class="col-md-5">
          <h6> +00.0% </h6>
          <hr>
          <small>change</small>
        </div>
        <div class="col-md-2">
          <i class="mdi mdi-arrow-up mdi-36px text-success text-center"></i>
        </div>
      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/procurement-dashboard">
    <div class="loss-card p-2">
      <div class="row">
        <div class="col-md-5">
          <h6> 000M </h6>
          <hr>
          <small>Previous</small>
        </div>
        <div class="col-md-5">
          <h6> +00.0% </h6>
          <hr>
          <small>change</small>
        </div>
        <div class="col-md-2">
          <i class="mdi mdi-arrow-down mdi-36px text-primary text-center"></i>
        </div>
      </div>
     
    </div>
  </div>    
</div>

  <div class="row mt-2">
    <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Quarterly Sales Comparison </p>
       
            <div class="chartBar" #containerRef4>
              <ngx-charts-bar-vertical-2d
              [view]="[containerRef4.offsetWidth, 190]"
              [scheme]="colorSchemeLoadQuarter"
              [results]="multi"
              [xAxis]="showXAxis"
              [gradient]="true"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBarLoad"
              [yAxisLabel]="yAxisLabelBarLoad"
              [barPadding]="5"
              [groupPadding]="7">
            </ngx-charts-bar-vertical-2d>
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank load_box1"></i> Q1</li>
              <li><i class="mdi mdi-checkbox-blank load_box2"></i> Q2</li>
              <li><i class="mdi mdi-checkbox-blank load_box3"></i> Q3</li>
              <li><i class="mdi mdi-checkbox-blank load_box4"></i> Q4</li>
            </ul>
          </div>
        </div>
      </div>
    <div class="col-md-6 grid-margin stretch-card ">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <p class="card-title mb-2 col-md-6">Average Revenue Per Unit</p>
            <p class=" col-md-6 p-1 bg-warning text-center rounded">$000</p>
          </div>
          <div class="chartBar" #containerRef5>
            <ngx-charts-line-chart
            [view]="[containerRef5.offsetWidth, 210]"
            [scheme]="lineColorScheme"
            [results]="lineChart"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showYAxisLabelLine"
            [gradient]="true"
            [showYAxisLabel]="showYAxisLabelLine"
            [xAxisLabel]="xAxisLabelLine"
            [yAxisLabel]="yAxisLabelLine">
          </ngx-charts-line-chart>
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank l_box1"></i> Last Year</li>
            <li><i class="mdi mdi-checkbox-blank l_box2"></i> This Year</li>
          </ul>
                           
        </div>
      </div>
    </div>
  
  </div>
  <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Lead By Status</p>
      
          <div class="chartBar" #containerRef12>
            <ngx-charts-pie-chart
            [view]="[containerRef12.offsetWidth - 40, 180]"
            [scheme]="pieColorsAlarmType"
            [gradient]="true"
            [legend]="true"
            [doughnut]="true"
            [results]="pieDataAlarmType">
          </ngx-charts-pie-chart>
          </div>
      
          
        </div>
      </div>
    
    </div>
    <div class="col-md-6 grid-margin stretch-card ">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <p class="card-title mb-2 col-md-6">Customer Life Time Value</p>
            <p class=" col-md-6 p-1 bg-success text-center rounded">$000</p>
          </div>
          <div class="chartBar" #containerRef5>
            <ngx-charts-line-chart
            [view]="[containerRef5.offsetWidth, 210]"
            [scheme]="lineColorScheme"
            [results]="lineChart"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showYAxisLabelLine"
            [gradient]="true"
            [showYAxisLabel]="showYAxisLabelLine"
            [xAxisLabel]="xAxisLabelLine"
            [yAxisLabel]="yAxisLabelLine">
          </ngx-charts-line-chart>
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank l_box1"></i> Last Year</li>
            <li><i class="mdi mdi-checkbox-blank l_box2"></i> This Year</li>
          </ul>
                           
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-2">Top 5 Deals</p>
          <div class="table-responsive ht-auto">
            <table class="table table-hover table-striped">
              <thead class="table-primary text-nowrap">
                <tr>
                    <th>Concept</th>
                    <th>Qty</th>
                    <th>Total</th>
                  
                </tr>
              </thead>
              <tbody class="text-nowrap">
                <tr>
                    <td>Information</td>
                    <td>410</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>520</td>
                    <td>1490</td>
                </tr>
                <tr>
                    <td>Info</td>
                    <td>300</td>
                    <td>522</td>
                </tr>
                <tr>
                    <td>Pending data</td>
                    <td>300</td>
                    <td>522</td>
                </tr>
                <tr>
                    <td>Information</td>
                    <td>300</td>
                    <td>522</td>
                </tr>
             
              </tbody>
            </table>
          </div>
                           
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <p class="card-title mb-2 col-md-6">Customer Acquisition Cost</p>
              <p class=" col-md-6 p-1 bg-primary text-center rounded">$000</p>
            </div>
            <div class="chartBar" #containerRef>
              <ngx-charts-bar-vertical-2d
              [view]="[containerRef.offsetWidth, 190]"
              [scheme]="mainColorScheme"
              [results]="multi1"
              [xAxis]="showXAxis"
              [gradient]="true"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBar"
              [yAxisLabel]="yAxisLabelBar"
              [barPadding]="5"
              [groupPadding]="7">
            </ngx-charts-bar-vertical-2d>
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank box1"></i> Last Year</li>
              <li><i class="mdi mdi-checkbox-blank box2"></i> This Year</li>
            </ul>
            
          </div>
        </div>
      </div>
  </div>
 
