/* First-row CSS */
.business-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  background: #f8f9fa;
  background: linear-gradient(90deg, #e7edff 0%, #ffe3e3 50%, rgb(249 184 184 / 83%) 100%);
  /* background: linear-gradient(90deg, #e1e3e9 0%, #f1f0f0 50%, rgb(247 242 242) 100%); */
  color: #752727;
 
}
.business-card:hover{
  /* width:255px;
  transition: transform 0.2s;
  transform: scale(1.1); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, rgb(249 184 184 / 83%) 0%, #ffe3e3 50%,  #e7edff 100%);
  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.cust-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: #94e4d6;
  background: linear-gradient(90deg, #fffae6bf 0%, #f5eccae0 50%, rgb(255 230 143) 100%);
  /* background: linear-gradient(90deg, #f1db8b 0%, #f7efd3 50%, rgb(255 251 236) 100%); */
  color: #c3970d;
 
  
}
.cust-card:hover{
  /* width:255px;
  transition: transform 0.2s;
  transform: scale(1.1); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, rgb(255 230 143) 0%, #f5eccae0 50%, #fffae6bf 100%);
  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;

}
.Profit-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: #d3e3fd;
  background: linear-gradient(90deg, #e3f5f2cc 0%, #cbf9f2c2 50%, #98e6d9 100%);
  /* background: linear-gradient(90deg, #94e4d6 0%, #a6eee2 50%, #e1fdf8 100%); */
  color: #447f00;
  
}
.Profit-card:hover{
  /* width:255px;
  transition: transform 0.2s;
  transform: scale(1.1); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #98e6d9 0%, #cbf9f2c2 50%,  #e3f5f2cc 100%);
  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;

}
.loss-card{
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: #64a2e5;
  background: linear-gradient(90deg, #eaf3fdcf 0%, #b7cefbcc 50%, #6ba4e6 100%);
  /* background: linear-gradient(90deg, #98e6d9 0%, #cbf9f2c2 50%, #e3f5f2cc 100%); */
    color: #0b2043;
  
}
.loss-card:hover{
  /* width:255px;
  transition: transform 0.2s;
  transform: scale(1.1); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #6ba4e6 0%, #b7cefbcc 50%, #eaf3fdcf 100%);  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;

}
.cust-padding{
    padding-right: 3px !important;
    padding-left: 3px !important;
}
.cust-legend {
  padding-left: 0;
  text-align: center;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.cust-legend li {
  display: inline-flex;
  align-items: center;
  list-style: none;
  padding-right: 1rem;
}

.cust-legend li:last-child {
  padding-right: 0rem;
}

.cust-legend li .box1,
.cust-legend li .box2 {
  font-size: 16px;
  padding-right: 0.5rem;
}

.cust-legend li .box1 {
  color: #e8c860;
}

.cust-legend li .box2 {
  color: #135df0;
}

.cust-legend li .l_box1 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #135df0;
}

.cust-legend li .l_box2 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #069108  ;
}
.cust-legend li .l_box3 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #fc030b;
}
.cust-legend li .per_box1 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #135df0;
}

.cust-legend li .per_box2 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #f7f01e;
}
.cust-legend li .per_box3 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #069108;
}
.cust-legend li .l_box4 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #447f00;
}
.cust-legend li .l_box5 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #ee1f1f;
}
.cust-legend li .l_box6 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #ffc100;
}

.cust-legend li .des-box2 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #069108;
}
.cust-legend li .des-box3 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #f7f01e;
}
.cust-legend li .des-box1 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #135df0;
}

.cust-legend li .o_box1 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #cee27d;
}

.cust-legend li .o_box2 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #63830c;
}


.cust-legend li .proc_box1 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #9e3cfa;
}

.cust-legend li .proc_box2 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #fad73c;
}
.cust-legend li .proc_box3 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #309d15;
}

.cust-legend li .qs_box1 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #e42030;
}

.cust-legend li .qs_box2 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #447f00;
}
.cust-legend li .store_box1 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #a284e0;
}

.cust-legend li .store_box2 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #ff8d64;
}
.cust-legend li .store_box3 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #81f181;
}
.cust-legend li .load_box1 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #135df0;
}

.cust-legend li .load_box2 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #eccb6d;
}
.cust-legend li .load_box3 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #447f00;
}
.cust-legend li .load_box4 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #069108;
}
.cust-legend li .load_box5 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #ffc174;
}
.cust-legend li .load_box6 {
  font-size: 16px;
  padding-right: 0.5rem;
  color: #0cbae6;
}

.cust-legend li .piebox1 {
  font-size: 16px;
  color: #fd4747;
  padding-right: 0.5rem;
}

.cust-legend li .piebox2 {
  font-size: 16px;
  color: #3f4fa9;
  padding-right: 0.5rem;
}

.cust-legend li .piebox3 {
  font-size: 16px;
  color: #FFB761;
  padding-right: 0.5rem;
}

.ht-auto {
  min-height: auto;
}

.form-group label {
  font-size: 0.8rem;
  line-height: 0;
  vertical-align: top;
  margin-bottom: 0;
}
.chartBar:hover{
  transition: transform 0.2s;
  transform: scale(1.05);
  overflow: hidden;
  cursor: pointer;

}

.t-1 {
  background: rgb(49,92,164);
  background: linear-gradient(90deg, rgba(49,92,164,1) 0%, rgba(120,170,255,1) 50%, rgba(180,208,255,0.9640231092436975) 100%);
}
.t-1:hover{
  width:200px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.t-2 {
  background: rgb(119 181 151);
  background: linear-gradient(18deg, rgb(119 181 151) 0%, rgb(128 197 164) 50%, rgb(151 229 192) 100%);
}
.t-2:hover{
  width:200px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.t-3 {
  background: rgb(255 163 51);
  background: linear-gradient(18deg, #ffa333 0%, #ffb761 50%, #ffcc8f 100%);
}
.t-3:hover{
  width:200px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.t-4{
  background: rgb(78 171 235);
    background: linear-gradient(18deg, rgb(86 186 255) 0%, rgb(124 201 255) 50%, rgb(162 217 255) 100%);
}
.t-4:hover{
  width:200px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.t-5{
  background: rgb(21, 146, 230);
    background: linear-gradient(18deg, rgb(55, 147, 207) 0%, rgb(63, 135, 187) 50%, rgb(105, 151, 184) 100%);
}
.t-5:hover{
  width:200px;
  transition: transform 0.2s;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.t-heading {
  background: #0000002b;
  font-size: 0.85rem;
  font-weight: 500;
}
.top-head{
  padding: 6px 0px 0px 6px ;
  font-weight: 600;
  background: linear-gradient(90deg, rgb(122 160 225) 10%, #4ab985 25%, rgb(241 201 152) 50%, #99b95d 70%, rgb(155 84 84) 100%) !important;
  border-radius: 4px;
  text-align: center;
}
.b-progress{
  color: #ffffff;
  font-weight: 600;
  font-family: sans-serif;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-color: #3f4fa9;
}
.module-wise{
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  color: #000000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.custom-tooltip {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.cardHead{
  background-color: #1b1b75;
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  height: 40px;
  padding: 8px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card1{
  background-color: rgba(242, 236, 255, 0.75);
  color: #242323;
  padding: 8px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-left: 3px solid rgb(147 112 219);
}
.card2{
  background-color: #f4fbffd9;
  color: #242323;

  padding: 8px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-left: 3px solid rgb(166 220 254);
}
.card3{
  background-color: #e7effb61;
  color: #242323;
  padding: 8px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-left: 3px solid #79a8f9;


}
.card4{
  background-color: #ffefea38;
  color: #242323;
  padding: 8px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-left: 3px solid rgb(254 149 110);
}
.card5{
  background-color: #f3fff3b0;
  color: #242323;
  padding: 8px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-left: 3px solid #9cf09c;
}
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover {
  background-color: #eaf0fba1;
  cursor: pointer;
}