

<div class="content-wrapper">
  <!-- filter data country state project wise -->
  <div class="col-md-12">
    <div class="row module-wise ">
    <div class="col-md-1" style="font-size: 14px; margin-top: 6px; font-family:'Times New Roman', Times, serif"> 
      <i class="mdi mdi-filter-outline mdi-26px "></i> Filter 
        </div>
    <div class="col-md-11" style="font-family:'Times New Roman', Times, serif">
        <form  [formGroup]="form">
          <div class=" d-flex">
              <div class="col-md-2">
                <!-- <i class="mdi mdi-filter-outline mdi-26px"></i> &nbsp; -->
                  <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Country</label>
                  <div class="col-sm-8">
                    <select  class="form-select form-select-sm" formControlName="country_id" (ngModelChange)="StateData()">
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let c of countryData" value="{{c.country_id}}">{{ c.name }}</option>
                  </select>
                    
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-3 col-form-label">State</label>
                  <div class="col-sm-9">
                    <select formControlName="state_id" class="form-select form-select-sm">
                      <option [selected]="true" [disabled]="true" [value]="null">Select</option>
                      <option *ngFor="let s of stateData" value="{{s.state_id}}">{{ s.state_name }}</option>
                  </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-5 col-form-label">Duration</label>
                  <div class="col-sm-7">
                      <select class="form-select form-select-sm">
                        <option>All</option>
                          <option>April 22 - March 23</option>
                          <option>April 23 - March 24</option>
                          <option>April 24 - March 25</option>
                          <option>April 25 - March 26</option>
                        
                      </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-5 col-form-label">Company</label>
                  <div class="col-sm-7">
                      <select class="form-select form-select-sm">
                          <option>All</option>
                          <option>GEPDEC Energy Project</option>
                          <option>GEPDEC Infra Project</option>
                      </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-5 col-form-label"> Category</label>
                  <div class="col-sm-7">
                      <select class="form-select form-select-sm">
                          <option>All</option>
                          <option>Meter</option>
                          <option>220/33kV, 80MVA Power Transformer</option>
                      </select>
                  </div>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Project</label>
                  <div class="col-sm-8">
                      <select class="form-select form-select-sm">
                          <option>All</option>
                          <option>Jaunpur Project</option>
                          <option>Noida project</option>
                      </select>
                  </div>
                  </div>
              </div>
          </div>
        </form>
      </div>
  
  </div>
  </div>
  
  <div class="row">
  <div class="col-md-3 cust-padding" routerLink="/dashboard/comp-dashboard" >
    <div class="business-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-currency-inr text-center" style="color: #752727;font-size: 40px;"></i>
        </div>

     
        <div class="col-md-9">
          <h3> 300 Cr </h3>
          <hr>
         <h6> Revenue </h6>
        </div>
  
      </div>
     
  
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/fin-dashboard">
    <div class="cust-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-trophy-award text-center" style="color: #c3970d; font-size: 44px;"></i>
        </div>
        <div class="col-md-9">
        <h3> 12  </h3>
          <hr>
         <h6> Win  </h6>
        </div>
  
      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/performance-dashboard">
    <div class="Profit-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-chart-line text-center" style="color: #447f00;font-size: 36px;"></i>
        </div>
        <div class="col-md-9">
          <h3>12 </h3>
          <hr>
         <h6> Gross Profit (%) </h6>
        </div>
  
      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/procurement-dashboard">
    <div class="loss-card p-3">
      <div class="row">
        <div class="col-md-3">
          <i class="mdi mdi-content-duplicate text-center" style="color: #0b2043; font-size: 38px;"></i>
        </div>
        <div class="col-md-9">
         <h3> 10 </h3>
          <hr>
        <h6>Project Completed </h6>
        </div>
  
      </div>
     
    </div>
  </div>    
  </div>
  
  <div class="row mt-1">
  <div class="col-md-3 cust-padding" routerLink="" >
    <div class="business-card p-2">
      <div class="row">
        <div class="col-md-5 ">
          <h6> 120 Cr </h6>
          <hr>
          <small>Previous</small>
        </div>
        <div class="col-md-5">
          <h6> 150% </h6>
          <hr>
          <small>change</small>
        </div>
        <div class="col-md-2">
          <i class="mdi mdi-arrow-up mdi-36px text-center" style="color: #752727;"></i>
        </div>
      </div>
     
  
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/fin-dashboard">
    <div class="cust-card p-2">
      <div class="row">
        <div class="col-md-5">
          <h6> 6 </h6>
          <hr>
          <small>Previous</small>
        </div>
        <div class="col-md-5">
          <h6> 100% </h6>
          <hr>
          <small>change</small>
        </div>
        <div class="col-md-2">
          <i class="mdi mdi-arrow-up mdi-36px text-center" style="color: #c3970d;"></i>
        </div>
      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/performance-dashboard">
    <div class="Profit-card p-2">
      <div class="row">
        <div class="col-md-5">
          <h6> 14 </h6>
          <hr>
          <small>Previous</small>
        </div>
        <div class="col-md-5">
          <h6> -2% </h6>
          <hr>
          <small>change</small>
        </div>
        <div class="col-md-2">
          <i class="mdi mdi-arrow-down mdi-36px text-center" style="color: #447f00;"></i>
        </div>
      </div>
     
    </div>
  </div> 
  <div class="col-md-3 cust-padding" routerLink="/dashboard/procurement-dashboard">
    <div class="loss-card p-2">
      <div class="row">
        <div class="col-md-5">
          <h6> 5 </h6>
          <hr>
          <small>Previous</small>
        </div>
        <div class="col-md-5">
          <h6> 100% </h6>
          <hr>
          <small>change</small>
        </div>
        <div class="col-md-2">
          <i class="mdi mdi-arrow-up mdi-36px text-center" style="color: #0b2043;"></i>
        </div>
      </div>
     
    </div>
  </div>    
  </div>
  
  <div class="row mt-2">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-2">Performance</p>
     
          <div class="chartBar" #containerRef4>
            <ngx-charts-bar-vertical-2d
            [view]="[containerRef4.offsetWidth, 190]"
            [scheme]="colorSchemeLoadQuarter"
            [results]="performancePDPEQ"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [gradient]="true"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabelBarLoad"
            [yAxisLabel]="yAxisLabelBarLoad"
            [barPadding]="5"
            [groupPadding]="7">

            <!-- <ng-template #tooltipTemplate let-model="model">
              <div class="custom-tooltip">
                <p>{{ model.name }}</p>
                <p>{{ model.data.toLocaleString() }} ({{ model.data / total * 100 | number: '1.2-2' }}%)</p>
              </div>
            </ng-template> -->

          </ngx-charts-bar-vertical-2d>
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank load_box1"></i> Total</li>
            <li><i class="mdi mdi-checkbox-blank load_box4"></i> Completed</li>
            <!-- <li><i class="mdi mdi-checkbox-blank load_box3"></i> Profit</li> -->
            <!-- <li><i class="mdi mdi-checkbox-blank load_box4"></i> Q4</li> -->
            <!-- <li><i class="mdi mdi-checkbox-blank load_box5"></i> Q5</li>
            <li><i class="mdi mdi-checkbox-blank load_box6"></i> Q6</li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
       
            <p class="card-title mb-2 ">Performance: Achievement | Target</p>
            <!-- <p class=" col-md-6 p-1 bg-warning text-center rounded">$000</p> -->
         
          <div class="chartBar" #containerRef5>
            <ngx-charts-area-chart
              [view]="[containerRef5.offsetWidth, 210]"
              [scheme]="lineColorSchemeFinance"
              [legend]="legendf"
              [gradient]="false"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxisf"
              [yAxis]="yAxisf"
              [xAxisLabel]="xAxisLabelf"
              [yAxisLabel]="yAxisLabelf"
              [results]="lineChartFinance"
              (select)="onSelect($event)">
            </ngx-charts-area-chart>
           
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank per_box1"></i> Rev</li>
            <li><i class="mdi mdi-checkbox-blank per_box2"></i> Exp</li>
            <li><i class="mdi mdi-checkbox-blank per_box3"></i> Profit</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Department wise performance -->
  <div class="row mt-1">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card"  >
        <div class="card-body">
          <div class="row">
            <div class="col-md-9" routerLink="/dashboard/performance-dashboard">
              <p class="card-title mb-2">Performance: Department Wise</p>
            </div>
            <div class="col-md-3">
              <div class="form-group row">
              <label class="col-sm-4 col-form-label"  style="font-size: 12px; font-weight: 600;"> Projects:</label>
              <div class="col-sm-8">
                  <select class="form-select form-select-sm">
                      <option>All</option>
                      <option>GEPDEC Energy</option>
                      <option>GEPDEC Infra</option>
                  </select>
              </div>
              </div>
          </div>
          </div>
          <div class="chartBar" #businessPerformance>
            <ngx-charts-bar-vertical-2d
            [view]="[businessPerformance.offsetWidth, 190]"
            [scheme]="bpColorScheme"
            [results]="bpDepartment"
            [gradient]="true"
            [xAxis]="bpshowXAxis"
            [yAxis]="bpshowYAxis"
            [showXAxisLabel]="bpshowXAxisLabel"
            [showYAxisLabel]="bpshowYAxisLabel"
            [xAxisLabel]="bpxAxisLabelBar"
            [yAxisLabel]="bpyAxisLabelBar"
            [barPadding]="5"
            [groupPadding]="7">
          </ngx-charts-bar-vertical-2d>
          </div>
          <!-- <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank box1"></i> Last Year</li>
            <li><i class="mdi mdi-checkbox-blank box2"></i> This Year</li>
          </ul> -->
          
        </div>
      </div>
    </div>
  </div>
 
  <!-- Top Deals project data -->
  <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-2">Top 5 Deals</p>
          <div class="table-responsive ht-auto">
            <table class="table table-hover table-striped">
              <thead class="table-primary text-nowrap">
                <tr>
                    <th>Project Name</th>
                    <th>Category</th>
                    <th>Value</th>
                  
                </tr>
              </thead>
              <tbody class="text-nowrap">
                <tr>
                    <td>Information</td>
                    <td>410</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>520</td>
                    <td>1490</td>
                </tr>
                <tr>
                    <td>Info</td>
                    <td>300</td>
                    <td>522</td>
                </tr>
                <tr>
                    <td>Pending data</td>
                    <td>300</td>
                    <td>522</td>
                </tr>
                <tr>
                    <td>Information</td>
                    <td>300</td>
                    <td>522</td>
                </tr>
             
              </tbody>
            </table>
          </div>
                           
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
              <p class="card-title mb-2">Top 10: State Wise Performance</p>
            <div class="chartBar" #containerRef>
              <ngx-charts-pie-chart
              [view]="[containerRef.offsetWidth, 220]"
              [results]="data"
              [legend]="false"
              [gradient]="false"
              [scheme]="colorSchemeState">
              <ng-template #tooltipTemplate let-model="model">
                <h5 class="p-1">
                  {{model.name}}
                </h5>
                <h5 class="p-1">{{model.value}}</h5>
              </ng-template>
            </ngx-charts-pie-chart>
            </div>
           
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank box1"></i> Last Year</li>
              <li><i class="mdi mdi-checkbox-blank box2"></i> This Year</li>
            </ul> -->
            
          </div>
        </div>
      </div>
  
  </div>
  
  <!-- filter- progress-data -->
  <div class="col-md-12 mt-1 b-progress">
    <div class="row">
      <div class="col-md-9 mt-1" routerLink="">
        <h5 class="card-title mb-2 mt-2">Progress Report:</h5>
  
      </div>
      <div class="col-md-3 mt-1">
        <div class="form-group row">
        <label class="col-sm-4 col-form-label"  style="font-size: 12px; font-weight: 600;"> Duration:</label>
        <div class="col-sm-8">
            <select class="form-select form-select-sm">
                <option>All</option>
                <option>GEPDEC Energy</option>
                <option>GEPDEC Infra</option>
            </select>
        </div>
        </div>
    </div>
    </div>
  </div>
      <!-- PreSales-data-chart -->
    <div class="row mt-1">
      <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">PreSales</p>
            <div class="chartBar" #containerRef5>
              <ngx-charts-line-chart
              [view]="[containerRef5.offsetWidth, 210]"
              [scheme]="colorSchemeLoadQuarter"
              [results]="lineChart"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showYAxisLabelLine"
              [gradient]="true"
              [showYAxisLabel]="showYAxisLabelLine"
              [xAxisLabel]="xAxisLabelLine"
              [yAxisLabel]="yAxisLabelLine">
            </ngx-charts-line-chart>
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank l_box1"></i> Bid</li>
              <li><i class="mdi mdi-checkbox-blank l_box2"></i> Win</li>
              <li><i class="mdi mdi-checkbox-blank l_box3"></i> Loss</li>
            </ul>
                             
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">PreSales </p>
       
            <div class="chartBar" #containerRef4>
              <ngx-charts-bar-vertical-2d
              [view]="[containerRef4.offsetWidth, 190]"
              [scheme]="colorSchemeLoadQuarter"
              [results]="presales"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [gradient]="true"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBarLoad"
              [yAxisLabel]="yAxisLabelBarLoad"
              [barPadding]="5"
              [groupPadding]="7">
            </ngx-charts-bar-vertical-2d>
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank load_box1"></i> Rev</li>
              <li><i class="mdi mdi-checkbox-blank load_box4"></i> Exp</li>
              <li><i class="mdi mdi-checkbox-blank load_box3"></i> Profit</li>
             
            </ul>
          </div>
        </div>
      </div> -->
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">PreSales: Values</p>
         
            <div class="chartBar" #containerRef6>
              <ngx-charts-pie-chart
              [view]="[containerRef6.offsetWidth - 35, 220]"
              [scheme]="lineColorScheme"
              [labels]="showLabelsPie"
              [gradient]="false"
              [doughnut]="true"
              [legend]="true"
              [results]="pieDataCust">
            </ngx-charts-pie-chart>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank l_box1"></i> Bid</li>
              <li><i class="mdi mdi-checkbox-blank l_box2"></i> Win</li>
              <li><i class="mdi mdi-checkbox-blank l_box3"></i> Loss</li>
           
            </ul> -->
            
          </div>
        </div>
      </div>
    
    </div>
     <!-- design-data-chart -->
  
     <div class="row mt-1">
      <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Design</p>
          
            <div class="chartBar" #containerRef>
              <ngx-charts-bar-vertical-stacked
                [view]="[containerRef.offsetWidth, 190]"
                [scheme]="mainColorScheme"
                [results]="Design"
                [gradient]="true"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [animations]="animations"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical-stacked>
              <!-- <ngx-charts-bar-vertical-2d
              [view]="[containerRef.offsetWidth, 190]"
              [scheme]="mainColorScheme"
              [results]="Design"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [gradient]="true"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBar"
              [yAxisLabel]="yAxisLabelBar"
              [barPadding]="5"
              [groupPadding]="7">
            </ngx-charts-bar-vertical-2d> -->
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank des-box1"></i>Total</li>
              <li><i class="mdi mdi-checkbox-blank des-box3"></i> 3rd Party</li>
              <li><i class="mdi mdi-checkbox-blank des-box2"></i>  In-House</li>
            </ul>
            
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Design: Values </p>
           
            <div class="chartBar" #containerRef2>
              <ngx-charts-pie-chart
                [view]="[containerRef2.offsetWidth - 30, 220]"
                [scheme]="mainColorScheme"
                [labels]="showLabelsPie"
                [gradient]="false"
                [legend]="true"
                [results]="pieDataDesign">
              </ngx-charts-pie-chart>
            </div>
            <!-- <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank des-box1"></i>Pending</li>
            <li><i class="mdi mdi-checkbox-blank des-box3"></i> 3rd Party</li>
              <li><i class="mdi mdi-checkbox-blank des-box2"></i>  In-House</li>
            </ul> -->
            
          </div>
        </div>
      </div>
    </div>
  
  <!-- Procurement-data-chart -->
    <div class="row mt-1">
     
      <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Procurement </p>
            <div class="chartBar" #containerRefProc>
              <ngx-charts-bar-horizontal-stacked
              [view]="[containerRefProc.offsetWidth, 250]"
                [scheme]="colorSchemeProcure"
                [results]="ProcurementGraph"
                [gradient]="true"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabelProc"
                [yAxisLabel]="yAxisLabelProc"
                [animations]="animations"
                [barPadding]="5"
                (select)="onSelect($event)">
              </ngx-charts-bar-horizontal-stacked>
              <!-- <ngx-charts-bar-vertical-2d
              [view]="[containerRefProc.offsetWidth, 190]"
              [scheme]="colorSchemeProcure"
              [results]="ProcurementGraph"
              [xAxis]="showXAxis"
              [gradient]="true"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBarLoad"
              [yAxisLabel]="yAxisLabelBarLoad"
              [barPadding]="5"
              [groupPadding]="7">
            </ngx-charts-bar-vertical-2d> -->
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank proc_box1"></i> Total</li>
              <li><i class="mdi mdi-checkbox-blank proc_box2"></i> PO</li>
              <li><i class="mdi mdi-checkbox-blank proc_box3"></i> Pending</li>
             
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card ">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Procurement: Values </p>
            <div class="chartBar" #containerRef3>
              <ngx-charts-pie-chart
              [view]="[containerRef3.offsetWidth - 35, 220]"
              [scheme]="colorSchemeProcure"
              [labels]="showLabelsPie"
              [doughnut]="true"
              [gradient]="false"
              [legend]="true"
              [results]="pieDataProc">
            </ngx-charts-pie-chart>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
              <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
              <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
            </ul> -->
            
          </div>
        </div>
      </div>
    </div>
  <!-- Store Logistics-data-chart -->
  <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-2">Store Logistics </p>
          <div class="chartBar" #containerRef4>
            <ngx-charts-bar-vertical-2d
            [view]="[containerRef4.offsetWidth, 190]"
            [scheme]="colorSchemeStore"
            [results]="Store"
            [xAxis]="showXAxis"
            [gradient]="true"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabelBarLoad"
            [yAxisLabel]="yAxisLabelBarLoad"
            [barPadding]="5"
            [groupPadding]="7">
          </ngx-charts-bar-vertical-2d>
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank store_box1"></i> All</li>
            <li><i class="mdi mdi-checkbox-blank store_box2"></i> Pending</li>
            <li><i class="mdi mdi-checkbox-blank store_box3"></i> Issued</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Store Logistics: Value</p>
          <div class="chartBar" #containerRef3>
            
          <ngx-charts-pie-chart
          [view]="[containerRef3.offsetWidth - 30, 220]"
          [scheme]="colorSchemeStore"
          [labels]="showLabelsPie"
          [gradient]="false"
          [legend]="true"
          [results]="pieDataStore">
        </ngx-charts-pie-chart>
          </div>
          <!-- <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
            <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
            <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
          </ul> -->
          
        </div>
      </div>
    </div>
   
  </div>
    
  
    <!-- execution-data-chart -->
    <div class="row mt-1">
      <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Execution</p>
            <div class="chartBar" #containerExecution>
              <ngx-charts-pie-chart
              [view]="[containerExecution.offsetWidth - 30, 220]"
              [scheme]="colorSchemeExecution"
              [labels]="showLabelsPie"
              [gradient]="false"
              [legend]="true"
              [results]="execution">
            </ngx-charts-pie-chart>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
              <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
              <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
            </ul> -->
            
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Execution: Values </p>
       
                <div class="chartBar" #containerRef2>
                  <ngx-charts-pie-chart
                [view]="[containerRef2.offsetWidth - 35, 220]"
                [scheme]="colorSchemeExecution"
                [labels]="showLabelsPie"
                [doughnut]="true"
                [gradient]="false"
                [legend]="true"
                [results]="pieDataExe">
              </ngx-charts-pie-chart>
                  <!-- <ngx-charts-pie-chart
                    [view]="[containerRef2.offsetWidth - 30, 220]"
                    [scheme]="colorSchemeExecution"
                    [labels]="showLabelsPie"
                    [gradient]="false"
                    [legend]="true"
                    [results]="pieDataExe">
                  </ngx-charts-pie-chart> -->
                </div>
             
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
              <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
              <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
            </ul> -->
            
          </div>
        </div>
      </div>
     
    </div>
  
   <!-- Quality-data-chart -->
   <div class="row mt-1">
    <div class="col-md-6 grid-margin stretch-card pe-0">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-2">Quality | Safety </p>
          <div class="chartBar" #containerRefQS>
            <ngx-charts-bar-vertical-2d
            [view]="[containerRefQS.offsetWidth, 190]"
            [scheme]="colorSchemeQS"
            [results]="QualitySafety"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [gradient]="true"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabelBarLoad"
            [yAxisLabel]="yAxisLabelBarLoad"
            [barPadding]="5"
            [groupPadding]="7">
          </ngx-charts-bar-vertical-2d>
          </div>
          <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank qs_box2"></i> Success</li>
            <li><i class="mdi mdi-checkbox-blank qs_box1"></i> Failure</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Quality: Values</p>
       
          <div class="chartBar" #containerRef6>
            <ngx-charts-pie-chart
            [view]="[containerRef6.offsetWidth - 35, 220]"
            [scheme]="colorSchemeQS"
            [labels]="showLabelsPie"
            [gradient]="false"
            [doughnut]="true"
            [legend]="true"
            [results]="pieDataQS">
          </ngx-charts-pie-chart>
          </div>
          <!-- <ul class="cust-legend">
            <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
            <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
            <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
          </ul> -->
          
        </div>
      </div>
    </div>
  </div>
  
  
  
     <!-- Performance-data-chart -->
     <div class="row mt-1">
      <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Performance</p>
            <div class="chartBar" #containerPerformance>
              <ngx-charts-bar-vertical-2d
            [view]="[containerPerformance.offsetWidth, 190]"
            [scheme]="colorSchemePerformance"
            [results]="PerformanceData"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [gradient]="true"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabelBarLoad"
            [yAxisLabel]="yAxisLabelBarLoad"
            [barPadding]="5"
            [groupPadding]="7">
          </ngx-charts-bar-vertical-2d>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
              <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
              <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
            </ul> -->
            
          </div>
        </div>
      </div>
     
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Performance: Values </p>
           
            <div class="chartBar" #containerRef2>
              <ngx-charts-pie-chart
                [view]="[containerRef2.offsetWidth - 30, 220]"
                [scheme]="colorSchemePerformance"
                [labels]="showLabelsPie"
                [gradient]="false"
                [legend]="true"
                [results]="pieDataPerformance">
              </ngx-charts-pie-chart>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
              <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
              <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
            </ul> -->
            
          </div>
        </div>
      </div>
     
    </div>

    <!-- Finance-data-chart -->
    <!-- <div class="row mt-1">
      <div class="col-md-6 grid-margin stretch-card pe-0">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Finance</p>
          
            <div class="chartBar" #containerRef10>
              <ngx-charts-bar-vertical
                [view]="view2" 
                [scheme] ="colorSchemeFin" 
                [results]="financial" 
                [gradient]="gradient2"
                [xAxis]="showXAxis2"
                [yAxis]="showYAxis2"
                [legend]="showLegend2" 
                [showXAxisLabel]="showXAxisLabel2" 
                [showYAxisLabel]="showYAxisLabel2"
                [xAxisLabel]="xAxisLabel2"
                [yAxisLabel]="yAxisLabel2"
                (select)="onSelect($event)">
             </ngx-charts-bar-vertical>
        
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Finance: Values </p>
           
            <div class="chartBar" #containerRef2>
              <ngx-charts-pie-chart
                [view]="[containerRef2.offsetWidth - 30, 220]"
                [scheme]="pieColorsCust"
                [labels]="showLabelsPie"
                [gradient]="true"
                [legend]="true"
                [results]="pieDataCust">
              </ngx-charts-pie-chart>
            </div>
          
            
          </div>
        </div>
      </div>
     
    </div> -->
  
  </div>