.card-content{
    padding: 1.5rem;
}
.col-form-label{
    font-size: 15px;
}
.detail-table-sec table tr th{
    font-size: 14px;
    font-weight: 500;
}
.btn-grp{
    float: right;
    margin-top: 1rem;
}