<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Customer Billing Data</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <form class="form-inline" [formGroup]="selectOptionForm">   
                                <div class="form-group me-3">
                                    <label class="col-form-label me-3" for="">Meter</label>                                    
                                    <select formControlName="selectVal" class="form-control form-control-sm"
                                        aria-label="Default select example">
                                        <option value="Meter 1">Meter 1</option>
                                        <option value="Meter 2">Meter 2</option>
                                        <option value="Meter 4">Meter 4</option>
                                        <option value="Meter 5">Meter 5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label me-3" for="">Meter Detail : &nbsp;&nbsp; <span class="fw-semibold">xxxxxxxxxxx</span></label> 
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 align-self-end text-end">
                            <div class="selectArea">
                                <form class="form-inline float-right" [formGroup]="dateSelectForm">
                                    <div class="form-group">
                                        <label class="col-form-label me-3">From</label>
                                        <input formControlName="startDate" type="date"
                                            class="form-control form-control-sm me-3 date-picker">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label me-3">To</label>
                                        <input formControlName="endDate" type="date"
                                            class="form-control form-control-sm date-picker">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-fw btn-sm ms-2 float-right">Go!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body card-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="chartBar" #containerRef5>
                                <h6 class="text-center">Amount (INR)</h6>
                                <ngx-charts-bar-vertical
                                    [view]="[containerRef5.offsetWidth, 210]"
                                    [scheme]="lineColor"
                                    [results]="barChart"
                                    [xAxis]="showXAxis"
                                    [yAxis]="showYAxis"
                                    [showXAxisLabel]="showYAxisLabelLine"
                                    [gradient]="true"
                                    [showYAxisLabel]="showYAxisLabelLine"
                                    >
                                    <!-- [xAxisLabel]="xAxisLabelLine" -->
                                    <!-- [yAxisLabel]="yAxisLabelLine" -->
                                </ngx-charts-bar-vertical>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <!-- <div class="table-responsive"> -->
                                <table class="table table-bordered meterTable table-sm">
                                    <thead class="table-primary">
                                      <tr class="w-s-nowrap">
                                        <th scope="col">S No</th>
                                        <th scope="col">Bill No.</th>
                                        <th scope="col">Bill Date</th>
                                        <th scope="col">Month</th>
                                        <th scope="col">Amount (INR)</th>
                                        <th scope="col">% Change</th>
                                        <th scope="col">Due Date</th>
                                        <th scope="col">Payment Amt</th>
                                        <th scope="col">Payment Date</th>
                                        <th scope="col">Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let a of meterTableData; let i = index" class="w-s-nowrap">
                                        <td>{{i+1}}</td>
                                        <td><a href="#" data-bs-toggle="modal" data-bs-target="#viewBill">View Bill</a></td>
                                        <td>{{a.billDate}}</td>
                                        <td>{{a.month}}</td>
                                        <td>{{a.amt}}</td>
                                        <td>{{a.perChange}}</td>
                                        <td>{{a.dueDate}}</td>
                                        <td>{{a.unit}}</td>
                                        <td>{{a.unit}}</td>
                                        <td><i style="font-size: 16px;" class="mdi mdi-note-text text-primary" title="Pay Bill"></i></td>
                                      </tr>
                                      
                                    </tbody>
                                </table>
                            <!-- </div>  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- view bill modal -->
<div class="modal fade" id="viewBill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Bill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="detail-table-sec">
                        <!-- <h6 class="text-decoration-underline mb-2">Customer Details:</h6> -->
                        <div id="printBill">
                            <table class="table table-striped table-light table-bordered table-hover table-sm">
                                <thead class="hidden-thead"></thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Customer Name</th>
                                        <td>Ram Mahesh Verma</td>
                                        <th scope="row">Meter SLNO</th>
                                        <td>XXX123</td>
                                        <th scope="row">Electricity Board</th>
                                        <td>MSEB Power House</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Consumer No</th>
                                        <td>54367XXXXX</td>
                                        <th scope="row">Bill Month</th>
                                        <td>Oct 2023</td>
                                        <th scope="row">Circle</th>
                                        <td>Ram Nagar</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Billing Address</th>
                                        <td colspan="2">123, sample road, sample town pune - 411017</td>
                                        <th scope="row">Premise Address</th>
                                        <td colspan="2">234, sample road, sample town pune - 411057</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">State</th>
                                        <td>Maharashatra</td>
                                        <th scope="row">Security Amount</th>
                                        <td>2000</td>
                                        <th scope="row">Sanction Load</th>
                                        <td>XXXXXXXX</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Bill No</th>
                                        <td>XXX123</td>
                                        <th scope="row">Bill Amount</th>
                                        <td>1800</td>
                                        <th scope="row">Bill Date</th>
                                        <td>25-09-2023</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Due Date</th>
                                        <td>03-10-2023</td>
                                        <th scope="row">Disconnect Date</th>
                                        <td>02-10-2023</td>
                                        <th scope="row">Amt Before Due Date</th>
                                        <td>1790</td> 
                                    </tr>
                                    <tr>
                                        <th scope="row">Amt After Due Date</th>
                                        <td>1800</td>
                                        <th scope="row">Amt Outstanding</th>
                                        <td>0</td>
                                        <th scope="row">Amount (INR)</th>
                                        <td>1800</td> 
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="btn-grp">
                            <button type="submit" class="btn btn-primary btn-rounded btn-fw btn-sm mr-2">Pay Bill</button>
                            <button type="button" class="btn btn-success btn-rounded btn-fw btn-sm mr-2" printSectionId="printBill" [useExistingCss]="true" ngxPrint>Print Bill</button>
                            <button type="button" class="btn btn-secondary btn-rounded btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- view bill modal end-->
<!-- pay modal -->
<div class="modal fade" id="payModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Bill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Customer Name<span class="required-asterisk">*</span></label>
                                    <input formControlName="customerName" type="text" class="form-control form-control-sm">
                                    <div *ngIf="f['customerName'].touched && f['customerName'].invalid">
                                        <small class="text-danger" *ngIf="f['customerName'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Meter SLNO<span class="required-asterisk">*</span></label>
                                    <input formControlName="meterSlNo" type="text" class="form-control form-control-sm">
                                    <div *ngIf="f['meterSlNo'].touched && f['meterSlNo'].invalid">
                                        <small class="text-danger" *ngIf="f['meterSlNo'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Electricity Board<span class="required-asterisk">*</span></label>
                                    <input formControlName="electBoard" type="text" class="form-control form-control-sm">
                                    <div *ngIf="f['electBoard'].touched && f['electBoard'].invalid">
                                        <small class="text-danger" *ngIf="f['electBoard'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Consumer No<span class="required-asterisk">*</span></label>
                                    <input formControlName="consumerNo" type="text" class="form-control form-control-sm" appNumberOnly>
                                    <div *ngIf="f['consumerNo'].touched && f['consumerNo'].invalid">
                                        <small class="text-danger" *ngIf="f['consumerNo'].errors?.['required']">*Required</small>
                                        <!-- <small class="text-danger" *ngIf="f.consumerNo.errors?.pattern">*Please enter 10 digit Contact No</small> -->
                                    </div>                        
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Bill Month<span class="required-asterisk">*</span></label>
                                    <input formControlName="billMonth" type="text" class="form-control form-control-sm">
                                    <div *ngIf="f['billMonth'].touched && f['billMonth'].invalid">
                                        <small class="text-danger" *ngIf="f['billMonth'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Circle<span class="required-asterisk">*</span></label>
                                    <input formControlName="circle" type="text" class="form-control form-control-sm">
                                    <div *ngIf="f['circle'].touched && f['circle'].invalid">
                                        <small class="text-danger" *ngIf="f['circle'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Billing Address<span class="required-asterisk">*</span></label>
                                    <textarea formControlName="billingAddress" class="form-control form-control-sm"></textarea>
                                    <div *ngIf="f['billingAddress'].touched && f['billingAddress'].invalid">
                                        <small class="text-danger" *ngIf="f['billingAddress'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Premise Address<span class="required-asterisk">*</span></label>
                                    <textarea formControlName="premiseAddress" class="form-control form-control-sm"></textarea>
                                    <div *ngIf="f['premiseAddress'].touched && f['premiseAddress'].invalid">
                                        <small class="text-danger" *ngIf="f['premiseAddress'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">State<span class="required-asterisk">*</span></label>
                                    <select formControlName="state" class="form-select form-select-sm">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select State</option>
                                        <option>Maharashatra</option>
                                        <option>Goa</option>
                                    </select>
                                    <div *ngIf="f['state'].touched && f['state'].invalid">
                                        <small class="text-danger" *ngIf="f['state'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Security Amount<span class="required-asterisk">*</span></label>
                                    <input formControlName="securityAmt" type="text" class="form-control form-control-sm" appNumberOnly>
                                    <div *ngIf="f['securityAmt'].touched && f['securityAmt'].invalid">
                                        <small class="text-danger" *ngIf="f['securityAmt'].errors?.['required']">*Required</small>
                                        <!-- <small class="text-danger" *ngIf="f.consumerNo.errors?.pattern">*Please enter 10 digit Contact No</small> -->
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Sanction Load<span class="required-asterisk">*</span></label>
                                    <input formControlName="sanctionLoad" type="text" class="form-control form-control-sm">
                                    <div *ngIf="f['sanctionLoad'].touched && f['sanctionLoad'].invalid">
                                        <small class="text-danger" *ngIf="f['sanctionLoad'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Bill No<span class="required-asterisk">*</span></label>
                                    <input formControlName="billNo" type="text" class="form-control form-control-sm" appNumberOnly>
                                    <div *ngIf="f['billNo'].touched && f['billNo'].invalid">
                                        <small class="text-danger" *ngIf="f['billNo'].errors?.['required']">*Required</small>
                                        <!-- <small class="text-danger" *ngIf="f.consumerNo.errors?.pattern">*Please enter 10 digit Contact No</small> -->
                                    </div>                        
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Bill Amount<span class="required-asterisk">*</span></label>
                                    <input formControlName="billAmt" type="text" class="form-control form-control-sm" appNumberOnly>
                                    <div *ngIf="f['billAmt'].touched && f['billAmt'].invalid">
                                        <small class="text-danger" *ngIf="f['billAmt'].errors?.['required']">*Required</small>
                                        <!-- <small class="text-danger" *ngIf="f.consumerNo.errors?.pattern">*Please enter 10 digit Contact No</small> -->
                                    </div>                        
                                </div>
                            </div>                   
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Bill Date<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="billDate" type="date" class="form-control form-control-sm">
                                    <div *ngIf="f['billDate'].touched && f['billDate'].invalid">
                                        <small class="text-danger" *ngIf="f['billDate'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Due Date<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="dueDate" type="date" class="form-control form-control-sm">
                                    <div *ngIf="f['dueDate'].touched && f['dueDate'].invalid">
                                        <small class="text-danger" *ngIf="f['dueDate'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Disconnect Date<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="discountDate" type="date" class="form-control form-control-sm">
                                    <div *ngIf="f['discountDate'].touched && f['discountDate'].invalid">
                                        <small class="text-danger" *ngIf="f['discountDate'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Amt Before Due Date<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="amtBeforeDueDate" type="date" class="form-control form-control-sm">
                                    <div *ngIf="f['amtBeforeDueDate'].touched && f['amtBeforeDueDate'].invalid">
                                        <small class="text-danger" *ngIf="f['amtBeforeDueDate'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Amt After Due Date<span
                                            class="required-asterisk">*</span></label>
                                    <input formControlName="amtAfterDueDate" type="date" class="form-control form-control-sm">
                                    <div *ngIf="f['amtAfterDueDate'].touched && f['amtAfterDueDate'].invalid">
                                        <small class="text-danger" *ngIf="f['amtAfterDueDate'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Amt Outstanding<span class="required-asterisk">*</span></label>
                                    <input formControlName="amtOutstanding" type="text" class="form-control form-control-sm" appNumberOnly>
                                    <div *ngIf="f['amtOutstanding'].touched && f['amtOutstanding'].invalid">
                                        <small class="text-danger" *ngIf="f['amtOutstanding'].errors?.['required']">*Required</small>
                                        <!-- <small class="text-danger" *ngIf="f.consumerNo.errors?.pattern">*Please enter 10 digit Contact No</small> -->
                                    </div>                        
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Amount (INR)<span class="required-asterisk">*</span></label>
                                    <input formControlName="amt" placeholder="12101" type="text" class="form-control form-control-sm" appNumberOnly>
                                    <div *ngIf="f['amt'].touched && f['amt'].invalid">
                                        <small class="text-danger" *ngIf="f['amt'].errors?.['required']">*Required</small>
                                        <!-- <small class="text-danger" *ngIf="f.consumerNo.errors?.pattern">*Please enter 10 digit Contact No</small> -->
                                    </div>                        
                                </div>
                            </div>
                            <div class="modal-btns">
                                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid" class="btn btn-primary btn-rounded btn-fw btn-sm mr-2">Pay Bill</button>
                                <button type="button" *ngIf="isSubmitted" disabled class="btn btn-primary btn-rounded btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding...</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-rounded btn-fw btn-sm" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pay modal end-->