<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="mr-md-3 mr-xl-5">
                        <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>In-direct
                            Costing</h4>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-end flex-wrap">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="search" class="form-control form-control-sm" [(ngModel)]="searchText"
                                placeholder="Search">
                        </div>
                        <div class="col-lg-8">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#createModal"
                                class="btn btn-primary btn-fw btn-sm float-right">+ Create</button>
                        </div>
                    </div>
                    <app-responsive-table id="export"> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Client</th>
                                <th>Tender Title</th>
                                <th>NIT No</th>
                                <th>Publish Date</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Capacity</th>
                                <th>Execution Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr
                                *ngFor="let a of dataList | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{limit*(p-1)+i+1}}</td>
                                <td>{{a.company_name}}</td>
                                <td>
                                    <div *ngIf="!!a.tender_title; else elseBlock1" data-toggle="tooltip"
                                        data-placement="bottom" title="{{ a.tender_title }}">
                                        {{a.tender_title | slice:0:30}} <span *ngIf="a.tender_title.length > 30">...<i
                                                class="mdi mdi-information"></i></span>
                                    </div>
                                    <ng-template #elseBlock1>
                                        {{a.tender_title}}
                                    </ng-template>
                                </td>

                                <td>
                                    <div *ngIf="!!a?.tender_ref_no; else elseBlock2" data-toggle="tooltip"
                                        data-placement="bottom" title="{{ a?.tender_ref_no }}">
                                        {{a?.tender_ref_no | slice:0:30}} <span
                                            *ngIf="a?.tender_ref_no.length > 30">...<i
                                                class="mdi mdi-information"></i></span>
                                    </div>
                                    <ng-template #elseBlock2>
                                        {{a?.tender_ref_no}}
                                    </ng-template>
                                </td>
                                <td>{{a.publish_date | date: 'dd/MM/yyyy' : 'GMT'}}</td>
                                <td>{{ a.qacatagory }}</td>
                                <td>{{ a.subqacatagory }}</td>
                                <td>{{ a.capacity }}</td>
                                <td>{{ a.tender_location }}</td>
                                <td>
                                    <!-- <a data-bs-toggle="modal" data-bs-target="#createModal" title="Edit Details"><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a> &nbsp; -->
                                    <a  data-bs-toggle="modal" data-bs-target="#detailModal"
                                        title="View Details" (click)="rowListData(a)"><span
                                            class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a>
                                    <!-- &nbsp; -->
                                    <!-- <a data-bs-toggle="modal" data-bs-target="#allDataModal" title="Delete Details" ><span class="mdi mdi-delete-circle text-danger cursor-pointer mdi-18px"></span></a> -->
                                </td>
                            </tr>
                            <tr *ngIf="dataList?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add In-direct Costing</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Client<span
                                            class="required-asterisk">*</span></label>
                                    <select formControlName="client_id" class="form-select form-select-sm"
                                        (change)="getTenderData()">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Client
                                        </option>
                                        <option *ngFor="let c of clientData" value="{{c?.company_id}}">{{
                                            c?.company_name }}</option>
                                    </select>
                                    <div *ngIf="f['client_id'].touched && f['client_id'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['client_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>

                            <div [class]="isShowModal ? 'col-md-2' : 'col-md-3'">
                                <div class="form-group">
                                    <label class="form-label fl-10">Tender Title<span
                                            class="required-asterisk">*</span></label>
                                    <select formControlName="tender_id" #t_ID class="form-select form-select-sm"
                                        (change)="getDetailedData(t_ID.value)">
                                        <option [selected]="true" [disabled]="true">Select Title</option>
                                        <option *ngFor="let c of tenderData" value="{{c?.tender_id}}">
                                            {{c?.tender_title}}</option>
                                    </select>
                                    <div *ngIf="f['tender_id'].touched && f['tender_id'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['tender_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>

                            <div [class]="isShowModal ? 'col-md-2' : 'col-md-3'">
                                <div class="form-group">
                                    <label class="form-label fl-10">NIT No</label>
                                    <input class="form-control form-control-sm" readonly
                                        value="{{tenderDetailedData[0]?.tender_ref_no}}">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Publish Date</label>
                                    <input class="form-control form-control-sm" readonly
                                        value="{{tenderDetailedData[0]?.publish_date | date: 'dd/MM/yyyy'}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Category</label>
                                    <input class="form-control form-control-sm" readonly
                                        [value]="tenderDetailedData[0]?.qacatagory">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Sub-Category</label>
                                    <input class="form-control form-control-sm" readonly
                                        [value]="tenderDetailedData[0]?.subqacatagory">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Capacity</label>
                                    <input class="form-control form-control-sm" readonly
                                        [value]="tenderDetailedData[0]?.capacity">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label fl-10">Execution Location</label>
                                    <input class="form-control form-control-sm" readonly
                                        [value]="tenderDetailedData[0]?.tender_location">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Overhead Expenses<span
                                            class="required-asterisk">*</span></label>
                                    <select formControlName="expenses" #overhead class="form-select form-select-sm"
                                        (change)="overHeadDetails(overhead.value)">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Overhead
                                            Expenses</option>
                                        <option *ngFor="let t of dataDropdownList?.costtype" [value]="t?.costtype_id">{{
                                            t?.costtype }}</option>
                                    </select>
                                    <div *ngIf="f['expenses'].touched && f['expenses'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['expenses'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" *ngIf="isShowModal">
                                <div class="form-group">
                                    <label class="form-label">Department<span class="required-asterisk">*</span></label>
                                    <select formControlName="department" #dept class="form-select form-select-sm"
                                        (change)="getUserList(dept.value)">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Department
                                        </option>
                                        <option *ngFor="let t of deptData" [value]="t?.usdt_id"> {{t?.deptname}}
                                        </option>
                                    </select>
                                    <div *ngIf="f['department'].touched && f['department'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['department'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="table-responsive" *ngIf="(!isShowModal) && form.value.expenses != null">
                        <table class="table table-hover table-striped custom-table table-bordered">
                            <thead class="table-primary text-nowrap">
                                <tr>
                                    <th>S No</th>
                                    <th>Expense Type</th>
                                    <th>UOM</th>
                                    <th>Unit Cost</th>
                                    <th>Multiplier</th>
                                    <th>Total Cost</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody class="text-nowrap">
                                <tr *ngFor="let a of overHeadData; index as j">
                                    <td>{{ limit*(p-1)+j+1 }}</td>
                                    <td>{{ a?.expensetype }}</td>
                                    <td>{{ a?.uom }}</td>
                                    <td>
                                        <input [disabled]="indexData.includes(j)" type="number" [(ngModel)]="a.unitcost"
                                            class="form-control form-control-sm">
                                    </td>
                                    <td>
                                        <input [disabled]="indexData.includes(j)" type="number"
                                            class="form-control form-control-sm" [(ngModel)]="a.multiplier">
                                    </td>
                                    <td>
                                        <span class="form-control form-control-sm">{{ !a.multiplier ? 0 : (a.unitcost) *
                                            (a.multiplier) }}</span>
                                    </td>
                                    <td>
                                        <input [disabled]="!a.multiplier || a.multiplier == null || a.unitcost == null"
                                            type="checkbox" (click)="selectRec(a, $event, j)">
                                    </td>
                                </tr>
                                <tr *ngIf="overHeadData?.length == 0">
                                    <td colspan="15" class="text-center">
                                        <div class="spinner-border"> </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive" *ngIf="isShowModal && form.value.department != null">
                        <table class="table table-hover table-striped custom-table table-bordered">
                            <thead class="table-primary text-nowrap">
                                <tr>
                                    <th>S No</th>
                                    <th>Department</th>
                                    <th>Designation</th>
                                    <th>Name</th>
                                    <th>UOM</th>
                                    <th>Salary</th>
                                    <th>Months</th>
                                    <th>% Involvement </th>
                                    <th>Total Cost</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody class="text-nowrap">
                                <tr *ngFor="let a of userList; index as j">
                                    <td>{{ limit*(p-1)+j+1 }}</td>
                                    <td>{{ a?.deptname }}</td>
                                    <td>{{ a?.designationname }}</td>
                                    <td>{{a?.title}} {{ a?.first_name }} {{ a?.last_name }}</td>
                                    <td>Months</td>
                                    <td>
                                        <input [disabled]="indexData.includes(j)" type="number" [(ngModel)]="a.sallary"
                                            class="form-control form-control-sm">
                                    </td>
                                    <td>
                                        <input [disabled]="indexData.includes(j)" type="number"
                                            class="form-control form-control-sm" [(ngModel)]="a.multiplier">

                                    </td>
                                    <td>
                                        <input [disabled]="indexData.includes(j)" type="number"
                                            class="form-control form-control-sm" [(ngModel)]="a.involvement" min="0"
                                            max="100">
                                        <small class="text-danger"
                                            *ngIf="a.involvement > 100 || a.involvement < 0">*Range 0-100</small>
                                    </td>
                                    <td>
                                        <span class="form-control form-control-sm">{{ !a.multiplier ? 0 : !a.involvement
                                            ? 0 : ((a.sallary) * (a.multiplier) * (a.involvement)) / 100 }}</span>
                                    </td>
                                    <td>
                                        <input
                                            [disabled]="!a.multiplier || a.multiplier == null || !a.involvement || a.involvement == null || a.sallary == null"
                                            type="checkbox" (click)="selectRec(a, $event, j)">
                                    </td>
                                </tr>
                                <tr *ngIf="userList?.length == 0">
                                    <td colspan="15" class="text-center">
                                        <div class="spinner-border"> </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-btns mt-2">
                        <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid || indexData.length == 0"
                            (click)="onSubmit()" class="btn btn-primary btn-fw btn-sm mr-2">Submit</button>
                        <button type="button" *ngIf="isSubmitted" disabled
                            class="btn btn-primary btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm"
                                aria-hidden="true"></span> Submitting...</button>
                        <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create modal end-->

<!-- detail modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">In-direct Cost Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped custom-table mb-3">
                                    <thead class="table-primary text-nowrap">
                                        <tr>
                                            <th colspan="6" class="text-center">Tender Detail</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-nowrap">
                                        <tr>
                                            <th>Client</th>
                                            <td>{{ itemList?.company_name }}</td>
                                            <th>Tender Title</th>
                                            <td>
                                                <div *ngIf="!!itemList?.tender_title; else elseBlock4"
                                                    data-toggle="tooltip" data-placement="bottom"
                                                    title="{{ itemList?.tender_title }}">
                                                    {{itemList?.tender_title | slice:0:30}} <span
                                                        *ngIf="itemList?.tender_title.length > 30">...<i
                                                            class="mdi mdi-information"></i></span>
                                                </div>
                                                <ng-template #elseBlock4>
                                                    {{itemList?.tender_title}}
                                                </ng-template>
                                            </td>
                                            <th>NIT No</th>
                                            <td>
                                                <div *ngIf="!!itemList?.tender_ref_no; else elseBlock3"
                                                    data-toggle="tooltip" data-placement="bottom"
                                                    title="{{ itemList?.tender_ref_no }}"> {{itemList?.tender_ref_no |
                                                    slice:0:30}}
                                                    <span *ngIf="itemList?.tender_ref_no.length > 30">...<i
                                                            class="mdi mdi-information"></i></span>
                                                </div>
                                                <ng-template #elseBlock3>
                                                    {{itemList?.tender_ref_no}}
                                                </ng-template>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Publish Date</th>
                                            <td>{{ itemList?.publish_date | date: 'dd/MM/yyyy' : 'GMT' }}</td>
                                            <th>Category</th>
                                            <td>{{ itemList?.qacatagory }}</td>
                                            <th>Sub-Category</th>
                                            <td>{{ itemList?.subqacatagory }}</td>
                                        </tr>
                                        <tr>
                                            <th>Capacity</th>
                                            <td>{{ itemList?.capacity }}</td>
                                            <th>Execution Location</th>
                                            <td>{{ itemList?.tender_location }}</td>
                                            <th>Total In-direct Cost</th>
                                            <td colspan="3">{{ indirectCostTotal | currency: 'INR': '' : '1.0-2' }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <ng-container class="mt-1" *ngFor="let main of itemList?.indirectCost">
                                    <div class="table-responsive pt-2 mb-2" style="min-height: auto;">
                                        <table class="table table-hover table-striped">
                                            <thead class="table-primary text-nowrap">
                                                <tr class="text-center">
                                                    <th colspan="10" *ngIf="main?.deptname != null; else elseBlock10">
                                                        {{main?.costtype}} - {{main?.deptname}}</th>
                                                    <ng-template #elseBlock10>
                                                        <th colspan="7">{{main?.costtype}}</th>
                                                    </ng-template>
                                                </tr>
                                                <tr>
                                                    <th>S No</th>
                                                    <th>Overhead Type</th>
                                                    <th *ngIf="main?.deptname == null">Expense Type</th>
                                                    <th *ngIf="main?.deptname != null">Department</th>
                                                    <th *ngIf="main?.deptname != null">Designation</th>
                                                    <th *ngIf="main?.deptname != null">Employee Name</th>
                                                    <th>UOM</th>
                                                    <th *ngIf="main?.deptname == null">Unit Cost</th>
                                                    <th *ngIf="main?.deptname != null">Salary</th>
                                                    <th *ngIf="main?.deptname == null">Multiplier</th>
                                                    <th *ngIf="main?.deptname != null">Months</th>
                                                    <th *ngIf="main?.deptname != null">% Involvement</th>
                                                    <th class="text-end">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-nowrap">
                                                <tr *ngFor="let item of main?.records; index as i">
                                                    <td>{{ limit*(p-1)+i+1 }}</td>
                                                    <td>{{ main?.costtype }}</td>
                                                    <td *ngIf="main?.deptname == null">{{ item.expensetype }}</td>
                                                    <td *ngIf="main?.deptname != null">{{ item.deptname }}</td>
                                                    <td *ngIf="main?.deptname != null">{{ item.designationname }}</td>
                                                    <td *ngIf="main?.deptname != null">{{ item.employee_name }}</td>
                                                    <td>{{ item.uom }}</td>
                                                    <td>{{ item.unitcost | currency:'INR':'':'1.0-2' }}</td>
                                                    <td>{{ item.multiplier }}</td>
                                                    <td *ngIf="main?.deptname != null">{{ item.percentage_involvment }}
                                                    </td>
                                                    <td class="text-end">{{ item.total | currency:'INR':'':'1.0-2' }}
                                                    </td>
                                                </tr>
                                                <tr class="table-footer fw-bold"
                                                    *ngIf="main?.deptname != null; else elseBlock11">
                                                    <td colspan="9">Total Cost</td>
                                                    <td class="text-end">{{ main?.all_total | currency:'INR':'':'1.0-2'
                                                        }}</td>
                                                </tr>
                                                <ng-template #elseBlock11>
                                                    <tr class="table-footer fw-bold">
                                                        <td colspan="6">Total Cost</td>
                                                        <td class="text-end">{{ main?.all_total |
                                                            currency:'INR':'':'1.0-2' }}</td>
                                                    </tr>
                                                </ng-template>
                                                <tr *ngIf="isNotFound == true">
                                                    <td colspan="15" class="text-center">
                                                        <div class="spinner-border"> </div>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="main?.records?.length == 0">
                                                    <td colspan="15" class="text-center">
                                                        <div class="text-warning fw-semibold">Looks like no data
                                                            available!
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- detail modal end-->