.presales-head{
    font-weight: 600;
    font-size: 20px;
    color: #000;
    }
    .t-1 {
      background: #b590ff;
      /* background: linear-gradient(90deg, #e8dcff 0%, #d7c3ff 50%, #b691ff 100%); */
    }
      .t-1:hover{
      width:200px;
      transition: transform 0.2s;
      transform: scale(1.03);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }
    
    .t-2 {
      background: #80ccfd;
      /* background: linear-gradient(90deg, #e2f3fd 0%, #c9eaff 50%, #96d6fd 100%); */
    }
      .t-2:hover{
      width:200px;
      transition: transform 0.2s;
      transform: scale(1.03);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }
    
    .t-3 {
      background: #608bd7;
      /* background: linear-gradient(18deg, #cadeff 0%, #759ee7 50%, #5783d0 100%); */
    }
    .t-3:hover{
      width:200px;
      transition: transform 0.2s;
      transform: scale(1.03);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }
  
    
    .t-4{
      background: #0ea454;
      /* background: linear-gradient(18deg, #c9ffa2f0 0%, #b2eb46 50%, #027540 100%); */
    }
    .t-4:hover{
      width:200px;
      transition: transform 0.2s;
      transform: scale(1.03);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }
    
    .t-5{
      background: #ec818c;
      background: linear-gradient(18deg, #e95f6d 0%, #ee8181 50%, #eca7a7 100%);
  }
    .t-5:hover{
      width:200px;
      transition: transform 0.2s;
      transform: scale(1.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }
    .t-6 {
      background: rgb(245, 183, 108);
      background: linear-gradient(18deg, #f08e0d 0%, #fcce97 50%, #eca956 100%);
    }
    .t-6:hover{
      width:200px;
      transition: transform 0.2s;
      transform: scale(1.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }
    
    .t-heading {
      /* background: #0000002b; */
      font-size: 14px;
      font-weight: 600;
    }
    
    .cust-legend li .des-box2 {
      font-size: 16px;
      padding-right: 0.5rem;
      color: #608bd7;
    }
    .cust-legend li .des-box3 {
      font-size: 16px;
      padding-right: 0.5rem;
      color: #80ccfd;
    }
    .cust-legend li .des-box1 {
      font-size: 16px;
      padding-right: 0.5rem;
      color: #9775dc;
    }
    
    ul.legend-labels {
      width: auto !important;
    }
    
    .label-under-border {
      position: absolute;
        top: -8px;
        left: 7px;
        padding: 2px 5px;
        z-index: 1;
        /* background: #7dbaf4; */
    }
  /* First-row CSS */
  .business-card{
    border-radius: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, #f0eafb 0%, #e9dffdd1 50%, #b996ff 100%);
    color: #6b0868;
   
  }
  .business-card:hover{
    /* width:255px;
    transition: transform 0.2s;
    transform: scale(1.1); */
    box-shadow: 0px 2px 6px 0px #696969;
    background: linear-gradient(90deg, #b996ff 0%, #e9dffdd1 50%, #f0eafb 100%);
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  
  .cust-card{
    border-radius: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    background: linear-gradient(90deg, #e4f3fb 0%, #dfeef7c4 50%, #9cd9ff 100%);
    color: #0070b5;
    
  }
  .cust-card:hover{
    /* width:255px;
    transition: transform 0.2s;
    transform: scale(1.1); */
    box-shadow: 0px 2px 6px 0px #696969;
    background: linear-gradient(90deg, #9cd9ff 0%, #dfeef7c4 50%, #e4f3fb 100%);
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
  
  }
  .Profit-card{
    border-radius: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    /* background: #eaf7f6; */
    background: linear-gradient(90deg, #eaf1fd 0%, #dce4f3 50%, #699efa 100%);
    color: #004cd1;
    
  }
  .Profit-card:hover{
    /* width:255px;
    transition: transform 0.2s;
    transform: scale(1.1); */
    background: linear-gradient(90deg, #699efa 0%, #dce4f3 50%, #eaf1fd 100%);
    box-shadow: 0px 2px 6px 0px #696969;
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
  
  }
  .loss-card{
    border-radius: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    background: linear-gradient(90deg, #fbe1d8 0%, #f9cebfc7 50%, #ff8c61 100%);
  
    color: #ff4905;
    
  }
  .loss-card:hover{
    /* width:255px;
    transition: transform 0.2s;
    transform: scale(1.1); */
    box-shadow: 0px 2px 6px 0px #696969;
    background: linear-gradient(90deg, #ff8c61 0%, #f9cebfc7 50%, #fbe1d8 100%);
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
  
  }
  .cust-padding{
      padding-right: 3px !important;
      padding-left: 3px !important;
  }
  .cust-legend {
    padding-left: 0;
    text-align: center;
    margin-bottom: 0;
    font-size: 0.75rem;
  }
  
  .cust-legend li {
    display: inline-flex;
    align-items: center;
    list-style: none;
    padding-right: 1rem;
  }
  
  .cust-legend li:last-child {
    padding-right: 0rem;
  }
  
  .cust-legend li .box1,
  .cust-legend li .box2 {
    font-size: 16px;
    padding-right: 0.5rem;
  }
  
  .cust-legend li .box1 {
    color: #608bd7;
  }
  
  .cust-legend li .box2 {
    color: #80ccfd;
  }
  
  .cust-legend li .l_box1 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #315CA4;
  }
  
  .cust-legend li .l_box2 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #FFA333;
  }
  
  .cust-legend li .o_box1 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #cee27d;
  }
  
  .cust-legend li .o_box2 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #63830c;
  }
  .cust-legend li .load_box1 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #ff8c61;
  }
  
  .cust-legend li .load_box2 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #699efa;
  }
  .cust-legend li .load_box3 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #9cd9ff;
  }
  .cust-legend li .load_box4 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #b996ff;
  }
  
  .cust-legend li .piebox1 {
    font-size: 16px;
    color: #f8dc3d;
    padding-right: 0.5rem;
  }
  
  .cust-legend li .piebox2 {
    font-size: 16px;
    color: #8b00db;
    padding-right: 0.5rem;
  }
  
  .cust-legend li .piebox3 {
    font-size: 16px;
    color: #FFB761;
    padding-right: 0.5rem;
  }
  
  .ht-auto {
    min-height: auto;
  }
  
  .form-group label {
    font-size: 0.8rem;
    line-height: 0;
    vertical-align: top;
    margin-bottom: 0;
  }
  .chartBar:hover{
    transition: transform 0.2s;
    transform: scale(1.1);
    overflow: hidden;
    cursor: pointer;
  
  }
  .cardHead{
    background-color: #1b1b75;
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    height: 40px;
    padding: 8px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .card1{
    background-color: rgba(242, 236, 255, 0.75);
    color: #242323;
    padding: 8px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-left: 3px solid rgb(147 112 219);
  }
  .card2{
    background-color: #f4fbffd9;
    color: #242323;
  
    padding: 8px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-left: 3px solid rgb(166 220 254);
  }
  .card3{
    background-color: #e7effb61;
    color: #242323;
    padding: 8px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-left: 3px solid #79a8f9;
  
  
  }
  .card4{
    background-color: #ffefea38;
    color: #242323;
    padding: 8px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-left: 3px solid rgb(254 149 110);
  }
  .card5{
    background-color: #f3fff3b0;
    color: #242323;
    padding: 8px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-left: 3px solid #9cf09c;
  }
  .card1:hover,
  .card2:hover,
  .card3:hover,
  .card4:hover,
  .card5:hover {
    background-color: #eaf0fba1;
    cursor: pointer;
  }