.form-container {
    width: 100%;
    /* max-width: 720px; */
    margin: 0 auto;
    /* padding: 1rem; */
    /* background: rgb(106 106 106 / 14%); */
}
    .panel-heading {
        margin-bottom: 20px;
      }
    .back {
      float: left;
    }
    .continue {
      float: right;
    }
  
  
  .panel-title{
    color: #000;
    font-size: 15px;
  }
  /* Multi-Part CSS */
  input.stepCheckbox[type=checkbox] {
    position: absolute;
    /* Position the checkbox in upper left corner */
    
    opacity: 0;
  }
  
  /* Styling Parts */
  #part1,
  #part2,
  #part3 {
    z-index: 2;
    display: block;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  /* Hidden Parts */
  #part2,
  #part3 {
    opacity: 0;
    height: 0;
    /* overflow: hidden; */
  }
  
  /* Show Step 2 & Hide Step 1 */
  #step2:checked ~ #part2 {
    opacity: 1;
    height: auto;
  }
  #step2:checked ~ #part1 {
    opacity: 0;
    height: 0;
    display: none;
  }
  
  /* Show Step 3  & Hide Step 2 */
  #step3:checked ~ #part3 {
    opacity: 1;
    height: auto;
  }
  #step3:checked ~ #part2 {
    opacity: 0;
    width: 0;
    height: 0;
  }
.input-group .dropdown-menu .dropdown-item{
  font-size: 13px;
}

  