<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
              <div class="mr-md-3 mr-xl-5">
                <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>Registration</h4>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="d-flex my-10">
                        <div class="col-lg-4">
                            <input type="text" class="form-control form-control-sm" placeholder="Search">
                        </div>
                        <div class="col-lg-8">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary btn-fw btn-sm float-right" (click)="prev()">+ Customer Register</button>
                        </div>
                    </div>
                    <app-responsive-table> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Customer ID</th>
                                <th>Salution</th>
                                <th>Name</th>
                                <th>Contact No</th>
                                <th>Whatsapp No</th>
                                <th>Father Name</th>
                                <th>DOB</th>
                                <th>Email</th>
                                <th>Country</th>
                                <th>State</th>
                                <th>District</th>
                                <th>ECB</th>
                                <th>Circle</th>
                                <th>Customer Address</th>
                                <!-- <th>Status</th> -->
                                <th>Created By</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr *ngFor="let a of customerData | paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{limit*(p-1)+i+1}}</td>
                                <td>{{ a.customerID }}</td>
                                <td>{{ a.salution }}</td>
                                <td>{{ a.fName }} {{ a.lName }}</td>
                                <td>{{ a.contactNo }}</td>
                                <td>{{ a.whatsappNo }}</td>
                                <td>{{ a.fatherName }}</td>
                                <td>{{ a.DOB | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ a.emailID }}</td>
                                <td>{{ a.countryName }}</td>
                                <td>{{ a.stateName }}</td>
                                <td>{{ a.districtName }}</td>
                                <td>{{ a.ecbName }}</td>
                                <td>{{ a.circleName }}</td>
                                <td>
                                    <div *ngIf="!!a.address.address1">
                                        {{a.address.address1 | slice:0:20}}...<i class="mdi mdi-information" title="{{ a.address.address1 }}, {{ a.address.address2 }}, {{ a.address.district }}, {{ a.address.state }}, {{ a.address.country    }}-{{ a.address.pincode }}"></i>
                                    </div>
                                </td>
                                <!-- <td>{{ a.status }}</td> -->
                                <td>{{ a.createdBy }}</td>
                                <td>{{ a.createdAt | date: 'dd/MM/yyyy hh:mm a' }}</td>
                                <td>
                                    <a class="pr-2 mr-2" data-bs-toggle="modal" data-bs-target="#createModal" title="Upload Kyc Document" (click)="addKycDoc(a)"><span class="mdi mdi-upload cursor-pointer mdi-18px text-success"></span></a>
                                </td>
                            </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="30" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="customerData?.length == 0">
                                <td colspan="30" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- stepper modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Customer Register</h5>
                <button type="button" class="btn-close" id="cancel" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <ng-container *ngIf="panelNum == 1"> 
                                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h4 class="panel-title text-decoration-underline">Connection Details (Step 1) :</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Country<span class="required-asterisk">*</span></label>
                                                    <select formControlName="country" class="form-select form-select-sm" (change)="getStateData()">
                                                        <option [selected]="true" [disabled]="true" [value]="null">Select Country</option>
                                                        <option *ngFor="let c of countryData" [value]="c.code">{{ c.name }}</option>
                                                    </select>
                                                    <div *ngIf="f['country'].touched && f['country'].invalid">
                                                        <small class="text-danger" *ngIf="f['country'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">State<span class="required-asterisk">*</span></label>
                                                    <select formControlName="state" class="form-select form-select-sm" (change)="getDistrictData()">
                                                        <option [selected]="true" [disabled]="true" [value]="null">Select State</option>
                                                        <option *ngFor="let s of stateData" [value]="s.code">{{ s.name }}</option>
                                                    </select>
                                                    <div *ngIf="f['state'].touched && f['state'].invalid">
                                                        <small class="text-danger" *ngIf="f['state'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">District<span class="required-asterisk">*</span></label>
                                                    <select formControlName="district" class="form-select form-select-sm" (change)="getECBData()">
                                                        <option [selected]="true" [disabled]="true" [value]="null">Select District</option>
                                                        <option *ngFor="let d of districtData" [value]="d.code">{{ d.name }}</option>
                                                    </select>
                                                    <div *ngIf="f['district'].touched && f['district'].invalid">
                                                        <small class="text-danger" *ngIf="f['district'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Electricity Board<span class="required-asterisk">*</span></label>
                                                    <select formControlName="ecb" class="form-select form-select-sm" (change)="getCircleData()">
                                                        <option [selected]="true" [disabled]="true" [value]="null">Select ECB</option>
                                                        <option *ngFor="let e of ecbData" [value]="e.code">{{ e.name }}</option>
                                                    </select>
                                                    <div *ngIf="f['ecb'].touched && f['ecb'].invalid">
                                                        <small class="text-danger" *ngIf="f['ecb'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Circle<span class="required-asterisk">*</span></label>
                                                    <select formControlName="circle" class="form-select form-control-sm">
                                                        <option [selected]="true" [disabled]="true" [value]="null">Select Circle</option>
                                                        <option *ngFor="let c of circleData" [value]="c.code">{{ c.name }}</option>
                                                    </select>
                                                    <div *ngIf="f['circle'].touched && f['circle'].invalid">
                                                        <small class="text-danger" *ngIf="f['circle'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Connection Type<span class="required-asterisk">*</span></label>
                                                    <select formControlName="connectionType" class="form-select form-control-sm">
                                                        <option [selected]="true" [disabled]="true">Select type</option>
                                                        <option>Residential</option>
                                                        <option>Commercial</option>
                                                        <option>Industrial</option>
                                                    </select>
                                                    <div *ngIf="f['connectionType'].touched && f['connectionType'].invalid">
                                                        <small class="text-danger" *ngIf="f['connectionType'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Load (Kwh)<span class="required-asterisk">*</span></label>
                                                    <select formControlName="load" class="form-select form-control-sm">
                                                        <option [selected]="true" [disabled]="true">Select Load</option>
                                                        <option>1KW</option>
                                                        <option>2KW</option>
                                                        <option>3KW</option>
                                                        <option>5KW</option>
                                                        <option>7KW</option>
                                                    </select>
                                                    <div *ngIf="f['load'].touched && f['load'].invalid">
                                                        <small class="text-danger" *ngIf="f['load'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Phase<span class="required-asterisk">*</span></label>
                                                    <select formControlName="phase" class="form-select form-control-sm">
                                                        <option [selected]="true" [disabled]="true">Select Phase</option>
                                                        <option>1 Phase</option>
                                                        <option>3 Phase</option>
                                                    </select>
                                                    <div *ngIf="f['phase'].touched && f['phase'].invalid">
                                                        <small class="text-danger" *ngIf="f['phase'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-heading">
                                            <h4 class="panel-title mt-2 text-decoration-underline">Customer Details :</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Salution<span class="required-asterisk">*</span></label>
                                                    <select formControlName="salution" class="form-select form-control-sm">
                                                        <option selected="true">Mr.</option>
                                                        <option>Mrs.</option>
                                                        <option>Miss.</option>
                                                    </select>
                                                    <div *ngIf="f['salution'].touched && f['salution'].invalid">
                                                        <small class="text-danger" *ngIf="f['salution'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">First Name<span class="required-asterisk">*</span></label>
                                                    <input formControlName="firstName" type="text" class="form-control form-control-sm" appAlphaWithSpace appWordCapitalize>
                                                    <div *ngIf="f['firstName'].touched && f['firstName'].invalid">
                                                        <small class="text-danger" *ngIf="f['firstName'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Last Name<span class="required-asterisk">*</span></label>
                                                    <input formControlName="lastName" type="text" class="form-control form-control-sm" appAlphaWithSpace appWordCapitalize>
                                                    <div *ngIf="f['lastName'].touched && f['lastName'].invalid">
                                                        <small class="text-danger" *ngIf="f['lastName'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Father/ Husband Name<span class="required-asterisk">*</span></label>
                                                    <input formControlName="fatherName" type="text" class="form-control form-control-sm" appAlphaWithSpace appWordCapitalize>
                                                    <div *ngIf="f['fatherName'].touched && f['fatherName'].invalid">
                                                        <small class="text-danger" *ngIf="f['fatherName'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Date Of Birth<span class="required-asterisk">*</span></label>
                                                    <input formControlName="dob" type="date" class="form-control form-control-sm">
                                                    <div *ngIf="f['dob'].touched && f['dob'].invalid">
                                                        <small class="text-danger" *ngIf="f['dob'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Email ID<span class="required-asterisk">*</span></label>
                                                    <input formControlName="email" type="email" class="form-control form-control-sm">
                                                    <div *ngIf="f['email'].touched && f['email'].invalid">
                                                        <small class="text-danger" *ngIf="f['email'].errors?.['required']">*Required</small>
                                                        <small class="text-danger" *ngIf="f['email'].errors?.['pattern']">*This must be a valid Email ID</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Contact No<span class="required-asterisk">*</span></label>
                                                    <input formControlName="contact" type="text" class="form-control form-control-sm" appNumberOnly>
                                                    <div *ngIf="f['contact'].touched && f['contact'].invalid">
                                                        <small class="text-danger" *ngIf="f['contact'].errors?.['required']">*Required</small>
                                                        <small class="text-danger" *ngIf="f['contact'].errors?.['pattern']">*Please enter 10 digit Contact No</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Whatsapp No</label> (&nbsp;&nbsp;
                                                    <label class="d-inline-block ml-2 form-check-label fw-light">
                                                    <input class="form-check-input" type="checkbox" formControlName="isWhatsAppNo" (change)="ch($event.target)" [(ngModel)]="phoneType.value">
                                                        Same as Contact
                                                    </label>)
                                                    <br/>
                                                    <input formControlName="whatsAppNo" type="text" class="form-control form-control-sm" appNumberOnly>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Country<span class="required-asterisk">*</span></label>
                                                    <select formControlName="countryCustomer" class="form-select form-select-sm" (change)="getStateList()">
                                                        <option [selected]="true" [disabled]="true" [value]="null">Select Country</option>
                                                        <option *ngFor="let c of countryData" [value]="c.code">{{ c.name }}</option>
                                                    </select>
                                                    <div *ngIf="f['countryCustomer'].touched && f['countryCustomer'].invalid">
                                                        <small class="text-danger" *ngIf="f['countryCustomer'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">State<span class="required-asterisk">*</span></label>
                                                    <select formControlName="stateCustomer" class="form-select form-select-sm" (change)="getDistrictList()">
                                                        <option [selected]="true" [disabled]="true" [value]="null">Select State</option>
                                                        <option *ngFor="let s of stateList" [value]="s.code">{{ s.name }}</option>
                                                    </select>
                                                    <div *ngIf="f['stateCustomer'].touched && f['stateCustomer'].invalid">
                                                        <small class="text-danger" *ngIf="f['stateCustomer'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">District<span class="required-asterisk">*</span></label>
                                                    <select formControlName="districtCustomer" class="form-select form-select-sm">
                                                        <option [selected]="true" [disabled]="true" [value]="null">Select District</option>
                                                        <option *ngFor="let d of districtList" [value]="d.code">{{ d.name }}</option>
                                                    </select>
                                                    <div *ngIf="f['districtCustomer'].touched && f['districtCustomer'].invalid">
                                                        <small class="text-danger" *ngIf="f['districtCustomer'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Pincode<span class="required-asterisk">*</span></label>
                                                    <input formControlName="pinCode" type="text" class="form-control form-control-sm" appNumberOnly>
                                                    <div *ngIf="f['pinCode'].touched && f['pinCode'].invalid">
                                                        <small class="text-danger" *ngIf="f['pinCode'].errors?.['required']">*Required</small>
                                                        <small class="text-danger" *ngIf="f['contact'].errors?.['pattern']">*Please enter 6 digit only.</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Address 1<span class="required-asterisk">*</span></label>
                                                    <textarea formControlName="address1" class="form-control form-control-sm"></textarea>
                                                    <div *ngIf="f['address1'].touched && f['address1'].invalid">
                                                        <small class="text-danger" *ngIf="f['address1'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Address 2<span class="required-asterisk">*</span></label>
                                                    <textarea formControlName="address2" class="form-control form-control-sm"></textarea>
                                                    <div *ngIf="f['address2'].touched && f['address2'].invalid">
                                                        <small class="text-danger" *ngIf="f['address2'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="form-label">Bank Name<span class="required-asterisk">*</span></label>
                                                    <input formControlName="bankName" type="text" class="form-control form-control-sm" appWordCapitalize>
                                                    <div *ngIf="f['bankName'].touched && f['bankName'].invalid">
                                                        <small class="text-danger" *ngIf="f['bankName'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="form-label">Account Type<span class="required-asterisk">*</span></label>
                                                    <select formControlName="accountType" class="form-select form-select-sm">
                                                        <option [selected]="true" [disabled]="true">Select Type</option>
                                                        <option>Current</option>
                                                        <option>Savings</option>
                                                    </select>
                                                    <div *ngIf="f['accountType'].touched && f['accountType'].invalid">
                                                        <small class="text-danger" *ngIf="f['accountType'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="form-label">IFSC<span class="required-asterisk">*</span></label>
                                                    <input formControlName="ifsc" type="text" class="form-control form-control-sm" appAlphaNumeric appUpperCase>
                                                    <div *ngIf="f['ifsc'].touched && f['ifsc'].invalid">
                                                        <small class="text-danger" *ngIf="f['ifsc'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="form-label">Account Number<span class="required-asterisk">*</span></label>
                                                    <input formControlName="accountNo" type="text" class="form-control form-control-sm" appNumberOnly>
                                                    <div *ngIf="f['accountNo'].touched && f['accountNo'].invalid">
                                                        <small class="text-danger" *ngIf="f['accountNo'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="form-label">Branch<span class="required-asterisk">*</span></label>
                                                    <input formControlName="branch" type="text" class="form-control form-control-sm" appWordCapitalize>
                                                    <div *ngIf="f['branch'].touched && f['branch'].invalid">
                                                        <small class="text-danger" *ngIf="f['branch'].errors?.['required']">*Required</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex float-end">
                                            <!-- <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-rounded btn-fw btn-sm mr-2" (click)="next()">Continue & Next</button> -->

                                            <button *ngIf="!isFormSubmitted" class="btn btn-primary btn-rounded btn-fw btn-sm mr-2">Continue & Next</button>
                                            <button type="button" *ngIf="isFormSubmitted" disabled class="btn btn-primary btn-rounded btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...</button>
                                            
                                            <button type="button" class="btn btn-secondary btn-rounded btn-fw btn-sm" data-bs-dismiss="modal" aria-label="Close">Close</button>
                                        </div>
                                    </div>
                                </form>
                            </ng-container>

                            <ng-container *ngIf="panelNum == 2"> 
                                <form [formGroup]="uploadForm" (ngSubmit)="onUpload()">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Documents Upload (Step 2) :</h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Address Proof Type</label>
                                                    <select formControlName="addressType" class="form-select form-control-sm">
                                                        <option [selected]="true" [disabled]="true">Select Type</option>
                                                        <option>Aadhar</option>
                                                        <option>PAN Card</option>
                                                        <option>Driving License</option>
                                                        <option>Voter ID</option>
                                                        <option>Govt ID</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Upload Address Proof<span class="required-asterisk">*</span></label>
                                                    <input type="file" formControlName="addressUpload" class="form-control form-control-sm" (change)="addressProofUpload($event)" accept=".jpg, .jpeg, .png">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Address Proof No<span class="required-asterisk">*</span></label>
                                                    <input type="text" formControlName="addressNo" class="form-control form-control-sm" appAlphaNumeric appUpperCase>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">ID Proof Type</label>
                                                    <select formControlName="addressType" class="form-select form-control-sm" formControlName="idType">
                                                        <option [selected]="true" [disabled]="true">Select Type</option>
                                                        <option>Aadhar</option>
                                                        <option>PAN Card</option>
                                                        <option>Driving License</option>
                                                        <option>Voter ID</option>
                                                        <option>Govt ID</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Upload ID Proof<span class="required-asterisk">*</span></label>
                                                    <input type="file" formControlName="idUpload" class="form-control form-control-sm" (change)="idProofUpload($event)" accept=".jpg, .jpeg, .png">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">ID Proof No</label>
                                                    <input type="text" formControlName="idNo" class="form-control form-control-sm" appAlphaNumeric appUpperCase>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Bank Proof Type</label>
                                                    <select formControlName="bankType" class="form-select form-control-sm" formControlName="bankType">
                                                        <option [selected]="true" [disabled]="true">Select Type</option>
                                                        <option>Canceled Check</option>
                                                        <option>Bank Passbook</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Upload Bank Proof<span class="required-asterisk">*</span></label>
                                                    <input type="file" formControlName="bankUpload" class="form-control form-control-sm" (change)="bankProofUpload($event)" accept=".jpg, .jpeg, .png">
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">bank Proof No</label>
                                                    <input type="text" formControlName="idNo" class="form-control form-control-sm">
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="d-flex float-end">
                                            <!-- <button type="button" class="btn btn-secondary btn-rounded btn-fw btn-sm mr-2" role="button" (click)="prev()">Back</button> -->

                                            <button *ngIf="!isUploadSubmitted" class="btn btn-primary btn-rounded btn-fw btn-sm mr-2">Upload</button>
                                            <button type="button" *ngIf="isUploadSubmitted" disabled class="btn btn-primary btn-rounded btn-fw btn-sm mr-2"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Uploading...</button>
                                        </div>
                                    </div>
                                </form>
                            </ng-container>
                        </div>
                    </div>        
                </div>
            </div>
        </div>
    </div>
</div>
<!-- stepper modal end-->
<!-- material stepper modal -->
<!-- <div class="modal fade" id="createModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Customer Register</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <mat-horizontal-stepper>
                        <mat-step label="Profile">
                            <p>Step 1</p>
                            <button mat-button matStepperNext>Next</button>
                        </mat-step>
                        <mat-step label="Address">
                            <p>Step 2</p>
                            <button mat-button matStepperPrevious>Previous</button>
                        </mat-step>
                        <mat-step label="Done">
                            <p>Step 3</p>
                            <button mat-button matStepperPrevious>Previous</button>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- material stepper modal end-->